<tr
  id="<%= dom_id project %>"
  class="text-sm font-normal text-slate-500 dark:text-slate-400"
>
  <td class="w-16 p-2 whitespace-nowrap">
    <%= viral_avatar(
      name: project.name,
      colour_string: "#{project.name}-#{project.id}",
      data: {
        turbo: false
      },
      url: namespace_project_path(project.namespace.parent, project)
    ) %>

  </td>
  <td class="p-4 whitespace-nowrap">
    <%= link_to namespace_project_path(project.namespace.parent, project),
    data: {
      turbo: false
    },
                class: "text-slate-800 dark:text-slate-300 hover:underline" do %>
      <span><%= project.namespace.parent.full_name %>
        /
      </span><span class="font-semibold"><%= project.namespace.name %></span>
    <% end %>
    <div class="text-sm font-normal text-slate-500 dark:text-slate-400"><%= project.description %></div>
  </td>
  <td class="p-4 text-right whitespace-nowrap">
    <%= viral_tooltip(title: l(project.updated_at, format: :long)) do %>
      <span class="text-sm"><%= distance_of_time_in_words(Time.now, project.updated_at) %></span>
    <% end %>
  </td>
</tr>
