<tr
  id="<%= dom_id project %>"
  class="text-sm font-normal text-gray-500 dark:text-gray-400"
>
  <td class="w-16 p-2 whitespace-nowrap">
    <%= viral_avatar(
      name: project.name,
      colour_string: "#{project.name}-#{project.id}",
      data: {
        turbo: false
      },
      url: namespace_project_path(project.namespace.parent, project)
    ) %>

  </td>
  <td class="p-4 whitespace-nowrap">
    <%= link_to project.human_name,
    namespace_project_path(project.namespace.parent, project),
    data: {
      turbo: false
    },
    class: "text-gray-800 dark:text-gray-300 font-semibold hover:underline" %>
    <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= project.description %></div>
  </td>
  <td class="p-4 text-right whitespace-nowrap">
    <%= viral_tooltip(title: l(project.updated_at, format: :long)) do %>
      <span class="text-sm"><%= distance_of_time_in_words(Time.now, project.updated_at) %></span>
    <% end %>
  </td>
</tr>
