<%= search_form_for ransack_obj, url: dashboard_projects_url(**request.query_parameters.slice(:personal)), html: {"data-controller": "filters"} do |f| %>
  <input type="hidden" name="format" value="turbo_stream"/>
  <%= f.label :namespace_name_cont, t(".search.placeholder"), class: "sr-only" %>
  <div class="relative lg:w-72">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
    </div>
    <%= f.hidden_field :s, value: "#{ransack_obj.sorts[0].name} #{ransack_obj.sorts[0].dir}" %>
    <%= f.search_field :namespace_name_cont,
                    "data-action": "filters#submit",
                    class:
                      "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder: t(".search.placeholder") %>
  </div>
<% end %>
