<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= link_to t(".create_project_button"),
    new_project_path,
    class: "button button--state-primary button--size-default" %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <div
    class="
      flex text-sm font-medium text-center border-b text-slate-500 border-slate-200
      dark:text-slate-400 dark:border-slate-700
    "
  >
    <ul class="flex flex-wrap -mb-px">
      <li class="mr-2">
        <%= link_to t(".all"),
        dashboard_projects_url(),
        class:
          (
            if params[:personal]
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300"
            else
              "inline-block p-4 text-primary-700 border-b-2 border-primary-700 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            end
          ),
        aria: {
          current: params[:personal] ? "false" : "page",
        } %>
      </li>
      <li class="mr-2">
        <%= link_to t(".personal"),
        dashboard_projects_url(personal: "true"),
        class:
          (
            if params[:personal]
              "inline-block p-4 text-primary-700 border-b-2 border-primary-700 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            else
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300"
            end
          ),
        aria: {
          current: params[:personal] ? "page" : "false",
        } %>
      </li>
    </ul>
    <div class="flex flex-row items-center ml-auto space-x-2 font-normal">
      <%= render SearchComponent.new(query: @q, url: dashboard_projects_url(**request.query_parameters), search_attribute: :namespace_name_or_namespace_puid_cont, placeholder: t(".search.placeholder")) do %>
        <input type="hidden" name="personal" value="<%= params['personal'] %>">
        <input type="hidden" name="format" value="turbo_stream"/>
      <% end %>

      <%= turbo_frame_tag "project_sort_dropdown" %>
    </div>
  </div>
  <div class="flex flex-col" data-turbo-temporary>
    <% if @has_projects %>
      <%= turbo_frame_tag "projects_list", src: dashboard_projects_url(format: :turbo_stream, **request.query_parameters) do %>
        <%= render partial: "shared/loading/table" %>
      <% end %>
      <%= turbo_frame_tag "projects_pagination" %>
    <% end %>
  </div>
</div>
