<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= link_to t(".create_project_button"),
    new_project_path,
    class: "button button--state-primary button--size-default" %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-gray-800">
  <div
    class="
      flex
      text-sm
      font-medium
      text-center
      text-gray-500
      border-b
      border-gray-200
      dark:text-gray-400
      dark:border-gray-700
    "
  >
    <ul class="flex flex-wrap -mb-px">
      <li class="mr-2">
        <%= link_to t(".all"),
        dashboard_projects_url(),
        class:
          (
            if params[:personal]
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            else
              "inline-block p-4 text-primary-600 border-b-2 border-primary-600 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            end
          ),
        aria: {
          current: params[:personal] ? "false" : "page"
        } %>
      </li>
      <li class="mr-2">
        <%= link_to t(".personal"),
        dashboard_projects_url(personal: "true"),
        class:
          (
            if params[:personal]
              "inline-block p-4 text-primary-600 border-b-2 border-primary-600 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            else
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            end
          ),
        aria: {
          current: params[:personal] ? "page" : "false"
        } %>
      </li>
    </ul>
    <div class="flex flex-row items-center ml-auto space-x-2 font-normal">
      <%= search_form_for @q, url: dashboard_projects_url(**request.query_parameters.slice(:personal)), html: {"data-controller": "filters"} do |f| %>
        <%= f.label :namespace_name_cont, t(".search.placeholder"), class: "sr-only" %>
        <div class="relative lg:w-72">
          <div
            class="
              absolute
              inset-y-0
              left-0
              flex
              items-center
              pl-3
              pointer-events-none
            "
          >
            <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
          </div>
          <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
          <%= f.search_field :namespace_name_cont,
                         "data-action": "filters#submit",
                         class:
                           "block w-full p-2.5 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                         placeholder: t(".search.placeholder") %>
        </div>
      <% end %>
      <%= sorting_dropdown(@q) do |dropdown| %>
        <%= sorting_item(dropdown, @q, :updated_at, :desc) %>
        <%= sorting_item(dropdown, @q, :created_at, :desc) %>
        <%= sorting_item(dropdown, @q, :namespace_name, :asc) %>
        <%= sorting_item(dropdown, @q, :namespace_name, :desc) %>
        <%= sorting_item(dropdown, @q, :updated_at, :asc) %>
        <%= sorting_item(dropdown, @q, :created_at, :asc) %>
      <% end %>
    </div>
  </div>
  <div class="flex flex-col" data-turbo-temporary>
    <% if @has_projects %>
      <%= turbo_frame_tag "projects_list", src: dashboard_projects_url(format: :turbo_stream, **request.query_parameters), loading: :lazy do %>
        <table class="min-w-full table-fixed dark:divide-gray-600">
          <tbody
            class="
              bg-white
              divide-y
              divide-gray-200
              dark:bg-gray-800
              dark:divide-gray-700
            "
          >
            <% 15.times do %>
              <tr>

                <td class="p-4 animate-pulse">
                  <div class="flex-1 py-1 space-y-6">
                    <div class="space-y-3">
                      <div class="w-48 h-2 rounded bg-slate-200"></div>
                      <div class="w-32 h-2 rounded bg-slate-200"></div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <%= turbo_frame_tag "projects_pagination",
      data: {
        controller: "turbo-frame-history"
      } %>
    <% end %>
  </div>
</div>
