<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= link_to t(".create_project_button"),
    new_project_path,
    class: "button button-primary" %>
  <% end %>
<% end %>

<%= render Pathogen::TabsNav.new(id: "dashboard-projects-tabs", label: t(".tabs_label")) do |nav| %>
  <% nav.with_tab(
    id: "all",
    text: t(".all"),
    href: dashboard_projects_url(),
    selected: !params[:personal],
    panel_id: "all-projects-panel"
  ) %>
  <% nav.with_tab(
    id: "personal",
    text: t(".personal"),
    href: dashboard_projects_url(personal: "true"),
    selected: params[:personal],
    panel_id: "personal-projects-panel"
  ) %>
  <% nav.with_right_content do %>
    <div class="flex flex-wrap gap-2 mb-2 justify-end">
      <% if @has_projects %>
        <%= render SearchComponent.new(
          query: @q,
          url: dashboard_projects_url(**request.query_parameters),
          search_attribute: :namespace_name_or_namespace_puid_cont,
          label: t('common.controls.search'),
          placeholder: t(".search.placeholder"),
          total_count: @pagy.count,
          class: "max-sm:grow",
          value: @q.namespace_name_or_namespace_puid_cont,
        ) do %>
          <% if params[:personal] == 'true' %>
            <input type="hidden" name="personal" value="true">
          <% end %>
        <% end %>

        <%= render Ransack::SortDropdownComponent.new(
          @q,
          "projects",
          [
            { name: "updated_at", dir: "desc" },
            { name: "updated_at", dir: "asc" },
            { name: "namespace_name", dir: "asc" },
            { name: "namespace_name", dir: "desc" },
            { name: "created_at", dir: "desc" },
            { name: "created_at", dir: "asc" },
          ],
        ) %>
      <% end %>
    </div>
  <% end %>

  <% nav.with_panel(id: "all-projects-panel", tab_id: "all", selected: !params[:personal]) do %>
    <%= render partial: "projects_list", locals: {
      projects: @projects,
      pagy: @pagy,
      has_projects: @has_projects,
      q: @q
    } %>
  <% end %>

  <% nav.with_panel(id: "personal-projects-panel", tab_id: "personal", selected: params[:personal]) do %>
    <%= render partial: "projects_list", locals: {
      projects: @projects,
      pagy: @pagy,
      has_projects: @has_projects,
      q: @q
    } %>
  <% end %>
<% end %>
