<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= link_to t(".create_project_button"),
    new_project_path,
    class: "button button--state-primary button--size-default" %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <div
    class="
      flex text-sm font-medium text-center border-b text-slate-500 border-slate-200
      dark:text-slate-400 dark:border-slate-700
    "
  >
    <%= render Pathogen::TabsPanel.new(
      id: "project-sort-dropdown",
    ) do |tabs_panel| %>
      <% tabs_panel.with_tab(
        id: "all",
        text: t(".all"),
        href: dashboard_projects_url(),
        selected: !params[:personal],
      ) %>
      <% tabs_panel.with_tab(
        id: "personal",
        text: t(".personal"),
        href: dashboard_projects_url(personal: "true"),
        selected: params[:personal],
      ) %>
      <% tabs_panel.with_right_content do %>
        <%= turbo_frame_tag "project_sort_dropdown" %>
      <% end %>
      <div class="flex flex-col">
        <% if @has_projects %>
          <%= turbo_frame_tag "projects_list", src: dashboard_projects_url(format: :turbo_stream, **request.query_parameters) do %>
            <%= render partial: "shared/loading/table" %>
          <% end %>
          <%= turbo_frame_tag "projects_pagination" %>
        <% else %>
          <%= render Viral::EmptyStateComponent.new(
            icon_name: "rectangle_stack",
            title: t(".no_projects"),
            description: t(".no_projects_description"),
          ) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
