<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= link_to t(".create_project_button"),
    new_project_path,
    class: "button button-primary" %>
  <% end %>
<% end %>

<div class="flex flex-col">
  <%= render Pathogen::Tabs.new(
    id: "dashboard-projects-tabs",
    label: t(".tabs_label"),
    default_index: @tab_index,
    sync_url: true
  ) do |tabs| %>
    <% tabs.with_tab(
      id: "all-tab",
      label: t(".all"),
      selected: @tab == "all"
    ) %>
    <% tabs.with_tab(
      id: "personal-tab",
      label: t(".personal"),
      selected: @tab == "personal"
    ) %>

    <% tabs.with_lazy_panel(
      id: "all-panel",
      tab_id: "all-tab",
      frame_id: "all-projects-content",
      src_path: dashboard_projects_url(),
      selected: @tab == "all"
    ) do %>
      <%= render "projects_list" %>
    <% end %>

    <% tabs.with_lazy_panel(
      id: "personal-panel",
      tab_id: "personal-tab",
      frame_id: "personal-projects-content",
      src_path: dashboard_projects_url(personal: "true"),
      selected: @tab == "personal"
    ) do %>
      <%= render "projects_list" %>
    <% end %>
  <% end %>
</div>
