<%= turbo_stream.update("projects_list") do %>
  <table class="min-w-full table-fixed dark:divide-slate-600">
    <tbody
      class="bg-white divide-y  divide-slate-200 dark:bg-slate-800 dark:divide-slate-700"
    >
      <%= render partial: "shared/project/row", collection: @projects, as: :project %>
    </tbody>
  </table>
<% end %>

<%= turbo_stream.update "projects_pagination" do %>
  <%= render PaginationComponent.new(
    info: pagy_info(@pagy),
    prev_url:
      (
        if @pagy.prev
          pagy_url_for(@pagy, @pagy.prev).gsub(
            "projects.turbo_stream",
            "projects",
          )
        else
          nil
        end
      ),
    next_url:
      (
        if @pagy.next
          pagy_url_for(@pagy, @pagy.next).gsub(
            "projects.turbo_stream",
            "projects",
          )
        else
          nil
        end
      ),
  ) %>
<% end %>

<%= turbo_stream.update "project_sort_dropdown" do %>
  <div class="inline-flex space-x-2">
    <%= render SearchComponent.new(query: @q, url: dashboard_projects_url(**request.query_parameters), search_attribute: :namespace_name_or_namespace_puid_cont, placeholder: t(".search.placeholder")) do %>
      <input type="hidden" name="personal" value="<%= params['personal'] %>">
      <input type="hidden" name="format" value="turbo_stream"/>
    <% end %>
    <%= render Ransack::SortDropdownComponent.new(
      @q,
      "projects",
      [
        { name: "updated_at", dir: "desc" },
        { name: "updated_at", dir: "asc" },
        { name: "namespace_name", dir: "asc" },
        { name: "namespace_name", dir: "desc" },
        { name: "created_at", dir: "desc" },
        { name: "created_at", dir: "asc" },
      ],
    ) %>
  </div>
<% end %>

<%= turbo_stream.update "project_hidden_values" do %>
  <%= render Ransack::HiddenSortFieldComponent.new(@q) %>
<% end %>
