<div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
  <p class="dark:text-slate-400">
    <% if log_data[:version] == 1 %>
      <%= t(".project_created", user: log_data[:user]) %>
    <% elsif log_data[:changes_from_prev_version].key?('deleted_at') %>
      <% if log_data[:changes_from_prev_version]['deleted_at'].blank? %>
        <%= t(".project_restored", user: log_data[:user]) %>
      <% elsif log_data[:changes_from_prev_version]['deleted_at'].present? %>
        <%= t(".project_deleted", user: log_data[:user]) %>
      <% end %>
    <% elsif log_data[:changes_from_prev_version]['parent_id'].present? %>
      <%= t(".project_transferred", user: log_data[:user]) %>
    <% else %>
      <%= t(".project_modified", user: log_data[:user]) %>
    <% end %>
  </p>
</div>
