<%= viral_dialog(open: true, size: :large) do |dialog| %>
  <%= dialog.with_header(
    title: t(".version_number", version_number: log_data[:version])
  ) %>
  <%= dialog.with_section do %>
    <div>
      <%= render partial: "project_history_modal_description", locals: { log_data: } %>
      <%= render HistoryVersionComponent.new(log_data: log_data) %>
    </div>
    <div class="my-4">
      <button
        type="button"
        class="button button--size-default button--state-default"
        data-action="click->viral--dialog#close"
      >
        <%= t(".close") %>
      </button>
    </div>

  <% end %>
<% end %>
