<%= render Viral::PageHeaderComponent.new(title: t(:".title"), subtitle: t(:".subtitle")) do |component| %>
  <%= component.with_icon(name: "list_bullet", classes: "h-14 w-14 text-primary-700") %>
<% end %>

<div class="grid gap-4">
  <%= turbo_frame_tag "history_modal" %>
  <% @log_data.reverse.each_with_index do |changes, index| %>
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-6">
        <span
          class="
            absolute
            flex
            items-center
            justify-center
            w-6
            h-6
            bg-gray-100
            rounded-full
            -start-3
            ring-8
            ring-white
            dark:ring-gray-900
            dark:bg-blue-900
          "
        >
          <% if changes[:version] == 1 %>
            <%= render Viral::IconComponent.new(
              name: "folder_plus",
              classes: "w-5 h-5 text-slate-500 dark:text-slate-400"
            ) %>
          <% else %>
            <%= render Viral::IconComponent.new(
              name: "pencil_square",
              classes: "w-5 h-5 text-slate-500 dark:text-slate-400"
            ) %>
          <% end %>
        </span>
        <h3
          class="
            flex
            items-center
            mb-1
            font-semibold
            text-gray-900
            dark:text-white
          "
        >
          <%= link_to "Version #{changes[:version]}",
          new_project_history_path(@project, version: changes[:version]),
          data: {
            "turbo-frame" => "history_modal",
            :turbo_stream => true
          },
          class: "text-slate-800 dark:text-slate-300 hover:underline" %>
          <% if index == 0 %>
            <span
              class="
                bg-green-200
                text-green-800
                text-xs
                font-medium
                ml-2
                px-2.5
                py-0.5
                rounded-full
                dark:bg-green-900
                dark:text-green-300
              "
            >Current</span>
          <% end %>
        </h3>
        <time
          class="
            block
            mb-2
            text-sm
            font-normal
            leading-none
            text-gray-400
            dark:text-gray-500
          "
        ><%= changes[:updated_at] %></time>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          <% if changes[:version] == 1 %>
            Project created by
            <%= changes[:user] %>
          <% else %>
            Project was modified by
            <%= changes[:user] %>
          <% end %>
        </p>
      </li>
    </ol>
  <% end %>
</div>
