<%= render Viral::PageHeaderComponent.new(title: t(:".title"), subtitle: t(:".subtitle")) do |component| %>
  <%= component.with_icon(name: "list_bullet", classes: "h-14 w-14 text-primary-700") %>
<% end %>

<div class="px-4">
  <%= turbo_frame_tag "history_modal" %>

  <%= turbo_frame_tag "project_history",
  src:
    namespace_project_history_url(
      format: :turbo_stream,
      **request.query_parameters
    ) do %>
    <%= render partial: "shared/loading/history" %>
  <% end %>
</div>
