<div class="space-x-1">
  <%= render Flowbite::Button.new(scheme: :primary, size: :extra_small) do |button| %>
    <% button.with_leading_visual_icon icon_name: "envelope" %>
    Extra small
  <% end %>
  <%= render Flowbite::Button.new(scheme: :primary, size: :small) do |button| %>
    <% button.with_leading_visual_icon icon_name: "envelope" %>
    Small
  <% end %>
  <%= render Flowbite::Button.new(scheme: :primary) do |button| %>
    <% button.with_leading_visual_icon icon_name: "envelope" %>
    Default
  <% end %>
  <%= render Flowbite::Button.new(scheme: :primary, size: :large) do |button| %>
    <% button.with_leading_visual_icon icon_name: "envelope" %>
    Large
  <% end %>
  <%= render Flowbite::Button.new(scheme: :primary, size: :extra_large) do |button| %>
    <% button.with_leading_visual_icon icon_name: "envelope" %>
    Extra large
  <% end %>
</div>
