<div class="space-x-1 space-y-2">
  <%= render Flowbite::Button.new(test_selector: "default-button") do %>
    Default
  <% end %>
  <%= render Flowbite::Button.new(disabled: true, test_selector: "default-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :primary, test_selector: "primary-button") do %>
    Primary
  <% end %>
  <%= render Flowbite::Button.new(scheme: :primary, disabled: true, test_selector: "primary-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :blue, test_selector: "blue-button") do %>
    Blue
  <% end %>
  <%= render Flowbite::Button.new(scheme: :blue, disabled: true, test_selector: "blue-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :alternative, test_selector: "alternative-button") do %>
    Alternative
  <% end %>
  <%= render Flowbite::Button.new(scheme: :alternative, disabled: true, test_selector: "alternative-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :dark, test_selector: "dark-button") do %>
    Dark
  <% end %>
  <%= render Flowbite::Button.new(scheme: :dark, disabled: true, test_selector: "dark-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :light, test_selector: "light-button") do %>
    Light
  <% end %>
  <%= render Flowbite::Button.new(scheme: :light, disabled: true, test_selector: "light-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :green, test_selector: "green-button") do %>
    Green
  <% end %>
  <%= render Flowbite::Button.new(scheme: :green, disabled: true, test_selector: "green-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :red, test_selector: "red-button") do %>
    Red
  <% end %>
  <%= render Flowbite::Button.new(scheme: :red, disabled: true, test_selector: "red-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :yellow, test_selector: "yellow-button") do %>
    Yellow
  <% end %>
  <%= render Flowbite::Button.new(scheme: :yellow, disabled: true, test_selector: "yellow-disabled-button") do %>
    Disabled
  <% end %><br>
  <%= render Flowbite::Button.new(scheme: :purple, test_selector: "purple-button") do %>
    Purple
  <% end %>
  <%= render Flowbite::Button.new(scheme: :purple, disabled: true, test_selector: "purple-disabled-button") do %>
    Disabled
  <% end %>
</div>
