<div class="space-x-2">
  <%= render Flowbite::Button.new(size: :extra_small) do %>
    Extra Small
  <% end %>
  <%= render Flowbite::Button.new(size: :small) do %>
    Small
  <% end %>
  <%= render Flowbite::Button.new do %>
    Base
  <% end %>
  <%= render Flowbite::Button.new(size: :large) do %>
    Large
  <% end %>
  <%= render Flowbite::Button.new(size: :extra_large) do %>
    Extra Large
  <% end %>
</div>
