<div
  class="
    table-column
    flex-grow
    text-left
    whitespace-nowrap
    bg-slate-50
    text-sm
    text-slate-500
    dark:text-white
    dark:bg-slate-700
  "
>
  <% if property["cell_type"] == "metadata_cell" %>
    <div class="table-header dark:border-slate-600 border border-slate-100">
      <%= form_with url: fields_workflow_executions_metadata_path do |f| %>
        <%= f.hidden_field :format, value: "turbo_stream", id: "field_#{header}_turbo" %>
        <%= f.hidden_field :namespace_id, value: namespace_id, id: "namespace_#{header}" %>
        <%= f.hidden_field :header, value: header, id: "header_#{header}" %>
        <%= f.hidden_field :name_format,
                       value:
                         "workflow_execution[samples_workflow_executions_attributes][INDEX][samplesheet_params]",
                       id: "format_#{header}" %>
        <% samples.each do |sample| %>
          <%= f.hidden_field :sample_ids, value: sample.id, id: "sample-#{sample.id}-#{header}", multiple: true %>
        <% end %>
        <%= f.select :field,
                 options_for_select(metadata_fields_for_field(header), header),
                 { include_blank: !@required },
                 {
                   id: "field-#{header}",
                   "aria-label": header,
                   class:
                     "w-full focus:ring-primary-500 focus:border-primary-500  p-2.5 dark:bg-inherit bg-inherit border-none dark:border-none dark:placeholder-slate-400 text-inherit text-sm dark:focus:ring-primary-500 dark:focus:border-primary-500 font-semibold tracking-wider uppercase",
                   onchange: "Turbo.navigator.submitForm(this.form)"
                 } %>
      <% end %>
    </div>
  <% else %>
    <div
      class="
        table-header
        p-2.5
        font-semibold
        tracking-wider
        dark:border-slate-600
        border
        border-slate-100
      "
    >
      <div class="flex items-center space-x-2 uppercase">
        <%= header %>
        <% if @required %>
          <span class="text-red-600 ml-1">(<%= t(".required") %>)</span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="<%= "metadata-#{header}-column" %>">
    <% samples.each_with_index do |sample, index| %>
      <div class="table-td dark:border-slate-600 border border-slate-100">
        <%= fields_for "workflow_execution[samples_workflow_executions_attributes][#{index}]" do |s| %>
          <% if property["cell_type"] == "sample_cell" %>
            <%= s.hidden_field :sample_id, value: sample.id %>
          <% end %>
          <%= s.fields_for "samplesheet_params" do |fields| %>
            <%= render_cell_type(header, property, sample, fields, index) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
