<div
  class="
    flex-grow
    text-left
    whitespace-nowrap
    bg-slate-50
    text-sm
    text-slate-500
    dark:text-white
    dark:bg-slate-700
  "
>
  <% if property["cell_type"] == "metadata_cell" %>
    <div>
      <%= form_with url: fields_workflow_executions_metadata_path do |f| %>
        <%= f.hidden_field :format, value: "turbo_stream", id: "field_#{header}_turbo" %>
        <%= f.hidden_field :namespace_id, value: namespace_id, id: "namespace_#{header}" %>
        <%= f.hidden_field :header, value: header, id: "header_#{header}" %>
        <%= f.hidden_field :name_format,
                       value:
                         "workflow_execution[samples_workflow_executions_attributes][INDEX][samplesheet_params]",
                       id: "format_#{header}" %>
        <div
          data-controller="sessionstorage-amend-form"
          data-sessionstorage-amend-form-target="field"
          data-sessionstorage-amend-form-field-name-value="sample_ids[]"
        >
          <!-- empty holder for hidden inputs for sample_ids[] -->
        </div>
        <%= f.select :field,
                 options_for_select(metadata_fields_for_field(header), header),
                 { include_blank: !@required },
                 {
                   id: "field-#{header}",
                   "aria-label": header,
                   class:
                     "cursor-pointer bg-slate-50 border-0 text-slate-900 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-slate-700 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                   onchange: "Turbo.navigator.submitForm(this.form)"
                 } %>
      <% end %>
    </div>
  <% else %>
    <div class="px-6 py-3 font-semibold tracking-wider">
      <div class="flex items-center space-x-2">
        <span class="uppercase"><%= header %></span>
        <% if @required %>
          <%= viral_pill(text: t(".required"), color: :red, border: :red) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id=<%= "metadata-#{header}-column" %>>
    <% samples.each_with_index do |sample, index| %>
      <div class="dark:border-slate-600 border border-slate-100">
        <%= fields_for "workflow_execution[samples_workflow_executions_attributes][#{index}]" do |s| %>
          <% if property["cell_type"] == "sample_cell" %>
            <%= s.hidden_field :sample_id, value: sample.id %>
          <% end %>
          <%= s.fields_for "samplesheet_params" do |fields| %>
            <%= render_cell_type(header, property, sample, fields) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
