<div>
<%= link_to new_file_selector_path(
  "file_selector[attachable]": @sample,
  "file_selector[index]": @index,
  "file_selector[selected_id]": @selected.empty? ? nil : @selected[:id],
  "file_selector[property]": @property,
  "file_selector[required_properties]": @required_properties,
  "file_selector[file_type]": @file_type,
  "file_selector[file_selector_arguments]": @file_selector_arguments
),
class: "p-0",
data: {
  turbo_stream: "true",
} do %>
  <div
    id="<%="#{@sample.id}_#{@property}" %>"
    class="
      w-full focus:ring-primary-500 focus:border-primary-500 p-2 dark:bg-inherit
      bg-inherit dark:placeholder-slate-400 text-inherit
      text-sm dark:focus:ring-primary-500 dark:focus:border-primary-500 cursor-pointer
      hover:border-slate-300 border-transparent border-2
    "
    data-file-cell-required="<%= @required_properties.include?(@property) ? "true" : "false" %>"
  >
    <% unless @selected.empty? %>
      <input
      type="hidden"
        name="workflow_execution[samples_workflow_executions_attributes][<%= @index%>][samplesheet_params][<%= @property %>]"
        value= <%= @selected[:global_id]%>
      >
    <% end %>
    <%= @selected.empty? ? t(".no_selected_file") : @selected[:filename] %>
  </div>
<% end %>
</div>
