<div
  data-controller="nextflow--autofilled-cell"
  data-nextflow--autofilled-cell-input-name-value="workflow_execution[samples_workflow_executions_attributes][<%= @index%>][samplesheet_params][<%= @property %>]"
  data-nextflow--autofilled-cell-input-value-value="<%= @selected[:global_id]%>"
>
  <%= link_to new_workflow_executions_file_selector_path(
  "file_selector[attachable_id]": @attachable.id,
  "file_selector[attachable_type]": @attachable.class.to_s,
  "file_selector[index]": @index,
  "file_selector[selected_id]": @selected.empty? ? nil : @selected[:id],
  "file_selector[property]": @property,
  "file_selector[required_properties]": @required_properties,
  "file_selector[file_type]": @file_type,
  "file_selector[file_selector_arguments]": @file_selector_arguments
),
data: {
  turbo_stream: "true",
} do %>
    <div
      id="<%="#{@attachable.id}_#{@property}" %>"
      class="
        w-full focus:ring-primary-500 focus:border-primary-500 p-2 dark:bg-inherit
        bg-inherit dark:placeholder-slate-400 text-inherit text-sm
        dark:focus:ring-primary-500 dark:focus:border-primary-500 cursor-pointer
        hover:border-slate-300 border-transparent border-2
      "
      <% if @required_properties.present? && @required_properties.include?(@property) %>
      data-file-missing="<%= @selected.empty? ? "true" : "false" %>"
      <% end %>
    >
      <%= @selected.empty? ? t(".no_selected_file") : @selected[:filename] %>
    </div>
  <% end %>
</div>
