<div
  class="
    table-column flex-grow text-sm text-left whitespace-nowrap bg-slate-50
    text-slate-500 dark:text-white
  "
>
  <% if property["cell_type"] == "metadata_cell" %>
    <div
      class="
        sticky top-0 z-10 border table-header dark:border-slate-600 border-slate-100
        dark:bg-slate-700 bg-slate-50
      "
    >
      <%= form_with url: fields_workflow_executions_metadata_path do |f| %>
        <%= f.hidden_field :format, value: "turbo_stream", id: "field_#{header}_turbo" %>
        <%= f.hidden_field :namespace_id, value: namespace_id, id: "namespace_#{header}" %>
        <%= f.hidden_field :header, value: header, id: "header_#{header}" %>
        <%= f.hidden_field :name_format,
                       value:
                         "workflow_execution[samples_workflow_executions_attributes][INDEX][samplesheet_params]",
                       id: "format_#{header}" %>
        <% samples.each do |sample| %>
          <%= f.hidden_field :sample_ids,
                         value: sample.id,
                         id: "sample-#{sample.id}-#{header}",
                         multiple: true %>
        <% end %>
        <%= f.select :field,
                 options_for_select(metadata_fields_for_field(header), header),
                 { include_blank: !@required_properties.include?(header) },
                 {
                   id: "field-#{header}",
                   "aria-label": header,
                   class:
                     "bg-slate-50 text-slate-900 text-sm border-none focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-slate-700 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 font-semibold tracking-wider uppercase",
                   onchange: "Turbo.navigator.submitForm(this.form)",
                   data: {
                     action: "change->nextflow--samplesheet#setMetadataHeader",
                   },
                 } %>
      <% end %>
    </div>
  <% else %>
    <div
      class="
        table-header p-2.5 font-semibold tracking-wider dark:border-slate-600 border
        border-slate-100 sticky top-0 dark:bg-slate-700 bg-slate-50 z-10
      "
    >
      <div class="flex items-center space-x-2 uppercase">
        <%= header %>
        <% if @required_properties.include?(header) %>
          <span class="ml-1 text-red-600 dark:text-red-300">(<%= t(".required") %>)</span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div
    id="<%= "metadata-#{header}-column" %>"
    class="dark:bg-slate-700 bg-slate-50"
  >
  </div>
</div>
