<% if property["cell_type"] == "metadata_cell" %>
  <th
    class="
      z-10 border dark:border-slate-600 border-slate-100 dark:bg-slate-700 bg-slate-50
      text-slate-900 dark:text-slate-300
    "
  >
    <label class="sr-only" for="field-<%= header %>"><%= header %></label>
    <%= select_tag :field,
    options_for_select(metadata_field_options, selected),
    include_blank: !@required_properties.include?(header),
    id: "field-#{header}",
    class:
      "bg-slate-50 text-inherit text-sm border-transparent block w-full field-sizing-content p-2.5 pr-8 dark:bg-slate-700 font-semibold tracking-wider uppercase focus-visible:relative focus-visible:z-15 focus-visible:-outline-offset-2! metadata_field-header",
    data: {
      action: "change->nextflow--samplesheet#handleMetadataSelection",
      "metadata-header": header,
    } %>
  </th>
<% else %>
  <th
    class="
      p-2.5 tracking-wider dark:border-slate-600 border border-slate-100
      dark:bg-slate-700 bg-slate-50 z-10 text-slate-900 dark:text-slate-300
    "
  >
    <div class="flex items-center space-x-2 uppercase">
      <%= header %>
      <% if @required_properties.include?(header) %>
        <span class="ml-1 text-red-600 dark:text-red-300">(<%= t("components.nextflow.samplesheet.header_component.required") %>)</span>
      <% end %>
    </div>
  </th>
<% end %>
