<%= viral_dialog(open: open) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>
    <div
      data-controller="infinite-scroll"
      data-infinite-scroll-selection-outlet='#samples-table'
      data-infinite-scroll-paged-field-name-value="sample_ids[]"
      data-infinite-scroll-singular-description-value="<%= t(".description.singular") %>"
      data-infinite-scroll-plural-description-value="<%= t(".description.plural") %>"
    >
      <%= form_with(
        url: list_namespace_project_samples_path(list_class: 'sample'),
        data: { "infinite-scroll-target": "pageForm" }
      ) do %>
        <div data-infinite-scroll-target="pageFormContent"></div>
      <% end %>

      <div class="grid gap-4">
        <p
          data-infinite-scroll-target="summary"
          class="text-base leading-relaxed text-slate-500 dark:text-slate-400"
        ><%= t(".description.zero") %></p>
        <div>
          <div class="block mb-1 text-sm font-medium text-slate-900 dark:text-white">
            <%= t(".samples") %>
          </div>
          <div
            class="
              overflow-y-auto max-h-[300px] border border-slate-300 rounded-md block w-full
              p-2.5 dark:bg-slate-800 dark:border-slate-600
            "
            data-action="scroll->infinite-scroll#scroll"
            data-infinite-scroll-target="scrollable"
          >
            <%= turbo_frame_tag "list_selections" do %>
              <%= render partial: "shared/loading/samples_list_skeleton" %>
            <% end %>
          </div>
        </div>

        <%= form_for(:deletion, url: destroy_multiple_namespace_project_samples_deletion_path, method: :delete,
            data: {
              controller: "spinner form--hidden-inputs",
              "form--hidden-inputs-selection-outlet": '#samples-table',
              "form--hidden-inputs-field-name-value": "multiple_deletion[sample_ids][]",
              action:"turbo:submit-start->spinner#submitStart turbo:submit-end->viral--dialog#close",
              turbo_frame: "_top"
            }
          ) do |form| %>
          <div class="grid gap-4">
            <div>
              <%= form.submit t(".submit_button"),
                          class:
                            "
                                                                button
                                                                text-sm
                                                                px-5
                                                                py-2.5
                                                                text-white
                                                                bg-red-700
                                                                border-red-800
                                                                focus:outline-none
                                                                hover:bg-red-800
                                                                focus:ring-red-300
                                                                dark:focus:ring-red-700
                                                                dark:bg-red-600
                                                                dark:text-white
                                                                dark:border-red-600
                                                                dark:hover:bg-red-700",
                          data: {
                            action: "click->form--hidden-inputs#clearSelection",
                            "spinner-target": "submit",
                            "turbo-submits-with": t(:".loading"),
                          } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div
      role="status"
      id="spinner"
      class="
        hidden backdrop-blur-sm absolute h-full w-full -translate-x-1/2 -translate-y-1/2
        top-2/4 left-1/2 grid place-items-center
      "
    >
      <div class="grid place-items-center">
        <%= viral_icon(name: :loading, classes: "animate-spin text-primary-500") %>
        <span class="text-black dark:text-white"><%= t(:".spinner") %>.</span>
      </div>
    </div>

  <% end %>
<% end %>
