<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "attachment_modal" %>

<div class="fixed-table-component">
  <%= render Viral::PageHeaderComponent.new(
    title: t(".title"),
    subtitle: t(".subtitle", group_name: @group.name),
  ) do |component| %>
    <%= component.with_buttons do %>
      <% if @allowed_to[:create_attachment] %>
        <%= button_to t(".upload_files"),
        new_group_attachment_path(id: @group.id),
        data: {
          turbo_frame: "attachment_modal",
          turbo_stream: true,
        },
        method: :get,
        class: "button button-primary" %>
      <% end %>
    <% end %>
  <% end %>

  <div class="flow-root">
    <div class="flex mb-2">
      <div class="grow"></div>
      <div class="grow-0">
        <%= search_form_for @q, url: group_attachments_path(@group), data: { turbo_action: 'replace' }, class: "filters flex items-end space-x-2" do |f| %>
          <%= render SearchFieldComponent.new(
            label: t(".search.label"),
            placeholder: t(".search.placeholder"),
            form: f,
            field_name: :puid_or_file_blob_filename_cont,
            value: @q.puid_or_file_blob_filename_cont,
          ) %>
          <%= hidden_field_tag :limit, @pagy.limit %>
        <% end %>
      </div>
    </div>
    <%= render partial: "table",
    locals: {
      attachments: @attachments,
      pagy: @pagy,
      q: @q,
      namespace: @group,
      render_individual_attachments: @render_individual_attachments,
      has_attachments: @has_attachments,
    } %>
  </div>
