<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>
  <%= turbo_frame_tag("deletion-alert") %>

  <div
    data-controller="selection"
    data-selection-storage-key-value="<%= "#{request.base_url}#{namespace_project_samples_path(@namespace.parent, @namespace.project)}" %>"
    class="mb-4 overflow-x-visible font-normal text-slate-500 dark:text-slate-400"
  >
    <p class="mb-4">
      <%= t(".description", sample_name: @sample.name) %>
    </p>

    <%= form_for(@audit_form, as: :deletion, url: samples_deletions_path(namespace_id: @namespace.id),
            data: {
              turbo_frame: "_top",
            }
          ) do |form| %>
      <%= hidden_field_tag :deletion_type, params[:deletion_type] %>
      <%= hidden_field_tag :sample_id, params[:sample_id] %>
      <%= hidden_field_tag "deletion[sample_ids][]", @sample.id %>

      <div class="grid gap-4">
        <%= form_error_summary(form) %>

        <%= render partial: "shared/form/required_field_legend" %>

        <% invalid_reason = @audit_form.errors.include?(:reason) %>

        <div class="form-field <%= 'invalid' if invalid_reason %>">
          <%= form.label :reason, data: { required: true } %>

          <%= form.text_area :reason,
              {
                :rows => 3,
                :maxlength => 500,
                :class => "form-control",
                :placeholder => t(".reason_placeholder"),
                "aria-describedby" => [
                  (
                    if invalid_reason
                      form.field_id(:reason, "error")
                    else
                      nil
                    end
                     ),
                    ].join(" "),
                    "aria-invalid" => invalid_reason,
              } %>

          <% if invalid_reason %>
            <%= render "shared/form/field_errors",
              id: form.field_id(:reason, "error"),
              errors: @audit_form.errors.full_messages_for(:reason) %>
          <% end %>
        </div>

        <div>
          <%= form.submit t('common.actions.remove'),
              class: "button text-sm px-5 py-2.5 text-white bg-red-700 border-red-800 hover:bg-red-800 dark:bg-red-600 dark:text-white dark:border-red-600 dark:hover:bg-red-700",
              data: {
                action: "click->selection#remove",
                "selection-id-param": @sample.id,
              } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
