<%= viral_dialog(id: 'new-member-dialog', open: open) do |dialog| %>
  <% dialog.with_trigger do %>
    <button class="button button-primary w-full" data-action="viral--dialog#open">
      <%= I18n.t("groups.members.index.add") %>
    </button>
  <% end %>
  <% dialog.with_header(title: t(:"groups.members.new.title")) %>
  <% if @new_member&.invalid? %>
    <%= render partial: "form" %>
  <% else %>
    <%= turbo_frame_tag "new_member_dialog_content", src: new_group_member_path(tab: @tab), loading: :lazy do %>
      <%= render partial: "shared/loading/form" %>
    <% end %>
  <% end %>
<% end %>
