<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_trigger do %>
    <button class="button button-primary" data-action="viral--dialog#open">
      <%= "Open 'Add New Member'" %>
    </button>
  <% end %>
  <% dialog.with_header(title: t(:"groups.members.new.title")) %>
  <% if defined? member %>
    <%= render partial: "form" %>
  <% else %>
    <%= turbo_frame_tag "new_member_dialog_content", src: new_group_member_path, loading: :lazy do %>
      <%# TODO: Create af form skeleton? %>
      <%= render partial: "shared/loading/samples_list_skeleton" %>
    <% end %>
  <% end %>
<% end %>
