<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <%= component.with_icon(name: "users", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <% if allowed_to?(:allowed_to_modify_group?, @namespace) %>
      <%= link_to t(:".add"),
      new_group_member_path(@namespace),
      class: "btn btn-primary",
      "aria-label": t(:".actions.button_add_aria_label") %>
    <% end %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-gray-800">
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="shadow">
        <table class="min-w-full table-fixed dark:divide-gray-600">
          <tbody
            class="
              bg-white
              divide-y
              divide-gray-200
              dark:bg-gray-800
              dark:divide-gray-700
            "
          >
            <% @members.each do |member| %>
              <tr
                class="
                  text-sm
                  font-normal
                  text-gray-500
                  hover:bg-gray-50
                  dark:hover:bg-gray-700
                  dark:text-gray-400
                "
              >
                <td class="p-4 whitespace-nowrap">
                  <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= member.user.email %></div>
                </td>
                <td class="p-4 whitespace-nowrap">
                  <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= t(:".access_level.level_#{member.access_level}") %></div>
                </td>
                <td class="p-4 whitespace-nowrap">
                  <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= t(:".access_granted_by", grantor_email: member.created_by.email) %></div>
                </td>
                <% if allowed_to?(:allowed_to_modify_group?, @namespace) %>
                  <td class="px-4 py-3 text-right">
                    <%= viral_dropdown(icon: "ellipsis_vertical",
                                     classes: "member-settings-ellipsis",
                                     aria: { label: t(:'groups.members.index.actions.member_dropdown_aria_label',
                                     member: member.user.email) }) do |dropdown| %>
                      <%= dropdown.item(
                        label: t(:"groups.members.index.remove"),
                        url: group_member_path(@namespace, member),
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: t(:"groups.members.index.remove_confirmation")
                        },
                        aria: {
                          label:
                            t(
                              :"groups.members.index.actions.link_remove_aria_label",
                              member: member.user.email
                            )
                        }
                      ) %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
