<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "member-update-alert" %>

<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <% component.with_buttons do %>
    <% if @allowed_to[:link_namespace_with_group] %>
      <%= turbo_frame_tag "new_group_link_dialog" do %>
        <%= render partial: "groups/group_links/invite_group_modal",
        locals: {
          open: false,
          tab: @tab,
        } %>
      <% end %>
    <% end %>
    <% if @allowed_to[:create_member] %>
      <%= turbo_frame_tag "new_member_dialog" do %>
        <%= render partial: "create_modal", locals: { open: false, tab: @tab } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <%= render Pathogen::Tabs.new(
    id: "groups-members-tabs",
    label: t(:"groups.members.index.tabs.aria_label"),
    default_index: @tab == "invited_groups" ? 1 : 0,
    sync_url: true
  ) do |tabs| %>
    <% tabs.with_tab(
      id: "members-tab",
      label: t(:"groups.members.index.tabs.members"),
      selected: @tab != "invited_groups",
    ) %>

    <% tabs.with_tab(
      id: "groups-tab",
      label: t(:"groups.members.index.tabs.groups"),
      selected: @tab == "invited_groups",
    ) %>

    <% tabs.with_panel(id: "members-panel", tab_id: "members-tab") do %>
      <%= turbo_frame_tag "members",
        src: group_members_path(format: :turbo_stream),
        loading: :lazy,
        refresh: "morph" do %>
        <%= render partial: "shared/loading/table" %>
      <% end %>
      <%= turbo_frame_tag "members_pagination", loading: :lazy, refresh: "morph" %>
    <% end %>

    <% tabs.with_panel(id: "groups-panel", tab_id: "groups-tab") do %>
      <%= turbo_frame_tag "invited_groups",
        src: group_group_links_path(format: :turbo_stream),
        loading: :lazy,
        refresh: "morph" do %>
        <%= render partial: "shared/loading/table" %>
      <% end %>
      <%= turbo_frame_tag "invited_groups_pagination", loading: :lazy, refresh: "morph" %>
    <% end %>
  <% end %>
</div>
