<%= turbo_frame_tag "new_member_modal" %>
<%= turbo_frame_tag "member-update-alert" %>

<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <%= component.with_icon(name: "users", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <% if allowed_to?(:link_namespace_with_group?, @namespace) %>
      <%= link_to I18n.t("groups.members.index.invite_group"),
      new_group_group_link_path(@namespace, tab: @tab),
      data: {
        "turbo-frame" => "new_member_modal",
        :turbo_stream => true,
      },
      class: "button button--state-default button--size-default" %>
    <% end %>
    <% if allowed_to?(:create_member?, @namespace) %>
      <%= link_to t(:".add"),
      new_group_member_path(@namespace, tab: @tab),
      data: {
        turbo_frame: "new_member_modal",
        turbo_stream: true,
      },
      class: "button button--state-primary button--size-default",
      "aria-label": t(:".actions.button_add_aria_label") %>
    <% end %>
  <% end %>
<% end %>

<div class="flex flex-row-reverse">
  <%= search_form_for @q, url: group_members_url(**request.query_parameters), html: {"data-controller": "filters"} do |f| %>
    <input type="hidden" name="format" value="turbo_stream"/>
    <input type="hidden" name="tab" value="<%=@tab%>"/>
    <%= f.label :user_email_cont, t(".search.placeholder"), class: "sr-only" %>
    <div class="relative lg:w-72">
      <div
        class="
          absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
        "
      >
        <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
      </div>
      <%= turbo_frame_tag "member_hidden_values" %>
      <%= f.search_field :user_email_cont,
                     "data-action": "filters#submit",
                     class:
                       "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                     placeholder: t(".search.placeholder") %>
    </div>
  <% end %>
</div>

<div class="bg-white dark:bg-slate-800">
  <%= viral_tabs(id: "members-tabs", label: t(:"groups.members.index.tabs.aria_label")) do |tabs| %>
    <%= tabs.with_tab(url: group_members_path(), selected: @tab != "invited_groups", controls: "members-tabs") do %>
      <%= t(:"groups.members.index.tabs.members") %>
    <% end %>
    <%= tabs.with_tab(url: group_members_path(tab: "invited_groups"), selected: @tab == "invited_groups", controls: "members-tabs") do %>
      <%= t(:"groups.members.index.tabs.groups") %>
    <% end %>
    <%= tabs.with_tab_content do %>
      <div class="flex flex-col">
        <%= turbo_frame_tag "members", "data-turbo-temporary": true,
                            src:
                              (
                                if @tab == "invited_groups"
                                  group_group_links_path(
                                    format: :turbo_stream
                                  )
                                else
                                  group_members_path(
                                    format: :turbo_stream
                                  )
                                end
                              ) do %>
          <%= render partial: "shared/loading/table" %>
        <% end %>
        <%= turbo_frame_tag "members_pagination", "data-turbo-temporary": true %>
      </div>
    <% end %>
  <% end %>
</div>
