<%= turbo_frame_tag "new_member_modal" %>
<%= turbo_frame_tag "member-update-alert" %>

<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <% component.with_buttons do %>
    <% if @allowed_to[:link_namespace_with_group] %>
      <%= link_to I18n.t("groups.members.index.invite_group"),
      new_group_group_link_path(@namespace, tab: @tab),
      data: {
        "turbo-frame" => "new_member_modal",
        :turbo_stream => true,
      },
      class: "button button--state-default button--size-default" %>
    <% end %>
    <% if @allowed_to[:create_member] %>
      <%= link_to t(:".add"),
      new_group_member_path(@namespace, tab: @tab),
      data: {
        turbo_frame: "new_member_modal",
        turbo_stream: true,
      },
      class: "button button--state-primary button--size-default",
      "aria-label": t(:".actions.button_add_aria_label") %>
    <% end %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <%= viral_tabs(id: "members-tabs", label: t(:"groups.members.index.tabs.aria_label")) do |tabs| %>
    <%= tabs.with_tab(url: group_members_path(), selected: @tab != "invited_groups") do %>
      <%= t(:"groups.members.index.tabs.members") %>
    <% end %>
    <%= tabs.with_tab(url: group_members_path(tab: "invited_groups"), selected: @tab == "invited_groups") do %>
      <%= t(:"groups.members.index.tabs.groups") %>
    <% end %>
  <% end %>

  <% if @tab == "invited_groups" %>
    <%= turbo_frame_tag "members", "data-turbo-temporary": true,
                            src: group_group_links_path(format: :turbo_stream) do %>
      <%= render partial: "shared/loading/table" %>
    <% end %>
  <% else %>
    <%= turbo_frame_tag "members", "data-turbo-temporary": true,
                        src: group_members_path(format: :turbo_stream) do %>
      <%= render partial: "shared/loading/table" %>
    <% end %>
  <% end %>
  <%= turbo_frame_tag "members_pagination", "data-turbo-temporary": true %>
</div>
