<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <%= component.with_icon(name: "users", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <% if allowed_to?(:create_member?, @namespace) %>
      <%= link_to t(:".add"),
                  new_group_member_path(@namespace),
                  class: "button button--state-primary button--size-default",
                  "aria-label": t(:".actions.button_add_aria_label") %>
    <% end %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="shadow">
        <%= turbo_frame_tag("member-update-alert") %>
          <%= turbo_frame_tag "group_members_list",
          src: group_members_path(@group, format: :turbo_stream, page: params[:page]),
          loading: :lazy %>
      </div>
    <%= turbo_frame_tag "members_pagination" %>
    </div>
  </div>
</div>
