<div class="w-full">
  <div class="pb-4">
    <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white">
      <%= t(:"activerecord.attributes.user.email") %>
    </h2>
    <p class="text-gray-500 dark:text-gray-400">
      <%=@user.email%>
      <%= t(:'activerecord.attributes.user.missing') if @user.email == nil%>
    </p>
    <br/>
    <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white">
      <%= t(:"activerecord.attributes.user.provider") %>
    </h2>
    <p class="text-gray-500 dark:text-gray-400">
      <%=@user.provider%>
      <%= t(:'activerecord.attributes.user.missing') if @user.provider == nil%>
    </p>
    <br/>

    <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white">
      <%= t(:"activerecord.attributes.user.provider_username") %>
    </h2>
    <p class="text-gray-500 dark:text-gray-400">
      <%=@user.provider_username%>
      <%= t(:'activerecord.attributes.user.provider_username') if @user.provider_username == nil%>
    </p>
    <br/>

    <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white">
      <%= t(:"activerecord.attributes.user.uid") %>
    </h2>
    <p class="text-gray-500 dark:text-gray-400">
      <%=@user.uid%>
      <%= t(:'activerecord.attributes.user.uid') if @user.uid == nil%>
    </p>
    <br/>

    <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white">
      <%= t(:"activerecord.attributes.user.first_name") %>
    </h2>
    <p class="text-gray-500 dark:text-gray-400">
      <%=@user.first_name%>
      <%= t(:'activerecord.attributes.user.first_name') if @user.first_name == nil%>
    </p>
    <br/>

    <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white">
      <%= t(:"activerecord.attributes.user.last_name") %>
    </h2>
    <p class="text-gray-500 dark:text-gray-400">
      <%=@user.last_name%>
      <%= t(:'activerecord.attributes.user.last_name') if @user.last_name == nil%>
    </p>
    <br/>

  </div>
</div>
