<div class="w-full">
  <%= render 'shared/flash' %>
  <% if user.errors.any? %>
    <%= render partial: 'shared/alert/list/danger', locals: { title: "Error updating password", messages: user.errors.full_messages } %>
  <% end %>
  <div class="pb-4">
    <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white">Email</h2>
    <p class="text-gray-500 dark:text-gray-400">Email linked to this account.</p>
  </div>
  <div class="grid gap-4 md:gap-8 grid-cols-3">
    <%= form_with(model: user, url: profile_path, method: :patch) do |f| %>
      <div class="form-field">
        <%= f.label :email %>
        <%= f.email_field :email, :required => true, autofocus: true, autocomplete: "email" %>
      </div>
      <% if Devise.mappings[:user].confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      <div class="my-2">
        <%= f.submit "Update profile settings", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
