<div>
  <% flash.each do |type, msg| %>
    <div class"p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert"=>
      <%= type %> - <%= msg %>
    </div>
  <% end %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div><%= form_with( model: user, url: profile_path, method: :patch) do |f| %>
      <div>
        <div class="sm:col-span-2">
          <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border border-gray-300 rounded-lg px-3 py-2.5 text-sm text-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:focus:ring-blue-800" %>
        </div>
        <% if Devise.mappings[:user].confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>
        <div class="my-2">
          <%= f.submit "Update profile settings", class: "cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
        </div>
      </div>
        <% end %></div>
</div>
