<div class="w-full">
  <div class="pb-4">
    <%= form_with(model: user, url: profile_path, method: :patch) do |f| %>
      <% invalid = user.errors.include?(:email) %>
      <div class="form-field <%= 'invalid' if invalid %>">
        <%= f.label :email %>
        <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
      </div>
      <br/>
      <div class="form-field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
      <br/>
      <div class="form-field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
      <br/>
      <div class="my-2">
        <%= f.submit t(:"profiles.show.email.submit"), class: "button button--state-primary button--size-default" %>
      </div>
    <% end %>
  </div>
</div>
