<li>
  <a href="<%= link %>" title="<%= text %>" data-turbo-action="replace" class="flex items-center p-1 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700 <%= class_names('bg-gray-200 font-medium': current_page?(link)) %>">
    <span class="flex justify-center" style="width: 27px;"><%= render icon, class_names: "w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" %></span>
    <span class="ml-3" data-layout-target="link"><%= text %></span>
  </a>
</li>
