<aside id="sidebar" class="sidebar" aria-label="Sidebar">
  <div style="grid-area: navigation; display: flex; flex-direction: column;" class="bg-white dark:bg-gray-800 dark:border-gray-700">
    <div class="pt-2 pb-4 overflow-y-auto">
      <div class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
        <a href="<%= profile_path %>" title="User Settings" class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white  hover:bg-gray-100 dark:hover:bg-gray-700">
          <div class="flex justify-center" style="width: 27px;"><%= render 'icons/user_circle', class_names: "w-6 h-6" %></div>
          <h2 data-layout-target="link" class="ml-2 font-semibold text-gray-900 dark:text-white" style=" white-space: nowrap">User
            Settings</h2>
        </a>
        <ul class="pt-1 space-y-1">
          <%= render partial: 'shared/sidebar_item', locals: { link: profile_path, icon: "icons/user", text: "Profile" } %>
          <%= render partial: 'shared/sidebar_item', locals: { link: edit_profile_password_path, icon: "icons/lock_closed", text: "Password" } %>
          <%= render partial: 'shared/sidebar_item', locals: { link: profile_account_path, icon: "icons/building_library", text: "Account" } %>
        </ul>
      </div>
    </div>
  </div>
  <div style="grid-area: collapse">
    <button data-action="click->layout#toggle" class="flex items-center justify-center w-full h-10 text-sm font-medium text-gray-500 transition-colors duration-150 border-t border-gray-200 hover:text-gray-700 dark:hover:text-gray-200 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 rounded-none focus:ring-0">
      <span data-layout-target="iconCollapse" class="flex items-center">
        <%= render 'icons/chevron_double_left', class_names: "w-5 h-5" %>
        Collapse sidebar
      </span>

      <span data-layout-target="iconExpand" class="flex items-center">
        <%= render 'icons/chevron_double_right', class_names: "w-5 h-5" %>
        <span class="sr-only">Expand sidebar</span>
      </span>
    </button>
  </div>
</aside>
