<% if empty_state? %>
  <div class="empty_state_message">
    <%= viral_empty(
      title: @empty[:title],
      description: @empty[:description],
      icon_name: Sample.icon,
    ) %>
  </div>
<% else %>
  <%= render Pathogen::DataGridComponent.new(rows: @samples, **data_grid_arguments) do |grid| %>
    <% if @show_metadata_fields_size_warning %>
      <% grid.with_metadata_warning do %>
        <div class="mb-4" role="status" aria-live="polite">
          <%= viral_alert do %>
            <span class="inline"><%= @metadata_fields_size_warning_message %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% @columns.each do |column| %>
      <% grid.with_column(
        data_grid_label(column),
        width: data_grid_width(column),
        sticky: data_grid_sticky?(column),
        sticky_left: data_grid_sticky_left(column)
      ) do |sample| %>
        <%= render_column_value(column, sample) %>
      <% end %>
    <% end %>

    <% @metadata_fields.each do |field| %>
      <% grid.with_column(field) do |sample| %>
        <%= metadata_value(sample, field) %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
