<td id="<%= dom_id(@sample, @field) %>">
  <button
    class="
      w-full p-3 text-left cursor-pointer hover:bg-slate-50 dark:hover:bg-slate-600
    "
    data-action="click->samples--metadata--editable-cell#submit"
    data-field="<%= @field %>"
    data-sample-id="<%= @sample.id %>"
    aria-label="<%= t(:".aria_label", value: @sample.metadata[@field]) %> value"
    <%= "autofocus" if @autofocus %>
  >
    <span class="block truncate pointer-events-none">
      <%= @sample.metadata.fetch(@field, "") %>
    </span>
  </button>
</td>
