<td id="<%= dom_id(@sample, @field) %>" role="gridcell">
  <%= form_with(
              url: editable_namespace_project_sample_metadata_field_path(
                @sample.project.namespace.parent,
                @sample.project,
                @sample
              ),
              method: :get,
              class: "w-full"
            ) do |form| %>

    <%= form.hidden_field :field, value: @field %>
    <%= form.hidden_field :format, value: "turbo_stream" %>

    <button
      type="submit"
      class="
        w-full p-4 text-left cursor-pointer hover:bg-slate-50 focus:outline-none
        dark:hover:bg-slate-600
      "
      aria-label="<%= t(:".aria_label", value: @sample.metadata[@field]) %> value"
      <%= "autofocus" if @autofocus %>
    >
      <span class="block truncate">
        <%= @sample.metadata.fetch(@field, "") %>
      </span>
    </button>
  <% end %>
</td>
