<%= render Viral::BaseComponent.new(**wrapper_arguments) do %>
  <%= render Viral::BaseComponent.new(**system_arguments) do %>
    <table
      class='w-full text-sm text-left  rtl:text-right text-slate-500 dark:text-slate-400 whitespace-nowrap'
    >
      <thead
        class='text-xs uppercase  text-slate-700 bg-slate-50 dark:bg-slate-700 dark:text-slate-400'
      >
        <tr>
          <% @columns.each_with_index do |column, index| %>
            <%= render_cell(
                tag: 'th',
                scope: 'col',
                classes: class_names('px-6 py-3', 'sticky left-0 z-10 flex': index.zero?)
              ) do %>
              <% if index.zero? and @abilities[:select_samples] %>
                <%= search_form_for(
                    @q,
                    url: select_samples_url(**request.query_parameters),
                    html: { "data-controller": "filters", id: "select-all-form" },
                    class: "filters align-middle"
                  ) do |f| %>
                  <input type="hidden" name="format" value="turbo_stream"/>

                  <% @search_params.each do |key, value| %>
                    <% if value.is_a?(Array) %>
                      <% value.each do |val| %>
                        <input type="hidden" name="q[<%= key %>][]" value="<%= val %>">
                      <% end %>
                    <% else %>
                      <input type="hidden" name="q[<%= key %>]" value="<%= value %>">
                    <% end %>
                  <% end %>

                  <label for="select-all" class="sr-only"><%= t(:".select_all") %></label>
                  <input
                    type="checkbox"
                    id="select-all"
                    name="select"
                    class="
                      w-4 h-4 mr-2.5 text-primary-600 bg-slate-100 border-slate-300 rounded
                      focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800
                      focus:ring-2 dark:bg-slate-700 dark:border-slate-600
                    "
                    data-selection-target="selectAll"
                    onchange="this.form.requestSubmit()"
                  />
                <% end %>
              <% end %>

              <% if column == :attachments_updated_at %>
                <%= render Ransack::SortComponent.new(
                  ransack_obj: @q,
                  label: t(".#{column}"),
                  url: helpers.sorting_url(@q, :attachments_updated_at_nulls_last),
                  field: :attachments_updated_at_nulls_last,
                ) %>
              <% else %>
                <%= render Ransack::SortComponent.new(
                  ransack_obj: @q,
                  label: t(".#{column}"),
                  url: helpers.sorting_url(@q, column),
                  field: column,
                ) %>
              <% end %>
            <% end %>
          <% end %>
          <% @metadata_fields.each do |field| %>
            <%= render_cell(
                tag: 'th',
                scope: 'col',
                class: class_names('px-6 py-3')
              ) do %>
              <%= render Ransack::SortComponent.new(
                ransack_obj: @q,
                label: field,
                url:
                  helpers.sorting_url(@q, URI.encode_www_form_component("metadata_#{field}")),
                field: "metadata_#{field}",
              ) %>
            <% end %>
          <% end %>
          <% if @renders_row_actions %>
            <%= render_cell(
                tag: 'th',
                scope: 'col',
                classes: class_names('px-6 py-3 bg-slate-50 dark:bg-slate-700 sticky right-0')
              ) do %>
              <%= t(".action") %>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody
        class='bg-white divide-y  divide-slate-200 dark:bg-slate-800 dark:divide-slate-700'
      >
        <% @samples.each do |sample| %>
          <%= render Viral::BaseComponent.new(**row_arguments(sample)) do %>
            <% @columns.each_with_index do |column, index| %>
              <%= render_cell(
                  tag: index.zero? ? 'th' : 'td',
                  scope: index.zero? ? 'row' : nil,
                  classes: class_names('px-6 py-3', 'sticky left-0 bg-slate-50 dark:bg-slate-900': index.zero?)
                ) do %>
                <% if index.zero? && @abilities[:select_samples] %>
                  <%= check_box_tag "sample_ids[]",
                  sample.id,
                  nil,
                  id: dom_id(sample),
                  "aria-label": sample.name,
                  data: {
                    action: "input->selection#toggle",
                    selection_target: "rowSelection",
                  },
                  class:
                    "w-4 h-4 mr-2.5 text-primary-600 bg-slate-100 border-slate-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600" %>
                <% end %>
                <% if column == :puid || column == :name %>
                  <%= link_to(
                      project_sample_path(sample.project, sample),
                      data: { turbo: false },
                      class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline"
                    ) do %>
                    <span class="font-semibold">
                      <%= highlight(
                        sample[column],
                        defined?(params[:q][:name_or_puid_cont]) && params[:q][:name_or_puid_cont],
                        highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
                      ) %>
                    </span>
                  <% end %>
                <% elsif column == :project %>
                  <%= viral_tooltip(title: project_path(sample.project)) do %>
                    <%= link_to sample.project.abbreviated_path,
                    project_path(sample.project),
                    data: {
                      turbo: false,
                    },
                    class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" %>
                  <% end %>
                <% elsif column == :created_at %>
                  <%= l(sample[column].localtime, format: :full_date) %>
                <% elsif column == :updated_at || column == :attachments_updated_at %>
                  <% if sample[column].present? %>
                    <%= viral_time_ago(original_time: sample[column]) %>
                  <% end %>
                <% else %>
                  <%= sample[column.to_sym] %>
                <% end %>
              <% end %>
            <% end %>
            <% @metadata_fields.each do |field| %>
              <%= render_cell(
                  tag: 'td',
                  scope: 'col',
                  class: class_names('px-6 py-3')
                ) do %>
                <%= sample.metadata[field] %>
              <% end %>
            <% end %>
            <% if @renders_row_actions %>
              <%= render_cell(
                  tag: 'td',
                  classes: class_names('px-6 py-3 sticky right-0 bg-white dark:bg-slate-800 z-10 space-x-2')
                ) do %>
                <% if @row_actions[:edit] %>
                  <%= link_to(
                    t(:"projects.samples.index.edit_button"),
                    edit_project_sample_path(sample.project, sample),
                    data: {
                      turbo: false,
                    },
                    class:
                      "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer",
                  ) %>
                <% end %>
                <% if @row_actions[:destroy] %>
                  <%= link_to(
                    t(:"projects.samples.index.remove_button"),
                    new_namespace_project_samples_deletion_path(
                      sample_id: sample.id,
                      deletion_type: "single",
                    ),
                    data: {
                      "turbo-prefetch": false,
                    },
                    class:
                      "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer",
                  ) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
      <% if @abilities[:select_samples] && @has_samples %>
        <tfoot>
          <tr class="border-t dark:border-slate-700 border-slate-200">
            <td
              class="sticky left-0 z-10 px-6 py-3  bg-slate-50 dark:bg-slate-900"
              colspan="3"
            >
              <span>
                <%= t(".counts.samples") %>:
                <strong><%= @pagy.count %></strong>
              </span>
              <span>
                <%= t(".counts.selected") %>:
                <strong data-selection-target="selected">0</strong>
              </span>
            </td>
            <td colspan="100%" class="px-6 py-3 bg-slate-50 dark:bg-slate-900"></td>
          </tr>
        </tfoot>
      <% end %>
    </table>
  <% end %>
  <div class="w-full border-t border-slate-200 dark:border-slate-700">
    <div class="flex items-center justify-center mt-6 space-x-4">
      <% if @has_samples %>
        <% if @pagy.prev.present? %>
          <button
            type="submit"
            class="
              py-2.5 px-5 me-2 mb-2 text-sm font-medium text-slate-900 focus:outline-none
              bg-white rounded-lg border border-slate-200 hover:bg-slate-100
              hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-slate-100
              dark:focus:ring-slate-700 dark:bg-slate-800 dark:text-slate-400
              dark:border-slate-600 dark:hover:text-white dark:hover:bg-slate-700
            "
            name="page"
            value="<%= @pagy.prev %>"
          ><%= t("components.pagination.previous") %></button>
        <% end %>
        <% if @pagy.next.present? %>
          <button
            type="submit"
            class="
              py-2.5 px-5 me-2 mb-2 text-sm font-medium text-slate-900 focus:outline-none
              bg-white rounded-lg border border-slate-200 hover:bg-slate-100
              hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-slate-100
              dark:focus:ring-slate-700 dark:bg-slate-800 dark:text-slate-400
              dark:border-slate-600 dark:hover:text-white dark:hover:bg-slate-700
            "
            name="page"
            value="<%= @pagy.next %>"
          ><%= t("components.pagination.next") %></button>
        <% end %>
      <% end %>
    </div>
    <p class="m-4 text-center text-slate-500"><%== helpers.pagy_info(@pagy) %></p>
  </div>
  <% unless @has_samples %>
    <div class="empty_state_message">
      <%= viral_empty(
        title: @empty[:title],
        description: @empty[:description],
        icon_name: :beaker,
      ) %>
    </div>
  <% end %>
<% end %>
