<%= content_for :buttons do %>
  <%= link_to 'New sample', new_sample_path, class: "btn btn-primary", 'aria-label': t('.actions.button_add_aria_label') %>
<% end %>

<%= render layout: 'shared/page_header', locals: {
  icon: "samples",
  title: t(:'.title'),
  subtitle: t(:'.subtitle'),
} do %>

<div class="bg-white dark:bg-gray-800">
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="shadow">
        <table class="min-w-full table-fixed dark:divide-gray-600">
          <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
          <% @samples.each do |sample| %>
            <tr class="hover:bg-green-100 dark:hover:bg-gray-700 text-sm font-normal text-gray-500 dark:text-gray-400">
              <td class="p-4 whitespace-nowrap">
                <%= link_to sample.name, sample_path(sample), class: "text-grey-900 dark:text-grey-100 font-semibold hover:underline" %>
                <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= sample.description %></div>
              </td>
              <td class="px-4 py-3">
                <div class="flex justify-end items-center">
                  <button data-dropdown-toggle="sample-<%= sample.id %>-dropdown" class="navbar-btn sample-settings-ellipsis" 
                    aria-label="<%= t('samples.index.actions.dropdown_aria_label', sample_name: sample.name) %>"> 
                    <%= render 'icons/ellipsis_vertical' %>
                  </button>
                  <!-- Dropdown menu -->
                  <div id="sample-<%= sample.id %>-dropdown" class="dropdown-menu">
                    <ul aria-labelledby="dropdownDefaultButton">
                      <li>
                        <%= link_to t('samples.index.edit_button'), edit_sample_path(sample) %>
                        <%= link_to t('samples.index.delete_button'), sample_path(sample), data: {turbo_method: :delete, turbo_confirm: t(:'samples.index.delete_button_confirmation')} %>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>