<%= render partial: 'shared/page_header', locals: {
  title: t(:'samples.new.title'),
  subtitle: t(:'samples.new.subtitle'),
  icon: "squares_plus"
} %>
<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div data-controller="samples-new" class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <%= form_with(model: @sample, url: samples_path, method: :post) do |form| %>

        <%= render partial: 'form_fields', locals: {
          form: form,
          sample: @sample
        } %>

        <div class="my-2">
          <%= form.submit t(:'samples.new.submit_button'), class: "btn btn-primary mr-1" %>
          <%= link_to t(:'sample.new.cancel_button'), samples_path(@sample), class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>