<%= content_for :buttons do %>
  <div class="flex flex-row">
    <%= link_to t('samples.show.edit_button'), edit_sample_path(@sample), class: "btn btn-default" %>
    <%= link_to t('samples.show.delete_button'), sample_path(@sample), data: {turbo_method: :delete, turbo_confirm: t('samples.show.delete_button_confirmation')}, class: "btn btn-primary ml-2" %>
    <%= link_to t('samples.show.back_button'), samples_path, class: "btn btn-primary ml-2" %>
  </div>
<% end %>

<%= render layout: 'shared/page_header', locals: {
  title: @sample.name,
  subtitle: @sample.description,
  icon: 'squares_2x2'
} do %>
  <!-- ADD CONTENT HERE -->
<% end %>
