<h2><%= t(".title") %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render "devise/shared/hidden_locale_input" %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email,
                  autofocus: true,
                  autocomplete: "email",
                  value:
                    (
                      if resource.pending_reconfirmation?
                        resource.unconfirmed_email
                      else
                        resource.email
                      end
                    ) %>
  </div>

  <div class="actions">
    <%= f.submit t(".submit_button") %>
  </div>
<% end %>

<div class="grid gap-2">
  <%= render "devise/shared/links" %>
</div>
