<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>
    <%= turbo_frame_tag "transfer_samples_dialog_content" do %>
      <%= form_for(:transfer, url: namespace_project_samples_transfer_path, method: :post) do |form| %>
        <div
          class="
            mb-4
            font-normal
            text-gray-500
            dark:text-gray-400
            overflow-x-visible
          "
        >
          <p class="mb-4"><%= t(".description") %></p>
          <div data-controller="list-samples" data-list-samples-target="field"></div>
        </div>
        <div
          data-controller="sessionstorage-amend-form"
          data-sessionstorage-amend-form-storage-key-value=<%=namespace_project_samples_url%>
          data-sessionstorage-amend-form-target="field"
          data-sessionstorage-amend-form-field-name-value="transfer[sample_ids][]"
        />
        <div class="grid gap-4">
          <div class="form-field">
            <%= form.label :new_project_id, t(".new_project_id") %>
            <%= form.collection_select(:new_project_id, @projects, :id, :full_path) %>
          </div>
          <div>
            <%= form.submit t(".submit_button"),
                        class: "button button--size-default button--state-primary",
                        disabled: @projects.count.zero?,
                        data: {
                          action: "click->sessionstorage-amend-form#clear"
                        } %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
