<% if message %>
  <%= turbo_stream.update "transfer_alert" do %>
    <%= viral_alert(type:, message:, classes: "h-30 overflow-y-auto") do %>
      <ul class="mt-1.5 ml-4 list-disc list-inside">
        <% errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% sample_ids.each do |sample_id| %>
  <%= turbo_stream.remove sample_id %>
<% end %>

<%= turbo_stream.remove "transfer_modal" %>
