<%= render Viral::BaseComponent.new(**system_arguments) do %>
  <div class="flex items-center">
    <input
      <%= default ? 'checked' : nil %>
      id="<%= name %>"
      type="checkbox"
      value=""
      class="
        w-4
        h-4
        bg-gray-100
        border-gray-300
        rounded
        text-primary-600
        focus:ring-primary-500
        dark:focus:ring-primary-600
        dark:ring-offset-gray-800
        dark:focus:ring-offset-gray-800
        focus:ring-2
        dark:bg-gray-700
        dark:border-gray-600
      "
    >
    <label
      for="<%= name %>"
      class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
    >
      <%= label %>
    </label>
  </div>
  <% if help_text.present? %>
    <%= viral_help_text(state: :default, classes: "ml-6") do %>
      <%= help_text %>
    <% end %>
  <% end %>
<% end %>
