<%= render Viral::BaseComponent.new(**system_arguments) do %>
  <div class="flex items-center">
    <input <%= default ? 'checked' : nil %> id="checkbox-1" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="checkbox-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
      <%= label %>
    </label></div>
  <% if help_text.present? %>
    <%= viral_help_text(state: :default, classes: "ml-5") do %>
      <%= help_text %>
    <% end %>
  <% end %>
<% end %>