<%= render Viral::BaseComponent.new(**system_arguments) do %>
  <div class="flex items-center">
    <input
      id="<%= name %>"
      type="checkbox"
      <%= checked ? 'checked="checked"'.html_safe : nil %>
      value="<%= value %>"
    />
    <label
      for="<%= name %>"
      class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
    >
      <%= label %>
    </label>
  </div>
  <% if help_text.present? %>
    <%= viral_help_text(state: :default, classes: "ml-6") do %>
      <%= help_text %>
    <% end %>
  <% end %>
<% end %>
