<div <%= hidden ? 'class="hidden"'.html_safe : nil %>>
  <% if label.present? %>
    <label
      for="<%= name %>"
      class="block mb-2 text-sm font-medium text-slate-900 dark:text-white"
    >
      <%= label %>
    </label>
  <% end %>
  <% if container.present? %>
    <%= container.select name, options, { :selected => selected_value }, { :class => "bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" } %>
  <% else %>
    <%= render Viral::BaseComponent.new(**system_arguments) do %>
      <% unless selected_value.present? %>
        <%= render Viral::Form::Select::OptionComponent.new(
          option: {
            value: -1,
            label: t(".default")
          },
          selected_value: -1
        ) %>
      <% end %>
      <%= render Viral::Form::Select::OptionComponent.with_collection(
        options,
        selected_value:
      ) %>
    <% end %>
  <% end %>
  <% if help_text.present? %>
    <%= viral_help_text do %>
      <%= help_text %>
    <% end %>
  <% end %>
</div>
