<% if type == "text" || type == "number" %>
  <label for="<%= name %>" class="block mb-2 text-sm font-medium text-slate-900 dark:text-white">
    <%= label %>
  </label>
  <%= render(Viral::BaseComponent.new(tag:, type:, **input_attributes)) %>
  <% if help != nil %>
    <p id="<%= helper_id %>" class="mt-2 text-sm text-slate-500 dark:text-slate-400">
      <%= help %>
    </p>
  <% end %>
<% elsif type == "checkbox" %>
  <div class="flex">
    <div class="flex items-center h-5">
      <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-primary-600 bg-slate-100 border-slate-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600">
    </div>
    <div class="ml-2 text-sm">
      <label for="default-checkbox" class="font-medium text-gray-900 dark:text-gray-300">
        <%= label %>
      </label>
      <% if help != nil %>
        <p id="<%= helper_id %>" class="mt-2 text-sm text-slate-500 dark:text-slate-400">
          <%= help %>
        </p>
      <% end %>
    </div>
  </div>
<% elsif type == "select" %>
  <%= viral_select(label:) %>
<% end %>
