<div
  data-controller="v2--combobox"
  data-v2--combobox-no-results-text-value="<%= t("combobox_component.no_results_text") %>"
  data-v2--combobox-single-result-text-value="<%= t("combobox_component.single_result_text") %>"
  data-v2--combobox-multiple-results-text-value="<%= t("combobox_component.multiple_results_text") %>"
>
  <%= @form.hidden_field @field,
                     value: @selected_option[:value],
                     id: "#{@combobox_id}_hidden",
                     data: {
                       "v2--combobox-target": "hidden",
                     } %>

  <%= render Viral::BaseComponent.new(**combobox_arguments) %>

  <div
    id="<%= @listbox_id %>"
    role="listbox"
    aria-label="<%= combobox_arguments[:aria][:label] %>"
    data-v2--combobox-target="listbox"
    hidden
  >
    <%= @listbox_options %>
  </div>

  <div class="sr-only" aria-live="polite" data-v2--combobox-target="ariaLiveUpdate"></div>
</div>
