<%= viral_dialog(open: open,classes: ["overflow-visible"]) do |dialog| %>>
  <%= dialog.with_header(title: "New Bot Account") %>
  <%= dialog.with_section do %>
    <div class="mb-6 text-lg font-normal text-gray-500 dark:text-gray-400">
      <p class="dark:text-gray-400">
        Adding a bot account to associate certain actions which can't be attributed to a human user
      </p>
    </div>

   <%= form_for(:bot, url: namespace_project_bots_path, method: :post) do |form| %>
      <div class="grid gap-4">
        <div class="form-field">
          <%= form.label :bot_username, "Username" %>
          <%= form.text_field :bot_username,
                          required: true,
                          readonly: true,
                          value: "project_#{@project.puid.downcase}_bot_#{SecureRandom.hex(5)}",
                          class: "form-control" %>

        </div>

        <div class="form-field">
          <%= form.label :first_name, "First Name" %>
          <%= form.text_field :first_name,
                          required: true,
                          value: "Project",
                          class: "form-control" %>

        </div>

        <div class="form-field">
          <%= form.label :last_name, "Last Name" %>
          <%= form.text_field :last_name,
                          required: true,
                          value: "Bot",
                          class: "form-control" %>

        </div>

        <div class="form-field">
        <%= form.label :scopes %>
        <% Irida::Auth.all_available_scopes.each do |scope| %>
          <div class="flex">
            <div class="flex items-center h-5">
              <%= check_box_tag "bot[scopes][]",
              scope,
              id: "bot_scopes_#{scope}" %>
            </div>
            <div class="ml-2 text-sm">
              <%= label_tag "bot_scopes_#{scope}",
              scope,
              class: "font-medium text-slate-900 dark:text-slate-300" %>
              <p
                id="<%= "bot_scopes_#{scope}_help-text" %>"
                class="text-xs font-normal text-slate-500 dark:text-slate-300"
              ><%= t("auth.scopes.#{scope}") %></p>
            </div>
          </div>
        <% end %>
        </div>

      </div>
        <div class="my-4">
          <%= form.submit "Submit",
                      class: "button button--size-default button--state-primary" %>
          <button
            type="button"
            class="button button--size-default button--state-default"
            data-action="click->viral--dialog#close"
          >
            <%= I18n.t("projects.group_links.new.button.cancel") %>
          </button>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
