<% bot_account_membership = bot_account.membership %>
<tr
  id="<%= dom_id(bot_account) %>"
  class="bg-white border-b dark:bg-slate-800 dark:border-slate-700"
>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= bot_account.user.email %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <% if bot_account.user.personal_access_tokens.active.count.positive? %>
      <%= link_to bot_account.user.personal_access_tokens.active.count,
      namespace_project_bot_personal_access_tokens_path(bot_id: bot_account.id),
      data: {
        turbo_stream: true
      },
      class: "font-semibold text-slate-800 dark:text-slate-300 hover:underline" %>
    <% else %>
      0
    <% end %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= viral_time_ago(original_time: bot_account.user.created_at) %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <% unless bot_account_membership.nil? %>
      <%= t(
        :"projects.bots.index.access_level.level_#{bot_account_membership.access_level}"
      ) %>
    <% end %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <% if !bot_account_membership&.expires_at.nil? %>
      <%= bot_account_membership.expires_at.strftime(I18n.t("time.formats.full_date")) %>
    <% else %>
      <%= t("projects.bots.index.bot.never") %>
    <% end %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <% if allowed_to?(:generate_bot_personal_access_token?, @namespace) %>
      <%= link_to(
        t("projects.bots.index.bot.generate_new_token"),
        new_namespace_project_bot_personal_access_token_path(bot_id: bot_account.id),
        data: {
          turbo_stream: true
        },
        aria: {
          label: t("projects.bots.index.bot.generate_new_token_aria_label")
        },
        class:
          "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer"
      ) %>
    <% end %>
    <% if allowed_to?(:destroy_bot_accounts?, @namespace) %>
      <%= link_to(
        t("projects.bots.index.bot.remove"),
        namespace_project_bot_path(id: bot_account.id),
        data: {
          turbo_method: :delete,
          turbo_confirm: t("projects.bots.index.bot.remove_confirmation")
        },
        aria: {
          label: t("projects.bots.index.bot.remove_aria_label")
        },
        class:
          "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer"
      ) %>
    <% end %>
  </td>
</tr>
