<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= render Viral::PageHeaderComponent.new(title: t('.title'), subtitle: t('.subtitle')) do |component| %>
  <%= component.with_icon(name: "users", classes: "h-14 w-14 text-primary-700") %>
  <% if allowed_to?(:create_bot_accounts?, @namespace) %>
    <%= component.with_buttons do %>
      <%= link_to t(".add_new_bot"),
      new_namespace_project_bot_path(@namespace.parent, @namespace.project),
      data: {
        turbo_frame: "bot_modal",
        turbo_stream: true,
      },
      class:
        "
                                                                                    inline-flex
                                                                                    items-center
                                                                                    justify-center
                                                                                    text-sm
                                                                                    border
                                                                                    rounded-md
                                                                                    cursor-pointer
                                                                                    sm:w-auto focus:z-10
                                                                                    focus:outline-none
                                                                                    text-white
                                                                                    bg-primary-700
                                                                                    hover:bg-primary-800
                                                                                    focus:ring-0
                                                                                    rounded-md
                                                                                    px-5
                                                                                    py-3
                                                                                    dark:text-white
                                                                                    dark:bg-primary-600
                                                                                    dark:hover:bg-primary-700
                                                                                    dark:border-primary-900
                                                                                    dark:hover:bg-primary-700
                                                                                    " %>
    <% end %>
  <% end %>
<% end %>

<div class="flex flex-col">
  <%= turbo_frame_tag "bot_modal" %>
  <div class="mb-4">
    <%= turbo_frame_tag "access-token-section" %>
  </div>
  <%= render partial: "bot_listing" %>
  <%= render Viral::Pagy::FullComponent.new(@pagy, item: "test") %>
</div>
