<li class="Layout-Sidebar__Item">
  <a
    href="<%= url %>"
    title="<%= label %>"
    class="
      flex items-center mt-1 p-1 transition-colors ease-in-out delay-75 rounded-sm
      hover:bg-slate-200 dark:text-slate-200 dark:hover:bg-slate-700
      <%= class_names('Layout-Sidebar__Item--selected bg-slate-200 dark:bg-slate-700': selected)  %>
    "
  >
    <%= render Layout::Sidebar::SelectedComponent.new(selected: selected) %>
    <%= viral_icon(name: icon, style: "width: 27px;", classes: "p-1") %>
    <span class="ml-2 grow">
      <%= label %>
    </span>
  </a>
</li>
