<li class="Layout-Sidebar__Item">
  <a
    href="<%= url %>"
    title="<%= label %>"
    class="
      flex
      items-center
      mt-1
      p-1
      transition-colors
      ease-in-out
      delay-75
      rounded-sm
      hover:bg-slate-200
      dark:text-slate-200
      dark:hover:bg-slate-700
      <%= class_names('Layout-Sidebar__Item--selected bg-slate-200 dark:bg-slate-700': @current_page == label.downcase)  %>
    "
  >
    <% if @current_page == label.downcase %>
      <div aria-hidden="true" class="w-1 h-6 my-0 mr-1 rounded-lg bg-primary-600"></div>
    <% else %>
      <div aria-hidden="true" class="w-1 h-6 my-0 mr-1 bg-transparent"></div>
    <% end %>
    <%= viral_icon(name: icon, style: "width: 27px;", classes: "p-1") %>
    <span class="ml-2 grow">
      <%= label %>
    </span>
  </a>
</li>
