<% control_id = "multi-level-menu_#{title.parameterize.underscore}" %>
<li
  class="group/menu list-none mr-1"
  data-controller="collapsible sidebar-item"
>
  <button
    type="button"
    class="
      flex items-center text-left p-2.5 m-1 rounded-lg transition-colors duration-200
      cursor-pointer w-full <%= class_names({
        'bg-primary-100 text-primary-800 dark:bg-slate-800 dark:text-primary-400 font-medium': selected,
        'text-slate-700 hover:bg-slate-100 dark:text-slate-300 dark:hover:bg-slate-800/70': !selected
      }) %>
    "
    id="<%= control_id %>-button"
    aria-controls="<%= control_id %>"
    aria-expanded="<%= @selected ? 'true' : 'false' %>"
    data-action="click->collapsible#toggle click->sidebar-item#onClick"
    data-collapsible-target="button"
    data-sidebar-item-target="trigger"
    data-turbo="false"
  >
    <span
      class="
        w-8 h-8 flex items-center justify-center rounded-lg mr-3 flex-shrink-0
        transition-colors duration-200 <%= @selected ? 'bg-primary-300 text-primary-800 dark:bg-slate-700/90' : 'bg-slate-100 text-slate-600 dark:bg-slate-800 dark:text-slate-400 group-hover/menu:bg-slate-200/70 dark:group-hover/menu:bg-slate-700/50' %>
      "
    >
      <%= create_icon %>
    </span>
    <span
      class="
        text-sm font-medium transition-opacity duration-200 ease-in-out flex-1
      "
    >
      <%= title %>
    </span>
    <span
      data-collapsible-target="icon"
      class="<%= class_names("transition-transform duration-200 mr-2 flex-shrink-0", { "rotate-180": @selected }) %>"
    >
      <%= pathogen_icon(
        ICON::CARET_DOWN,
        size: :sm,
        color: @selected ? "primary" : "default",
      ) %>
    </span>
  </button>
  <ul
    id="<%= control_id %>"
    data-collapsible-target="item"
    <%= 'hidden' if !@selected %>
    class="<%= class_names('py-1 pl-2 space-y-1 overflow-hidden transition-all duration-200 border-l-2 border-slate-100 dark:border-slate-700 ml-6', { 'hidden': !@selected }) %>"
  >
    <% menu_items.each do |menu_item| %>
      <li class="Layout-Sidebar-MultiLevelMenu__Item list-none p-1 pr-2">
        <a
          href="<%= menu_item.url %>"
          class="
            flex items-center py-1 pr-1 w-full transition-colors ease-in-out delay-75
            rounded-lg group min-h-[44px] pl-10 <%= class_names({
              'bg-slate-300 text-slate-900 dark:bg-slate-700 dark:text-slate-50': menu_item.selected,
              'hover:bg-slate-50 dark:hover:bg-slate-500 text-slate-700 dark:text-slate-200 hover:text-slate-900 dark:hover:text-slate-50': !menu_item.selected
            }) %>
          "
          <%= tag.attributes(aria: { current: ('page' if menu_item.selected) }) %>
        >
          <span class="grow">
            <%= menu_item.label %>
          </span>
          <%= render_icon(menu_item.icon, menu_item.selected) if menu_item.icon.present? %>
        </a>
      </li>
    <% end %>
  </ul>
</li>
