<% control_id = "multi-level-menu_#{title.parameterize.underscore}" %>
<li data-controller="collapsible" class="Layout-Sidebar__Item">
  <button
    type="button"
    class="
      flex items-center w-full mt-1 py-1 pr-1 pl-2 transition-colors ease-in-out
      delay-75 rounded-lg group cursor-pointer min-h-[44px] relative overflow-hidden
      <%= class_names({
        'bg-slate-500 text-white dark:bg-slate-700 dark:text-slate-50 font-bold': @selected,
        'hover:bg-slate-50 dark:hover:bg-slate-500 text-slate-700 dark:text-slate-200': !@selected
      }) %>
    "
    aria-controls="<%= control_id %>"
    aria-expanded="<%= @selected ? 'true' : 'false' %>"
    data-action="collapsible#toggle"
    data-collapsible-target="button"
  >
    <span
      class="
        w-8 h-8 flex items-center justify-center rounded-full mr-2
        <%= @selected ? 'bg-primary-600' : 'bg-slate-100/90 dark:bg-slate-600 group-hover:bg-slate-100 dark:group-hover:bg-slate-500' %>
      "
    >
      <%= create_icon %>
    </span>
    <span class=" flex-1 ml-1 text-left rtl:text-right whitespace-nowrap "><%= title %></span>
    <%= viral_icon(
      name: "chevron_down",
      classes:
        class_names(
          "mr-1 w-4 h-4 transition-transform",
          { "rotate-180": @selected },
          (
            if @selected
              "text-white dark:text-slate-50"
            else
              "text-slate-500 dark:text-slate-400 group-hover:text-slate-900 dark:group-hover:text-slate-50"
            end
          ),
        ),
      "data-collapsible-target": "icon",
    ) %>
  </button>
  <ul
    id="<%= control_id %>"
    data-collapsible-target="item"
    aria-hidden="<%= @selected ? 'false' : 'true' %>"
    <%= 'hidden' if !@selected %>
    class="<%= class_names('py-1 space-y-1 pl-4', { 'hidden': !@selected }) %>"
  >
    <% menu_items.each do |menu_item| %>
      <li class="Layout-Sidebar-MultiLevelMenu__Item">
        <a
          href="<%= menu_item.url %>"
          class="
            flex items-center py-1 pr-1 w-full transition-colors ease-in-out delay-75
            rounded-lg group min-h-[44px] pl-10 <%= class_names({
              'bg-slate-500 text-white dark:bg-slate-700 dark:text-slate-50 font-bold': menu_item.selected,
              'hover:bg-slate-50 dark:hover:bg-slate-500 text-slate-700 dark:text-slate-200 hover:text-slate-900 dark:hover:text-slate-50': !menu_item.selected
            }) %>
          "
        >
          <span class="grow">
            <%= menu_item.label %>
          </span>
          <%= render_icon(menu_item.icon, menu_item.selected) if menu_item.icon.present? %>
        </a>
      </li>
    <% end %>
  </ul>
</li>
