<% control_id = "multi-level-menu_#{title.parameterize.underscore}" %>
<li data-controller="collapsible" class="list-none">
  <button
    type="button"
    class="
      flex
      w-full
      items-center
      mt-1
      p-3
      transition-colors
      ease-in-out
      delay-75
      hover:bg-slate-200
      dark:text-slate-200
      dark:hover:bg-slate-700
    "
    aria-controls="<%= control_id %>"
    data-action="collapsible#toggle"
  >
    <%= viral_icon(
      name: icon,
      classes:
        "flex-shrink-0 w-5 h-5 ml-1 text-slate-800 transition duration-75 group-hover:text-slate-900 dark:text-slate-400 dark:group-hover:text-white"
    ) %>
    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"><%= title %></span>
    <% if selectable_pages.include? current_page %>
      <%= viral_icon(
        name: "chevron_down",
        classes: "mr-0 w-4 h-4 rotate-180",
        "data-collapsible-target": "icon"
      ) %>
    <% else %>
      <%= viral_icon(
        name: "chevron_down",
        classes: "mr-0 w-4 h-4",
        "data-collapsible-target": "icon"
      ) %>
    <% end %>
  </button>
  <ul
    id="<%= control_id %>"
    data-collapsible-target="item"
    class="<% unless selectable_pages.include? current_page %> hidden <% end %> py-2 space-y-2"
  >
    <% menu_items.each do |menu_item| %>
      <li class="Layout-Sidebar-MultiLevelMenu__Item">
        <a
          href=<%= menu_item.url %>
          class="
            flex
            w-full
            items-center
            p-2
            text-slate-900
            t
            delay-75
            pl-11
            group
            hover:bg-slate-200
            dark:text-white
            dark:hover:bg-slate-700
          "
        >
          <%= render Layout::Sidebar::SelectedComponent.new(selected: menu_item.selected) %>
          <span class="ml-2 grow">
            <%= menu_item.label %>
          </span></a>
      </li>
    <% end %>
  </ul>
</li>
