<%= render Viral::BaseComponent.new(**wrapper_arguments) do %>
  <table
    class="
      w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
      whitespace-nowrap
    "
  >
    <thead
      class="
        text-xs text-slate-700 uppercase bg-slate-100 dark:bg-slate-700
        dark:text-slate-400
      "
    >
      <tr>
        <% @columns.each_with_index do |column, index| %>
          <%= render_cell(
              tag: 'th',
              scope: 'col',
              classes: class_names('px-6 py-3', 'sticky left-0 bg-slate-100 dark:bg-slate-900': index === 0, 'min-w-40': index === 1 || index === 2, 'min-w-48': index === 4)
            ) do %>
            <%= render Ransack::SortComponent.new(
              ransack_obj: @q,
              label: t(".#{column}"),
              url: helpers.sorting_url(@q, column),
              field: column,
            ) %>
          <% end %>
        <% end %>
        <%= render_cell(
              tag: 'th',
              scope: 'col',
              classes: class_names('px-6 py-3 bg-slate-100 dark:bg-slate-700 sticky right-0')
            ) do %>
          <%= t(".action") %>
        <% end %>
      </tr>
    </thead>
    <tbody
      id="members-table-body"
      class="
        bg-white divide-y divide-slate-200 dark:bg-slate-800 dark:divide-slate-700
      "
    >
      <% @members.each do |member| %>
        <% member_source = membership_source(@namespace, member) %>
        <%= render Viral::BaseComponent.new(**row_arguments(member)) do %>
          <td class="px-6 py-3 sticky left-0 bg-slate-50 dark:bg-slate-900">
            <div class="text-slate-900 dark:text-slate-100 font-semibold"><%= member.user.email %>
              <% if @current_user == member.user %>
                <%= viral_pill(
                  text: t("activerecord.models.member.its_you"),
                  color: :green,
                  border: :green,
                  classes: "ml-2",
                ) %>
              <% else %>
                <% if !member.user.human? %>
                  <%= viral_pill(
                    text: t("activerecord.models.member.bot"),
                    color: :transparent,
                    border: :true,
                    classes: "ml-2",
                  ) %>
                <% end %>
              <% end %>
            </div>
          </td>
          <td class="px-6 py-4">
            <% if (member.user != @current_user && @abilities[:update_member] &&
member.access_level <= @access_levels.values.last) && !member_source.key?(:inherited_namespace_path) %>
              <turbo-frame id="<%="member-#{member.id}-access-level"%>">
                <%= render partial: access_level,
                locals: {
                  namespace: @namespace,
                  member: member,
                  access_levels: @access_levels,
                } %>
              </turbo-frame>
            <% else %>
              <%= t("members.access_levels.level_#{member.access_level}") %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if !member_source.key?(:inherited_namespace_path) %>
              <div class="text-sm font-normal text-slate-500 dark:text-slate-400"><%= member_source[:label] %></div>
            <% else %>
              <%= viral_tooltip(title: t(".inherited_from")) do %>
                <%= link_to member_source[:label],
                member_source[:inherited_namespace_path],
                data: {
                  turbo_frame: "_top",
                },
                class: "text-grey-900 dark:text-grey-100 font-semibold hover:underline" %>
              <% end %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <div>
              <% if member.user.email != member.created_by.email %>
                <%= helpers.local_time_ago(member.created_at) %>
                by
                <span class="block">
                  <%= member.created_by.email %>
                </span>
              <% else %>
                <%= helpers.local_time_ago(member.created_at) %>
              <% end %>
            </div>
          </td>
          <td class="px-6 py-4">
            <% if (member.user != @current_user && @abilities[:update_member] &&
     member.access_level <= @access_levels.values.last) && !member_source.key?(:inherited_namespace_path) %>
              <%= form_with(model: member, url: select_member_path(member), method: :patch) do |form| %>
                <div class="form-field datepicker" data-controller="datepicker">
                  <div class="relative max-w-sm">
                    <div
                      class="
                        absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
                      "
                    >
                      <%= viral_icon(
                        name: :calendar_days,
                        classes: "w-5 h-5 text-slate-500 dark:text-slate-400",
                      ) %>
                    </div>
                    <%= form.text_field :expires_at,
                                    placeholder: t("date.formats.iso"),
                                    autocomplete: "off",
                                    value: member.expires_at,
                                    id: "member-#{member.id}-expiration",
                                    "data-datepicker-target": "datePicker",
                                    "data-datepicker-autosubmit": "true",
                                    "aria-label": t(".aria_labels.expires_at") %>

                    <input type="hidden" name="format" value="turbo_stream"/>
                  </div>
                </div>
              <% end %>
            <% elsif !member.expires_at.nil? %>
              <%= helpers.local_time(member.expires_at, :full_date) %>
            <% end %>
          </td>
          <% if (@current_user == member.user || @abilities[:destroy_member]) && !member_source.key?(:inherited_namespace_path) %>
            <td class="px-6 py-3 sticky right-0 bg-white dark:bg-slate-800 z-10 space-x-2">
              <% if @current_user == member.user %>
                <%= render partial: current_user_is_member,
                locals: {
                  namespace: @namespace,
                  member:,
                } %>
              <% else %>
                <%= render partial: current_user_is_not_member,
                locals: {
                  namespace: @namespace,
                  member:,
                } %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
