<%= viral_dialog(open: open, size: :large, closable: closable) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>
  <%= turbo_stream_from @broadcast_target %>
  <%= turbo_frame_tag "import_metadata_dialog_content" do %>

    <%= turbo_frame_tag "import_metadata_dialog_alert" %>

    <div
      data-controller="attachment-upload metadata--file-import viral--sortable-lists--two-lists-selection"
      data-viral--sortable-lists--two-lists-selection-selected-list-value="selected-list"
      data-viral--sortable-lists--two-lists-selection-available-list-value="available-list"
      data-viral--sortable-lists--two-lists-selection-field-name-value="file_import[metadata_columns][]"
      data-metadata--file-import-viral--sortable-lists--two-lists-selection-outlet="#import-metadata-dialog-content"
      data-action="
        metadata--file-import:sendMetadata->viral--sortable-lists--two-lists-selection#updateMetadataListing
      "
      data-metadata--file-import-refresh-outlet="[data-controller='refresh']"
      data-attachment-upload-uploading-text-value='<%=t(".uploading") %>'
      id="import-metadata-dialog-content"
    >
      <%= form_for(:file_import, url: url, method: :post) do |form| %>
        <input type="hidden" name="broadcast_target" value="<%= @broadcast_target %>"/>
        <div class="grid gap-4">
          <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400">
            <%= t(".description") %>
          </p>
          <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400">
            <%= t(".namespace.description") %>
            <% if @namespace.type == 'Group' %>
              <%= t(".namespace.group.description_html") %>
            <% else %>
              <%= t(".namespace.project.description_html") %>
            <% end %>
          </p>
          <div
            role="alert"
            class="
              flex items-center hidden p-4 mb-2 text-red-800 border-l-4 border-red-300
              bg-red-50 dark:text-red-400 dark:bg-slate-800 dark:border-red-800
            "
            aria-hidden="true"
            data-metadata--file-import-target="error"
          >
            <span class="inline shrink-0">
              <%= pathogen_icon(:warning_circle, size: :sm, class: "mr-3 stroke-2") %>
            </span>
            <div>
              <div class="font-medium whitespace-break-spaces"><%= t(".no_valid_metadata") %></div>
            </div>
          </div>

          <%= render partial: "shared/form/required_field_legend" %>

          <div class="form-field">
            <%= form.label :file,
                       t(".file"),
                       class:
                         "block mb-2 text-sm font-medium text-slate-900 dark:text-white",
                       data: {
                         required: true,
                       } %>
            <%= form.file_field :file,
                            required: true,
                            direct_upload: true,
                            accept:
                              # https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
                              "text/csv,.tsv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                            data: {
                              action: "change->metadata--file-import#readFile",
                              "attachment-upload-target": "attachmentsInput",
                            },
                            aria: {
                              required: true,
                            },
                            class:
                              "block w-full text-sm text-slate-900 border border-slate-300 rounded-lg cursor-pointer bg-slate-50 dark:text-slate-400 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400" %>
            <p class="mt-1 text-sm text-slate-500 dark:text-slate-400"><%= t(".file_help") %></p>
          </div>
          <div class="form-field">
            <%= form.label :sample_id_column,
                       t(".sample_id_column"),
                       class:
                         "block mb-2 text-sm font-medium text-slate-900 dark:text-white",
                       data: {
                         required: true,
                       } %>
            <%= form.select :sample_id_column,
                        {},
                        { prompt: t(".select_sample_id_column") },
                        required: true,
                        data: {
                          "metadata--file-import-target": "sampleIdColumn",
                          action: "change->metadata--file-import#changeSampleIDInput",
                        },
                        class:
                          "disabled:bg-slate-50 disabled:text-slate-900 disabled:dark:bg-slate-700 disabled:dark:placeholder-slate-400 disabled:dark:text-white",
                        disabled: true,
                        aria: {
                          required: true,
                          disabled: true,
                        } %>
          </div>
          <template data-viral--sortable-lists--two-lists-selection-target="itemTemplate">
            <%= render Viral::SortableList::ListItemComponent.new(list_item: "NAME_HERE") %>
          </template>
          <div
            data-metadata--file-import-target="metadataColumns"
            aria-hidden="true"
            class="grid gap-4 hidden"
          >
            <%= viral_sortable_lists(
                title: t(".metadata_columns"),
            ) do |sortable_lists| %>
              <%= sortable_lists.with_list(
                id: "available-list",
                title: t(".available"),
                group: "metadata_selection",
              ) %>
              <%= sortable_lists.with_list(
                id: "selected-list",
                title: t(".selected"),
                group: "metadata_selection",
                required: true,
              ) %>
            <% end %>
          </div>
          <div
            class="hidden"
            data-viral--sortable-lists--two-lists-selection-target="field"
          ></div>
          <div class="flex items-center" data-controller="pathogen--tooltip">
            <%= form.check_box :ignore_empty_values,
                           {
                             aria: {
                               describedby: "ignore-empty-values-tooltip",
                             },
                             checked: true,
                             data: {
                               "pathogen--tooltip-target": "trigger",
                             },
                           },
                           true,
                           false %>
            <%= form.label :ignore_empty_values,
                       t(".ignore_empty_values.label"),
                       class: "ml-2 text-sm font-medium text-slate-900 dark:text-slate-300" %>
            <%= render Pathogen::Tooltip.new(
              id: "ignore-empty-values-tooltip",
              text: t(:".ignore_empty_values.description"),
            ) %>
          </div>
          <div>
            <%= form.submit t(".submit_button"),
                        class: "button button-primary",
                        data: {
                          turbo_frame: "_top",
                          action:
                            "viral--dialog#setClosable click->viral--sortable-lists--two-lists-selection#constructParams click->metadata--file-import#handleSubmit",
                          "viral--dialog-closable-param": "false",
                          "viral--sortable-lists--two-lists-selection-target": "submitBtn",
                          "metadata--file-import-target": "submitButton",
                          "attachment-upload-target": "submitButton",
                        },
                        disabled: true,
                        aria: {
                          disabled: true,
                        } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
