<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>
  <%= turbo_stream_from broadcast_target %>

  <%= turbo_frame_tag "import_metadata_dialog_content" do %>
    <%= turbo_frame_tag "import_metadata_dialog_alert" %>

    <div
      data-controller="attachment-upload metadata--file-import sortable-lists--v1--two-lists-selection"
      data-sortable-lists--v1--two-lists-selection-selected-list-value="selected-list"
      data-sortable-lists--v1--two-lists-selection-available-list-value="available-list"
      data-sortable-lists--v1--two-lists-selection-field-name-value="file_import[metadata_columns][]"
      data-metadata--file-import-sortable-lists--v1--two-lists-selection-outlet="#import-metadata-dialog-content"
      data-action="
        metadata--file-import:sendMetadata->sortable-lists--v1--two-lists-selection#updateMetadataListing
      "
      data-metadata--file-import-refresh-outlet="[data-controller='refresh']"
      data-attachment-upload-uploading-text-value="<%= t('.uploading') %>"
      data-attachment-upload-success-text-value="<%= t('common.upload.uploaded_successfully') %>"
      data-attachment-upload-error-fallback-text-value="<%= t('common.upload.failed') %>"
      id="import-metadata-dialog-content"
    >
      <%= form_for(:file_import, url: url, method: :post) do |form| %>
        <%= render partial: 'shared/samples/metadata/file_imports/form_fields', locals: {
        form: form, broadcast_target: broadcast_target, direct_upload: true } %>
      <% end %>
    </div>
  <% end %>
<% end %>
