<h2><%= t(".title", resource_name: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if params[:locale].present? %>
    <input type="hidden" name="locale" value="<%=params[:locale]%>"/>
    <%= f.hidden_field :locale, value: params[:locale] %>
  <% end %>

  <div class="form-field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t(".confirmation_message", email: @resource.unconfirmed_email) %></div>
  <% end %>

  <div class="form-field">
    <%= f.label :password %>
    <i><%= t(".password_blank_hint") %></i><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= t(".password_length_hint", minimum_password_length: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="form-field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-field">
    <%= f.label :current_password %>
    <i><%= t(".current_password_hint") %></i><br/>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t(".submit_button") %>
  </div>
<% end %>

<h3><%= t(".cancel_title") %></h3>

<div><%= t(".unhappy") %>
  <%= button_to t(".cancel_button"),
  registration_path(resource_name),
  data: {
    confirm: t(".cancel_confirmation"),
    turbo_confirm: t(".cancel_confirmation"),
  },
  method: :delete %></div>

<%= link_to t(".back_link"), :back %>
