<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-4" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if params[:locale].present? %>
    <input type="hidden" name="locale" value="<%=params[:locale]%>"/>
    <%= f.hidden_field :locale, value: params[:locale] %>
  <% end %><%= f.hidden_field :locale, value: I18n.locale %>

  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email" %>
  </div>

  <div class="form-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true, autocomplete: "given-name" %>
  </div>

  <div class="form-field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, autocomplete: "family-name" %>
  </div>

  <div class="form-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <span class="text-sm font-light text-slate-500 dark:text-slate-400"><%= t(".password_hint", minimum_password_length: @minimum_password_length) %></span>
    <% end %>
    <%= f.password_field :password, required: true, autocomplete: "new-password" %>
  </div>

  <div class="form-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,
                     required: true,
                     autocomplete: "new-password" %>
  </div>

  <%= f.submit t(".submit_button"),
           class: "button button--state-primary button--size-default w-full" %>
<% end %>

<div class="flex"><span class="mr-2 dark:text-white"><%= t(".signed_up") %></span>
  <div class="grid gap-2">
    <%= render "devise/shared/links" %>
  </div>
</div>
