<% if new_personal_access_token %>
  <%= turbo_stream.append "flashes" do %>
    <%= viral_flash(
      type: :success,
      data: t("integration_access_tokens.create.success", name: new_personal_access_token.name),
    ) %>
  <% end %>
  <%= turbo_stream.update "access-token-string" do %>
    <div data-controller="integration-access-token" data-integration-access-token-token-value="<%= encoded_token %>">
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.append "flashes" do %>
    <%= viral_flash(type: :error, data: message) %>
  <% end %>
<% end %>
