<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>

    <%= turbo_frame_tag("deletion-alert") %>

    <div class="mb-4 font-normal text-slate-500 dark:text-slate-400 overflow-x-visible">
      <p class="mb-4"><%= t(".description") %></p>
      <div
        data-controller="projects--samples--attachments--files"
        data-projects--samples--attachments--files-target="field"
      ></div>
    </div>

    <%= form_for(:deletion, url: namespace_project_sample_attachments_deletion_path,
    data: {
      controller: "projects--samples--attachments--selected-attachments",
      'projects--samples--attachments--selected-attachments-field-name-value':"deletion[attachment_ids]",
      'projects--samples--attachments--selected-attachments-storage-key-value': "files-#{@sample.id}",
      action: 'turbo:submit-end->projects--samples--attachments--selected-attachments#clear'
    }, method: :delete) do |form| %>

      <div data-projects--samples--attachments--selected-attachments-target="field"></div>

      <div>
        <%= form.submit t(".submit_button"),
                    class: "button button--size-default button--state-destructive" %>
      </div>
    <% end %>
  <% end %>
<% end %>
