<%= render Viral::BaseComponent.new(tag: "div", **system_arguments.except(:close_action)) do %>
  <h1 class="dialog--title">
    <%= title %>
  </h1>
  <button
    type="button"
    class="dialog--close cursor-pointer"
    data-action="
      <%= system_arguments[:close_action]%>
      click->viral--dialog#close
    "
    <% unless @closable %>
    hidden
    <% end %>
    data-viral--dialog-target="closeButton"
    aria-label="<%= t(:"components.dialog.close") %>"
  >
    <%= pathogen_icon(:x, size: :sm) %>
  </button>
<% end %>
