<%= render Viral::BaseComponent.new(tag: "div", **system_arguments.except(:close_action)) do %>
  <h1 class="dialog--title">
    <%= title %>
  </h1>
  <% if closable %>
    <button
      type="button"
      class="dialog--close cursor-pointer"
      data-action="
        <%= system_arguments[:close_action]%>
        click->viral--dialog#close
      "
      aria-label="<%= t(:"components.dialog.close") %>"
    >
      <%= pathogen_icon(:x, size: :sm) %>
    </button>
  <% end %>
<% end %>
