<%= viral_dialog(open: open,classes: ["overflow-visible"]) do |dialog| %>>
  <%= dialog.with_header(
    title: t("groups.bots.index.bot_listing.new_bot_modal.title"),
  ) %>
  <%= dialog.with_section do %>

    <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
      <p class="dark:text-slate-400">
        <%= t("groups.bots.index.bot_listing.new_bot_modal.description") %>
      </p>
    </div>

    <div class="mb-4">
      <%= turbo_frame_tag("new_bot_account-error-alert") %>
    </div>

    <%= form_for(:bot, url: group_bots_path, method: :post) do |form| %>
      <div class="grid gap-4">
        <div class="form-field">
          <%= form.label :access_level,
                     t("groups.bots.index.bot_listing.new_bot_modal.access_level") %>
          <%= form.select :access_level,
                      @access_levels,
                      {
                        prompt:
                          t(
                            "groups.bots.index.bot_listing.new_bot_modal.select_access_level",
                          ),
                        selected: !bot_params.nil? ? bot_params[:access_level] : nil,
                      },
                      required: true %>
          <%= render "shared/form/field_errors",
          errors: new_bot_account.errors.full_messages_for(:access_level) %>
        </div>

        <div
          class="
            p-6 bg-white border border-slate-200 rounded-lg shadow dark:bg-slate-800
            dark:border-slate-700
          "
        >
          <p class="font-semibold dark:text-white"><%= t("groups.bots.index.bot_listing.new_bot_modal.token_details") %></p>
          <div class="form-field py-4">
            <%= form.label :token_name,
                       t("groups.bots.index.bot_listing.new_bot_modal.token_name") %>
            <%= form.text_field :token_name,
                            required: true,
                            value: !bot_params.nil? ? bot_params[:token_name] : "",
                            class: "form-control" %>

          </div>

          <div class="form-field datepicker py-4" data-controller="datepicker">
            <%= form.label :expires_at,
                       t("groups.bots.index.bot_listing.new_bot_modal.expires_at") %>
            <div class="relative max-w-sm">
              <div
                class="
                  absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
                "
              >
                <%= viral_icon(
                  name: :calendar_days,
                  classes: "w-5 h-5 text-slate-500 dark:text-slate-400",
                ) %>
              </div>
              <%= form.text_field :expires_at,
                              placeholder: I18n.t("date.formats.iso"),
                              autocomplete: "off",
                              value: !bot_params.nil? ? bot_params[:expires_at] : "",
                              "data-datepicker-target": "datePicker",
                              "data-datepicker-dialog": "true" %>
            </div>
          </div>

          <div class="form-field">
            <%= form.label :scopes %>
            <% Irida::Auth.all_available_scopes.each do |scope| %>
              <div class="flex">
                <div class="flex items-center h-5">
                  <%= check_box_tag "bot[scopes][]", scope, id: "bot_scopes_#{scope}" %>
                </div>
                <div class="ml-2 text-sm">
                  <%= label_tag "bot_scopes_#{scope}",
                  scope,
                  class: "font-medium text-slate-900 dark:text-slate-300" %>
                  <p
                    id="<%= "bot_scopes_#{scope}_help-text" %>"
                    class="
                      text-xs font-normal text-slate-500 dark:text-slate-300
                    "
                  ><%= t("auth.scopes.#{scope}") %></p>
                </div>
              </div>
            <% end %>
          </div>

        </div>

      </div>
      <div class="mt-4">
        <%= form.submit t("groups.bots.index.bot_listing.new_bot_modal.submit"),
                    class:
                      "focus:outline-none
                                                                                                                                          text-sm
                                                                                                                                          text-white
                                                                                                                                          bg-primary-700
                                                                                                                                          hover:bg-primary-800
                                                                                                                                          focus:ring-0
                                                                                                                                          rounded-md
                                                                                                                                          p-2
                                                                                                                                          dark:text-white
                                                                                                                                          dark:bg-primary-600
                                                                                                                                          dark:hover:bg-primary-700
                                                                                                                                          cursor-pointer" %>
        <button
          type="button"
          class="
            focus:outline-none text-sm text-slate-900 border border-slate-200 bg-white
            hover:bg-slate-100 hover:text-slate-950 focus:ring-0 rounded-md p-2
            dark:text-white dark:bg-slate-600 dark:hover:bg-slate-700
          "
          data-action="click->viral--dialog#close"
        >
          <%= t("groups.bots.index.bot_listing.new_bot_modal.cancel") %>
        </button>
      </div>
    <% end %>
  <% end %>
<% end %>
