<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_header(
    title: t("groups.bots.index.bot_listing.new_bot_modal.title"),
  ) %>

  <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
    <p class="dark:text-slate-400">
      <%= t("groups.bots.index.bot_listing.new_bot_modal.description") %>
    </p>
  </div>

  <div class="mb-4">
    <%= turbo_frame_tag("new_bot_account-error-alert") %>
  </div>

  <%= form_for(@bot_account, url: group_bots_path, method: :post, html: { novalidate: true }) do |form| %>
    <%= form.fields_for :user do |user_fields| %>
      <div class="grid gap-4">
        <%= user_fields.fields_for :members do |member_fields| %>
          <%= render partial: "shared/form/required_field_legend" %>
          <% invalid_access_level =
            @bot_account.user.members[0].errors.include?(:access_level) %>
          <div class="form-field <%= 'invalid' if invalid_access_level %>">
            <%= member_fields.label :access_level, data: { required: true } %>
            <%= member_fields.select :access_level,
                                 @access_levels,
                                 {
                                   prompt:
                                     t(
                                       "groups.bots.index.bot_listing.new_bot_modal.select_access_level",
                                     ),
                                 },
                                 {
                                   required: true,
                                   aria: {
                                     describedby:
                                       (
                                         if invalid_access_level
                                           member_fields.field_id(:access_level, "error")
                                         else
                                           nil
                                         end
                                       ),
                                     invalid: invalid_access_level,
                                     required: true,
                                   },
                                   autofocus: invalid_access_level,
                                 } %>
            <% if invalid_access_level %>
              <%= render "shared/form/field_errors",
              id: member_fields.field_id(:access_level, "error"),
              errors: @bot_account.user.members[0].errors.full_messages_for(:access_level) %>
            <% end %>
          </div>
        <% end %>

        <%= user_fields.fields_for :personal_access_tokens do |pat_fields| %>
          <div
            class="
              grid gap-4 p-6 bg-white border rounded-lg shadow border-slate-200
              dark:bg-slate-800 dark:border-slate-700
            "
          >
            <p class="font-semibold dark:text-white"><%= t("groups.bots.index.bot_listing.new_bot_modal.token_details") %></p>

            <%= render partial: "shared/personal_access_tokens/form_fields",
            locals: {
              pat: @bot_account.user.personal_access_tokens[0],
              form: pat_fields,
            } %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="mt-4">
      <%= form.submit t("groups.bots.index.bot_listing.new_bot_modal.submit"),
                  class: "button button-primary" %>
      <button
        type="button"
        class="button button-default"
        data-action="click->viral--dialog#close"
      >
        <%= t('common.actions.cancel') %>
      </button>
    </div>
  <% end %>
<% end %>
