<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_header(
    title: t("groups.bots.index.bot_listing.new_bot_modal.title"),
  ) %>

  <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
    <p class="dark:text-slate-400">
      <%= t("groups.bots.index.bot_listing.new_bot_modal.description") %>
    </p>
  </div>

  <div class="mb-4">
    <%= turbo_frame_tag("new_bot_account-error-alert") %>
  </div>

  <%= form_for(:bot, url: group_bots_path, method: :post) do |form| %>
    <div class="grid gap-4">
      <div class="form-field">
        <%= form.label :access_level,
                   t("groups.bots.index.bot_listing.new_bot_modal.access_level") %>
        <%= form.select :access_level,
                    @access_levels,
                    {
                      prompt:
                        t(
                          "groups.bots.index.bot_listing.new_bot_modal.select_access_level",
                        ),
                      selected: !bot_params.nil? ? bot_params[:access_level] : nil,
                    },
                    required: true %>
        <%= render "shared/form/field_errors",
        errors: new_bot_account.errors.full_messages_for(:access_level) %>
      </div>

      <div
        class="
          grid gap-4 p-6 bg-white border rounded-lg shadow border-slate-200
          dark:bg-slate-800 dark:border-slate-700
        "
      >
        <p class="font-semibold dark:text-white"><%= t("groups.bots.index.bot_listing.new_bot_modal.token_details") %></p>
        <div class="form-field">
          <%= form.label :token_name,
                     t("groups.bots.index.bot_listing.new_bot_modal.token_name") %>
          <%= form.text_field :token_name,
                          required: true,
                          value: !bot_params.nil? ? bot_params[:token_name] : "",
                          class: "form-control" %>

        </div>
        <%= viral_test_datepicker(
          min_date: (Date.today + 1.day),
          selected_date: !bot_params.nil? ? bot_params[:expires_at] : nil,
          label: t("groups.bots.index.bot_listing.new_bot_modal.expires_at"),
          input_id: "bot_expires_at",
          input_name: "bot[expires_at]",
        ) %>

        <div class="form-field">
          <%= field_set_tag(I18n.t(:'activerecord.attributes.personal_access_token.scopes')) do %>
            <% Irida::Auth.all_available_scopes.each do |scope| %>
              <div class="flex">
                <div class="flex items-center h-5">
                  <%= check_box_tag "bot[scopes][]", scope, id: "bot_scopes_#{scope}" %>
                </div>
                <div class="ml-2 text-sm">
                  <%= label_tag "bot_scopes_#{scope}",
                  scope,
                  class: "font-medium text-slate-900 dark:text-slate-300" %>
                  <p
                    id="<%= "bot_scopes_#{scope}_help-text" %>"
                    class="
                      text-xs font-normal text-slate-500 dark:text-slate-400
                    "
                  ><%= t("auth.scopes.#{scope}") %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>

    </div>
    <div class="mt-4">
      <%= form.submit t("groups.bots.index.bot_listing.new_bot_modal.submit"),
                  class: "button button-primary" %>
      <button
        type="button"
        class="button button-default"
        data-action="click->viral--dialog#close"
      >
        <%= t("groups.bots.index.bot_listing.new_bot_modal.cancel") %>
      </button>
    </div>
  <% end %>
<% end %>
