<tr
  id="<%= dom_id(bot_account) %>"
  class="bg-white border-b dark:bg-slate-800 dark:border-slate-700"
>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= bot_account.email.rpartition("@").first %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= bot_account.personal_access_tokens.last.name %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= bot_account.personal_access_tokens.last.scopes.join(", ") %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= viral_time_ago(original_time: bot_account.created_at) %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <% if bot_account.members.count.positive? %>
      <%= t(
        :"groups.bots.index.access_level.level_#{bot_account.members.last.access_level}"
      ) %>
    <% end %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= bot_account.personal_access_tokens.last.expires_at&.strftime(
      I18n.t("time.formats.full_date")
    ) %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= viral_dropdown(icon: "ellipsis_vertical",
                              aria: { label: bot_account.email }) do |dropdown| %>
      <%= dropdown.with_item(
        label: t("groups.bots.index.bot.remove"),
        url: namespace_project_bot_path(id: bot_account.id),
        data: {
          turbo_method: :delete,
          turbo_confirm: t("groups.bots.index.bot.remove_confirmation")
        },
        aria: {
          label: t("groups.bots.index.bot.remove_aria_label")
        }
      ) %>
    <% end %>
  </td>
</tr>
