<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4", novalidate: true }) do |f| %>

  <%= render "devise/shared/hidden_locale_input" %>

  <%= render partial: "shared/form/required_field_legend" %>

  <input type="hidden" name="local" value="<%=params[:local]%>"/>

  <div class="form-field">
    <%= f.label :email, data: { required: true } %>
    <%= f.email_field :email,
                  autofocus: true,
                  required: true,
                  aria: {
                    required: true,
                  },
                  autocomplete: "email" %>
  </div>

  <div class="form-field">
    <%= f.label :password, data: { required: true } %>
    <%= f.password_field :password,
                     required: true,
                     aria: {
                       required: true,
                     },
                     autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <%= f.checkbox :remember_me,
               "1",
               label: t("activerecord.attributes.user.remember_me"),
               checked: false %>
  <% end %>

  <div class="flow-root">
    <%= f.submit t(".sign_in"), class: "button button-primary w-full cursor-pointer" %>
  </div>
<% end %>
