<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4", novalidate: true }) do |f| %>

  <%= render "devise/shared/hidden_locale_input" %>

  <%= render partial: "shared/form/required_field_legend" %>

  <input type="hidden" name="local" value="<%=params[:local]%>"/>

  <div class="form-field">
    <%= f.label :email, data: { required: true } %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-field">
    <%= f.label :password, data: { required: true } %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-field flex items-start">
      <div class="flex items-center h-5">
        <%= f.check_box :remember_me %>
      </div>
      <div class="ml-2 text-sm">
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end %>

  <div class="flow-root">
    <%= f.submit t(".sign_in"), class: "button button-primary w-full cursor-pointer" %>
  </div>
<% end %>
