<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4" }) do |f| %>

  <input type="hidden" name="local" value="<%=params[:local]%>"/>

  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="flex items-start">
      <div class="flex items-center h-5">
        <%= f.check_box :remember_me %>
      </div>
      <div class="ml-2 text-sm">
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end %>

  <div class="flow-root">
    <%= f.submit t(".sign_in"),
             class:
               "button button--state-primary button--size-default w-full cursor-pointer" %>
  </div>
<% end %>
