<%= viral_dialog(id: 'advanced-search-dialog', size: :large, open: @open, closable: false) do |dialog| %>
  <%= dialog.with_trigger do %>
    <button
      type="button"
      class="
        relative text-slate-900 bg-white border border-slate-300 focus:outline-none
        hover:bg-slate-100 focus:ring-4 focus:ring-slate-200 font-medium rounded-lg
        text-sm px-5 py-2.5 dark:bg-slate-800 dark:text-white dark:border-slate-600
        dark:hover:bg-slate-700 dark:hover:border-slate-600 dark:focus:ring-slate-700
      "
      data-action="advanced-search#idempotentConnect viral--dialog#open"
      aria-label="<%= t(".title") %>"
      title="<%= t(".title") %>"
    >
      <span
        class="
          absolute items-center justify-center -top-2 -end-2 w-4 h-4 me-3 bg-green-500
          rounded-full <%= class_names(hidden: !@status) %>
        "
      ></span>
      <%= viral_icon(name: "document_magnifying_glass", classes: "size-5") %>
    </button>
  <% end %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>
    <div class="space-y-4">
      <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400">
        <%= t(".description") %>
      </p>
      <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400">
        <%= t(".rules") %>
      </p>
      <% @search.groups.each_with_index do |group, group_index| %>
        <%= render AdvancedSearch::Group.new(
          form: @form,
          group: group,
          group_index: group_index,
          fields: @fields,
          operations: @operations,
        ) %>
      <% end %>
      <div class="flex justify-end space-x-2">
        <%= viral_button(data: { action: "advanced-search#addGroup" }) do %>
          <%= t(".add_group_button") %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= dialog.with_primary_action("data-action": "filters#submit") do
    t(".apply_filter_button")
  end %>
  <% dialog.with_secondary_action do %>
    <%= viral_button(data: { action: "advanced-search#clearForm filters#submit" }) do %>
      <%= t(".clear_filter_button") %>
    <% end %>
  <% end %>
<% end %>
<template data-advanced-search-target="listValueTemplate">
  <div class="form-field w-6/12 value">
    <div
      data-controller="list-filter"
      data-list-filter-filters-value="'[]'"
      class="list-filter"
    >
      <%= render ListInputComponent.new(
        list_input_form_name:
          "q[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions_attributes][CONDITION_INDEX_PLACEHOLDER][value][]",
        show_description: false,
      ) %>
    </div>
    <%= helpers.turbo_frame_tag "group-GROUP_INDEX_PLACEHOLDER-condition-CONDITION_INDEX_PLACEHOLDER-value" %>
  </div>
</template>
<template data-advanced-search-target="valueTemplate">
  <div class="form-field w-6/12 value">
    <input
      type="text"
      name="q[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions_attributes][CONDITION_INDEX_PLACEHOLDER][value]"
      placeholder="<%= t(".value") %>"
      aria-label="<%= t(".value") %>"
    />
    <%= helpers.turbo_frame_tag "group-GROUP_INDEX_PLACEHOLDER-condition-CONDITION_INDEX_PLACEHOLDER-value" %>
  </div>
</template>
<template data-advanced-search-target="conditionTemplate">
  <div
    data-advanced-search-target="conditionsContainer"
    class="flex space-x-2 p-4"
  >
    <div class="form-field w-1/3">
      <select
        aria-label="<%= t(".field") %>"
        name="q[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions_attributes][CONDITION_INDEX_PLACEHOLDER][field]"
      >
        <option value="" selected><%= t(".field") %></option>
        <% @fields.each do |field| %>
          <option value="<%=field%>"><%= field %></option>
        <% end %>
      </select>
      <%= helpers.turbo_frame_tag "group-GROUP_INDEX_PLACEHOLDER-condition-CONDITION_INDEX_PLACEHOLDER-field" %>
    </div>
    <div class="form-field w-1/6">
      <select
        aria-label="<%= t(".operator") %>"
        data-action="advanced-search#handleOperatorChange"
        name="q[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions_attributes][CONDITION_INDEX_PLACEHOLDER][operator]"
      >
        <option value="" selected><%= t(".operator") %></option>
        <% @operations.each do |operation| %>
          <option value="<%=operation%>"><%= operation %></option>
        <% end %>
      </select>
      <%= helpers.turbo_frame_tag "group-GROUP_INDEX_PLACEHOLDER-condition-CONDITION_INDEX_PLACEHOLDER-operator" %>
    </div>
    <div class="form-field w-6/12 value">
      <input
        type="text"
        name="q[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions_attributes][CONDITION_INDEX_PLACEHOLDER][value]"
        placeholder="<%= t(".value") %>"
        aria-label="<%= t(".value") %>"
      />
      <%= helpers.turbo_frame_tag "group-GROUP_INDEX_PLACEHOLDER-condition-CONDITION_INDEX_PLACEHOLDER-value" %>
    </div>
    <button
      type="button"
      class="text-slate-400 hover:text-slate-900 dark:hover:text-white"
      aria-label="<%= t(".remove_condition_aria_label") %>"
      data-action="advanced-search#removeCondition"
    >
      <%= viral_icon(name: "x_mark", classes: "h-5 w-5") %>
    </button>
  </div>
</template>
<template data-advanced-search-target="groupTemplate">
  <div
    data-advanced-search-target="groupsContainer"
    class="border border-gray-300 rounded-lg"
  >
    <div class="flex justify-end space-x-2 p-4">
      <%= viral_button(data: { action: "advanced-search#addCondition" }) do %>
        <%= t(".add_condition_button") %>
      <% end %>
      <%= viral_button(data: { action: "advanced-search#removeGroup" }) do %>
        <%= t(".remove_group_button") %>
      <% end %>
    </div>
  </div>
</template>
