<div data-controller="advanced-search">
  <%= viral_dialog(id: 'advanced-search-dialog') do |dialog| %>
    <%= dialog.with_trigger do %>
      <button
        type="button"
        class="
          relative text-slate-900 bg-white border border-slate-300 focus:outline-none
          hover:bg-slate-100 focus:ring-4 focus:ring-slate-200 font-medium rounded-lg
          text-sm px-5 py-2.5 dark:bg-slate-800 dark:text-white dark:border-slate-600
          dark:hover:bg-slate-700 dark:hover:border-slate-600 dark:focus:ring-slate-700
        "
        data-action="advanced-search#idempotentConnect viral--dialog#open"
        aria-label="Advanced Search"
        title="Advanced Search"
      >
        <%= viral_icon(name: "document_magnifying_glass", classes: "size-5") %>
      </button>
    <% end %>
    <%= dialog.with_header(title: "Advanced Search") %>
    <%= dialog.with_section do %>
      <div class="space-y-4">
        <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400">
          This advanced search uses fields and operators to filter samples.
          <br/>
          Add and/or conditions to define the search criteria.
        </p>
        <% @search.groups.each do |group| %>
          <div
            data-advanced-search-target="groupsContainer"
            class="bg-slate-100 border border-gray-300 rounded-lg"
          >
            <%= @form.fields_for :groups, group do |groups_form| %>
              <% group.conditions.each do |condition| %>
                <div
                  data-advanced-search-target="conditionsContainer"
                  class="flex space-x-2 p-4"
                >
                  <%= groups_form.fields_for :conditions, condition do |conditions_form| %>
                    <%= conditions_form.select :field,
                                           @fields,
                                           { required: true, include_blank: "Field" },
                                           {
                                             "aria-label": "field",
                                             class:
                                               "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                                           } %>
                    <%= conditions_form.select :operator,
                                           @operations,
                                           { required: true, include_blank: "Operator" },
                                           {
                                             "aria-label": "operator",
                                             class:
                                               "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                                           } %>
                    <%= conditions_form.text_field(
                      :value,
                      class:
                        "keyInput block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0 border-b-2 border-slate-300 appearance-none dark:text-white dark:border-slate-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500 peer",
                      required: true,
                    ) %>
                  <% end %>
                  <button
                    type="button"
                    class="
                      ml-auto bg-slate-100 text-slate-400 hover:text-slate-900 rounded-lg focus:ring-2
                      focus:ring-slate-300 p-1.5 inline-flex items-center justify-center h-8 w-8
                      dark:text-slate-500 dark:hover:text-white dark:bg-slate-800
                      dark:hover:bg-slate-700
                    "
                    aria-label="remove condition"
                    data-action="advanced-search#removeCondition"
                  >
                    <%= viral_icon(name: "x_mark", classes: "h-5 w-5") %>
                  </button>
                </div>
              <% end %>
            <% end %>
            <div class="flex justify-end space-x-2 p-4">
              <%= add_condition_button %>
              <%= remove_group_button %>
            </div>
          </div>
        <% end %>
        <div class="flex justify-end space-x-2">
          <%= add_group_button %>
        </div>
      </div>
    <% end %>
    <%= dialog.with_primary_action(
      "data-action": "filters#submit viral--dialog#close",
    ) { "Apply filter" } %>
  <% end %>
  <template data-advanced-search-target="conditionTemplate">
    <div
      data-advanced-search-target="conditionsContainer"
      class="flex space-x-2 p-4"
    >
      <select
        class="
          bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
          focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700
          dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
          dark:focus:ring-blue-500 dark:focus:border-blue-500
        "
        name="<%=@scope%>[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions][CONDITION_INDEX_PLACEHOLDER][field]"
      >
        <option selected>Field</option>
        <% @fields.each do |field| %>
          <option value="<%=field%>"><%= field %></option>
        <% end %>
      </select>
      <select
        class="
          bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
          focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700
          dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
          dark:focus:ring-blue-500 dark:focus:border-blue-500
        "
        name="<%=@scope%>[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions][CONDITION_INDEX_PLACEHOLDER][operator]"
      >
        <option selected>Operation</option>
        <% @operations.each do |operation| %>
          <option value="<%=operation%>"><%= operation %></option>
        <% end %>
      </select>
      <input
        type="text"
        name="<%=@scope%>[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions][CONDITION_INDEX_PLACEHOLDER][value]"
        class="
          keyInput block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0
          border-b-2 border-slate-300 appearance-none dark:text-white
          dark:border-slate-600 dark:focus:border-primary-500 focus:outline-none
          focus:ring-0 focus:border-primary-500 peer
        "
      />
      <button
        type="button"
        class="
          ml-auto bg-slate-100 text-slate-400 hover:text-slate-900 rounded-lg focus:ring-2
          focus:ring-slate-300 p-1.5 inline-flex items-center justify-center h-8 w-8
          dark:text-slate-500 dark:hover:text-white dark:bg-slate-800
          dark:hover:bg-slate-700
        "
        aria-label="remove condition"
        data-action="advanced-search#removeCondition"
      >
        <%= viral_icon(name: "x_mark", classes: "h-5 w-5") %>
      </button>
    </div>
  </template>
  <template data-advanced-search-target="groupTemplate">
    <div
      data-advanced-search-target="groupsContainer"
      class="bg-slate-100 border border-gray-300 rounded-lg"
    >
      <div class="flex justify-end space-x-2 p-4">
        <%= add_condition_button %>
        <%= remove_group_button %>
      </div>
    </div>
  </template>
</div>
