<div data-controller="advanced-search">
  <%= viral_dialog(id: 'advanced-search-dialog', open: @open) do |dialog| %>
    <%= dialog.with_trigger do %>
      <button
        type="button"
        class="
          relative text-slate-900 bg-white border border-slate-300 focus:outline-none
          hover:bg-slate-100 focus:ring-4 focus:ring-slate-200 font-medium rounded-lg
          text-sm px-5 py-2.5 dark:bg-slate-800 dark:text-white dark:border-slate-600
          dark:hover:bg-slate-700 dark:hover:border-slate-600 dark:focus:ring-slate-700
        "
        data-action="advanced-search#idempotentConnect viral--dialog#open"
        aria-label="Advanced Search"
        title="Advanced Search"
      >
        <span
          class="
            absolute items-center justify-center -top-2 -end-2 w-4 h-4 me-3 bg-green-500
            rounded-full <%= class_names(hidden: !@status) %>
          "
        ></span>
        <%= viral_icon(name: "document_magnifying_glass", classes: "size-5") %>
      </button>
    <% end %>
    <%= dialog.with_header(title: "Advanced Search") %>
    <%= dialog.with_section do %>
      <div class="space-y-4">
        <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400">
          This advanced search uses fields and operators to filter samples.
          <br/>
          Add and/or conditions to define the search criteria.
        </p>
        <% @search.groups.each_with_index do |group, group_index| %>
          <%= render AdvancedSearch::Group.new(
            form: @form,
            group: group,
            group_index: group_index,
            fields: @fields,
            operations: @operations,
          ) %>
        <% end %>
        <div class="flex justify-end space-x-2">
          <%= viral_button(data: { action: "advanced-search#addGroup" }) do %>
            Add Group
          <% end %>
        </div>
      </div>
    <% end %>
    <%= dialog.with_primary_action("data-action": "filters#submit") { "Apply filter" } %>
    <% dialog.with_secondary_action do %>
      <%= viral_button(data: { action: "advanced-search#clearForm filters#submit" }) do %>
        Clear filter
      <% end %>
    <% end %>
  <% end %>
  <template data-advanced-search-target="conditionTemplate">
    <div
      data-advanced-search-target="conditionsContainer"
      class="flex space-x-2 p-4"
    >
      <select
        class="
          bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
          focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700
          dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
          dark:focus:ring-primary-500 dark:focus:border-primary-500
        "
        name="q[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions][CONDITION_INDEX_PLACEHOLDER][field]"
      >
        <option selected>Field</option>
        <% @fields.each do |field| %>
          <option value="<%=field%>"><%= field %></option>
        <% end %>
      </select>
      <select
        class="
          bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
          focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700
          dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
          dark:focus:ring-primary-500 dark:focus:border-primary-500
        "
        name="q[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions][CONDITION_INDEX_PLACEHOLDER][operator]"
      >
        <option selected>Operation</option>
        <% @operations.each do |operation| %>
          <option value="<%=operation%>"><%= operation %></option>
        <% end %>
      </select>
      <input
        type="text"
        name="q[groups_attributes][GROUP_INDEX_PLACEHOLDER][conditions][CONDITION_INDEX_PLACEHOLDER][value]"
        placeholder="Value"
        class="
          keyInput block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0
          border-b-2 border-slate-300 appearance-none dark:text-white
          dark:border-slate-600 dark:focus:border-primary-500 focus:outline-none
          focus:ring-0 focus:border-primary-500 peer
        "
      />
      <button
        type="button"
        class="
          ml-auto bg-slate-100 text-slate-400 hover:text-slate-900 rounded-lg focus:ring-2
          focus:ring-slate-300 p-1.5 inline-flex items-center justify-center h-8 w-8
          dark:text-slate-500 dark:hover:text-white dark:bg-slate-800
          dark:hover:bg-slate-700
        "
        aria-label="remove condition"
        data-action="advanced-search#removeCondition"
      >
        <%= viral_icon(name: "x_mark", classes: "h-5 w-5") %>
      </button>
    </div>
  </template>
  <template data-advanced-search-target="groupTemplate">
    <div
      data-advanced-search-target="groupsContainer"
      class="bg-slate-100 border border-gray-300 rounded-lg"
    >
      <div class="flex justify-end space-x-2 p-4">
        <%= viral_button(data: { action: "advanced-search#addCondition" }) do %>
          Add Condition
        <% end %>
        <%= viral_button(data: { action: "advanced-search#removeGroup" }) do %>
          Remove Group
        <% end %>
      </div>
    </div>
  </template>
</div>
