<span class="flex items-center space-x-1" data-controller="clipboard">
  <span>
    <% if content.present? %>
      <%= content %>
    <% else %>
      <%= value %>
    <% end %>
  </span>
  <button
    type="button"
    title="<%= t("components.clipboard.title") %>"
    data-action="clipboard#copy"
    aria-label="<%= t("components.clipboard.title") %>"
    data-clipboard-target="button"
    class="
      p-1 text-sm font-medium bg-white border rounded-full text-slate-900
      border-slate-200 focus:outline-none hover:bg-slate-100 hover:text-primary-700
      focus:z-10 focus:ring-4 focus:ring-slate-100 dark:focus:ring-slate-700
      dark:bg-slate-800 dark:text-slate-400 dark:border-slate-600
      dark:hover:text-white dark:hover:bg-slate-700
    "
    value="<%= value %>"
  >
    <%= viral_icon(
      name: :clipboard,
      color: :white,
      classes: "size-3 pointer-events-none text-slate-500 dark:text-slate-400",
    ) %>
  </button>
  <div
    data-clipboard-target="content"
    role="tooltip"
    class="
      absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
      transition-opacity bg-green-600 rounded-lg shadow-sm opacity-80 duration-600
      tooltip dark:bg-green-700
    "
  >
    <%= t("components.clipboard.copied") %>
  </div>
</span>
