<div
  data-controller="clipboard-component"
  data-clipboard-component-token-value="<%= @value %>"
>
  <label
    for="new-access-token"
    class="text-xl font-semibold leading-tight text-gray-900 dark:text-white"
  >
    Your new personal access token
  </label>
  <div class="flex">
    <% token_id = SecureRandom.uuid %>

    <div class="relative w-full mr-2">
      <input
        type="text"
        id="new-access-token"
        arialand-describedby="<%= token_id %>"
        data-clipboard-component-target="input"
        class="
          bg-gray-100
          border
          border-gray-300
          text-gray-900
          text-sm
          rounded-lg
          focus:ring-blue-500
          focus:border-blue-500
          block
          w-full
          p-2.5
          cursor-not-allowed
          dark:bg-gray-700
          dark:border-gray-600
          dark:placeholder-gray-400
          dark:text-gray-400
          dark:focus:ring-blue-500
          dark:focus:border-blue-500
          font-medium
          font-mono
        "
        value="<%= @value.gsub(/\S/, '*') %>"
        disabled="true"
        readonly
      >
      <button
        class="absolute inset-y-0 top-0 flex items-center pl-3 right-3"
        data-action="click->clipboard-component#toggle"
      >
        <span data-clipboard-component-target="visible">
          <%= render IconComponent.new(
            name: "eye_slash",
            classes: "w-5 h-5 text-gray-500 dark:text-gray-400"
          ) %></span>
        <span data-clipboard-component-target="hidden" class="hidden">
          <%= render IconComponent.new(
            name: "eye",
            classes: "w-5 h-5 text-gray-500 dark:text-gray-400"
          ) %></span>
      </button>
    </div>
    <button
      data-action="click->clipboard-component#copy"
      data-clipboard-component-target="copy"
      type="button"
      class="
        text-gray-900
        bg-white
        border
        border-gray-300
        focus:outline-none
        hover:bg-gray-100
        focus:ring-4
        focus:ring-gray-200
        font-medium
        rounded-lg
        text-sm
        px-5
        py-2.5
        dark:bg-gray-800
        dark:text-white
        dark:border-gray-600
        dark:hover:bg-gray-700
        dark:hover:border-gray-600
        dark:focus:ring-gray-700
      "
    ><%= render IconComponent.new(name: "document_copy", classes: "w-5 h-5") %></button>
    <div
      data-clipboard-component-target="tooltip"
      id="copied-tooltip"
      role="tooltip"
      class="
        absolute
        z-10
        invisible
        inline-block
        px-3
        py-2
        text-sm
        font-medium
        text-white
        bg-green-600
        rounded-lg
        shadow-sm
        opacity-0
        tooltip
        dark:bg-green-700
      "
    >
      Copied!
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>
  <% if @description.present? %>
    <p id="<%= token_id %>" class="mt-1 text-sm text-gray-500 dark:text-gray-400"><%= @description %></p>
  <% end %>
</div>
