<div class="flex items-center" data-controller="clipboard">
  <span id="<%= button_name %>-content">
    <% if content.present? %>
      <%= content %>
    <% else %>
      <%= value %>
    <% end %>
  </span>
  <button
    type="button"
    id="<%= button_name %>"
    name="<%= button_name %>"
    title="<%= title %>"
    data-action="clipboard#copy"
    aria-label="<%= title %>"
    aria-describedby="<%= button_name %>-content"
    data-clipboard-target="button"
    class="<%= button_classes %>"
    value="<%= value %>"
  >
    <%= helpers.render_icon Pathogen::ICON::CLIPBOARD,
                        class: "size-3 pointer-events-none" %>
  </button>
  <div
    id="<%= button_name %>-tooltip"
    data-clipboard-target="content"
    role="tooltip"
    aria-live="polite"
    class="
      absolute z-10 invisible inline-block px-3 py-2 text-sm text-white
      transition-opacity bg-green-800 rounded-lg shadow-lg opacity-95 duration-300
      tooltip dark:bg-green-900 dark:text-green-50 border border-green-700
      dark:border-green-800 font-semibold
    "
  >
    <%= t("components.clipboard.copied") %>
  </div>
</div>
