<span class="flex items-center space-x-1" data-controller="clipboard">
  <span>
    <% if content.present? %>
      <%= content %>
    <% else %>
      <%= value %>
    <% end %>
  </span>
  <button
    type="button"
    title="<%= t("components.clipboard.title") %>"
    data-action="clipboard#copy"
    aria-label="<%= t("components.clipboard.title") %>"
    data-clipboard-target="button"
    class="<%= button_classes %>"
    value="<%= value %>"
  >
    <%= viral_icon(
      name: :clipboard,
      color: :white,
      classes: "size-3 pointer-events-none",
    ) %>
  </button>
  <div
    data-clipboard-target="content"
    role="tooltip"
    class="
      absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white
      transition-opacity bg-green-600 rounded-lg shadow-sm opacity-80 duration-600
      tooltip dark:bg-green-700
    "
  >
    <%= t("components.clipboard.copied") %>
  </div>
</span>
