<div
  class="flex items-center wrap-anywhere"
  data-controller="clipboard"
  data-clipboard-copied-value="<%= t("components.clipboard.copied") %>"
>
  <span id="<%= button_name %>-content"><% if content.present? %><%= content %><% else %><%= value %><% end %></span>

  <button
    type="button"
    id="<%= button_name %>"
    name="<%= button_name %>"
    title="<%= title %>"
    data-action="clipboard#copy"
    aria-label="<%= title %>"
    data-clipboard-target="button"
    class="<%= button_classes %>"
    value="<%= value %>"
  >
    <%= icon :clipboard_text, size: :sm, class: "pointer-events-none" %>
  </button>

  <div
    id="<%= button_name %>-tooltip"
    data-clipboard-target="content"
    role="tooltip"
    class="
      tooltip invisible absolute z-10 inline-block rounded-lg border border-green-700 bg-green-800 px-3 py-2 text-sm
      font-semibold text-white opacity-95 shadow-lg transition-opacity duration-300 dark:border-green-800
      dark:bg-green-900 dark:text-green-50
    "
  >
    <%= t("components.clipboard.copied") %>
  </div>

  <div class="sr-only" aria-live="polite" data-clipboard-target="ariaLive"></div>
</div>
