<%= render Viral::BaseComponent.new(tag: 'div', **system_arguments, data: {
  controller: "clipboard-component",
  "clipboard-component-item-value": value }) do %>
  <div class="relative mr-2 grow">
    <input
      type="password"
      data-clipboard-component-target="input"
      class="
        w-full
        text-sm
        text-gray-900
        border
        border-gray-300
        rounded-md
        bg-gray-50
        focus:ring-primary-500
        focus:border-primary-500
        dark:bg-gray-700
        dark:border-gray-600
        dark:placeholder-gray-400
        dark:text-white
        dark:focus:ring-primary-500
        dark:focus:border-primary-500
      "
      value="<%= value %>"
      readonly
    >
    <button
      type="button"
      class="
        absolute
        inset-y-0
        bottom-0
        right-0
        p-2
        rounded-r-md
        focus:outline-none
      "
      data-action="
        click->clipboard-component#toggleVisibility
      "
    >
      <span data-clipboard-component-target="hide">
        <%= viral_icon(name: "eye", classes: "w-5 h-5 text-gray-500 dark:text-gray-400") %>
      </span>
      <span data-clipboard-component-target="view" class="flex items-center hidden">
        <%= viral_icon(name: "eye_slash", classes: "w-5 h-5") %>
      </span>
    </button>
  </div>
  <button
    type="submit"
    data-action="
        click->clipboard-component#copyToClipboard
      "
    class="btn btn-primary"
  >
    <span data-clipboard-component-target="initial"><%= t("components.clipboard.copy") %></span>
    <span data-clipboard-component-target="copied" class="flex items-center hidden"><%= viral_icon(name: "check", classes: "w-5 h-5") %>
      <%= t("components.clipboard.copied") %></span>
  </button>
<% end %>
