<dialog id="turbo-confirm" aria-labelledby="confirm--title">
  <div
    class="
      dialog--header flex items-start justify-between rounded-t border-b
      border-slate-200 p-5 dark:border-slate-600
    "
  >
    <h3 id="confirm--title" class="dialog--title">
      <%= t(:"components.confirmation.title") %>
    </h3>
  </div>
  <div class="dialog--section">
    <p class="text-base text-slate-900 dark:text-white">
    </p>
    <div class="dialog--content">
    </div>
    <div class="dialog--form">
      <form method="dialog">
        <div class="flex items-center mt-6">
          <button
            class="button button--state-destructive button--size-default mr-2"
            value="confirm"
          ><%= t(:"components.confirmation.confirm") %>
          </button>
          <button
            class="button button--state-default button--size-default"
            formmethod="dialog"
            value="cancel"
          >
            <%= t(:"components.confirmation.cancel") %>
          </button>
        </div>
      </form>
    </div>
    <div class="hidden mt-4 dialog--form--validate" data-controller="confirmation">

      <form method="dialog">
        <input
          type="text"
          aria-label="<%= t(:"components.confirmation.confirm_label") %>"
          data-action="confirmation#inputChange"
          class="
            bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg block
            w-full p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400
            dark:text-white
          "
        />
        <div class="flex items-center mt-6">
          <button
            class="mr-2 button button--state-destructive button--size-default"
            value="confirm"
            disabled="disabled"
            data-confirmation-target="confirmButton"
          ><%= t(:"components.confirmation.confirm") %>
          </button>
          <button
            class="button button--state-default button--size-default"
            formmethod="dialog"
            value="cancel"
          >
            <%= t(:"components.confirmation.cancel") %>
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
