<%= form_with url: url, data: { turbo_frame: id, turbo_stream: true }, method: :get do |f| %>
  <%= f.hidden_field :metadata_template, value: current_value[:id] %>
  <%= f.button type: :submit, class: "button button--state-default button--size-default", data: { 'dropdown-toggle': "dd-#{id}", "dropdown-offset-skidding": 150, "click": ":stop" } do %>
    <%= current_value[:name] %>
    <%= viral_icon(name: "chevron_down", classes: "w-4 h-4 ml-2 flex-none") %>
  <% end %>
<% end %>
<div
  id="dd-<%= id %>"
  class="
    z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44
    dark:bg-gray-700
  "
>
  <ul id="<%= id %>">
  </ul>
</div>
