<a
  id="main-content-link"
  class="
    button button-primary absolute left-3 top-3 z-[9999] -translate-y-[150%]
    transform shadow-lg transition-transform duration-300 ease-in-out
    focus:translate-y-0
  "
  href="#main-content"
  data-turbo="false"
  tabindex="0"
>
  <%= t(:"components.layout.main_content_link") %>
</a>
<div
  class="
    xl:grid xl:grid-rows-1 xl:grid-cols-(--layout-body-columns) max-xl:collapsed
    h-screen w-screen transition-all bg-white dark:bg-slate-800
  "
  data-controller="layout"
  data-layout-target="layoutContainer"
  data-layout-collapsed-announcement-value="<%= t(:'components.layout.sidebar.collapsed_announcement') %>"
  data-layout-expanded-announcement-value="<%= t(:'components.layout.sidebar.expanded_announcement') %>"
  data-turbo-prefetch="false"
>
  <%= sidebar %>
  <div
    class="
      relative content h-screen max-xl:overflow-y-auto xl:overflow-y-hidden
      overflow-x-hidden
    "
    data-layout-target="content"
  >
    <header
      class="
        flex sm:px-4 max-sm:px-2 z-20 h-16 -outline-offset-1 border-b border-slate-200
        dark:border-slate-950 bg-white dark:bg-slate-800 xl:absolute xl:top-0 w-full
        gap-2
      "
    >
      <div
        class="inline-flex items-center max-xl:visible xl:hidden"
        data-layout-target="expandButtonContainer"
      >
        <button
          data-action="click->layout#expand:capture"
          data-layout-target="expandButton"
          class="text-slate-500 navbar-button cursor-pointer"
          title="<%= t(:'general.navbar.expand.label') %>"
          aria-label="<%= t(:'general.navbar.expand.label') %>"
          aria-controls="sidebar"
          aria-expanded="true"
        >
          <%= pathogen_icon :sidebar %>
        </button>
      </div>
      <div class="flex-1 flex items-center h-full min-w-0 max-w-full ">
        <turbo-frame id="breadcrumb" class="contents">
          <%= breadcrumb %>
        </turbo-frame>
      </div>
      <%= language_selection %>
    </header>
    <main
      id="main-content"
      tabindex="-1"
      class="
        @container w-full sm:p-4 max-sm:p-2 xl:overflow-y-auto xl:overflow-x-hidden
        xl:absolute xl:top-16 xl:bottom-0
      "
    >
      <div class="<%= @layout %>"><%= body %></div>
    </main>
    <%= render ConfirmationComponent.new %>
    <div
      id="flashes"
      class="fixed flex flex-col top-5 right-6 z-50"
    >
      <% flash.each do |key, value| %>
        <%= viral_flash(type: key, data: value) %>
      <% end %>
    </div>
    <span
      class="sr-only"
      role="status"
      aria-live="polite"
      aria-atomic="true"
      data-layout-target="announcement"
    ></span>
  </div>
  <div tabindex="0" data-action="focus->layout#handleContentFocus"></div>
</div>
