<a
  id="main-content-link"
  href="#main-content"
  class="
    absolute left-0 top-0 bg-primary-700 text-white py-2 px-4 z-50 transform
    -translate-y-full focus:translate-y-0 hover:underline
  "
  data-turbo="false"
>
  <%= t(:"components.layout.main_content_link") %>
</a>
<div
  class="
    xl:grid-cols-(--layout-body-columns) max-xl:collapsed grid h-screen w-screen
    transition-all xl:grid-rows-1 bg-white dark:bg-slate-800
  "
  data-controller="layout"
  data-layout-target="layoutContainer"
  data-turbo-prefetch="false"
>
  <%= sidebar %>
  <div class="relative content" data-layout-target="content">
    <nav
      class="flex px-4 max-xl:fixed xl:absolute top-0 left-0 right-0 z-20"
      style="height: 50px"
    >
      <div class="flex flex-row shrink-0 justify-end items-center space-x-1">
        <button
          data-layout-target="expandButton"
          data-action="click->layout#expand"
          class="
            max-xl:visible xl:hidden text-slate-500 navbar-button cursor-pointer
          "
        >
          <%= viral_icon(name: "sidebar", classes: "w-6 h-6") %>
        </button>
      </div>
      <turbo-frame id="breadcrumb">
        <%= breadcrumb %>
      </turbo-frame>
    </nav>
    <main
      id="main-content"
      class="
        @container max-xl:fixed xl:absolute bottom-0 left-0 right-0 p-4 overflow-y-auto
        top-12 border-t border-slate-200 dark:border-slate-950
      "
    >
      <div class="<%= @layout %>"><%= body %></div>
    </main>
    <%= render ConfirmationComponent.new %>
  </div>
</div>
<div id="flashes" class="fixed flex flex-col top-5 right-6 z-50">
  <% flash.each do |key, value| %>
    <%= viral_flash(type: key, data: value) %>
  <% end %>
</div>
