<div class="body-wrapper">
  <%= render Layout::NavbarComponent.new(user: user) %>
  <div
    class="body"
    data-controller="layout--layout-component"
    data-layout--layout-component-target="layoutContainer"
  >
    <%= sidebar %>
    <div class="content">
      <%= body %>
      <%= turbo_frame_tag "modal" %>
    </div>
  </div>
</div>
<div class="fixed top-5 right-6 flex flex-col ">
  <% flash.each do |key, value| %>
    <%= viral_flash(type: key, data: value) %>
  <% end %>
</div>
