<div
  class="layout-body"
  data-controller="layout--layout-component"
  data-layout--layout-component-target="layoutContainer"
>
  <%= sidebar %>
  <div class="content">
    <nav
      class="flex px-5 bg-white border-b border-slate-200 dark:bg-slate-800"
      style="height: 50px"
    >
      <button
        data-layout--layout-component-target="expandButton"
        data-action="click->layout--layout-component#expand"
        class="hidden"
      >
        <%= viral_icon(name: "sidebar", classes: "w-6 h-6") %>
      </button>
      <%= breadcrumb %>
    </nav>
    <main class="m-4"><%= body %></main>
    <%= render ConfirmationComponent.new %>
  </div>
</div>
<div class="fixed flex flex-col top-5 right-6">
  <% flash.each do |key, value| %>
    <%= viral_flash(type: key, data: value) %>
  <% end %>
</div>
