<div
  data-controller="list-filter"
  data-list-filter-selection-outlet="#samples-table"
>
  <%= viral_dialog(closable: false) do |dialog| %>
    <%= dialog.with_trigger do %>
      <%= viral_button(data: { action: "click->viral--dialog#open" }, aria: { label: t(:'components.list_filter.title') }, title: t(:'components.list_filter.title'), classes: "relative") do %>
        <%= viral_icon(name: "document_magnifying_glass", classes: "w-5 h-5 inline-block") %>
        <div
          data-list-filter-target="count"
          class="
            hidden
            absolute
            items-center
            justify-center
            w-6
            h-6
            text-xs
            font-bold
            text-white
            bg-red-500
            border-2
            border-white
            rounded-full
            -top-2
            -end-2
            dark:border-slate-900
          "
        >8</div>
      <% end %>
    <% end %>
    <%= dialog.with_header(title: t(:"components.list_filter.title")) %>
    <%= dialog.with_section do %>

      <template data-list-filter-target="template">
        <%= viral_pill(color: :blue, classes: "search-tag inline-flex items-center filter-item mb-1 mr-1 py-1.5") do %>
          <%= form.search_field :name_or_puid_in, multiple: true, class: "hidden" %>
          <span class="label font-mono text-base font-semibold mr-1"></span>
          <button
            type="button"
            class="
              inline-flex
              items-center
              p-1
              text-sm
              text-slate-400
              bg-transparent
              rounded-full
              hover:bg-blue-200
              hover:text-blue-900
              dark:hover:bg-blue-600
              dark:hover:text-blue-300
            "
            data-action="click->list-filter#remove"
            aria-label="<%= t(:'components.list_filter.remove_tag') %>"
          >
            <%= viral_icon(name: "x_mark", classes: "w-4 h-4") %>
          </button>
        <% end %>
      </template>
      <div class="space-y-4">

        <label
          for="text-filter"
          class="text-base leading-relaxed text-slate-500 dark:text-slate-400"
        >
          <%= raw t(:"components.list_filter.description") %>
        </label>

        <div
          class="
            relative
            flex
            flex-wrap
            font-mono
            bg-slate-50
            border
            border-slate-300
            text-slate-900
            text-sm
            rounded-lg
            focus-within:ring-primary-500
            focus-within:border-primary-500
            w-full
            p-2.5
            dark:bg-slate-700
            dark:border-slate-600
            dark:placeholder-slate-400
            dark:text-white
            dark:focus-within:ring-primary-500
            dark:focus-within:border-primary-500k
          "
          data-list-filter-target="tags"
          data-action="click->list-filter#focus"
        >
          <input
            type="text"
            name="filter-text"
            class="
              focus:outline-none
              focus:ring-0
              border-none
              bg-transparent
              grow
            "
            autofocus
            aria-label="<%= t(:'components.list_filter.description') %>"
            data-action='
              keydown->list-filter#handleInput
              paste->list-filter#handlePaste
            '
            data-list-filter-target="input"
          />
          <button
            type="button"
            class="
              absolute
              inline-flex
              items-center
              justify-center
              w-6
              h-6
              text-xs
              font-bold
              text-slate-600
              bg-slate-100
              border-3
              border-slate-10
              rounded-full
              bottom-2
              end-2
              dark:text-slate-300
              dark:border-slate-900
              dark:bg-slate-600
              dark:hover:bg-slate-500
              hover:bg-slate-300
            "
            data-action="click->list-filter#clear"
            aria-label="<%= t(:'components.list_filter.clear') %>"
            title="<%= t(:'components.list_filter.clear') %>"
          >
            <%= viral_icon(name: "x_mark", classes: "h-4 w-4") %>
          </button>
        </div>

      </div>

    <% end %>
    <%= dialog.with_primary_action(
      "data-action": "list-filter#afterSubmit filters#submit viral--dialog#close"
    ) { t(:"components.list_filter.apply") } %>
  <% end %>
</div>
