<div
  data-controller="list-filter"
  data-list-filter-selection-outlet="#samples-table"
  data-list-filter-filters-value="<%= filters.present? ? filters.to_s : '[]' %>"
>
  <%= viral_dialog(id: 'list-filter-dialog') do |dialog| %>
    <% dialog.with_trigger do %>
      <button
        type="button"
        class="
          relative text-slate-900 bg-white border border-slate-300 focus:outline-none
          hover:bg-slate-100 focus:ring-4 focus:ring-slate-200 font-medium rounded-lg
          text-sm px-5 py-2.5 dark:bg-slate-800 dark:text-white dark:border-slate-600
          dark:hover:bg-slate-700 dark:hover:border-slate-600 dark:focus:ring-slate-700
        "
        data-action="list-filter#idempotentConnect viral--dialog#open"
        aria-label="<%= t(:'components.list_filter.title') %>"
        title="<%= t(:'components.list_filter.title') %>"
      >
        <span
          data-list-filter-target="count"
          class="
            absolute items-center justify-center hidden h-6 px-2 text-xs font-bold
            text-white bg-red-800 border-2 border-white rounded-full -top-2 -end-2
            dark:border-slate-900
          "
        >8</span>
        <%= viral_icon(name: "document_magnifying_glass", classes: "size-5") %>
      </button>
    <% end %>
    <% dialog.with_header(title: t(:"components.list_filter.title")) %>
    <%= render ListInputComponent.new(list_input_form_name: "q[name_or_puid_in][]") %>
    <% dialog.with_primary_action(
      "data-action": "list-filter#afterSubmit filters#submit viral--dialog#close",
    ) { t(:"components.list_filter.apply") } %>
  <% end %>
</div>
