<div
  data-controller="list-filter"
  data-list-filter-selection-outlet="#samples-table"
  data-list-filter-filters-value="<%= filters.present? ? filters.to_s : '[]' %>"
>
  <%= viral_dialog(id: 'list-filter-dialog') do |dialog| %>
    <% dialog.with_trigger do %>
      <button
        type="button"
        class="
          relative rounded-lg border border-slate-300 bg-white px-5 py-2.5 text-sm font-medium text-slate-900
          hover:bg-slate-100 dark:border-slate-600 dark:bg-slate-800 dark:text-white dark:hover:border-slate-600
          dark:hover:bg-slate-700
        "
        data-action="list-filter#idempotentConnect viral--dialog#open"
        aria-label="<%= t(:'components.list_filter.title') %>"
        title="<%= t(:'components.list_filter.title') %>"
      >
        <span
          data-list-filter-target="count"
          class="
            absolute -inset-e-2 -top-2 hidden h-6 items-center justify-center rounded-full border-2 border-white
            bg-red-800 px-2 text-xs font-bold text-white dark:border-slate-900
          "
        >
          8
        </span>

        <%= pathogen_icon(:file_magnifying_glass, size: :sm) %>
      </button>
    <% end %>

    <% dialog.with_header(title: t(:"components.list_filter.title")) %>
    <%= render ListInputComponent.new(list_input_form_name: "q[name_or_puid_in][]") %>

    <% dialog.with_primary_action(
      "data-action": "list-filter#afterSubmit filters#submit viral--dialog#close",
    ) { t(:"components.list_filter.apply") } %>
  <% end %>
</div>
