<template data-list-filter-target="template">
  <%= viral_pill(color: :blue, classes: "search-tag inline-flex items-center filter-item mb-1 mr-1 py-1.5", style: "content-visibility: auto;") do %>
    <input type="hidden" data-turbo-temporary name="<%= list_input_form_name %>">
    <span class="label mr-1 font-mono text-sm font-semibold"></span>

    <button
      type="button"
      class="
        inline-flex items-center rounded-full bg-transparent p-1 text-sm text-slate-400 hover:bg-blue-200
        hover:text-blue-900 dark:hover:bg-blue-600 dark:hover:text-blue-300
      "
      data-action="click->list-filter#remove"
      aria-label="<%= t('common.actions.remove') %>"
    >
      <%= icon(:x, size: :sm) %>
    </button>
  <% end %>
</template>

<div class="space-y-4">
  <% if @show_description %>
    <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400">
      <%= raw t(:"components.list_input.description") %>
    </p>
  <% end %>

  <div
    class="
      flex max-h-60 w-full flex-wrap overflow-y-auto rounded-lg border border-slate-300 bg-transparent p-2.5
      font-mono text-sm text-slate-900 dark:border-slate-600 dark:text-white dark:placeholder-slate-400
    "
    data-list-filter-target="tags"
    data-action="click->list-filter#focus"
  >
    <%= render Viral::BaseComponent.new(**input_arguments) %>

    <div class="sticky bottom-0 flex h-0 w-full justify-end">
      <button
        type="button"
        class="
          bottom-2 z-25 inline-flex h-6 w-6 -translate-y-7.5 items-center justify-center rounded-full border-1
          border-slate-300 bg-slate-100 p-1.5 text-slate-600 hover:bg-slate-300 dark:border-slate-600
          dark:bg-slate-600 dark:text-slate-300 dark:hover:bg-slate-500
        "
        data-action="click->list-filter#clear"
        aria-label="<%= t(:'components.list_input.clear') %>"
        title="<%= t(:'components.list_input.clear') %>"
      >
        <%= icon(:x, size: :sm) %>
      </button>
    </div>
  </div>
</div>
