<div
  class="
    flex-1 p-4 rounded-lg shadow-sm <%= tailwind_colors[:bg] %>
    <%= tailwind_colors[:dark_bg] %> <%= tailwind_colors[:dark_border] %>
  "
>
  <%# Small screen layout (< md): Icon + Count on same line, Tooltip on Icon %>
  <div class="block md:hidden">
    <div class="flex items-center justify-start gap-2">
      <%= viral_tooltip(title: label) do %>
        <span
          id="<%= icon_id_sm %>"
          class="
            inline-flex items-center justify-center p-2 rounded-full
            <%= tailwind_colors[:icon_bg] %> <%= tailwind_colors[:dark_icon_bg] %>
          "
        >
          <%= helpers.render_icon(
            ICONS[icon_name.to_sym],
            class:
              "h-4 w-4 #{tailwind_colors[:icon_text]} #{tailwind_colors[:dark_icon_text]}",
          ) %>
        </span>
      <% end %>
      <div
        class="text-xl text-slate-900 dark:text-slate-100 font-mono"
        aria-labelledby="<%= icon_id_sm %>"
      >
        <%= count %>
      </div>
    </div>
  </div>

  <%# Large screen layout (>= md): Icon + Label + Count %>
  <div class="hidden md:block">
    <div class="flex items-center mb-1">
      <span
        id="<%= icon_id_lg %>"
        class="
          inline-flex items-center justify-center p-2 rounded-full
          <%= tailwind_colors[:icon_bg] %> <%= tailwind_colors[:dark_icon_bg] %>
          mr-2
        "
      >
        <%= helpers.render_icon(
          ICONS[icon_name.to_sym],
          class:
            "h-5 w-5 #{tailwind_colors[:icon_text]} #{tailwind_colors[:dark_icon_text]}",
        ) %>
      </span>
      <span
        id="<%= label_id_lg %>"
        class="text-sm font-semibold text-slate-600 dark:text-slate-300"
      >
        <%= label %>
      </span>
    </div>
    <div
      class="text-2xl text-slate-900 dark:text-slate-100 pl-11 font-mono"
      aria-labelledby="<%= icon_id_lg %> <%= label_id_lg %>"
    >
      <%= count %>
    </div>
  </div>
</div>
