<div>
  <h1
    class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-slate-900  md:text-5xl lg:text-4xl dark:text-white"
  ><%= schema["title"] %></h1>
  <p class="mb-4 text-lg font-normal text-slate-500 lg:text-xl dark:text-slate-400">
    <%= schema["description"] %>
  </p>
  <form method="post" action="<%= url %>">
    <input type="hidden" name="format" value="turbo_stream" />
    <% schema["definitions"].each do |item, definition| %>
      <%- if show_section?(definition["properties"]) %>
        <h2 class="text-2xl font-extrabold dark:text-white">
          <%= definition["title"] %>
        </h2>
        <p class="mb-2 text-lg font-normal text-slate-500 lg:text-xl dark:text-slate-400">
          <%= definition["description"] %>
        </p>
        <div class="grid grid-cols-1 gap-4 mb-8">
          <%= fields_for "workflow_execution[workflow_params]" do |fields| %>
            <% definition["properties"].each do |name, property| %>
              <% if name == "outdir" || name == "email" %>
                <!--  Don't do anything, skip these fields -->
              <% elsif item == "input_output_options" && property["format"] == "file-path" %>
                <%= render Nextflow::SamplesheetComponent.new(
                  schema: samplesheet_schema(property["schema"]),
                  samples: @samples,
                ) %>
              <% else %>
                <div>
                  <label for="countries" class="block mb-2 text-sm font-medium text-slate-900 dark:text-white"><%= property["description"] %></label>
                <%= form_input(
                      fields,
                      name,
                      property,
                      definition["required"].present? && definition["required"].include?(name)
                    ) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <button type="submit" class="button button--state-primary button--size-default">
      <%= t(:'workflow_executions.submissions.show.submit') %>
    </button>
  </form>
</div>
