<div data-controller="nextflow--samplesheet">
  <h1
    class="
      mb-4
      text-2xl
      font-extrabold
      leading-none
      tracking-tight
      text-slate-900
      md:text-5xl
      lg:text-4xl
      dark:text-white
    "
  ><%= @workflow.name %></h1>
  <p
    class="
      mb-4
      text-lg
      font-normal
      text-slate-500
      lg:text-xl
      dark:text-slate-400
    "
  >
    <%= @workflow.description %>
  </p>
  <%= form_with url: url, data: { turbo_frame: "_top" } do |form| %>
    <input id="submission_turbo" type="hidden" name="format" value="turbo_stream"/>

    <%= fields_for :workflow_execution do |workflow| %>
      <%= workflow.hidden_field :workflow_type, value: @workflow.type %>
      <%= workflow.hidden_field :workflow_type_version, value: @workflow.type_version %>
      <%= workflow.hidden_field :workflow_engine, value: @workflow.engine %>
      <%= workflow.hidden_field :workflow_engine_version, value: @workflow.engine_version %>
      <%= workflow.hidden_field :workflow_url, value: @workflow.url %>

      <%= workflow.fields_for "workflow_engine_parameters" do |engine| %>
        <%= engine.hidden_field "-r", value: @workflow.version %>
      <% end %>

      <%= workflow.fields_for "metadata" do |metadata| %>
        <%= metadata.hidden_field :workflow_name, value: @workflow.name %>
        <%= metadata.hidden_field :workflow_version, value: @workflow.version %>
      <% end %>

      <%= workflow.fields_for "workflow_params" do |fields| %>
        <% @workflow.workflow_params.each do |item, definition| %>
          <h2 class="text-lg font-extrabold dark:text-white">
            <%= definition[:title] %>
          </h2>
          <p class="mb-2 font-normal text-slate-500 dark:text-slate-400">
            <%= definition[:description] %>
          </p>
          <div class="grid grid-cols-1 gap-4 mb-8">
            <% definition[:properties].each do |name, property| %>
              <% if item == :input_output_options && property[:format] == "file-path" %>
                <%= render Nextflow::SamplesheetComponent.new(
                  schema: property[:schema],
                  samples:,
                  namespace_id:,
                  fields: metadata_fields
                ) %>
              <% else %>
                <div>
                  <%= fields.label name, :class => "block mb-2 text-sm font-medium text-slate-900 dark:text-white" do %>
                    <%= property[:description] %>
                    <% if property[:required] %>
                      <%= viral_pill(text: t(:"components.nextflow.required"), color: :blue) %>
                    <% end %>
                  <% end %>
                  <%= form_input(fields, name, property, property[:required]) %>
                  <% if property[:help_text].present? %>
                    <%= viral_help_text do %>
                      <%= property[:help_text] %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%- if @allowed_to_update_samples %>
        <div class="flex mb-4 items-center h-5">
          <%= workflow.check_box :update_samples,
                             {
                               checked: false,
                               class:
                                 "w-4
                                  h-4
                                  mr-2.5
                                  text-primary-600
                                  bg-slate-100
                                  border-slate-300
                                  rounded
                                  focus:ring-primary-500
                                  dark:focus:ring-primary-600
                                  dark:ring-offset-slate-800
                                  focus:ring-2
                                  dark:bg-slate-700
                                  dark:border-slate-600"
                             },
                             true,
                             false %>
          <%= workflow.label :update_samples,
                         t(:"components.nextflow.update_samples"),
                         class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
        </div>
      <%- end %>
      <div class="flex mb-4 items-center h-5">
        <%= workflow.check_box :email_notification,
                           {
                             checked: false,
                             class:
                               "w-4
                                h-4
                                mr-2.5
                                text-primary-600
                                bg-slate-100
                                border-slate-300
                                rounded
                                focus:ring-primary-500
                                dark:focus:ring-primary-600
                                dark:ring-offset-slate-800
                                focus:ring-2
                                dark:bg-slate-700
                                dark:border-slate-600"
                           },
                           true,
                           false %>
        <%= workflow.label :email_notification,
                       t(:"components.nextflow.email_notification"),
                       class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
      </div>
    <% end %>

    <button type="submit" class="button button--state-primary button--size-default">
      <%= t(:"workflow_executions.submissions.create.submit") %>
    </button>
  <% end %>
</div>
