<div
  data-controller="nextflow--samplesheet"
  data-nextflow--samplesheet-attachments-error-value="<%= t(".attachments_error") %>"
  data-nextflow--samplesheet-submission-error-value="<%= t(".submission_error") %>"
  data-nextflow--samplesheet-url-value="<%= url %>"
  data-nextflow--samplesheet-workflow-value="<%= {name: @workflow.name, version: @workflow.version }.to_json%>"
  data-nextflow--samplesheet-no-selected-file-value="<%= t("nextflow.samplesheet.file_cell_component.no_selected_file")%>"
  data-action="
    nextflow--autofilled-cell:sendAutofilledInputData->nextflow--samplesheet#updateAutofilledSamplesheetData
  "
>
  <h1
    class="
      mb-4 text-2xl font-extrabold leading-none tracking-tight text-slate-900
      md:text-5xl lg:text-4xl dark:text-white
    "
  ><%= @workflow.name %></h1>
  <p
    class="
      mb-4 text-lg font-normal text-slate-500 lg:text-xl dark:text-slate-400
    "
  >
    <%= text_for(@workflow.description) %>
  </p>
  <%= form_with url: url, method: (instance.nil? ? :post : :patch),
                data: { turbo_frame: "_top", "nextflow--samplesheet-target": "form" } do |form| %>
    <input id="submission_turbo" type="hidden" name="format" value="turbo_stream"/>

    <%= fields_for :workflow_execution do |workflow| %>
      <section class="mb-4">
        <%= workflow.label :name, class: "block text-sm font-medium text-slate-900 dark:text-white" do %>
          <%= t(".name.label") %>
        <% end %>
        <p
          id="helper-text-explanation"
          class="mt-1 mb-2 text-sm text-slate-500 dark:text-slate-400"
        ><%= t(".name.helper") %></p>
        <%= workflow.text_field :name,
                            value: instance.present? ? instance.name : nil,
                            class:
                              "bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </section>

      <%= workflow.hidden_field :namespace_id, value: @namespace_id %>

      <%= workflow.fields_for "metadata" do |metadata| %>
        <%= metadata.hidden_field :workflow_name, value: @workflow.name %>
        <%= metadata.hidden_field :workflow_version, value: @workflow.version %>
      <% end %>

      <%= workflow.fields_for "workflow_params" do |fields| %>
        <% @workflow.workflow_params.each do |item, definition| %>
          <h2 class="text-lg font-extrabold dark:text-white">
            <%= text_for(definition[:title]) %>
          </h2>
          <p class="mb-2 font-normal text-slate-500 dark:text-slate-400">
            <%= text_for(definition[:description]) %>
          </p>
          <div class="grid grid-cols-1 gap-4 mb-8">
            <% definition[:properties].each do |name, property| %>
              <% if item == :input_output_options && property[:format] == "file-path" %>
                <% unless @samples.empty? %>
                  <%= render Nextflow::SamplesheetComponent.new(
                    schema: property[:schema],
                    samples:,
                    namespace_id:,
                    fields: metadata_fields,
                    workflow_params: {
                      name: @workflow.name,
                      version: @workflow.version,
                    },
                  ) %>
                <% end %>
              <% else %>
                <div>
                  <%= fields.label name, :class => "block mb-2 text-sm font-medium text-slate-900 dark:text-white" do %>
                    <%= text_for(property[:description]) %>
                    <% if property[:required] %>
                      <%= viral_pill(text: t(:"components.nextflow.required"), color: :primary) %>
                    <% end %>
                  <% end %>
                  <%= form_input(fields, name, property, property[:required], instance) %>
                  <% if property[:help_text].present? %>
                    <%= viral_help_text do %>
                      <%= text_for(property[:help_text]) %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%- if @allowed_to_update_samples %>
        <div class="flex items-center h-5 mb-4">
          <%= workflow.check_box :update_samples,
                             {
                               checked: instance.present? && instance["update_samples"],
                               class:
                                 "w-4 h-4 mr-2.5 text-primary-600 bg-slate-100 border-slate-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600",
                             } %>
          <%= workflow.label :update_samples,
                         t(:"components.nextflow.update_samples"),
                         class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
        </div>
      <%- end %>
      <div class="flex items-center h-5 mb-4">
        <%= workflow.check_box :email_notification,
                           {
                             checked:
                               instance.present? && instance["email_notification"],
                             class:
                               "w-4 h-4 mr-2.5 text-primary-600 bg-slate-100 border-slate-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600",
                           } %>
        <%= workflow.label :email_notification,
                       t(:"components.nextflow.email_notification"),
                       class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
      </div>
    <% end %>

    <button
      class="button button--state-primary button--size-default"
      data-nextflow--samplesheet-target="submit"
      <% if @samples.empty? %>
      type="submit"
      <% else %>
      data-action="click->nextflow--samplesheet#submitSamplesheet"
      <% end %>
    >
      <% if instance.nil? %>
        <%= t(:"workflow_executions.submissions.create.submit") %>
      <% else %>
        <%= t(:"workflow_executions.submissions.create.update") %>
      <% end %>
    </button>
  <% end %>
</div>
