<div
  data-controller="nextflow--samplesheet"
  data-nextflow--samplesheet-data-missing-error-value="<%= t("components.nextflow_component.data_missing_error") %>"
  data-nextflow--samplesheet-submission-error-value="<%= t("components.nextflow_component.submission_error") %>"
  data-nextflow--samplesheet-url-value="<%= url %>"
  data-nextflow--samplesheet-workflow-value="<%= {name: @workflow.name, version: @workflow.version }.to_json%>"
  data-nextflow--samplesheet-no-selected-file-value="<%= t("components.nextflow.samplesheet.file_cell_component.no_selected_file")%>"
  data-nextflow--samplesheet-processing-request-value="<%= t("components.nextflow_component.processing_request")%>"
  data-nextflow--samplesheet-filtering-samples-value="<%= t("components.nextflow_component.filtering_samples")%>"
  data-nextflow--samplesheet-form-error-value="<%= t("general.form.error_notification") %>"
  data-nextflow--samplesheet-automated-workflow-value="<%= @samples.empty? %>"
  data-nextflow--samplesheet-name-missing-value="<%= t("components.nextflow_component.name.error") %>"
  data-action="
    nextflow--file:sendFileData->nextflow--samplesheet#updateFileData
    nextflow--metadata:sendMetadata->nextflow--samplesheet#updateMetadata
  "
>
  <h1
    class="
      mb-4 text-2xl font-extrabold leading-none tracking-tight text-slate-900
      md:text-5xl lg:text-4xl dark:text-white
    "
  ><%= @workflow.name %></h1>
  <p
    class="
      mb-4 text-lg font-normal text-slate-500 lg:text-xl dark:text-slate-400
    "
  >
    <%= text_for(@workflow.description) %>
  </p>
  <%= helpers.turbo_frame_tag "workflow_execution_errors" %>

  <div
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-nextflow--samplesheet-target="formFieldError"
    class="
      hidden alert-component bg-red-50 border-red-300 dark:bg-red-900/20
      dark:border-red-800/50 dark:text-red-400 text-red-800 mb-2
    "
  >
    <div class="flex items-start w-full">
      <div class="flex-shrink-0 mr-3">
        <%= pathogen_icon :x_circle, color: :danger %>
      </div>
      <div class="flex-1 min-w-0 mt-0.5">
        <div
          class="text-sm font-medium leading-5"
          data-nextflow--samplesheet-target="formFieldErrorMessage"
        >
        </div>
      </div>
    </div>
  </div>

  <%= form_with url: url, method: (instance.nil? ? :post : :patch),
                data: { turbo_frame: "_top", "nextflow--samplesheet-target": "form" } do |form| %>
    <input id="submission_turbo" type="hidden" name="format" value="turbo_stream"/>

    <%= fields_for :workflow_execution do |workflow| %>
      <section class="mb-4">
        <div id="workflow_execution_name_field" class="form-field">
          <% label = label_attributes(!@samples.empty?) %>

          <%= workflow.label :name,
                         label[:name],
                         data: label[:data],
                         class: "block text-sm font-medium text-slate-900 dark:text-white" %>

          <%= workflow.text_field :name,
                              value: instance.present? ? instance.name : nil,
                              aria: {
                                required: !@samples.empty?,
                              },
                              class:
                                "bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg block w-full p-2.5  dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white" %>
          <div id="workflow_execution_name_error" class="mt-2 text-sm">
            <%= viral_help_text(state: :error, classes: "hidden") %>
          </div>
          <p
            id="<%= form.field_id("workflow_execution_name", "hint") %>"
            class="field-hint"
          >
            <%== t("components.nextflow_component.name.helper") %>
          </p>
        </div>
      </section>

      <%= workflow.hidden_field :namespace_id, value: @namespace_id %>

      <%= workflow.fields_for "metadata" do |metadata| %>
        <%= metadata.hidden_field :pipeline_id, value: @workflow.pipeline_id %>
        <%= metadata.hidden_field :workflow_name, value: @workflow.name %>
        <%= metadata.hidden_field :workflow_version, value: @workflow.version %>
      <% end %>

      <%= workflow.fields_for "workflow_params" do |fields| %>
        <% @workflow.workflow_params.each do |item, definition| %>
          <h2 class="text-lg font-extrabold dark:text-white">
            <%= text_for(definition[:title]) %>
          </h2>
          <p class="mb-2 font-normal text-slate-500 dark:text-slate-400">
            <%= text_for(definition[:description]) %>
          </p>
          <div class="grid grid-cols-1 gap-4 mb-8">
            <% definition[:properties].each do |name, property| %>
              <% if item == :input_output_options && property[:format] == "file-path" %>
                <% unless @samples.empty? %>
                  <%= render Nextflow::SamplesheetComponent.new(
                    schema: property[:schema],
                    samples:,
                    namespace_id:,
                    fields: metadata_fields,
                    workflow_params: {
                      name: @workflow.name,
                      version: @workflow.version,
                    },
                  ) %>
                <% end %>
              <% else %>
                <div>
                  <% if property[:type] != 'boolean' %>FLKJLKDSJFLKDSJLKF
                    <%= fields.label name, :class => "block mb-2 text-sm font-medium text-slate-900 dark:text-white" do %>
                      <%= text_for(property[:description]) %>
                      <% if property[:required] %>
                        <%= viral_pill(text: t(:"components.nextflow.required"), color: :primary) %>
                      <% end %>
                    <% end %>
                    <%= form_input(fields, name, property, property[:required], instance) %>
                  <% else %>
                    <% value =
                      (
                        if instance.present?
                          instance["workflow_params"][name.to_s]
                        else
                          property[:default]
                        end
                      ) %>
                    <%= viral_prefixed_boolean(form: fields, name:, value: ActiveModel::Type::Boolean.new.cast(value)) do |input| %>
                      <%= input.with_prefix do %>
                        <%= format_name_as_arg(name) %>
                      <% end %>
                      <%= input.with_legend(classes: 'block mb-2 text-sm font-medium text-slate-900 dark:text-white') do %>
                        <%= text_for(property[:description]) %>
                        <% if property[:required] %>
                          <%= viral_pill(text: t(:"components.nextflow.required"), color: :primary) %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if property[:help_text].present? %>
                    <%= viral_help_text do %>
                      <%= text_for(property[:help_text]) %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if @allowed_to_update_samples %>
        <div class="flex items-center h-5 mb-4">
          <%= workflow.check_box :update_samples,
                             { checked: instance.present? && instance["update_samples"] } %>
          <%= workflow.label :update_samples,
                         t(:"components.nextflow.update_samples"),
                         class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
        </div>
      <% end %>
      <div class="flex items-center h-5 mb-4">
        <%= workflow.check_box :email_notification,
                           {
                             checked:
                               instance.present? && instance["email_notification"],
                           } %>
        <%= workflow.label :email_notification,
                       t(:"components.nextflow.email_notification"),
                       class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
      </div>
      <%# do not render checkbox for an automated workflow execution %>
      <% if Flipper.enabled?(:workflow_execution_sharing) && @namespace_type && !@samples.empty? %>
        <div class="flex items-center h-5 mb-4">
          <%= workflow.check_box :shared_with_namespace,
                             {
                               checked:
                                 instance.present? && instance["shared_with_namespace"],
                             } %>
          <%= workflow.label :shared_with_namespace,
                         t(
                           :"components.nextflow.shared_with.#{@namespace_type.downcase}",
                         ),
                         class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
        </div>
      <% end %>
    <% end %>

    <button
      class="button button-primary"
      data-nextflow--samplesheet-target="submit"
      <% if @samples.empty? %>
      type="submit"
      <% else %>
      type="button"
      disabled="disabled"
      data-action="click->nextflow--samplesheet#submitSamplesheet"
      <% end %>
    >
      <% if instance.nil? %>
        <%= t(:"workflow_executions.submissions.create.submit") %>
      <% else %>
        <%= t("common.actions.update") %>
      <% end %>
    </button>
  <% end %>
  <% unless @samples.empty? %>
    <div
      class="flex items-center p-4 space-x-4"
      data-nextflow--samplesheet-target="spinner"
    >
      <%= render SpinnerComponent.new(
        message: t("components.nextflow_component.processing_samplesheet"),
        id: "nextflow-spinner",
      ) %>
    </div>
  <% end %>
</div>
