<nav
  class="mt-4 flex items-center justify-center space-x-2"
  role="navigation"
  aria-label="<%= t("viral.pagy.pagination_component.aria_label") %>"
  aria-describedby="pagination-info"
  aria-live="polite"
>
  <% if prev_url %>
    <%= link_to prev_url,
          **link_arguments,
          class: [
            "btn btn-default btn-rounded"
          ],
          "aria-label": t("viral.pagy.pagination_component.previous_aria_label") do %>
      <%= helpers.render_icon ICONS[:caret_left],
                          class: "mr-2 size-4",
                          "aria-hidden": "true" %>
      <%= t("viral.pagy.pagination_component.previous") %>
    <% end %>
  <% end %>

  <% if next_url %>
    <%= link_to next_url,
          **link_arguments,
          class: [
            "btn btn-default btn-rounded"
          ],
          "aria-label": t("viral.pagy.pagination_component.next_aria_label") do %>
      <%= t("viral.pagy.pagination_component.next") %>
      <%= helpers.render_icon ICONS[:caret_right],
                          class: "ml-2 size-4",
                          "aria-hidden": "true" %>
    <% end %>
  <% end %>
</nav>

<div
  id="pagination-info"
  class="m-4 text-center text-slate-700 dark:text-slate-200"
  aria-live="polite"
>
  <%== info %>
</div>
