<nav
  class="flex items-center justify-center space-x-2 mt-4"
  role="navigation"
  aria-label="<%= t("viral.pagy.pagination_component.aria_label") %>"
  aria-describedby="pagination-info"
  aria-live="polite"
>
  <% if prev_url %>
    <%= link_to prev_url,
    **link_arguments,
    class:
      "flex items-center justify-center text-slate-700 bg-slate-200 border border-slate-300 font-medium rounded text-sm px-4 h-10 hover:bg-slate-300 hover:text-slate-900 dark:bg-slate-700 dark:text-slate-200 dark:border-slate-600 dark:hover:bg-slate-600 dark:hover:text-white",
    "aria-label": t("viral.pagy.pagination_component.previous_aria_label") do %>
      <%= viral_icon name: "chevron_left", classes: "h-5 w-5 mr-2", "aria-hidden": "true" %>
      <span><%= t("viral.pagy.pagination_component.previous") %></span>
    <% end %>
  <% end %>
  <% if next_url %>
    <%= link_to next_url,
    **link_arguments,
    class:
      "flex items-center justify-center text-slate-700 bg-slate-200 border border-slate-300 font-medium rounded text-sm px-4 h-10 hover:bg-slate-300 hover:text-slate-900 dark:bg-slate-700 dark:text-slate-200 dark:border-slate-600 dark:hover:bg-slate-600 dark:hover:text-white",
    "aria-label": t("viral.pagy.pagination_component.next_aria_label") do %>
      <span><%= t("viral.pagy.pagination_component.next") %></span>
      <%= viral_icon name: "chevron_right", classes: "h-5 w-5 ml-2", "aria-hidden": "true" %>
    <% end %>
  <% end %>
</nav>
<div
  id="pagination-info"
  class="text-center m-4 text-slate-700 dark:text-slate-200"
><%== info %></div>
