<div>
  <h2 class="text-4xl font-extrabold dark:text-white"><%= @title %></h2>
  <p class="my-4 text-lg text-gray-500"><%= @description %></p>
  <form data-controller="form_validation">
    <% @definitions.each do |key, value| %>
      <h3 class="text-lg font-bold dark:text-white"><%= value['title'] %></h3>
      <p class="mb-3 text-gray-500 dark:text-gray-400"><%= value['description'] %></p>

      <div class="grid gap-6 mb-6">
      <% value["properties"].each do |property, fields| %>
          <%= render Viral::Form::TextInputComponent.new(
            label: fields['description'],
            type: fields['type'],
            help: fields['help_text'],
            pattern: fields['pattern'],
          ) %>
      <% end %>
      </div>
    <% end %>
  </form>
</div>
