<div class="p-4 pl-0 grid grid-cols-9 gap-4">
  <div class="col-span-4">
    <div
      class="
        rounded-lg border border-gray-200 p-4 dark:border-gray-700 dark:bg-gray-800
      "
    >
      <p class="mb-4 text-xl font-semibold text-gray-900 dark:text-white"><%= t(:"components.project_dashboard.activity_title") %></p>
      <%= render ProjectDashboard::ActivityComponent.new(activities: @activities) %>

      <%= link_to t(:"components.project_dashboard.view_more"),
      namespace_project_activity_path(@project.namespace.parent, @project),
      class: "button button--state-default button--size-default" %>
    </div></div>
  <div class="col-span-4">
    <div
      class="
        rounded-lg border border-gray-200 p-4 dark:border-gray-700 dark:bg-gray-800
      "
    >
      <p class="mb-4 text-xl font-semibold text-gray-900 dark:text-white"><%= t(:"components.project_dashboard.samples_title") %></p>
      <%= render ProjectDashboard::SamplesComponent.new(
        samples: @samples,
        project: @project,
      ) %>
      <%= link_to t(:"components.project_dashboard.view_more"),
      namespace_project_samples_path(@project.namespace.parent, @project),
      class: "button button--state-default button--size-default" %>
    </div>
  </div>
  <div class="col-span-1">
    <div>
      <p class="font-semibold"><%= t(:"components.project_dashboard.info_title") %></p>
      <%= render ProjectDashboard::InformationComponent.new(project: @project) %>
    </div>
  </div>
</div>
