<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[minmax(0,1fr)_minmax(0,1fr)_250px] gap-4">
  <%# Information Section - Spans full width on medium screens, third column on large screens %>
  <div
    class="
      md:col-span-2 lg:col-span-1 order-1 lg:order-3 p-4 bg-white border rounded-lg
      border-slate-200 dark:border-slate-700 dark:bg-slate-800
    "
  >
    <p class="mb-4 text-xl font-semibold text-slate-900 dark:text-white"><%= t(:"components.project_dashboard.info_title") %></p>
    <%= render ProjectDashboard::InformationComponent.new(project: @project) %>
  </div>

  <%# Activity Section - Second item visually on small screens, first column on medium screens, first column on large screens %>
  <div class="order-2 md:order-2 lg:order-1 lg:col-span-1">
    <div
      class="
        p-4 bg-white border rounded-lg border-slate-200 dark:border-slate-700
        dark:bg-slate-800 h-full flex flex-col
      "
    >
      <div class="flex-grow">
        <p class="mb-4 text-xl font-semibold text-slate-900 dark:text-white"><%= t(:"components.project_dashboard.activity_title") %></p>
        <%= render ProjectDashboard::ActivityComponent.new(activities: @activities) %>
      </div>
      <%= link_to t(:"components.project_dashboard.view_more"),
      namespace_project_activity_path(@project.namespace.parent, @project),
      class:
        "mt-4 button button--state-default button--size-default dark:bg-slate-700 dark:text-white dark:hover:bg-slate-600" %>
    </div>
  </div>

  <%# Samples Section - Third item visually on small screens, second column on medium screens, second column (fixed width) on large screens %>
  <div class="order-3 md:order-3 lg:order-2 lg:col-span-1">
    <div
      class="
        p-4 bg-white border rounded-lg border-slate-200 dark:border-slate-700
        dark:bg-slate-800 h-full flex flex-col
      "
    >
      <div class="flex-grow">
        <p class="mb-4 text-xl font-semibold text-slate-900 dark:text-white"><%= t(:"components.project_dashboard.samples_title") %></p>
        <%= render ProjectDashboard::SamplesComponent.new(
          samples: @samples,
          project: @project,
        ) %>
      </div>
      <%= link_to t(:"components.project_dashboard.view_more"),
      namespace_project_samples_path(@project.namespace.parent, @project),
      class:
        "mt-4 button button--state-default button--size-default dark:bg-slate-700 dark:text-white dark:hover:bg-slate-600" %>
    </div>
  </div>
</div>
