<%= @form.label @field_name, @label, class: "sr-only" %>
<div class="relative" data-controller="search-field">
  <%= @form.search_field @field_name,
                     "data-action": "selection#clear",
                     "data-search-field-target": "input",
                     class:
                       "t-search-component block w-full p-2.5 pr-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white",
                     aria: {
                       label: t("components.search_field_component.instructions"),
                     },
                     placeholder: @label %>
  <button
    type="<%= clear_button? ? 'button' : 'submit' %>"
    data-action="<%= clear_button? ? 'click->search-field#clear' : '' %>"
    class="
      absolute inset-y-0 right-0 flex items-center justify-center w-12
      pointer-events-auto cursor-pointer rounded-r-lg transition-colors border-t
      border-r border-b border-slate-300 dark:border-slate-600 hover:bg-slate-100
      dark:hover:bg-slate-600
    "
    aria-label="<%= clear_button? ? t('components.search_field_component.clear_button') : t('components.search_field_component.search_button') %>"
  >
    <% if clear_button? %>
      <%= pathogen_icon(ICON::X, size: :sm, color: :subdued) %>
    <% else %>
      <%= pathogen_icon(ICON::MAGNIFYING_GLASS, size: :sm, color: :subdued) %>
    <% end %>
  </button>
</div>
