<div role="status" class="sr-only"><%= results_message if search_term? %></div>

<%= search_form_for @query, url: @url, **kwargs do |f| %>
  <%= render Ransack::HiddenSortFieldComponent.new(@query) %>
  <%= render SearchFieldComponent.new(form: f, field_name: @search_attribute, label: @label, placeholder: @placeholder, value: @value) %>
  <%= content %>
<% end %>
