<% if defined?(params[:q][@search_attribute]) && params[:q][@search_attribute].present? %>
  <div
    role="status"
    class="sr-only"
    data-controller="search"
    data-search-message-value="<%=results_message%>"
  ></div>
<% end %>

<%= search_form_for @query, url: @url, data: { controller: "selection" }, **@kwargs do |f| %>
  <%= render Ransack::HiddenSortFieldComponent.new(@query) %>
  <%= f.label @search_attribute, @placeholder, class: "sr-only" %>
  <div class="relative">
    <%= f.text_field @search_attribute,
                 **{ value: @value }.compact,
                 "data-action": "selection#clear",
                 class:
                   "t-search-component block w-full min-h-[44px] p-2.5 pl-10 text-slate-900 border border-slate-300 text-sm rounded-lg bg-slate-50 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white",
                 placeholder: @placeholder,
                 autofocus: true %>
    <div
      class="
        absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
      "
    >
      <%= pathogen_icon(ICON::MAGNIFYING_GLASS, size: :sm, color: :subdued) %>
    </div>
  </div>
  <%= content %>
<% end %>
