<label for="<%= @combobox_id %>"><%= @label %></label>

<div class="combobox">
  <div class="group">
    <input
      id="<%= @combobox_id %>"
      type="text"
      role="combobox"
      aria-autocomplete="list"
      aria-expanded="false"
      aria-controls="<%= @listbox_id %>"
      data-select-with-auto-complete-target="combobox"
    >
    <button
      tabindex="-1"
      aria-label="<%= @label %>"
      aria-expanded="false"
      aria-controls="<%= @listbox_id %>"
      data-select-with-auto-complete-target="button"
    >
      <%= pathogen_icon(:caret_down, size: :sm, aria: { hidden: true }, focusable: false) %>
    </button>
  </div>
  <div
    id="<%= @listbox_id %>"
    tabindex="0"
    role="listbox"
    aria-label="<%= @label %>"
    data-select-with-auto-complete-target="listbox"
  >
    <%= content %>
  </div>
</div>
