<div data-controller="select-with-auto-complete">
  <div class="combobox">
    <div class="group">
      <%= @form.hidden_field @field,
                         value: @selected_option[:value],
                         id: "#{@combobox_id}_hidden",
                         data: {
                           "select-with-auto-complete-target": "hidden",
                         } %>
      <input
        id="<%= @combobox_id %>"
        type="text"
        value="<%= @selected_option[:name] %>"
        role="combobox"
        aria-autocomplete="list"
        aria-expanded="false"
        aria-controls="<%= @listbox_id %>"
        data-select-with-auto-complete-target="combobox"
      >
      <button
        tabindex="-1"
        aria-label="<%= @label %>"
        aria-expanded="false"
        aria-controls="<%= @listbox_id %>"
        data-select-with-auto-complete-target="button"
      >
        <%= pathogen_icon(:caret_down, size: :sm, aria: { hidden: true }, focusable: false) %>
      </button>
    </div>
    <div
      id="<%= @listbox_id %>"
      tabindex="0"
      role="listbox"
      aria-label="<%= @label %>"
      data-select-with-auto-complete-target="listbox"
    >
      <%= @options %>
    </div>
  </div>
</div>
