<tr
  id="<%= dom_id(attachment) %>"
  class="
    bg-white border-b dark:bg-slate-800 border-slate-200 dark:border-slate-700
    text-slate-500 dark:text-slate-400
  "
>
  <td class="px-6 py-4">
    <%= attachment.puid %>
  </td>
  <% if attachment.associated_attachment && attachment.metadata['direction'] == 'forward' %>
    <td class="px-6 py-4">
      <div class="flex items-center mb-4">
        <%= viral_icon(name: :arrow_right, color: :subdued, classes: "h-6 w-6 ml-0 mr-2") %>
        <span>
          <%= attachment.file.filename %>
        </span>
      </div>
      <div class="flex items-center">
        <%= viral_icon(name: :arrow_left, color: :subdued, classes: "h-6 w-6 ml-0 mr-2") %>
        <span>
          <%= attachment.associated_attachment.file.filename %>
        </span>
      </div>
    </td>
  <% else %>
    <td class="px-6 py-4">
      <div class="flex items-center">
        <%= viral_icon(name: :document_text, color: :subdued, classes: "h-6 w-6 ml-0 mr-2") %>
        <%= attachment.file.filename %>
      </div>
    </td>
  <% end %>

  <td class="px-6 py-4"><%= viral_pill(
      text: attachment.metadata["format"],
      color: find_pill_color_for_attachment(attachment, "format"),
    ) %></td>
  <td class="px-6 py-4"><%= viral_pill(
      text: attachment.metadata["type"],
      color: find_pill_color_for_attachment(attachment, "type"),
    ) %></td>

  <% if attachment.associated_attachment %>
    <td class="px-6 py-4">
      <div class="mb-4">
        <%= number_to_human_size(attachment.file.blob.byte_size) %>
      </div>
      <div>
        <%= number_to_human_size(attachment.associated_attachment.file.blob.byte_size) %>
      </div>
    </td>
  <% else %>
    <td class="px-6 py-4"><%= number_to_human_size(attachment.file.blob.byte_size) %></td>
  <% end %>

  <td class="px-6 py-4">
    <%= local_time_ago(attachment.created_at) %>
  </td>

  <td class="px-6 py-4">
    <%= render partial: "attachment_actions", locals: { attachment: attachment } %>
    <% if attachment.associated_attachment %>
      <%= render partial: "attachment_actions",
      locals: {
        attachment: attachment.associated_attachment,
      } %>
    <% end %>
  </td>
</tr>
