<%= viral_dialog(open: open,classes: ["overflow-visible"]) do |dialog| %>
  <% dialog.with_header(title: t("workflow_executions.edit_dialog.title")) %>
  <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
    <p class="dark:text-slate-400">
      <%= t(
        "workflow_executions.edit_dialog.description",
        workflow_execution_id: @workflow_execution.id,
      ) %>
    </p>
  </div>

  <div class="mb-4">
    <%= turbo_frame_tag("edit_workflow_execution_error_alert") %>
  </div>

  <%= form_with(model: workflow_execution, url: workflow_execution_path, method: :patch, class: "grid gap-4") do |form| %>
    <div class="form-field">
      <%= form.label :name %>
      <%= form.text_field :name,
                      autofocus: true,
                      value: @workflow_execution.name,
                      placeholder:
                        t("workflow_executions.edit_dialog.name_placeholder") %>

    </div>

    <div class="mt-4 space-x-2">
      <%= form.submit t("workflow_executions.edit_dialog.submit_button"),
                  class:
                    "inline-flex w-1/2 cursor-pointer items-center justify-center rounded-md border focus:z-10 sm:w-auto px-5 py-2.5 text-sm border-primary-800 bg-primary-700 hover:bg-primary-800 dark:bg-primary-800 dark:border-primary-900 dark:hover:bg-primary-700 text-white dark:text-white" %>

      <button
        type="button"
        class="
          inline-flex w-1/2 cursor-pointer items-center justify-center rounded-md border
          text-sm focus:z-10 sm:w-auto px-5 py-2.5 border-slate-200 bg-white
          text-slate-900 hover:bg-slate-100 hover:text-slate-950 dark:border-slate-600
          dark:bg-slate-800 dark:text-slate-400 dark:hover:bg-slate-700
          dark:hover:text-white
        "
        data-action="click->viral--dialog#close"
      >
        <%= t("workflow_executions.edit_dialog.cancel_button") %>
      </button>
    </div>
  <% end %>
<% end %>
