<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_header(title: t("workflow_executions.edit_dialog.title")) %>
  <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
    <p class="dark:text-slate-400">
      <%= t(
        "workflow_executions.edit_dialog.description",
        workflow_execution_id: @workflow_execution.id,
      ) %>
    </p>
  </div>

  <div class="mb-4">
    <%= turbo_frame_tag("edit_workflow_execution_error_alert") %>
  </div>

  <%= form_with(model: workflow_execution, url: workflow_execution_path, method: :patch, class: "grid gap-4") do |form| %>
    <div class="form-field">
      <%= form.label :name %>
      <%= form.text_field :name,
                      autofocus: true,
                      value: @workflow_execution.name,
                      placeholder:
                        t("workflow_executions.edit_dialog.name_placeholder") %>

    </div>

    <% if Flipper.enabled?(:workflow_execution_sharing) %>
      <div class="flex items-center h-5">
        <%= form.check_box :shared_with_namespace,
                       { checked: @workflow_execution["shared_with_namespace"] } %>
        <%= form.label :shared_with_namespace,
                   t(
                     :"workflow_executions.edit_dialog.shared_with_namespace.#{@workflow_execution.namespace.type.downcase}",
                   ),
                   class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
      </div>
    <% end %>

    <div class="mt-4 space-x-2">
      <%= form.submit t("workflow_executions.edit_dialog.submit_button"),
                  class: "button button-primary" %>

      <button
        type="button"
        class="button button-default"
        data-action="click->viral--dialog#close"
      >
        <%= t('common.actions.cancel') %>
      </button>
    </div>
  <% end %>
<% end %>
