<% if @samplesheet_headers.blank? || @samplesheet_rows.blank? %>
  <%= viral_alert(message: t(:"workflow_executions.samples.empty"), type: :info) %>
<% else %>
  <div class="relative overflow-x-auto">
    <table
      class="w-full text-sm text-left text-gray-500  rtl:text-right dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase  bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <% @samplesheet_headers.each do |header| %>
            <th scope="col" class="px-6 py-3">
              <%= header %>
            </th>
          <% end %>

        </tr>
      </thead>
      <tbody>
        <% @samplesheet_rows.each do |sample| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <% @samplesheet_headers.each do |header| %>
              <% if header == "sample" %>
                <th class="px-6 py-4">
                  <div class="font-semibold text-gray-900 dark:text-white"><%= sample[header] %></div>
                </th>

              <% elsif header.match(/fastq_\d+/) %>
                <td class="px-6 py-4">
                  <% unless sample[header].blank? %>
                    <div class="font-semibold text-gray-900 dark:text-white"><%= sample[header][:puid] %></div>
                    <div class="font-normal text-gray-500 dark:text-gray-400"><%= sample[header][:name] %></div>
                  <% end %>
                </td>
              <% else %>
                <td class="px-6 py-4">
                  <%= sample[header] %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
