<div class="overflow-x-auto table-container" data-turbo-temporary>
  <table
    id="workflow_executions"
    class="
        w-full
        text-sm
        text-left
        rtl:text-right
        text-slate-500
        dark:text-slate-400
      "
  >
    <thead
      class="
          text-xs
          text-slate-700
          uppercase
          bg-slate-50
          dark:bg-slate-700
          dark:text-slate-400
        "
    >
    <tr>
      <th scope="col" class="px-6 py-3 sticky left-0 bg-slate-50 dark:bg-slate-700">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(:".headers.id"),
          url: sorting_url(@q, :id),
          field: :id
        ) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(:".headers.run_id"),
          url: sorting_url(@q, :run_id),
          field: :run_id
        ) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(:".headers.name"),
          url: sorting_url(@q, URI.encode_www_form_component("name")),
          field: "name"
        ) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(:".headers.workflow_name"),
          url: sorting_url(@q, URI.encode_www_form_component("metadata_workflow_name")),
          field: "metadata_workflow_name"
        ) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(:".headers.workflow_version"),
          url:
            sorting_url(@q, URI.encode_www_form_component("metadata_workflow_version")),
          field: "metadata_workflow_version"
        ) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(:".headers.state"),
          url: sorting_url(@q, :state),
          field: :state
        ) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(:".headers.created_at"),
          url: sorting_url(@q, :created_at),
          field: :created_at
        ) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(:".headers.updated_at"),
          url: sorting_url(@q, :updated_at),
          field: :updated_at
        ) %>
      </th>
      <th scope="col" class="px-6 py-3 sticky right-0 bg-slate-50 dark:bg-slate-700">
        <%= t(:".headers.actions") %>
      </th>
    </tr>
    </thead>
    <tbody id="workflow_executions-table-body">
    <%= render partial: "workflow_execution", collection: @workflows %>
    </tbody>
  </table>
  <div class="empty_state_message">
    <%= viral_empty(
          title: t(:".empty.title"),
          description: t(:".empty.description"),
          icon_name: :document_text
        ) %>
  </div>
</div>
