<%# locals: (page_limit:, query:, results_message:, search:, total_count:, url:) -%>

<div role="status" class="sr-only"><%= results_message %></div>

<%= form_with model: search, html: { role: "search" }, scope: :q, url:, method: :get, data: {turbo_action: "replace", controller: "filters", "filters-selection-outlet": "#workflow-executions-table"},
              class: "filters contents" do |form| %>
  <div class="max-sm:grow">
    <% if query.present? && !query.sorts.empty? %>
      <%= hidden_field_tag "q[s]", "#{query.sorts.first.name} #{query.sorts.first.dir}" %>
    <% end %>

    <% if local_assigns.fetch(:page_limit, nil).present? %>
      <%= hidden_field_tag :limit, local_assigns[:page_limit] %>
    <% end %>

    <%= render SearchFieldComponent.new(
      form: form,
      field_name: :name_or_id_cont,
      label: t("common.controls.search"),
      placeholder: t("shared.workflow_executions.index.search.placeholder"),
      value: search.name_or_id_cont,
      include_advanced_search_outlet: true,
      data: {
        "search-field-selection-outlet": "#workflow-executions-table",
      },
      classes: "sm:min-w-[20rem]"
    ) %>
  </div>

  <div class="max-sm:grow">
    <%= render AdvancedSearchComponent.new(
      form: form,
      search: search,
      fields: AdvancedSearch::Fields.for_workflow_executions,
      open: search.errors.any?,
      status: search.advanced_query?,
    ) %>
  </div>
<% end %>
