<%= render Viral::PageHeaderComponent.new(title: t(".title")) %>
<% if @workflows.length > 0 %>
  <div class="bg-white dark:bg-slate-800">
    <div class="flex flex-col">
      <table id="workflow_executions" class="min-w-full table-fixed dark:divide-slate-600">
        <thead class="bg-gray-100 dark:bg-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider">
            <%= t(:'.headers.id') %>
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider">
            <%= t(:'.headers.name') %>
          </th>
          <th scope="col" class="p-4 text-xs font-medium text-left text-gray-600 uppercase dark:text-gray-400">
            <%= t(:'.headers.version') %>
          </th>
          <th scope="col" class="p-4 text-xs font-medium text-left text-gray-600 uppercase dark:text-gray-400">
            <%= t(:'.headers.state') %>
          </th>
          <th scope="col" class="p-4 text-xs font-medium text-left text-gray-600 uppercase dark:text-gray-400">
            <%= t(:'.headers.created_at') %>
          </th>
          <th scope="col" class="p-4 text-xs font-medium text-left text-gray-600 uppercase dark:text-gray-400">
            <%= t(:'.headers.updated_at') %>
          </th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
        <% @workflows.each do |workflow| %>
          <tr>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= workflow.run_id %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= workflow.metadata["workflow_name"] %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= workflow.metadata["workflow_version"] %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= workflow["state"] || "NEW" %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= viral_time_ago(original_time: workflow["created_at"]) %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= viral_time_ago(original_time: workflow["updated_at"]) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <%= t(:'.empty') %>
<% end %>