<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "export_dialog" %>
<%= turbo_frame_tag "workflow_execution_dialog" %>
<%= turbo_frame_tag "selected" %>

<%= turbo_stream_from current_user, :workflow_executions %>

<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= button_to t(".create_export_button"),
    new_data_export_path,
    params: {
      export_type: "analysis",
      analysis_type: "user",
    },
    method: :get,
    data: {
      turbo_stream: true,
      controller: "action-button",
      action_button_required_value: 1,
    },
    class: "button button-default action-button w-full" %>
    <% if Flipper.enabled?(:delete_multiple_workflows) %>
      <%= button_to t(".delete_workflows_button"),
      destroy_multiple_confirmation_workflow_executions_path,
      method: :get,
      data: {
        turbo_stream: true,
        controller: "action-button",
        action_button_required_value: 1,
      },
      class: "button button-destructive action-button w-full" %>
    <% end %>
  <% end %>
<% end %>
<div
  class="
    flex flex-col @xl:flex-row @lg:justify-between space-y-2 @lg:space-x-2 mb-2
  "
>
  <div class="inline-flex flex-wrap grow @md:flex-nowrap @xl:grow-0 gap-2">
    <%= form_with(
                  url: select_workflow_executions_url,
                  method: :get,
                  id: "select-all-form",
                  class: "flex-grow",
                ) do |f| %>
      <input type="hidden" name="format" value="turbo_stream"/>
      <input type="hidden" name="select" value="on"/>
      <%= f.submit t(".select_all_button"), class: "button button-default w-full" %>
    <% end %>
    <%= form_with(
                  url: select_workflow_executions_url,
                  method: :get,
                  id: "deselect-all-form",
                  class: "flex-grow",
                ) do |f| %>
      <input type="hidden" name="format" value="turbo_stream"/>
      <%= f.submit t(".deselect_all_button"), class: "button button-default w-full" %>
    <% end %>
  </div>
  <div class="flex-row">
    <%= render SearchComponent.new(
      query: @q,
      url: workflow_executions_path,
      search_attribute: :name_or_id_cont,
      label: t(".search.label"),
      placeholder: t(".search.placeholder"),
      value: @q.name_or_id_cont,
      total_count: @pagy.count,
      search_field_arguments: {
        data: {
          "search-field-selection-outlet": "#workflow-executions-table",
        },
      },
    ) %>
  </div>
</div>
<%= render partial: "table",
locals: {
  workflow_executions: @workflow_executions,
  pagy: @pagy,
  q: @q,
} %>
