<%= render Viral::PageHeaderComponent.new(title: t(".title")) %>
<% if @workflows.length > 0 %>
  <div class="bg-white dark:bg-slate-800">
    <div class="flex flex-col">
      <table id="workflow_executions" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            <%= t(:'.headers.id') %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= t(:'.headers.name') %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= t(:'.headers.version') %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= t(:'.headers.state') %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= t(:'.headers.created_at') %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= t(:'.headers.updated_at') %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= t(:'.headers.actions') %>
          </th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
        <% @workflows.each do |workflow| %>
          <tr>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= workflow.run_id %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= workflow.metadata["workflow_name"] %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= workflow.metadata["workflow_version"] %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= workflow["state"] || "new" %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= viral_time_ago(original_time: workflow["created_at"]) %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= viral_time_ago(original_time: workflow["updated_at"]) %>
            </td>
            <td class="w-4 p-4 whitespace-nowrap">
              <%= form_with method: :put, url: workflow_execution_cancel_path(workflow) do |form| %>
                <%= form.submit t(:'.actions.cancel'), class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer" %>
              <% end %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <%= viral_alert(type: :info, message: t(:'.empty')) %>
<% end %>