<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from @workflow_execution %>

<%= turbo_frame_tag "export_dialog" %>
<%= turbo_frame_tag "edit_dialog" %>
<%= turbo_frame_tag "workflow_execution_dialog" %>

<%= render Viral::PageHeaderComponent.new(title: turbo_frame_tag('we_name_header') do
  @workflow_execution.name.blank? ? text_for(@workflow_execution.workflow.name) : @workflow_execution.name
end, id: @workflow_execution.id, id_color: find_pill_color_for_state(@workflow_execution.state)) do |component| %>
  <% component.with_buttons do %>
    <div
      class="
        flex flex-col @xl:flex-row @lg:justify-between space-y-2 @lg:space-x-1 mb-2
      "
    >
      <% if @workflow_execution.completed? %>
        <%= button_to t(".create_export_button"),
        new_data_export_path,
        params: {
          export_type: "analysis",
          analysis_type: "user",
          workflow_execution_id: @workflow_execution.id,
          single_workflow: true,
        },
        method: :get,
        data: {
          turbo_stream: true,
        },
        class: "button button-default w-full" %>
      <% else %>
        <%= button_to t(".create_export_button"),
        new_data_export_path,
        params: {
          export_type: "analysis",
          analysis_type: "user",
          workflow_execution_id: @workflow_execution.id,
          single_workflow: true,
        },
        method: :get,
        data: {
          turbo_stream: true,
        },
        class:
          "button button-default pointer-events-none cursor-not-allowed bg-slate-100 text-slate-600 dark:bg-slate-600 dark:text-slate-300 w-full",
        disabled: true %>
      <% end %>
      <% if @workflow_execution.cancellable? %>
        <%= button_to t("common.actions.cancel"),
        cancel_workflow_execution_path(id: @workflow_execution.id),
        data: {
          turbo_method: :put,
          turbo_confirm: t("workflow_executions.show.cancel_button_confirmation"),
        },
        method: :put,
        class: "button button-default w-full" %>
      <% end %>
      <% if @allowed_to[:update] %>
        <%= button_to t("common.actions.edit"),
        edit_workflow_execution_path(id: @workflow_execution.id),
        data: {
          turbo_stream: true,
        },
        method: :get,
        class: "button button-default w-full" %>

      <% end %>
      <% if @workflow_execution.deletable? %>
        <%= button_to t("common.actions.remove"),
        destroy_confirmation_workflow_execution_path(@workflow_execution),
        method: :get,
        data: {
          turbo_stream: true,
        },
        class: "button button-default w-full" %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render Pathogen::Tabs.new(
    id: "workflow-executions-tabs",
    label: "SHIT SMELLS",
    default_index: @tab_index,
    sync_url: true
  ) do |tabs| %>
  <% tabs.with_tab(
    id: "summary-tab",
    label: t(:"workflow_executions.show.tabs.summary"),
    selected: @tab == "summary" || @tab == nil,
  ) %>

  <% tabs.with_tab(
    id: "params-tab",
    label: t(:"workflow_executions.show.tabs.params"),
    selected: @tab == "params",
  ) %>

  <% tabs.with_tab(
    id: "samplesheet-tab",
    label: t(:"workflow_executions.show.tabs.samplesheet"),
    selected: @tab == "samplesheet",
  ) %>

  <% tabs.with_tab(
    id: "files-tab",
    label: t(:"workflow_executions.show.tabs.files"),
    selected: @tab == "files",
  ) %>

  <% tabs.with_panel(id: "summary-panel", tab_id: "summary-tab") do %>
    <% if @tab == "summary" %>
      <%= turbo_frame_tag "summary-panel-content"  do %>
        <%= render partial: "workflow_executions/summary" %>
      <% end %>
    <% else %>
      <%= turbo_frame_tag "summary-panel-content",
          src: workflow_execution_path(@workflow_execution, tab: "summary"),
            loading: :lazy,
          refresh: "morph" do %>
      <% end %>
    <% end %>
  <% end %>

  <% tabs.with_panel(id: "params-panel", tab_id: "params-tab") do %>
    <% if @tab == "params" %>
      <%= turbo_frame_tag "params-panel-content" do %>
        <%= render partial: "workflow_executions/params" %>
      <% end %>
    <% else %>
      <%= turbo_frame_tag "params-panel-content",
          src: workflow_execution_path(@workflow_execution, tab: "params"),
          loading: :lazy,
          refresh: "morph" do %>
      <% end %>
    <% end %>
  <% end %>

  <% tabs.with_panel(id: "samplesheet-panel", tab_id: "samplesheet-tab") do %>
    <% if @tab == "samplesheet" %>
      <%= turbo_frame_tag "samplesheet-panel-content" do %>
        <%= render partial: "workflow_executions/samplesheet" %>
      <% end %>
    <% else %>
      <%= turbo_frame_tag "samplesheet-panel-content",
          src: workflow_execution_path(@workflow_execution, tab: "samplesheet"),
          loading: :lazy,
          refresh: "morph" do %>
      <% end %>
    <% end %>
  <% end %>

  <% tabs.with_panel(id: "files-panel", tab_id: "files-tab") do %>
    <% if @tab == "files" %>
      <%= turbo_frame_tag "files-panel-content" do %>
        <%= render partial: "workflow_executions/files",
        locals: {
          pagy: @pagy,
          q: @q,
          search_url: workflow_execution_path(@workflow_execution),
          attachments: @attachments,
          workflow_execution: @workflow_execution,
          has_attachments: @has_attachments,
        } %>
      <% end %>
    <% else %>
      <%= turbo_frame_tag "files-panel-content",
          src: workflow_execution_path(@workflow_execution, tab: "files"),
          loading: :lazy,
          refresh: "morph" do %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
