<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from @workflow_execution %>

<%= turbo_frame_tag "export_dialog" %>

<%= turbo_frame_tag "edit_dialog" %>

<%= render Viral::PageHeaderComponent.new(title: @workflow_execution.name.blank? ? @workflow_execution.metadata["workflow_name"] :
  turbo_frame_tag('we_name_header') do @workflow_execution.name end, id: @workflow_execution.id, id_color: find_pill_color_for_state(@workflow_execution.state)) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex flex-row">
      <% if @workflow_execution.completed? %>
        <%= link_to t(".create_export_button"),
                    new_data_export_path(
                      export_type: "analysis",
                      analysis_type: "user",
                      workflow_execution_id: @workflow_execution.id,
                      single_workflow: true
                    ),
                    data: {
                      turbo_stream: true
                    },
                    class: "button button--size-default button--state-default mr-2" %>
      <% else %>
        <%= link_to t(".create_export_button"),
                    new_data_export_path(
                      export_type: "analysis",
                      analysis_type: "user",
                      workflow_execution_id: @workflow_execution.id,
                      single_workflow: true
                    ),
                    data: {
                      turbo_stream: true
                    },
                    class:
                      "button button--size-default button--state-default pointer-events-none cursor-not-allowed bg-slate-100 text-slate-600 mr-2 dark:bg-slate-600 dark:text-slate-300" %>
      <% end %>
      <% if @workflow_execution.cancellable? %>
        <%= link_to(
              t("workflow_executions.show.cancel_button"),
              cancel_workflow_execution_path(id: @workflow_execution.id),
              data: {
                turbo_method: :put,
                turbo_confirm: t("workflow_executions.show.cancel_button_confirmation")
              },
              class: "button button--state-default button--size-default mr-1"
            ) %>
      <% end %>
      <% if allowed_to?(:update?, @workflow_execution) %>
        <%= link_to(
                t("workflow_executions.show.edit_button"),
                edit_workflow_execution_path(id: @workflow_execution.id),
                data: {
                  turbo_stream: true
                },
                class: "button button--state-default button--size-default mr-1"
              ) %>
      <% end %>
      <% if @workflow_execution.deletable? %>
        <%= link_to(
              t("workflow_executions.show.remove_button"),
              workflow_execution_path(@workflow_execution, redirect: true),
              data: {
                turbo_method: :delete,
                turbo_confirm: t("workflow_executions.show.remove_button_confirmation")
              },
              class: "button button--state-default button--size-default mr-1"
            ) %>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= viral_tabs(id: "workflow-execution-tabs", label: "Tabs") do |tabs| %>
  <%= tabs.with_tab(url: workflow_execution_path(@workflow_execution, tab: "summary"), selected: @tab == "summary" || @tab == nil, controls: "workflow-execution-tabs") do %>
    <%= t(:"workflow_executions.show.tabs.summary") %>
  <% end %>
  <%= tabs.with_tab(url: workflow_execution_path(@workflow_execution, tab: "params"), selected: @tab == "params", controls: "workflow-execution-tabs") do %>
    <%= t(:"workflow_executions.show.tabs.params") %>
  <% end %>
  <%= tabs.with_tab(url: workflow_execution_path(@workflow_execution, tab: "samplesheet"), selected: @tab == "samplesheet", controls: "workflow-execution-tabs") do %>
    <%= t(:"workflow_executions.show.tabs.samplesheet") %>
  <% end %>
  <%= tabs.with_tab(url: workflow_execution_path(@workflow_execution, tab: "files"), selected: @tab == "files", controls: "workflow-execution-tabs") do %>
    <%= t(:"workflow_executions.show.tabs.files") %>
  <% end %>

  <%= tabs.with_tab_content do %>
    <section class="mt-4">
    <% if @tab == 'summary' || @tab == nil %>
      <%= render partial: "summary" %>
    <% elsif @tab == "params" %>
      <%= render partial: "params" %>
      <% elsif @tab == 'samplesheet' %>
        <%= render partial: 'samplesheet' %>
    <% elsif @tab == 'files' %>
      <%= render partial: "files" %>
    <% end %>
  <% end %>
  </section>
<% end %>
