<%= viral_dialog(id: 'new-member-dialog', open: open) do |dialog| %>
  <% dialog.with_header(title: t(:"projects.members.new.title")) %>
  <% dialog.with_trigger do %>
    <button class="button button-primary" data-action="viral--dialog#open">
      <%= I18n.t("projects.members.index.add") %>
    </button>
  <% end %>
  <% if @new_member&.invalid? %>
    <%= render partial: "form" %>
  <% else %>
    <%= turbo_frame_tag "new_member_dialog_content", src: new_namespace_project_member_path(@namespace.parent, @namespace.project, {tab: @tab}), loading: :lazy do %>
      <%= render partial: "shared/loading/form" %>
    <% end %>
  <% end %>
<% end %>
