<%= viral_dialog(open: open, classes: ["overflow-visible"]) do |dialog| %>
  <%= dialog.with_header(title: t(:"projects.members.new.title")) %>
  <%= dialog.with_section do %>
    <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
      <p class="dark:text-slate-400">
        <%= I18n.t("projects.members.new.description", name: @namespace.human_name) %>
      </p>
    </div>
    <%= form_with(model: @new_member, url: namespace_project_members_path(tab: @tab), method: :post) do |form| %>
      <div class="grid gap-4">
        <div class="form-field">
          <%= form.label :user_id %>
          <%= viral_select2(form:, name: :user_id) do |select| %>
            <% @available_users.each do |user| %>
              <% select.with_option(primary: user.email, value: user.id) %>
            <% end %>
            <%= select.with_empty_state do %>
              <%= t(:"projects.members.new.empty_state") %>
            <% end %>
          <% end %>
        </div>

        <% invalid_access_level = @new_member.errors.include?(:access_level) %>
        <div class="form-field <%= 'invalid' if invalid_access_level %>">
          <%= form.label :access_level %>
          <%= form.select :access_level,
                      @access_levels,
                      { prompt: t(:"projects.members.new.select_access_level") },
                      required: true %>
          <%= render "shared/form/field_errors",
          errors: @new_member.errors.full_messages_for(:access_level) %>
        </div>

        <div class="form-field datepicker" data-controller="datepicker">
          <%= form.label :expires_at %>
          <div class="relative max-w-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            >
              <%= viral_icon(
                name: :calendar_days,
                classes: "w-5 h-5 text-slate-500 dark:text-slate-400",
              ) %>
            </div>
            <%= form.text_field :expires_at,
                            placeholder: I18n.t("date.formats.iso"),
                            autocomplete: "off",
                            "data-datepicker-target": "datePicker",
                            "data-datepicker-dialog": "true" %>
          </div>
        </div>

        <div>
          <%= form.submit t(:"projects.members.new.add_member_to_project"),
                      class: "button button--state-primary button--size-default mr-1",
                      disabled: !@available_users.count.positive? %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
