<div class="relative overflow-x-auto" data-turbo-temporary>
  <table
    class="
      w-full
      text-sm
      text-left
      rtl:text-right
      text-slate-500
      dark:text-slate-400
      dark:divide-slate-600
      whitespace-nowrap
    "
  >
    <thead
      class="
        text-xs
        text-slate-700
        uppercase
        bg-slate-50
        dark:bg-slate-700
        dark:text-slate-400
      "
    >
      <tr>
        <th scope="col" class="px-6 py-3 text-left"><%= t(:"projects.members.index.table_header.username") %></th>
        <th scope="col" class="px-6 py-3 text-left"><%= t(:"projects.members.index.table_header.access_level") %></th>
        <th scope="col" class="px-6 py-3 text-left"><%= t(:"projects.members.index.table_header.source") %></th>
        <th scope="col" class="px-6 py-3 text-left"><%= t(:"projects.members.index.table_header.access_granted") %></th>
        <th scope="col" class="px-6 py-3 text-left"><%= t(:"projects.members.index.table_header.expiration") %></th>
        <th scope="col" class="px-6 py-3 text-right"><%= t(:"projects.members.index.table_header.action") %></th>
      </tr>
    </thead>
    <tbody
      id="members-table-body"
      class="
        bg-white
        divide-y
        divide-slate-200
        dark:bg-slate-800
        dark:divide-slate-700
      "
    >
      <%= render partial: "member",
      collection: @members,
      locals: {
        access_levels: @access_levels
      } %>
    </tbody>
  </table>
</div>
