<%= render Viral::PageHeaderComponent.new(title: t('.title'), subtitle: t('.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <%= component.with_icon(name: "users", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <% if !allowed_to?(:share_namespace_with_group?, @namespace) %>
      <%= link_to I18n.t("projects.members.index.invite_group"),
      namespace_project_invite_group_path,
      data: {
        "turbo-frame" => "namespace_share"
      },
      class: "button button--state-default button--size-default" %>
    <% end %>
    <% if allowed_to?(:create_member?, @namespace) %>
      <%= link_to t(:".add"),
      new_namespace_project_member_path,
      class: "button button--state-primary button--size-default",
      "aria-label": t(:".actions.button_add_aria_label") %>
    <% end %>
  <% end %>
<% end %>

<div class="flex flex-col">

<div class="bg-white dark:bg-slate-800">
  <%= turbo_frame_tag("namespace_share") %>
  <ul class="flex flex-wrap -mb-px">
    <li class="mr-2">
      <%= link_to "Members",
      namespace_project_members_path(),
      data: {
        turbo_frame: "members",
        turbo_stream: ""
      },
      class:
        (
          if params[:invited_groups]
            "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          else
            "inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
          end
        ),
      aria: {
        current: params[:invited_groups] ? "false" : "page"
      } %>
    </li>
    <% if @namespace.shared_with_groups.count.positive? %>
      <li class="mr-2">
        <%= link_to "Groups",
        invited_groups_namespace_project_members_path(invited_groups: "true"),
        data: {
          turbo_frame: "members",
          turbo_stream: ""
        },
        class:
          (
            if params[:invited_groups]
              "inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
            else
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            end
          ),
        aria: {
          current: params[:invited_groups] ? "page" : "false"
        } %>
      </li>
    <% end %>
  </ul>
  <%= turbo_frame_tag "members",
  src: namespace_project_members_path(format: :turbo_stream),
  loading: :lazy %>

</div>

<%= render PaginationComponent.new(
    info: pagy_info(@pagy),
    prev_url:
      (
        if @pagy.prev
          namespace_project_members_url(
            @namespace.parent,
            @namespace.project,
            page: @pagy.prev
          )
        else
          nil
        end
      ),
    next_url:
      (
        if @pagy.next
          namespace_project_members_url(
            @namespace.parent,
            @namespace.project,
            page: @pagy.next
          )
        else
          nil
        end
      )
  ) %>
</div>
