<%= render Viral::PageHeaderComponent.new(title: t('.title'), subtitle: t('.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <%= component.with_icon(name: "users", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <% if allowed_to?(:create_member?, @namespace) %>
      <%= link_to t(:".add"),
      new_namespace_project_member_path,
      class: "btn btn-primary",
      "aria-label": t(:".actions.button_add_aria_label") %>
    <% end %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-gray-800">
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="shadow">
        <%= turbo_frame_tag("member-update-alert") %>
        <table class="min-w-full table-fixed dark:divide-gray-600">
          <tbody
            class="
              bg-white
              divide-y
              divide-gray-200
              dark:bg-gray-800
              dark:divide-gray-700
            "
          >
            <% @members.each do |member| %>
              <tr
                class="
                  text-sm
                  font-normal
                  text-gray-500
                  hover:bg-gray-50
                  dark:hover:bg-gray-700
                  dark:text-gray-400
                "
              >
                <td class="p-4 whitespace-nowrap">
                  <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= member.user.email %>
                    <% if current_user == member.user %>
                      <span
                        class="
                          bg-green-200
                          text-green-800
                          text-xs
                          font-medium
                          ml-2
                          px-2.5
                          py-0.5
                          rounded-full
                          dark:bg-green-900
                          dark:text-green-300
                        "
                      >
                        <%= t(:"activerecord.models.member.its_you") %>
                      </span>
                    <% end %>
                  </div>
                </td>
                <td class="p-4 whitespace-nowrap">
                  <% if member.user != current_user && allowed_to?(:update_member?, @namespace) &&
                    member.access_level <= @access_levels.values.last %>
                    <%= turbo_frame_tag("member-#{member.id}-access-level") do %>
                      <%= render partial: "projects/members/access_level",
                      locals: {
                        member: member,
                        access_levels: @access_levels
                      } %>
                    <% end %>
                  <% else %>
                    <%= t(:"projects.members.index.access_level.level_#{member.access_level}") %>
                  <% end %>
                </td>
                <td class="p-4 whitespace-nowrap">
                  <% member_source = Member.membership_source(@namespace, member.user) %>
                  <% if member_source.instance_of?(String) %>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= member_source %></div>
                  <% else %>
                    <%= link_to member_source[:name], member_source[:path] %>
                  <% end %>
                </td>
                <td class="p-4 whitespace-nowrap">
                  <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= t(
                      :"projects.members.index.access_granted_by",
                      grantor_email: member.created_by.email
                    ) %></div>
                </td>
                <td class="p-4 whitespace-nowrap">
                  <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                    <%= turbo_frame_tag("member-#{member.id}-access-level-updated") do %>
                      <%= I18n.l(member.updated_at, format: :default) %>
                    <% end %>
                  </div>
                </td>
                <% if allowed_to?(:destroy_member?, @namespace) %>
                  <td class="px-4 py-3 text-right">
                    <%= viral_dropdown(icon: "ellipsis_vertical", classes: "member-settings-ellipsis", aria: { label: t(:'projects.members.index.actions.member_dropdown_aria_label', member: member.user.email) }) do |dropdown| %>
                      <%= dropdown.item(
                        label: t(:"projects.members.index.remove"),
                        url: namespace_project_member_path(id: member.id),
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: t(:"projects.members.index.remove_confirmation")
                        }
                      ) %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
