<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "new_member_modal" %>
<%= turbo_frame_tag "member-update-alert" %>

<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <% component.with_buttons do %>
    <% if @allowed_to[:link_namespace_with_group] %>
      <%= button_to I18n.t("projects.members.index.invite_group"),
      new_namespace_project_group_link_path(@namespace.parent, @namespace.project),
      params: {
        tab: @tab,
      },
      method: :get,
      data: {
        "turbo-frame" => "new_member_modal",
        :turbo_stream => true,
      },
      class: "button button-default" %>
    <% end %>
    <% if @allowed_to[:create_member] %>
      <%= button_to t(:".add"),
      new_namespace_project_member_path(@namespace.parent, @namespace.project),
      params: {
        tab: @tab,
      },
      method: :get,
      data: {
        "turbo-frame" => "new_member_modal",
        :turbo_stream => true,
      },
      class: "button button-primary" %>
    <% end %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <%= pathogen_tab_list(
    id: "project-members-tabs",
    label: t(:"projects.members.index.tabs.aria_label")
  ) do |tabs| %>
    <% tabs.with_tab(
      id: "members-tab",
      text: t(:"projects.members.index.tabs.members"),
      href: namespace_project_members_path(),
      selected: @tab != "invited_groups",
    ) %>

    <% tabs.with_tab(
      id: "groups-tab",
      text: t(:"projects.members.index.tabs.groups"),
      href: namespace_project_members_path(tab: "invited_groups"),
      selected: @tab == "invited_groups",
    ) %>

    <% if @tab == "invited_groups" %>
      <%= turbo_frame_tag "invited_groups", src: namespace_project_group_links_path(
                                    format: :turbo_stream
                                  ) do %>
        <%= render partial: "shared/loading/table" %>
      <% end %>
      <%= turbo_frame_tag "invited_groups_pagination" %>
    <% else %>
      <%= turbo_frame_tag "members", src: namespace_project_members_path(
                                    format: :turbo_stream
                                  ) do %>
        <%= render partial: "shared/loading/table" %>
      <% end %>
      <%= turbo_frame_tag "members_pagination" %>
    <% end %>
  <% end %>
</div>
