<%= turbo_frame_tag "new_member_modal" %>
<%= turbo_frame_tag "member-update-alert" %>

<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @namespace.class.model_name.human, namespace_name: @namespace.name)) do |component| %>
  <%= component.with_icon(name: "users", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <% if allowed_to?(:link_namespace_with_group?, @namespace) %>
      <%= link_to I18n.t("projects.members.index.invite_group"),
      new_namespace_project_group_link_path(
        @namespace.parent,
        @namespace.project,
        tab: @tab,
      ),
      data: {
        "turbo-frame" => "new_member_modal",
        :turbo_stream => true,
      },
      class: "button button--state-default button--size-default" %>
    <% end %>
    <% if allowed_to?(:create_member?, @namespace) %>
      <%= link_to t(:".add"),
      new_namespace_project_member_path(
        @namespace.parent,
        @namespace.project,
        tab: @tab,
      ),
      data: {
        turbo_frame: "new_member_modal",
        turbo_stream: true,
      },
      class: "button button--state-primary button--size-default",
      "aria-label": t(:".actions.button_add_aria_label") %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_frame_tag "members_search_bar" %>

<div class="bg-white dark:bg-slate-800">
  <%= viral_tabs(id: "project-members", label: t(:"projects.members.index.tabs.aria_label")) do |tabs| %>
    <%= tabs.with_tab(url: namespace_project_members_path(), controls: "project-members", selected: @tab != "invited_groups") do %>
      <%= t(:"projects.members.index.tabs.members") %>
    <% end %>

    <%= tabs.with_tab(url: namespace_project_members_path(tab: "invited_groups"), controls: "project-members", selected: @tab == "invited_groups") do %>
      <%= t(:"projects.members.index.tabs.groups") %>
    <% end %>

    <%= tabs.with_tab_content do %>
      <div class="flex flex-col">
        <%= turbo_frame_tag "members", "data-turbo-temporary": true,
                            src:
                              (
                                if @tab == "invited_groups"
                                  namespace_project_group_links_path(
                                    format: :turbo_stream
                                  )
                                else
                                  namespace_project_members_path(
                                    format: :turbo_stream
                                  )
                                end
                              ) do %>
          <table class="min-w-full table-fixed dark:divide-slate-600">
            <tbody
              class="
                bg-white divide-y divide-slate-200 dark:bg-slate-800 dark:divide-slate-700
              "
            >
              <% 10.times do %>
                <tr>
                  <td class="p-4 animate-pulse">
                    <div class="flex-1 py-1 space-y-6">
                      <div class="space-y-3">
                        <div class="w-48 h-2 rounded bg-slate-200"></div>
                        <div class="w-32 h-2 rounded bg-slate-200"></div>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <%= turbo_frame_tag "members_pagination", "data-turbo-temporary": true %>
      </div>
    <% end %>
  <% end %>

</div>
