<%= viral_dialog(open: open, id: 'revoke_confirmation_dialog') do |dialog| %>
  <% dialog.with_header(title: t("personal_access_tokens.revoke_confirmation.title")) %>

  <%= turbo_frame_tag("deletion-alert") %>

  <div
    class="
      mb-4 overflow-x-visible font-normal text-slate-500 dark:text-slate-400
    "
  >
    <p class="mb-4">
      <%= t(
        "personal_access_tokens.revoke_confirmation.description",
        token_name: personal_access_token.name,
        bot_name: bot_account.user.email,
      ) %>
    </p>
    <%= form_for(:deletion, url: revoke_group_bot_personal_access_token_path(
          bot_id: @bot_account.id,
          id: personal_access_token.id
        ), method: :delete,
            data: {
              turbo_frame: "_top",
              controller: "token",
              action:"turbo:submit-end->viral--dialog#close"
            }
          ) do |form| %>
      <%= form.submit t("personal_access_tokens.revoke_confirmation.submit_button"),
                  class:
                    "button text-sm px-5 py-2.5 text-white bg-red-700 border-red-800 hover:bg-red-800 dark:bg-red-600 dark:text-white dark:border-red-600 dark:hover:bg-red-700",
                  data: {
                    action: "click->token#removeTokenPanel",
                  } %>
    <% end %>
  </div>
<% end %>
