<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>
  <div class="grid gap-4">
    <p class="text-base leading-relaxed text-slate-500 dark:text-slate-400 ">
      <%= t(".description") %>
    </p>
    <div class="grid gap-4">
      <div
        data-controller="selection"
        data-selection-storage-key-value="<%= "#{request.base_url}#{@index_path}" %>"
        data-selection-id-value="<%= @workflow_execution.id %>"
      >
        <%= button_to t(".submit_button"),
        @destroy_path,
        method: :delete,
        data: {
          turbo_frame: "_top",
          action: "click->selection#removeFromStorage click->viral--dialog#close",
        },
        class: "button button--state-destructive button--size-default" %>
      </div>
    </div>
  </div>
<% end %>
