<%= viral_dialog(id: 'edit-group-link-dialog', open: open) do |dialog| %>
  <% dialog.with_header(title: t(:"groups.group_links.edit.title")) %>

  <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
    <p class="dark:text-slate-400">
      <%= I18n.t(
      "groups.group_links.edit.description",
      name: @namespace_group_link.group.name,
    ) %>
    </p>
  </div>

  <%= form_with(model: @namespace_group_link, url: group_group_link_path(@namespace, @namespace_group_link, tab: @tab), method: :patch,
html: { novalidate: true }) do |form| %>
    <% form_id = "update-group-group-link" %>
    <% expires_at_input_id = "#{form.field_id(:expires_at)}-input" %>

    <div class="grid gap-4">
      <%= form_error_summary(
      form,
      target_overrides: { group_id: form_id, expires_at: expires_at_input_id }
    ) %>

      <%= render partial: "shared/form/required_field_legend" %>

      <% invalid_group_access_level = @namespace_group_link.errors.include?(:group_access_level) %>

      <div class="form-field <%= 'invalid' if invalid_group_access_level %>">
        <%= form.label :group_access_level,
                 I18n.t('common.labels.access_level'),
                 data: {
                   required: true,
                 } %>

        <%= form.select :group_access_level,
                  options_for_select(
                    @access_levels,
                    @namespace_group_link.group_access_level,
                  ),
                  {},
                  {
                    required: true,
                    aria: {
                      describedby: [
                        (
                          if invalid_group_access_level
                            form.field_id(:group_access_level, "error")
                          else
                            nil
                          end
                        ),
                        form.field_id(:group_access_level, "hint"),
                      ].join(" "),
                      invalid: invalid_group_access_level,
                      required: true,
                    },
                     data: {
                       placeholder: I18n.t('common.actions.select'),
                     },
                     value: @namespace_group_link.group_access_level,
                   } %>

        <% if invalid_group_access_level %>
          <%= render "shared/form/field_errors",
        id: form.field_id(:group_access_level, "error"),
        errors: @namespace_group_link.errors.full_messages_for(:group_access_level) %>
        <% end %>

        <p id="<%= form.field_id(:group_access_level, "hint") %>" class="field-hint">
          <%= t("groups.group_links.new.access_level_hint") %>
        </p>
      </div>

      <% invalid_expires_at = @namespace_group_link.errors.include?(:expires_at) %>

      <% if invalid_expires_at %>
        <% error_container_id = form.field_id(:expires_at, "error") %>
      <% end %>

      <div class="form-field <%= 'invalid' if invalid_expires_at %>">
        <%= combobox_datepicker(
        id: form.field_id(:expires_at),
        input_name: "namespace_group_link[expires_at]",
        label: t("groups.group_links.new.label.access_expiration"),
        errored: invalid_expires_at,
        selected_date: @namespace_group_link.expires_at
      ) %>

        <% if invalid_expires_at %>
          <%= render "shared/form/field_errors",
      id: error_container_id,
      errors: @namespace_group_link.errors[:expires_at] %>
        <% end %>
      </div>

      <div class="flex justify-start gap-1">
        <%= render Pathogen::CancelButtonComponent.new(data: { action: "click->viral--dialog#close" }) %>

        <%= form.submit I18n.t('common.actions.save'),
                    tone: :primary,
                    emphasis: :solid,
                  disabled: false %>
      </div>
    </div>
  <% end %>
<% end %>
