<%= viral_dialog(id: 'new-group-link-dialog', open: open) do |dialog| %>
  <% dialog.with_trigger do %>
    <button class="button button-default" data-action="viral--dialog#open">
      <%= I18n.t("groups.members.index.invite_group") %>
    </button>
  <% end %>
  <% dialog.with_header(title: I18n.t("groups.group_links.new.title")) %>
  <% if defined? new_group_link %>
    <%= render partial: "form", locals: { new_group_link: new_group_link } %>
  <% else %>
    <%= turbo_frame_tag "new_group_link_dialog_content", src: new_group_group_link_path({tab: @tab}), loading: :lazy do %>
      <%# TODO: Create a form skeleton? %>
      <%= render partial: "shared/loading/samples_list_skeleton" %>
    <% end %>
  <% end %>
<% end %>
