<%= render Viral::BaseComponent.new(tag: "div", **system_arguments) do %>
  <div class="p-4 mb-4 border-l-4 <%= classes %> " role="alert">
    <div class="flex items-center">
      <span class="flex-shrink-0">
        <%= viral_icon(name: "exclamation_circle", classes: "w-5 h-5 stroke-2") %>
      </span>
      <div class="ml-3 text-lg font-medium">
        <%= message %>
      </div>
    </div>
    <% if content.present? %>
      <div class="mt-2 mb-4 text-sm">
        <%= content %>
      </div>
    <% end %>
  </div>
<% end %>
