<%= render Viral::BaseComponent.new(tag: :span, data: {
  controller: "viral--dialog",
  "viral--dialog-open-value": open,
}) do %>

  <% if trigger.present? %>
    <%= trigger %>
  <% end %>
  <div style="height: 0px">
    <dialog
      id="dialog"
      class="
        relative
        transform
        overvlow-hidden
        rounded-lg
        bg-white
        text-left
        shadow-xl
        transition-all
        backdrop:bg-slate-900/10
        backdrop:backdrop-blur-sm
        <%= @dialog_size %>
      "
    >

      <% if header.present? %>
        <%= header %>
      <% end %>

      <% if sections.present? %>
        <% sections.each_with_index do |section, index| %>
          <%= section %>
          <% if sections.length - 1 != index %>
            <hr class="h-px my-4 bg-slate-200 border-0 dark:bg-slate-600"/>
          <% end %>
        <% end %>
      <% end %>

      <% if render_footer? %>
        <div class="dialog--footer">
          <% if primary_action? %>
            <%= primary_action %>
          <% end %>
          <% if secondary_actions? %>
            <% secondary_actions.each do |action| %>
              <%= action %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </dialog>
  </div>
<% end %>
