<span
  data-controller="viral--dialog"
  data-viral--dialog-open-value="<%= open %>"
>

  <% if trigger.present? %>
    <%= trigger %>
  <% end %>
  <div style="height: 0px">
    <dialog
      id="dialog"
      class="
        w-full
        max-w-2xl
        max-h-full
        p-0
        bg-white
        rounded-lg
        shadow
        dark:bg-slate-800
        focus:outline-none
        backdrop:bg-slate-400/30
        backdrop:dark:bg-slate-900/40
        backdrop:backdrop-blur-sm
        <%= size %>
      "
    >
      <% if header.present? %>
        <%= header %>
      <% end %>

      <% if sections.present? %>
        <% sections.each_with_index do |section, index| %>
          <%= section %>
          <% if sections.length - 1 != index %>
            <hr class="h-px my-4 bg-slate-200 border-0 dark:bg-slate-600"/>
          <% end %>
        <% end %>
      <% end %>

      <% if render_footer? %>
        <div class="dialog--footer">
          <% if primary_action? %>
            <%= primary_action %>
          <% end %>
          <% if secondary_actions? %>
            <% secondary_actions.each do |action| %>
              <%= action %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </dialog>
  </div>
</span>
