<%= render Viral::BaseComponent.new(tag: :span, data: {
  controller: "viral--dialog",
  "viral--dialog-open-value": open,
  "turbo-permanent": true
}) do %>

  <% if trigger.present? %>
    <%= trigger %>
  <% end %>
  <div style="height: 0px">
    <%= render Viral::BaseComponent.new(tag: :dialog, id: id, classes: [dialog_size], **system_arguments) do %>
      <% if header.present? %>
        <%= header %>
      <% end %>

      <% if sections.present? %>
        <% sections.each_with_index do |section, index| %>
          <%= section %>
          <% if sections.length - 1 != index %>
            <hr class="h-px my-4 border-0 bg-slate-200 dark:bg-slate-600"/>
          <% end %>
        <% end %>
      <% end %>

      <% if render_footer? %>
        <div
          class="
            flex items-center p-5 space-x-2 border-t rounded-b border-slate-200
            dark:border-slate-600
          "
        >
          <% if primary_action? %>
            <%= primary_action %>
          <% end %>
          <% if secondary_actions? %>
            <% secondary_actions.each do |action| %>
              <%= action %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
