<div
  class="flex max-sm:grow"
  <% if Flipper.enabled?(:flowbite_replacement) %>
  data-controller="viral--dropdown<%= tooltip? ? ' pathogen--tooltip' : '' %>"
  <% else %>
  data-controller="viral--flowbite-dropdown<%= tooltip? ? ' pathogen--tooltip' : '' %>"
  <% end %>
  data-viral--dropdown-trigger-type-value="none"
  data-viral--dropdown-skidding-value="<%= skidding %>"
  data-viral--dropdown-distance-value="<%= distance %>"
>
  <%= render Viral::BaseComponent.new(tag: :button, **system_arguments) do %>
    <% if icon_name.present? %>
      <%= pathogen_icon(
        icon_name,
        size: nil,
        class: class_names("size-5", { "mr-2": label.present? }),
      ) %>
    <% end %>
    <% if prefix.present? %>
      <span class="sr-only"><%= prefix %>&nbsp;</span>
    <% end %>
    <% if label.present? %>
      <span class="text-center md:text-left truncate grow"><%= label %></span>
    <% end %>
    <% if caret %>
      <%= pathogen_icon(:caret_down, size: :sm, class: "ml-2 flex-none") %>
    <% end %>
  <% end %>

  <%= render tooltip_component if tooltip? %>
  <!-- Dropdown menu -->
  <ul
    id="<%= @dd_id %>"
    <% if Flipper.enabled?(:flowbite_replacement) %>
    data-viral--dropdown-target="menu"
    <% else %>
    data-viral--flowbite-dropdown-target="menu"
    data-viral--flowbite-dropdown-skidding-value="<%= skidding %>"
    data-viral--flowbite-dropdown-distance-value="<%= distance %>"
    <% end %>
    role="menu"
    class="
      z-20 py-2 text-sm text-slate-700 dark:text-slate-200 bg-white rounded-lg shadow
      dark:bg-slate-700 border border-slate-200 dark:border-slate-800
      <%= styles[:dropdown] %>
    "
    aria-labelledby="<%= system_arguments[:id] %>"
    aria-hidden="true"
    tabindex="-1"
    hidden=""
  >
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </ul>
</div>
