<span
  data-controller="viral--dropdown"
  data-viral--dropdown-trigger-value="<%= trigger %>"
  data-viral--dropdown-skidding-value="<%= skidding %>"
  data-viral--dropdown-distance-value="<%= distance %>"
>
  <%= render Viral::BaseComponent.new(tag: :button, **system_arguments) do %>
    <div class="flex items-center w-full">
      <% if icon_name.present? %>
        <%= viral_icon(
          name: icon_name,
          classes: label.present? ? "w-6 h-6 flex-none mr-3" : "w-6 h-6 flex-none",
        ) %>
      <% end %>
      <% if label.present? %>
        <span class="text-left truncate grow"><%= label %></span>
      <% end %>
      <% if caret %>
        <%= viral_icon(name: "chevron_down", classes: "w-4 h-4 ml-2 flex-none") %>
      <% end %>
    </div>
  <% end %>
  <!-- Dropdown menu -->
  <div
    data-viral--dropdown-target="menu"
    class="
      z-20 hidden mx-3 bg-white divide-y rounded-lg shadow divide-slate-100
      dark:bg-slate-700
    "
    style="<%= dropdown_styles %>"
  >
    <ul
      class="py-2 text-sm text-slate-700 dark:text-slate-200"
      aria-labelledby="<%= system_arguments[:id] %>"
    >
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </ul>
  </div>

</span>
