<div
  class="flex"
  data-controller="viral--dropdown"
  data-viral--dropdown-trigger-value="<%= trigger %>"
  data-viral--dropdown-skidding-value="<%= skidding %>"
  data-viral--dropdown-distance-value="<%= distance %>"
>
  <%= p_button(**system_arguments) do |button| %>
    <% if icon_name.present? %>
      <% button.with_leading_visual_icon(icon: icon_name) %>
    <% end %>

    <% if label.present? %>
      <%= label %>
    <% end %>

    <% if caret.present? %>
      <% button.with_trailing_visual_icon(icon: "caret-down") %>
    <% end %>
  <% end %>
  <!-- Dropdown menu -->
  <div
    id="<%= @dd_id %>"
    data-viral--dropdown-target="menu"
    role="menu"
    class="
      z-20 hidden mx-3 bg-white divide-y rounded-lg shadow-sm divide-slate-100
      dark:bg-slate-700
    "
    style="<%= dropdown_styles %>"
    aria-labelledby="<%= system_arguments[:id] %>"
    aria-hidden="true"
    tabindex="-1"
    hidden="hidden"
  >
    <ul class="py-2 text-sm text-slate-700 dark:text-slate-200" role="menu">
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </ul>
  </div>
</div>
