<div
  data-controller="viral--flash"
  data-viral--flash-timeout-value="<%= timeout %>"
  data-viral--flash-type-value="<%= type %>"
  id="toast-<%= type %>-<%= object_id %>"
  class="
    flex items-center w-full max-w-xs p-4 mb-4 text-slate-700 bg-white rounded-lg
    shadow-lg dark:text-slate-400 dark:bg-slate-800 transition-opacity duration-300
    ease-out
  "
  <% if type.to_s == 'error' %>
    role="alert"
    aria-live="assertive"
  <% else %>
    role="status"
    aria-live="polite"
  <% end %>
  aria-atomic="true"
  data-turbo-permanent="true"
>
  <div
    class="
      inline-flex items-center justify-center shrink-0 w-10 h-10 rounded-lg
      <%= case type.to_s
        when "success" then "text-green-500 bg-green-100 dark:bg-green-800 dark:text-green-200"
        when "error"   then "text-red-500 bg-red-100 dark:bg-red-800 dark:text-red-200"
        when "warning" then "text-orange-500 bg-orange-100 dark:bg-orange-700 dark:text-orange-200"
        when "info"    then "text-blue-500 bg-blue-100 dark:bg-blue-800 dark:text-blue-200"
        end %>
    "
  >
    <% case type.to_s %>
    <% when "success" %>
      <%= viral_icon(name: "check_circle_solid", classes: "w-6 h-6") %>
      <span class="sr-only"><%= t("components.flash.success_icon") %></span>
    <% when "error" %>
      <%= viral_icon(name: "x_circle_solid", classes: "w-6 h-6") %>
      <span class="sr-only"><%= t("components.flash.error_icon") %></span>
    <% when "warning" %>
      <%= viral_icon(name: "exclamation_circle_solid", classes: "w-6 h-6") %>
      <span class="sr-only"><%= t("components.flash.warning_icon") %></span>
    <% when "info" %>
      <%= viral_icon(name: "information_circle_solid", classes: "w-6 h-6") %>
      <span class="sr-only"><%= t("components.flash.information_icon") %></span>
    <% end %>
  </div>
  <div class="ms-3 text-sm font-medium text-slate-800 dark:text-slate-300"><%= data %></div>
  <button
    type="button"
    data-action="viral--flash#dismiss"
    class="
      ms-auto -mx-1.5 -my-1.5 bg-white text-slate-500 hover:text-slate-900 rounded-lg
      p-1.5 hover:bg-slate-100 inline-flex items-center justify-center h-11 w-11
      dark:text-slate-400 dark:hover:text-white dark:bg-slate-800
      dark:hover:bg-slate-700 cursor-pointer
    "
    aria-label="<%= t('general.screen_reader.close') %>"
  >
    <%= viral_icon(name: "x_mark", classes: "w-5 h-5") %>
  </button>
</div>
