<turbo-frame id="modal">
  <div data-controller="viral--modal-component">
    <!-- Main modal -->
    <div
      data-viral--modal-component-target="modal"
      tabindex="-1"
      aria-hidden="true"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="dialog_label"
      aria-describedby="dialog_desc"
      class="
        fixed
        top-0
        left-0
        right-0
        z-50
        hidden
        w-full
        p-4
        overflow-x-hidden
        overflow-y-auto
        md:inset-0
        h-[calc(100%-1rem)]
        max-h-full
      "
    >
      <div class="relative w-full <%= size %> max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="
              flex
              items-start
              justify-between
              p-4
              border-b
              rounded-t
              dark:border-gray-600
            "
          >
            <h3
              id="dialog_label"
              class="text-xl font-semibold text-gray-900 dark:text-white"
            >
              <%= title %>
            </h3>
            <button
              type="button"
              class="
                text-gray-400
                bg-transparent
                hover:bg-gray-200
                hover:text-gray-900
                rounded-lg
                text-sm
                p-1.5
                ml-auto
                inline-flex
                items-center
                dark:hover:bg-gray-600
                dark:hover:text-white
              "
              data-action="click->viral--modal-component#close"
            >
              <%= viral_icon(name: "x_mark", classes: "w-5 h-5") %>
              <span class="sr-only"><%= t("components.modal.close") %></span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6 text-gray-500 dark:text-gray-400">
            <%= body %>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
