<span
  data-controller="viral--modal-component"
  data-viral--modal-component-open-value="<%= open %>"
>
  <% if trigger.present? %>
    <%= trigger %>
  <% end %>
  <dialog id="dialog" class="<%= modal_size %>">
    <% if header.present? %>
      <%= header %>
    <% end %>

    <% if sections.present? %>
      <% sections.each_with_index do |section, index| %>
        <%= section %>
        <% if sections.length() - 1 != index %>
          <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-600" />
        <% end %>
        <% end %>
    <% end %>

    <% if render_footer? %>
      <div class="dialog--footer">
        <% if primary_action? %>
          <%= primary_action %>
        <% end %>
        <% if secondary_actions? %>
        <% secondary_actions.each do |action| %>
          <%= action %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </dialog>
</span>
