<div class="justify-between w-full mb-4 page-header flex @max-md:flex-col">
  <div class="flex items-center">
    <% if icon? %>
      <div class="mr-2"><%= icon %></div>
    <% end %>

    <div>
      <% if @id %>
        <div class="flex items-center space-x-2">
          <h1
            class="
              inline text-2xl font-medium leading-tight text-slate-900 dark:text-white
            "
          ><%= title %></h1>
          <%= render PuidComponent.new(puid: id) %>
        </div>
      <% else %>
        <h1
          class="
            inline text-2xl font-medium leading-tight text-slate-900 dark:text-white
          "
        ><%= title %></h1>
      <% end %>
      <% if subtitle != nil %>
        <p class="text-slate-500 dark:text-slate-400"><%= subtitle %></p>
      <% end %>
    </div>
  </div>
  <div class=" flex @md:ml-auto space-x-2 whitespace-nowrap @max-md:mt-2">
    <div class="flex-none"><%= buttons %></div>
  </div>
</div>
