<div class=" justify-between w-full mb-4 page-header sm:flex ">
  <div class="flex items-start">
    <% if icon.present? %>
      <span class="mr-2"><%= icon %></span>
    <% end %>

    <div>
      <% if @id %>
        <div class="flex items-center">
          <h1
            class="
              text-2xl
              font-medium
              leading-tight
              text-slate-900
              dark:text-white
              inline
            "
          ><%= title %></h1>
          <%= viral_pill(text: id, color: id_color, classes: "ml-2") %>
        </div>
      <% else %>
        <h1
          class="
            text-2xl
            font-medium
            leading-tight
            text-slate-900
            dark:text-white
            inline
          "
        ><%= title %></h1>
      <% end %>
      <% if subtitle != nil %>
        <p class="text-slate-500 dark:text-slate-400"><%= subtitle %></p>
      <% end %>
    </div>
  </div>
  <div class="flex ml-auto space-x-2 whitespace-nowrap sm:space-x-3">
    <div class="flex-none"><%= buttons %></div>
  </div>
</div>
