<div
  data-controller="viral--select2"
  data-action="keyup->viral--select2#keydown"
>
  <label for="select2-input" class="sr-only"><%= name %></label>
  <div class="relative">
    <input
      type="text"
      id="select2-input"
      data-action="
        focus->viral--select2#focus
        keydown.enter->viral--select2#keyboardQuery
      "
      data-viral--select2-target="input"
      placeholder="<%= placeholder %>"
      required="<%= required %>"
      autocomplete="off"
      class="
        border-slate-300 text-slate-800 sm:text-sm rounded-md focus:ring-primary-500
        focus:border-primary-500 block w-full p-2.5 dark:bg-slate-800
        dark:border-slate-600 dark:placeholder-slate-400 dark:text-slate-50
        text-opacity-60 dark:focus:ring-primary-500 dark:focus:border-primary-500
      "
    >
    <div
      class="
        absolute inset-y-0 end-[.75em] flex items-center ps-3.5 pointer-events-none
        text-gray-500
      "
    >
      <svg
        data-slot="icon"
        fill="none"
        stroke-width="3.75"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        class="w-[.9em] h-[.9em]"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m19.5 8.25-7.5 7.5-7.5-7.5"
        ></path>
      </svg>
    </div>
  </div>
  <%= form.hidden_field name, data: { "viral--select2-target": "hidden" } %>

  <div
    data-viral--select2-target="dropdown"
    class="z-10 hidden w-full bg-white divide-y rounded-lg shadow  divide-slate-100 dark:bg-slate-700"
  >
    <ul
      data-viral--select2-target="scroller"
      class="
        max-h-[300px] w-full py-2 overflow-y-auto divide-y divide-slate-200
        dark:divide-slate-800
      "
    >
      <% options.each do |option| %>
        <%= option %>
      <% end %>
      <% if empty_state? %>
        <li
          class="hidden p-4 text-blue-800 border border-blue-300  bg-blue-50 dark:bg-slate-800 dark:text-blue-400 dark:border-blue-800"
          data-viral--select2-target="empty"
        >
          <%= empty_state %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
