<div
  data-controller="viral--select2"
  data-action="keyup->viral--select2#keydown"
>
  <label
    for="select2-input"
    class="sr-only"><%= name %></label>
  <input
    type="text"
    id="select2-input"
    data-action="focus->viral--select2#focus keydown.enter->viral--select2#keyboardQuery"
    data-viral--select2-target="input"
    required="<%= required %>"
    autocomplete="off"
    class="
      bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg
      focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5
      dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400
      dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500
    "
  >
  <%= form.hidden_field name, data: { "viral--select2-target": "hidden" } %>

  <div
    data-viral--select2-target="dropdown"
    class="z-10 hidden w-full bg-white divide-y rounded-lg shadow  divide-slate-100 dark:bg-slate-700"
  >
    <ul
      data-viral--select2-target="scroller"
      class="
        max-h-[300px] w-full py-2 overflow-y-auto divide-y divide-slate-200
        dark:divide-slate-700
      "
    >
      <% options.each do |option| %>
        <%= option %>
      <% end %>
      <% if empty_state? %>
        <li
          class="hidden p-4 text-blue-800 border border-blue-300  bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800"
          data-viral--select2-target="empty"
        >
          <%= empty_state %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
