<div>
  <div class="block text-sm font-medium text-slate-900 dark:text-white">
    <%= title %>
  </div>

  <div class="text-base font-medium leading-relaxed text-slate-500 dark:text-slate-400">
    <%= description %>
  </div>
</div>

<% unless templates.empty? %>
  <div>
    <label
      for="template-selector"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >
      <%= template_label %>
    </label>

    <select
      id="template-selector"
      data-action="viral--sortable-lists--two-lists-selection#setTemplate"
      data-viral--sortable-lists--two-lists-selection-target="templateSelector"
      class="
        bg-slate-50 border border-slate-300 text-slate-900 text-sm
        rounded-lg block w-full p-2.5 dark:bg-slate-700
        dark:border-slate-600 dark:placeholder-slate-400 dark:text-white
      "
    >
      <option value="none">
        <%= t("components.viral.sortable_lists_component.no_template") %>
      </option>

      <% templates.each do |template| %>
        <%= tag.option template[:name], value: template[:id], data: { fields: template[:fields] } %>
      <% end %>
    </select>
  </div>
<% end %>

<div class="grid sm:grid-cols-2 max-sm:grid-cols-1 gap-2">
  <% lists.each do |list| %>
    <%= list %>
  <% end %>
</div>

<%= tag.div class: "sr-only",
            aria: { live: "polite" },
            data: {
              viral__sortable_lists__two_lists_selection_target: "ariaLiveUpdate",
              translations: aria_live_translations
            } %>

<template
  data-viral--sortable-lists--two-lists-selection-target="checkmarkTemplate"
>
  <span class="pointer-events-none">
    <%= pathogen_icon(:check, size: :sm, color: :success) %>
  </span>
</template>

<template
  data-viral--sortable-lists--two-lists-selection-target="hiddenCheckmarkTemplate"
>
  <span aria-hidden="true" class="pointer-events-none mx-2"></span>
</template>
