<div>
  <div class="flex justify-between block text-sm font-medium text-slate-900 dark:text-white">
    <%= title %>
  </div>
  <div class="text-sm font-medium text-base leading-relaxed text-slate-500 dark:text-slate-400">
    <%= description %>
  </div>
</div>
<div class="flex">
  <% lists.each do |list| %>
    <%= list %>
  <% end %>
</div>
<% if select_all_buttons %>
<div class="flex -mt-3 font-medium text-slate-900 dark:text-white">
  <button
    class="mr-2 text-sm"
    data-action="click->viral--sortable-lists--two-lists-selection#addAll"
    data-viral--sortable-lists--two-lists-selection-target="addAll"
    >
    <%= t(".add_all") %>
  </button>
  <button
    class="ml-2 text-sm"
    data-action="click->viral--sortable-lists--two-lists-selection#removeAll"
    data-viral--sortable-lists--two-lists-selection-target="removeAll"
    >
    <%= t(".remove_all") %>
  </button>
</div>
<% end %>
