<div
  id="<%= id %>"
  class="
    flex text-sm font-medium text-center text-slate-500 border-b border-slate-200
    dark:text-slate-400 dark:border-slate-700
  "
>
  <ul
    class="flex flex-wrap -mb-px"
    role="tablist"
    aria-orientation="horizontal"
    aria-label="<%= label %>"
  >
    <% tabs.each do |tab| %>
      <li class="mr-2" role="presentation">
        <%= tab %>
      </li>
    <% end %>
  </ul>
  <% if search_bar? %>
    <div class="flex flex-row ml-auto">
      <%= search_bar %>
    </div>
  <% end %>
</div>
<div role="region" aria-live="polite">
  <%= tab_content %>
</div>
