<div data-controller="selection">
  <% (0...3).each do |index| %>
    <div>
      <input
        type="checkbox"
        id="item<%=index%>"
        name="item<%=index%>"
        value="item<%=index%>"
        data-action="input->selection#toggle"
        data-selection-target="rowSelection"
      />
      <label for="item<%=index%>">
        <%= "Item#{index}" %>
      </label>
    </div>
  <% end %>
</div>
