<table
  data-controller="selection"
  class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
>
  <thead
    class="
      text-xs
      text-gray-700
      uppercase
      bg-gray-50
      dark:bg-gray-700
      dark:text-gray-400
    "
  >
    <tr>
      <th scope="col" class="p-4">Selections</th>
      <th scope="col" class="px-6 py-3">
        Rows
      </th>
    </tr>
  </thead>
  <tbody>
    <% (0...3).each do |index| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input
              type="checkbox"
              id="row<%=index%>"
              name="row<%=index%>"
              value="row<%=index%>"
              data-action="input->selection#toggle"
              data-selection-target="rowSelection"
              class="
                w-4
                h-4
                text-blue-600
                bg-gray-100
                border-gray-300
                rounded
                focus:ring-blue-500
                dark:focus:ring-blue-600
                dark:ring-offset-gray-800
                dark:focus:ring-offset-gray-800
                focus:ring-2
                dark:bg-gray-700
                dark:border-gray-600
              "
            >
            <label for="row<%=index%>" class="sr-only">checkbox</label>
          </div>
        </td>
        <th
          scope="row"
          class="
            px-6
            py-4
            font-medium
            text-gray-900
            whitespace-nowrap
            dark:text-white
          "
        ><%= "Row #{index}" %></th>
      </tr>
    <% end %>
  </tbody>
</table>
