<%= viral_dialog(open: open, classes: ["overflow-x-visible"]) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>

    <%= turbo_frame_tag("concatenation-alert") %>

    <div class="mb-4 font-normal text-gray-500 dark:text-gray-400">
      <p class="mb-4"><%= t(".description") %></p>
      <div
        data-controller="projects--samples--attachments--concatenations-files"
        data-projects--samples--attachments--concatenations-files-target="field"
      ></div>
    </div>

    <%= form_for(:concatenation, url: namespace_project_sample_attachments_concatenation_path,
    data: {
      controller: "projects--samples--attachments--concatenations",
      'projects--samples--attachments--concatenations-field-name-value':"concatenation[attachment_ids]",
      'data-projects--samples--attachments--concatenations-storage-key-value':namespace_project_sample_url(id: @sample.id)
    }, method: :post) do |form| %>

      <div data-projects--samples--attachments--concatenations-target="field"></div>

      <div class="grid gap-4">
        <% invalid_basename = @sample.errors.include?(:basename) %>
        <div class="form-field <%= 'invalid' if invalid_basename%>">
          <%= form.label :basename, t(".basename") %>
          <%= form.text_field :basename,
                          required: true,
                          pattern: /^[[a-zA-Z0-9_\-\.]]*$/,
                          title:
                            t(
                              :"projects.samples.attachments.concatenations.create.basename_help"
                            ),
                          class: "form-control" %>
          <%= render "shared/form/field_errors",
          errors: @sample.errors.full_messages_for(:basename) %>
        </div>

        <div class="flex items-center">
          <%= form.check_box :delete_originals,
                         {
                           class:
                             "w-4 h-4 text-primary-600 bg-slate-100 border-slate-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600"
                         },
                         true,
                         false %>
          <%= form.label :delete_originals,
                     class: "ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        </div>

        <div class="flex flex-row-reverse">
          <%= form.submit t(".submit_button"),
                      class: "button button--size-default button--state-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
