<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>
  <%= turbo_frame_tag("concatenation-alert") %>

  <div
    class="
      mb-4 font-normal text-slate-500 dark:text-slate-400 overflow-x-visible
    "
  >
    <p class="mb-4"><%= t(".description") %></p>
    <div
      data-controller="projects--samples--attachments--files"
      data-projects--samples--attachments--files-target="field"
    ></div>
  </div>

  <%= form_for(:concatenation, url: namespace_project_sample_attachments_concatenation_path,
    data: {
      controller: "projects--samples--attachments--selected-attachments",
      'projects--samples--attachments--selected-attachments-field-name-value':"concatenation[attachment_ids]",
      "projects--samples--attachments--selected-attachments-storage-key-value": "files-#{@sample.id}",
      action: 'turbo:submit-end->projects--samples--attachments--selected-attachments#clear'
    }, method: :post) do |form| %>
    <div data-projects--samples--attachments--selected-attachments-target="field"></div>

    <div class="grid gap-4">
      <% invalid_basename = @sample.errors.include?(:basename) %>
      <div class="form-field <%= 'invalid' if invalid_basename%>">
        <%= form.label :basename, t(".basename") %>
        <%= form.text_field :basename,
                        required: true,
                        pattern: /^[[a-zA-Z0-9_\-\.]]*$/,
                        title:
                          t(
                            :"projects.samples.attachments.concatenations.create.basename_help",
                          ),
                        class: "form-control" %>
        <%= render "shared/form/field_errors",
        errors: @sample.errors.full_messages_for(:basename) %>
      </div>

      <div class="flex items-center">
        <%= form.check_box :delete_originals,
                       {
                         class:
                           "w-4 h-4 text-primary-600 bg-slate-100 border-slate-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600",
                       },
                       true,
                       false %>
        <%= form.label :delete_originals,
                   class: "ml-2 text-sm font-medium text-slate-900 dark:text-slate-300" %>
      </div>

      <div>
        <%= form.submit t(".submit_button"),
                    class: "button button--size-default button--state-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
