<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>

  <%= form_with(model: @concatenation_form, url: namespace_project_sample_attachments_concatenation_path,
    data: {
      controller: "projects--samples--attachments--selected-attachments",
      'projects--samples--attachments--selected-attachments-field-name-value':"concatenation_form[attachment_ids]",
      "projects--samples--attachments--selected-attachments-storage-key-value": "files-#{@sample.id}",
      action: 'turbo:submit-end->projects--samples--attachments--selected-attachments#clear'
    }, method: :post, html: { novalidate: true }) do |form| %>
    <% summary_entries = FormErrorSummaryEntryBuilder.new(builder: form, errors: @concatenation_form.errors).call %>

    <%= render FormErrorSummaryComponent.new(entries: summary_entries) %>

    <div class="grid gap-4">
      <% invalid_attachment_ids = @concatenation_form.errors.include?(:attachment_ids) %>

      <%= render partial: "shared/form/required_field_legend" %>

      <div class="form-field" <%= 'invalid' if invalid_attachment_ids %>>
        <%= form.label :attachment_ids, data: { required: true } %>

        <div
          class="mb-4 overflow-x-visible font-normal text-slate-500 dark:text-slate-400"
          tabindex="0"
          aria-label="<%= form.field_id(:attachment_ids) %>"
          <%= "aria-describedby=#{form.field_id(:attachment_ids, "error")}" if invalid_attachment_ids %>
        >
          <div
            class="scrollbar overflow-auto"
            data-controller="projects--samples--attachments--files"
            data-projects--samples--attachments--files-target="field"
          ></div>
        </div>

        <div data-projects--samples--attachments--selected-attachments-target="field"></div>

        <% if invalid_attachment_ids %>
          <%= render "shared/form/field_errors",
          id: form.field_id(:attachment_ids, "error"),
          errors: @concatenation_form.errors.full_messages_for(:attachment_ids) %>
        <% end %>
      </div>

      <% invalid_basename = @concatenation_form.errors.include?(:basename) %>

      <div class="form-field <%= 'invalid' if invalid_basename %>">
        <%= form.label :basename, data: { required: true } %>

        <%= form.text_field :basename,
                        required: true,
                        pattern: /^[[a-zA-Z0-9_\-\.]]*$/,
                        title:
                          t(
                            :"projects.samples.attachments.concatenations.create.basename_help",
                          ),
                        aria: {
                          describedby: [
                            invalid_basename ? form.field_id(:basename, "error") : nil,
                            form.field_id(:basename, "hint"),
                          ].join(" "),
                          invalid: invalid_basename,
                          required: true,
                        },
                        class: "form-control" %>

        <% if invalid_basename %>
          <%= render "shared/form/field_errors",
          id: form.field_id(:basename, "error"),
          errors: @concatenation_form.errors.full_messages_for(:basename) %>
        <% end %>

        <span id="<%= form.field_id(:basename, "hint") %>" class="field-hint">
          <%== t(:"projects.samples.attachments.concatenations.create.basename_help") %>
        </span>
      </div>

      <div class="flex items-center">
        <%= form.check_box :delete_originals %>

        <%= form.label :delete_originals,
                   class: "ml-2 text-sm font-medium text-slate-900 dark:text-slate-300" %>
      </div>

      <div>
        <%= form.submit t(".submit_button"), class: "button button-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
