<nav
  class="
    w-full
    bg-white
    border-b
    border-gray-200
    dark:bg-gray-800
    dark:border-gray-700
  "
>
  <div class="px-3 py-1">
    <div class="flex items-center justify-between ml-4">
      <div class="flex items-center justify-start">
        <a href="<%= root_path %>" class="flex items-center mr-2">
          <%= viral_icon(name: "beaker", classes: "w-12 h-12 text-green-500 rotate-12") %>
          <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">
            <%= t(:"general.name") %>
          </span>
        </a>

        <%= viral_dropdown(icon: "bars_3", aria: { label: t(:'general.navbar.main_dropdown.aria-label') }) do |dropdown| %>
          <%= dropdown.item(
            label: t(:"general.navbar.main_dropdown.projects"),
            url: dashboard_projects_path,
            icon_name: "rectangle_stack"
          ) %>
          <%= dropdown.item(
            label: t(:"general.navbar.main_dropdown.groups"),
            url: groups_path,
            icon_name: "squares_2x2"
          ) %>
        <% end %>

        <form action="#" method="GET" class="hidden lg:block lg:pl-3.5">
          <label for="topbar-search" class="sr-only">Search</label>
          <div class="relative mt-1 lg:w-96">
            <div
              class="
                absolute
                inset-y-0
                left-0
                flex
                items-center
                pl-3
                pointer-events-none
              "
            >
              <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
            </div>
            <input
              type="text"
              name="email"
              id="topbar-search"
              class="
                bg-gray-50
                border
                border-gray-300
                text-gray-900
                sm:text-sm
                rounded-lg
                focus:ring-primary-500
                focus:border-primary-500
                block
                w-full
                pl-10
                p-2.5
                dark:bg-gray-700
                dark:border-gray-600
                dark:placeholder-gray-400
                dark:text-white
                dark:focus:ring-primary-500
                dark:focus:border-primary-500
              "
              placeholder="<%= t(:'general.navbar.search.placeholder') %>"
            >
          </div>
        </form>
      </div>
      <div class="grid grid-cols-3 gap-2 mr-8">
        <!-- Dark Mode Toggl -->
        <button
          id="app-darkmode-toggle"
          type="button"
          class="navbar-btn"
          data-dark-mode-target="themeToggle"
          data-action="click->dark-mode#toggleTheme"
          aria-label="<%= t(:'general.navbar.dark_mode.aria_label') %>"
        >
          <%= viral_icon(name: "moon", classes: "hidden", "data-dark-mode-target": "darkIcon") %>
          <%= viral_icon(name: "sun", classes: "hidden", "data-dark-mode-target": "lightIcon") %>
        </button>
        <!-- New item menu -->
        <%= viral_dropdown(icon: "document_plus", aria: { label: t(:'general.navbar.new_dropdown.aria_label') }) do |dropdown| %>
          <%= dropdown.item(
            label: t(:"general.navbar.new_dropdown.project"),
            url: new_project_path
          ) %>
          <%= dropdown.item(
            label: t(:"general.navbar.new_dropdown.group"),
            url: new_group_path
          ) %>
        <% end %>
        <!-- Profile menu -->
        <%= viral_dropdown(icon: "user_circle", aria: { label: t(:'general.navbar.account_dropdown.aria_label') }) do |dropdown| %>
          <%= dropdown.item(
            label: t(:"general.navbar.account_dropdown.profile"),
            url: profile_path
          ) %>
          <%= dropdown.item(
            label: t(:"general.navbar.account_dropdown.sign_out"),
            url: destroy_user_session_path,
            data: {
              turbo_method: :delete
            }
          ) %>
        <% end %>

      </div>
    </div>
  </div>
</nav>
