<nav
  class="
    w-full
    bg-white
    border-b
    border-gray-200
    dark:bg-gray-800
    dark:border-gray-700
  "
>
  <div class="px-3 py-1">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <a href="<%= root_path %>" class="flex items-center">
          <%= viral_icon(name: "beaker", classes: "w-12 h-12 text-green-500 rotate-12") %>
          <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">
            <%= t(:"general.name") %>
          </span>
        </a>
        <button
          id="toggleMainMenu"
          aria-expanded="true"
          aria-label="<%= t(:'general.navbar.main_dropdown.aria-label') %>"
          data-dropdown-toggle="main-menu-dropdown"
          class="navbar-btn"
        >
          <%= viral_icon(name: "bars_3", classes: "w-6 h-6") %>
        </button>
        <!-- Dropdown menu -->
        <div id="main-menu-dropdown" class="dropdown-menu">
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <%= link_to projects_path do %>
                <span class="flex-grow-0 mr-3"><%= viral_icon(name: "rectangle_stack", color: :subdued, classes: "w-5 h-5") %></span>
                <%= t(:"general.navbar.main_dropdown.projects") %>
              <% end %>
            </li>
            <li>
              <%= link_to groups_path do %>
                <span class="flex-grow-0 mr-3"><%= viral_icon(name: "squares_2x2", color: :subdued, classes: "w-5 h-5") %></span>
                <%= t(:"general.navbar.main_dropdown.groups") %>
              <% end %>
            </li>
          </ul>
        </div>
        <form action="#" method="GET" class="hidden lg:block lg:pl-3.5">
          <label for="topbar-search" class="sr-only">Search</label>
          <div class="relative mt-1 lg:w-96">
            <div
              class="
                absolute
                inset-y-0
                left-0
                flex
                items-center
                pl-3
                pointer-events-none
              "
            >
              <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
            </div>
            <input
              type="text"
              name="email"
              id="topbar-search"
              class="
                bg-gray-50
                border
                border-gray-300
                text-gray-900
                sm:text-sm
                rounded-lg
                focus:ring-primary-500
                focus:border-primary-500
                block
                w-full
                pl-10
                p-2.5
                dark:bg-gray-700
                dark:border-gray-600
                dark:placeholder-gray-400
                dark:text-white
                dark:focus:ring-primary-500
                dark:focus:border-primary-500
              "
              placeholder="<%= t(:'general.navbar.search.placeholder') %>"
            >
          </div>
        </form>
      </div>
      <div class="flex items-center ml-3">
        <!-- Dark Mode Toggl -->
        <button
          id="app-darkmode-toggle"
          type="button"
          class="navbar-btn"
          data-dark-mode-target="themeToggle"
          data-action="click->dark-mode#toggleTheme"
          aria-label="<%= t(:'general.navbar.dark_mode.aria_label') %>"
        >
          <%= viral_icon(name: "moon", classes: "hidden", "data-dark-mode-target": "darkIcon") %>
          <%= viral_icon(name: "sun", classes: "hidden", "data-dark-mode-target": "lightIcon") %>
        </button>
        <!-- New item menu -->
        <button
          id="dropdownNewItem"
          aria-label="<%= t(:'general.navbar.new_dropdown.aria_label') %>"
          data-dropdown-toggle="new-item-dropdown"
          type="button"
          class="navbar-btn"
        >
          <%= viral_icon(name: "document_plus") %>
        </button>
        <!-- Dropdown menu -->
        <div id="new-item-dropdown" class="dropdown-menu">
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <%= link_to t(:"general.navbar.new_dropdown.project"), new_project_path %>
            </li>
            <li>
              <%= link_to t(:"general.navbar.new_dropdown.group"), new_group_path %>
            </li>
          </ul>
        </div>
        <!-- Profile menu -->
        <button
          id="dropdownDefaultButton"
          aria-label="<%= t(:'general.navbar.account_dropdown.aria_label') %>>"
          data-dropdown-toggle="profile-dropdown"
          type="button"
          class="navbar-btn"
        >
          <%= viral_icon(name: "user_circle") %>
        </button>
        <!-- Dropdown menu -->
        <div id="profile-dropdown" class="dropdown-menu">
          <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
            <div>Fred Penner</div>
            <div class="font-medium truncate text-slate-400"><%= @user.email %></div>
          </div>
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <%= link_to t(:"general.navbar.account_dropdown.profile"), profile_path %>
            </li>
            <li>
              <%= link_to t(:"general.navbar.account_dropdown.sign_out"),
              destroy_user_session_path,
              data: {
                turbo_method: :delete
              } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
