<aside id="sidebar" class="sidebar" aria-label="Sidebar">
  <div style="grid-area: navigation; display: flex; flex-direction: column;">
    <div
      class="flex items-center justify-between px-2 overflow-x-hidden bg-slate-200 whitespace-nowrap"
      style="height: 50px;"
    >
      <a href="<%= root_path %>" class="whitespace-nowrap">
        <%= viral_icon(
          name: "beaker",
          classes: "w-8 h-8 text-green-500 rotate-12 inline-block"
        ) %>
        <span class="text-sm font-semibold text-gray-700 dark:text-gray-200">
          <%= t(:"general.name") %>
        </span>
      </a>
      <div>
        <button
          data-action="click->layout--layout-component#collapse"
          class="navbar-button"
        >
          <%= viral_icon(name: "sidebar", classes: "w-6 h-6") %>
        </button>
        <!-- Profile menu -->
        <%= viral_dropdown(icon: "user_circle", skidding: -300, dropdown_styles: "width: 255px;", aria: { label: t(:'general.navbar.account_dropdown.aria_label') }, classes: "p-1 navbar-button") do |dropdown| %>
          <%= dropdown.item(
            label: t(:"general.navbar.account_dropdown.profile"),
            url: profile_path
          ) %>
          <%= dropdown.item(
            label: t(:"general.navbar.account_dropdown.sign_out"),
            url: destroy_user_session_path,
            data: {
              turbo_method: :delete
            }
          ) %>
        <% end %>
      </div>
    </div>
    <div class="pt-2 pb-4 overflow-y-auto ">
      <div class="flex-1 space-y-1 divide-y divide-slate-200 dark:divide-slate-700">
        <%= header %>
        <% if sections.present? %>
          <% sections.each do |section| %>
            <%= section %>
          <% end %>
        <% else %>
          <%= render Layout::Sidebar::SectionComponent.new do %>
            <% items.each do |item| %>
              <%= item %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</aside>
