<aside
  id="sidebar"
  class="flex flex-col text-sm border-r sidebar border-slate-200 bg-slate-50 dark:border-slate-950 dark:bg-slate-900"
  aria-label="Sidebar"
>
  <div class="grow">
    <div
      class="flex overflow-x-hidden justify-between items-center px-2 whitespace-nowrap bg-slate-200 dark:bg-slate-950"
      style="height: 50px;"
    >
      <a href="<%= root_path %>" class="whitespace-nowrap">
        <%= viral_icon(
          name: "beaker",
          classes: "w-8 h-8 text-green-500 rotate-12 inline-block",
        ) %>
        <span class="text-sm font-semibold text-slate-700 dark:text-slate-200">
          <%= t(:"general.name") %>
        </span>
      </a>
      <div
        class="flex flex-row shrink-0 justify-end items-center space-x-1 space-y-1"
      >
        <button
          data-action="click->layout#collapse"
          class="navbar-button"
          aria-label="<%= t(:'general.navbar.collapse.aria_label') %>"
        >
          <%= viral_icon(name: "sidebar", classes: "w-6 h-6") %>
        </button>
        <!-- Add new items -->
        <%= viral_dropdown(icon: "plus", skidding: -300, dropdown_styles: "width: 276px;", aria: { label: t(:'general.navbar.new_dropdown.aria_label') }, classes: "p-1 navbar-button") do |dropdown| %>
          <%= dropdown.with_item(
            label: t(:"general.navbar.new_dropdown.project"),
            url: new_project_path,
          ) %>
          <%= dropdown.with_item(
            label: t(:"general.navbar.new_dropdown.group"),
            url: new_group_path,
          ) %>
        <% end %>
        <!-- Profile menu -->
        <%= viral_dropdown(icon: "user_circle", skidding: -300, dropdown_styles: "width: 276px;", aria: { label: t(:'general.navbar.account_dropdown.aria_label') }, classes: "p-1 navbar-button") do |dropdown| %>
          <%= dropdown.with_item(
            label: t(:"general.navbar.account_dropdown.profile"),
            url: profile_path,
          ) %>
          <%= dropdown.with_item(
            label: t(:"general.navbar.account_dropdown.sign_out"),
            url: destroy_user_session_path,
            data: {
              turbo_method: :delete,
            },
          ) %>
        <% end %>
      </div>
    </div>
    <div
      class="p-2 bg-slate-200 dark:bg-slate-950 dark:border-slate-950"
      data-controller="viral--dropdown"
      data-viral--dropdown-skidding-value="0"
      data-viral--dropdown-distance-value="5"
      data-viral--dropdown-trigger-value="click"
      data-viral--dropdown-position-value="bottom-start"
    >
      <button
        class="py-2 w-full rounded-md border transition-colors duration-200 border-slate-400 bg-slate-100 dark:bg-slate-900 hover:bg-slate-300 dark:hover:bg-slate-950 dark:border-slate-800 dark:text-slate-200"
        data-viral--dropdown-target='trigger'
      ><%= t(:"general.default_sidebar.goto") %></button>
      <div
        data-viral--dropdown-target="menu"
        class="hidden z-20 mx-3 w-56 bg-white rounded-lg divide-y shadow-sm divide-slate-100 dark:bg-slate-700"
      >
        <h3 class="py-2 pl-4 font-semibold text-slate-900 dark:text-white">
          <%= t(:"general.default_sidebar.title") %>
        </h3>
        <ul class="py-2 w-full text-sm text-slate-700 dark:text-slate-200">
          <li>
            <%= link_to t(:"general.default_sidebar.projects"),
            dashboard_projects_path,
            class:
              "px-4 py-2 block text-base hover:bg-slate-100 hover:cursor-pointer dark:hover:bg-slate-950" %>
          </li>
          <li><%= link_to t(:"general.default_sidebar.groups"),
            groups_path,
            class:
              "px-4 py-2 block text-base hover:bg-slate-100 hover:cursor-pointer dark:hover:bg-slate-950" %></li>
          <li><%= link_to t(:"general.default_sidebar.workflows"),
            workflow_executions_path,
            class:
              "px-4 py-2 block text-base hover:bg-slate-100 hover:cursor-pointer dark:hover:bg-slate-950" %></li>
          <li><%= link_to t(:"general.default_sidebar.data_exports"),
            data_exports_path,
            class:
              "px-4 py-2 block text-base hover:bg-slate-100 hover:cursor-pointer dark:hover:bg-slate-950" %></li>
        </ul>
      </div>
    </div>
    <div class="flex-1">
      <turbo-frame id="sidebar-header">
        <%= header %>
      </turbo-frame>
      <% if sections.present? %>
        <% sections.each do |section| %>
          <%= section %>
        <% end %>
      <% else %>
        <%= render Layout::Sidebar::SectionComponent.new do %>
          <% items.each do |item| %>
            <%= item %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="p-2">
    <%= link_to "https://phac-nml.github.io/irida-next/docs/intro", target: :_blank, class: "flex-inline button button--state-default button--size-small" do %>
      <%= viral_icon(name: :question_mark, classes: "w-4 h-4 mr-1") %>
      <%= t("general.help") %>
    <% end %>
  </div>
</aside>
