<aside id="sidebar" class="sidebar" aria-label="Sidebar">
  <div
    style="grid-area: navigation; display: flex; flex-direction: column;"
    class="bg-white dark:bg-gray-800 dark:border-gray-700"
  >
    <div
      class="
        flex
        items-center
        justify-between
        p-2
        overflow-x-hidden
        whitespace-nowrap
      "
    >
      <a href="<%= root_path %>" class="whitespace-nowrap">
        <%= viral_icon(
          name: "beaker",
          classes: "w-8 h-8 text-green-500 rotate-12 inline-block"
        ) %>
        <span class="text-sm font-semibold text-gray-700 dark:text-gray-200">
          <%= t(:"general.name") %>
        </span>
      </a>
      <div>
        <button
          data-action="click->layout--layout-component#collapse"
          class="navbar-button"
        >
          <%= viral_icon(name: "chevron_double_left", classes: "w-6 h-6") %>
        </button>
        <!-- Profile menu -->
        <%= viral_dropdown(icon: "user_circle", aria: { label: t(:'general.navbar.account_dropdown.aria_label') }, classes: "p-1") do |dropdown| %>
          <%= dropdown.item(
            label: t(:"general.navbar.account_dropdown.profile"),
            url: profile_path
          ) %>
          <%= dropdown.item(
            label: t(:"general.navbar.account_dropdown.sign_out"),
            url: destroy_user_session_path,
            data: {
              turbo_method: :delete
            }
          ) %>
        <% end %>
      </div>
    </div>
    <div class="pt-2 pb-4 overflow-y-auto ">
      <div
        class="
          flex-1
          px-2
          space-y-1
          bg-white
          divide-y
          divide-gray-200
          dark:bg-gray-800
          dark:divide-gray-700
        "
      >
        <%= header %>
        <% if sections.present? %>
          <% sections.each do |section| %>
            <%= section %>
          <% end %>
        <% else %>
          <%= render Layout::Sidebar::SectionComponent.new do %>
            <% items.each do |item| %>
              <%= item %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div style="grid-area: collapse">
    <button
      data-action="click->layout--layout-component#toggle"
      class="
        flex
        items-center
        justify-center
        w-full
        h-10
        text-sm
        font-medium
        text-gray-500
        transition-colors
        duration-150
        border-t
        border-gray-200
        rounded-none
        hover:text-gray-700
        dark:hover:text-gray-200
        dark:border-gray-700
        dark:text-gray-400
        dark:hover:bg-gray-700
        focus:ring-0
      "
    >
      <span
        data-layout--layout-component-target="iconCollapse"
        class="flex items-center"
      >
        <%= render(
          Viral::IconComponent.new(
            name: "chevron_double_left",
            color: :subdued,
            classes: "w-5 h-5 mr-2"
          )
        ) %>
        <%= t(:"general.collapse_sidebar") %>
      </span>

      <span
        data-layout--layout-component-target="iconExpand"
        class="items-center hidden"
      >
        <%= render(
          Viral::IconComponent.new(
            name: "chevron_double_right",
            color: :subdued,
            classes: "w-5 h-5"
          )
        ) %>
        <span class="sr-only"><%= t(:"general.expand_sidebar") %></span>
      </span>
    </button>
  </div>
</aside>
