<%= render Viral::BaseComponent.new(**wrapper_arguments) do %>
  <%= render Viral::BaseComponent.new(**system_arguments) do %>
    <table
      class='
        w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
        whitespace-nowrap
      '
    >
      <thead
        class='
          text-xs uppercase text-slate-700 bg-slate-50 dark:bg-slate-700
          dark:text-slate-400
        '
      >
        <tr>
          <% @columns.each_with_index do |column, index| %>
            <%= render_cell(
              tag: 'th',
              scope: 'col',
              classes: class_names('px-3 py-3', 'sticky left-0 z-10 bg-slate-50 dark:bg-slate-700': index.zero?)
            ) do %>

              <% if column == :workflow_name || column == :workflow_version %>
                <%= render Ransack::SortComponent.new(
                  ransack_obj: @q,
                  label: t(".#{column}"),
                  url:
                    helpers.sorting_url(
                      @q,
                      URI.encode_www_form_component("metadata_#{column}"),
                    ),
                  field: "metadata_#{column}",
                  data: {
                    turbo_action: "replace",
                  },
                ) %>
              <% else %>
                <%= render Ransack::SortComponent.new(
                  ransack_obj: @q,
                  label: t(".#{column}"),
                  url: helpers.sorting_url(@q, column),
                  field: column,
                  data: {
                    turbo_action: "replace",
                  },
                ) %>
              <% end %>
            <% end %>
          <% end %>
          <% if @renders_row_actions %>
            <%= render_cell(
              tag: 'th',
              scope: 'col',
              classes: class_names('px-3 py-3 bg-slate-50 dark:bg-slate-700 sticky right-0')
            ) do %>
              <%= t(".actions") %>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody
        class='
          bg-white divide-y divide-slate-200 dark:bg-slate-800 dark:divide-slate-700
        '
      >
        <% @workflow_executions.each do |workflow_execution| %>
          <%= render Viral::BaseComponent.new(**row_arguments(workflow_execution)) do %>
            <% @columns.each_with_index do |column, index| %>
              <%= render_cell(
                tag: index.zero? ? 'th' :'td',
                scope: index.zero? ? 'row' : nil,
                classes: class_names('px-3 py-3', 'sticky left-0 bg-slate-50 dark:bg-slate-900': index.zero?)
              ) do %>
                <% if column == :puid %>
                  <%= link_to(
                    workflow_execution.id,
                    individual_path(workflow_execution),
                    data: {
                      turbo: false,
                    },
                    class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline",
                  ) %>
                <% elsif column == :state %>
                  <%= viral_pill(
                    text: t(:"workflow_executions.state.#{workflow_execution[column]}"),
                    color: helpers.find_pill_color_for_state(workflow_execution[column]),
                    border: true,
                  ) %>
                <% elsif column == :workflow_name || column == :worfklow_version %>
                  <%= workflow_execution.metadata[column.to_s] %>
                <% elsif column == :created_at %>
                  <%= helpers.local_time(workflow_execution[column], :full_date) %>
                <% elsif column == :updated_at || column == :attachments_updated_at %>
                  <% if workflow_execution[column].present? %>
                    <%= helpers.local_time_ago(workflow_execution[column]) %>
                  <% end %>
                <% else %>
                  <%= workflow_execution[column.to_sym] %>
                <% end %>
              <% end %>
            <% end %>
            <% if @renders_row_actions %>
              <%= render_cell(
                tag: 'td',
                classes: class_names('px-3 py-3 sticky right-0 bg-white dark:bg-slate-800 z-10 space-x-2')
              ) do %>
                <% if workflow_execution.cancellable? && @row_actions.key?(:cancel) %>
                  <%= link_to(
                    t(:"workflow_executions.index.actions.cancel_button"),
                    cancel_path(workflow_execution),
                    data: {
                      turbo_stream: true,
                      turbo_method: :put,
                      turbo_confirm: t(:"workflow_executions.index.actions.cancel_confirm"),
                    },
                    class:
                      "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer",
                  ) %>
                <% end %>
                <% if workflow_execution.deletable? && @row_actions.key?(:destroy) %>
                  <%= link_to(
                    t(:"workflow_executions.index.actions.delete_button"),
                    individual_path(workflow_execution),
                    data: {
                      turbo_stream: true,
                      turbo_method: :delete,
                      turbo_confirm: t(:"workflow_executions.index.actions.delete_confirm"),
                    },
                    class:
                      "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer",
                  ) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% unless @workflow_executions.empty? %>
    <%= render PaginationComponent.new(
      info: helpers.pagy_info(@pagy),
      prev_url:
        (
          if @pagy.prev
            helpers.pagy_url_for(@pagy, @pagy.prev).gsub(
              "workflow_executions.turbo_stream",
              "workflow_executions",
            )
          else
            nil
          end
        ),
      next_url:
        (
          if @pagy.next
            helpers.pagy_url_for(@pagy, @pagy.next).gsub(
              "workflow_executions.turbo_stream",
              "workflow_executions",
            )
          else
            nil
          end
        ),
      data: {
        turbo_action: "replace",
      },
    ) %>
  <% end %>
  <div class="empty_state_message">
    <%= viral_empty(
      title: @empty[:title],
      description: @empty[:description],
      icon_name: :document_text,
    ) %>
  </div>
<% end %>
