<h2><%= t(".title") %></h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, novalidate: true }) do |f| %>
  <%= form_error_summary(f) %>

  <% invalid_email = resource.errors.include?(:email) %>
  <div class="field <%= 'invalid' if invalid_email %>">
    <%= f.label :email %><br/>
    <%= f.email_field :email,
                  autofocus: resource.errors.none?,
                  autocomplete: "email",
                  aria: {
                    describedby: invalid_email ? f.field_id(:email, "error") : nil,
                    invalid: invalid_email,
                  } %>
    <% if invalid_email %>
      <%= render "shared/form/field_errors",
      id: f.field_id(:email, "error"),
      errors: resource.errors.full_messages_for(:email) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t(".submit_button") %>
  </div>
<% end %>

<div class="grid gap-2">
  <%= render "devise/shared/links" %>
</div>
