<div class="py-1">
  <div class="font-semibold text-gray-900 dark:text-white"><%= t(".id") %> <%= workflow_execution.id %></div>
  <% unless workflow_execution.name.nil? || workflow_execution.name.empty? %>
    <div class="font-normal text-gray-500 dark:text-gray-400"><%= t(".name") %> <%= workflow_execution.name %></div>
  <% end %>
  <div class="font-normal text-gray-500 dark:text-gray-400"><%= t(".run_id") %> <%= workflow_execution.run_id %></div>
  <div class="font-normal text-gray-500 dark:text-gray-400">
    <%= t(".workflow") %> <%= workflow_execution.metadata["workflow_name"] %> <%= workflow_execution.metadata["workflow_version"] %>
  </div>
</div>
