<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>
    <%= form_for(:data_export, url: data_exports_path,
        data: {
          controller: "data-exports--create",
          action: 'turbo:submit-end->data-exports--create#clear'
        }, method: :post) do |form| %>
    <div class="mb-4 font-normal text-gray-500 dark:text-gray-400">
      <div class="form-field mb-4">
        <%= form.label :name, t(".name_label") %>
        <%= form.text_field :name, class: "form-control",
        data: {
          'data-exports--create-target': 'nameInput'
        } %>
      </div>
      <div class="flex mb-4 items-center h-5">
        <%= form.label :email_notification, t(".email_label"),
        class: "mr-2 text-sm font-medium text-slate-900 dark:text-white" %>
        <%= form.check_box :email_notification, { checked: false }, true, false %>
      </div>
      <div class="mb-4 text-sm font-medium text-slate-900 dark:text-white">
        <p data-data-exports--create-target="sampleCount"><%= t(".sample_count") %></p>
      </div>
      <div>
        <%= form.hidden_field :export_type, value: 'sample' %>
      </div>
      <div data-data-exports--create-target="field"></div>
      <div>
        <%= form.submit t(".submit_button"),
        "data-action": "data-exports--create#submit",
          data: {
            turbo_frame: "_top"
          },
          class: "button button--state-primary button--size-default" %>
      </div>
    <% end %>
  <% end %>
<% end %>
