<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>

  <%= turbo_frame_tag "sample_export_dialog_content" do %>
    <div
      data-controller="infinite-scroll viral--sortable-lists--two-lists-selection"
      data-viral--sortable-lists--two-lists-selection-selected-list-value="selected-list"
      data-viral--sortable-lists--two-lists-selection-available-list-value="available-list"
      data-viral--sortable-lists--two-lists-selection-field-name-value="data_export[export_parameters][attachment_formats][]"
      data-infinite-scroll-selection-outlet="#samples-table"
      data-infinite-scroll-paged-field-name-value="sample_ids[]"
      data-infinite-scroll-singular-description-value="<%= t(:"data_exports.new.sample_description.singular") %>"
      data-infinite-scroll-plural-description-value="<%= t(:"data_exports.new.sample_description.plural") %>"
      data-infinite-scroll-non-zero-header-value="<%= t(:"data_exports.new.samples_count.non_zero") %>"
      class="font-normal text-slate-500 dark:text-slate-400"
    >
      <%= form_with(
        url: list_data_exports_path(list_class: 'sample'),
        data: { "infinite-scroll-target": "pageForm" }
      ) do %>
        <div data-infinite-scroll-target="pageFormContent"></div>
      <% end %>

      <div class="grid gap-4">
        <div data-controller="collapsible">
          <h2 id="<%= "accordion-collapse-heading-samples" %>">
            <button
              type="button"
              class="
                flex w-full items-center justify-between gap-3 rounded-t-lg border border-slate-200 p-3 font-medium
                text-black hover:bg-slate-100 rtl:text-right dark:border-slate-700 dark:text-white
                dark:hover:bg-slate-800
              "
              data-collapsible-target="button"
              data-action="collapsible#toggle"
            >
              <span data-infinite-scroll-target="selectionCount"><%= t(".samples") %></span>

              <span
                data-collapsible-target="icon"
                class="<%= class_names("transition-transform duration-200 mr-2 flex-shrink-0", { "rotate-180": @selected }) %>"
              >
                <%= pathogen_icon(:caret_down, size: :sm, class: "mr-0 rotate-0") %>
              </span>
            </button>
          </h2>

          <div
            data-collapsible-target="item"
            id="<%= "accordion-collapse-body-samples" %>"
            class="hidden"
            role="region"
            aria-labelledby="<%= "accordion-collapse-heading-samples" %>"
          >
            <div
              class="
                border border-t-0 border-slate-200 p-2.5 text-base leading-relaxed text-slate-500
                dark:border-slate-700 dark:text-slate-400
              "
            >
              <span data-infinite-scroll-target="summary"><%= t(:"data_exports.new.sample_description.zero") %></span>
              <span><%= t(:"data_exports.new.after_submission_description_html") %></span>
            </div>

            <div
              class="
                block max-h-[200px] w-full overflow-y-auto rounded-b-lg border border-t-0 border-slate-200 p-2.5
                dark:border-slate-700 dark:bg-slate-800
              "
              data-action="scroll->infinite-scroll#scroll"
              data-infinite-scroll-target="scrollable"
            >
              <%= turbo_frame_tag "list_selections" do %>
                <%= render partial: "shared/loading/samples_list_skeleton" %>
              <% end %>
            </div>
          </div>
        </div>

        <%= render partial: "shared/form/required_field_legend" %>

        <h2 class="text-base font-semibold text-slate-900 dark:text-slate-100"><%= t(".select_formats") %></h2>

        <%= render Viral::SortableListsGuidanceComponent.new(
          title: t(".fields_instructions_title"),
          instructions: t(".fields_instructions"),
          keyboard_help: t(".keyboard_help"),
          available: {
            title: t(".available_list_title"),
            description: t(".available_description"),
          },
          selected: {
            title: t(".selected_list_title"),
            description: t(".selected_description"),
          },
        ) %>

        <%= render SortableListsComponent.new do |sortable_lists| %>
          <%= sortable_lists.with_list(
            id: "available-list",
            title: t(".available"),
            group: "format_selection",
          ) %>

          <%= sortable_lists.with_list(
            id: "selected-list",
            title: t(".selected"),
            list_items: formats,
            group: "format_selection",
            required: true,
          ) %>
        <% end %>

        <%= form_for(:data_export, url: data_exports_path, method: :post,
              data: {
                controller: "form--json-submission",
                "form--json-submission-selection-outlet": '#samples-table',
                "form--json-submission-field-name-value": "data_export[export_parameters][ids][]",
                "form--json-submission-clear-selection-value": "true",
                "form--json-submission-target": "form",
              }
            ) do |form| %>
          <div class="grid gap-4">
            <%= render partial: "name_and_email", locals: { form: } %>

            <div>
              <%= form.hidden_field :export_type, value: "sample" %>

              <%= form.fields_for :export_parameters do |export_parameters| %>
                <%= export_parameters.hidden_field :namespace_id, value: namespace_id %>
              <% end %>
            </div>

            <div class="hidden" data-viral--sortable-lists--two-lists-selection-target="field"></div>

            <div>
              <%= form.submit t("data_exports.new.submit_button"),
                          data: {
                            turbo_frame: "_top",
                            action:
                              "click->viral--sortable-lists--two-lists-selection#constructParams",
                            "viral--sortable-lists--two-lists-selection-target": "submitBtn",
                          },
                          class: "button button-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
