<div class="px-4 py-4">
  <dl
    class="
      max-w-md
      text-slate-900
      divide-y
      divide-slate-200
      dark:text-white
      dark:divide-slate-700
    "
  >
    <div class="flex flex-col pb-3">
      <dt class="mb-1 text-slate-500 md:text-lg dark:text-slate-400"><%= t(:".id") %></dt>
      <dd class="text-lg font-semibold text-slate-900 dark:text-white"><%= @data_export.id %></dd>
    </div>
    <% unless @data_export.name.nil? %>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-slate-500 md:text-lg dark:text-slate-400"><%= t(:".name") %></dt>
        <dd class="text-lg font-semibold text-slate-900 dark:text-white"><%= @data_export.name %></dd>
      </div>
    <% end %>
    <div class="flex flex-col py-3">
      <dt class="mb-1 text-slate-500 md:text-lg dark:text-slate-400"><%= t(:".type") %></dt>
      <dd class="text-lg font-semibold text-slate-900 dark:text-white"><%= t(:"data_exports.types.#{@data_export.export_type}") %></dd>
    </div>
    <% if @data_export.export_type == 'linelist' %>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-slate-500 md:text-lg dark:text-slate-400"><%= t(:".format") %></dt>
        <dd class="text-lg font-semibold text-slate-900 dark:text-white"><%= @data_export.export_parameters['linelist_format'] %></dd>
      </div>
    <% end %>
    <div class="flex flex-col py-3">
      <dt class="mb-1 text-slate-500 md:text-lg dark:text-slate-400"><%= t(:".status") %></dt>
      <dd class="text-lg font-semibold text-slate-900 dark:text-white">
        <% if @data_export.status == 'ready' %>
          <%= viral_pill(
            text: t(:"data_exports.status.#{@data_export.status}"),
            color: :green
          ) %>
        <% else %>
          <%= viral_pill(
            text: t(:"data_exports.status.#{@data_export.status}"),
            color: :slate
          ) %>
        <% end %>
      </dd>
    </div>
    <div class="flex flex-col py-3">
      <dt class="mb-1 text-slate-500 md:text-lg dark:text-slate-400"><%= t(:".created_at") %></dt>
      <dd class="text-lg font-semibold text-slate-900 dark:text-white">
         <%= local_time(@data_export.created_at, :full_date) %>
      </dd>
    </div>
    <div class="flex flex-col pt-3">
      <dt class="mb-1 text-slate-500 md:text-lg dark:text-slate-400"><%= t(:".expires_at") %></dt>
      <dd class="text-lg font-semibold text-slate-900 dark:text-white">
        <% if @data_export.expires_at.nil? %>
          <%= t(:".once_ready") %>
        <% else %>
          <%= local_time(@data_export.expires_at, :full_date) %>
        <% end %>
      </dd>
    </div>
  </dl>
</div>
