<div class="table-container relative overflow-x-auto" data-turbo-temporary>
  <table
    class="
      w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
      dark:divide-slate-600 whitespace-nowrap
    "
  >
    <thead
      class="
        text-xs text-slate-700 uppercase bg-slate-50 dark:bg-slate-700
        dark:text-slate-400
      "
    >
      <tr>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.id"),
            url: sorting_url(@q, :id),
            field: :id,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.name"),
            url: sorting_url(@q, :name),
            field: :name,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.type"),
            url: sorting_url(@q, :export_type),
            field: :export_type,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.status"),
            url: sorting_url(@q, :status),
            field: :status,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.created_at"),
            url: sorting_url(@q, :created_at),
            field: :created_at,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.expires_at"),
            url: sorting_url(@q, :expires_at),
            field: :expires_at,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= t("data_exports.index.table_header.action") %>
        </th>
      </tr>
    </thead>
    <tbody
      id="data-exports-table-body"
      class="divide-y divide-slate-200 dark:divide-slate-700"
    >
      <%= render partial: "data_export", collection: @data_exports %>
    </tbody>
  </table>
  <div class="empty_state_message">
    <%= viral_empty(
      title: t(:"data_exports.index.no_data_exports"),
      description: t(:"data_exports.index.no_data_exports_message"),
      icon_name: :document_text,
    ) %>
  </div>
</div>
<% if @data_exports.any? %>
  <div class="flex flex-row-reverse">
    <%= render Viral::Pagy::PaginationComponent.new(@pagy) %>
  </div>
<% end %>
