<div class="flow-root">
  <div class="flex flex-row-reverse items-center mb-4 space-x-2">
    <%= search_form_for @q, url: data_exports_url, html: { "data-controller": "filters", "data-turbo-permanent": "true" } do |f| %>
      <%= f.label :name_cont, "SEARCH", class: "sr-only" %>
      <div class="relative lg:w-72">
        <div
          class="
            absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
          "
        >
          <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
        </div>
        <%= f.search_field :id_or_name_cont,
                       "data-action": "filters#submit",
                       class:
                         "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                       placeholder: t(:"data_exports.index.search.placeholder") %>
      </div>
    <% end %>
  </div>
</div>
<div class="table-container relative overflow-x-auto" data-turbo-temporary>
  <table
    class="
      w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
      dark:divide-slate-600 whitespace-nowrap
    "
  >
    <thead
      class="
        text-xs text-slate-700 uppercase bg-slate-50 dark:bg-slate-700
        dark:text-slate-400
      "
    >
      <tr>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.id"),
            url: sorting_url(@q, :id),
            field: :id,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.name"),
            url: sorting_url(@q, :name),
            field: :name,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.type"),
            url: sorting_url(@q, :export_type),
            field: :export_type,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.status"),
            url: sorting_url(@q, :status),
            field: :status,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.created_at"),
            url: sorting_url(@q, :created_at),
            field: :created_at,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t("data_exports.index.table_header.expires_at"),
            url: sorting_url(@q, :expires_at),
            field: :expires_at,
          ) %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= t("data_exports.index.table_header.action") %>
        </th>
      </tr>
    </thead>
    <tbody
      id="data-exports-table-body"
      class="divide-y divide-slate-200 dark:divide-slate-700"
    >
      <%= render partial: "data_export", collection: @data_exports %>
    </tbody>
  </table>
  <div class="empty_state_message">
    <%= viral_empty(
      title: t(:"data_exports.index.no_data_exports"),
      description: t(:"data_exports.index.no_data_exports_message"),
      icon_name: :document_text,
    ) %>
  </div>
</div>
<% if @data_exports.any? %>
  <div class="flex flex-row-reverse">
    <%= render Viral::Pagy::PaginationComponent.new(@pagy) %>
  </div>
<% end %>
