<div data-controller="collapsible">
  <h2 id="<%= "accordion-collapse-heading-#{type}-workflows" %>">
    <button
      type="button"
      class="
        flex
        items-center
        justify-between
        w-full
        p-3
        font-medium
        rtl:text-right
        text-black
        dark:text-white
        border
        border-slate-200
        dark:border-slate-700
        hover:bg-slate-100
        dark:hover:bg-slate-800
        gap-3
        rounded-t
      "
      data-action="collapsible#toggle"
      aria-expanded="true"
      aria-controls="<%= "accordion-collapse-body-#{type}-workflows" %>"
    >
      <% if type == 'completed' %>
        <%= t(".included_header", count: workflow_executions.count) %>
      <% else %>
        <%= t(".excluded_header", count: workflow_executions.count) %>
      <% end %>
      <%= viral_icon(
        name: "chevron_down",
        classes: "mr-0 w-4 h-4 rotate-0",
        "data-collapsible-target": "icon"
      ) %>
    </button>
  </h2>

  <div
    data-collapsible-target="item"
    id="<%= "accordion-collapse-body-#{type}-workflows" %>"
    class="hidden"
    aria-labelledby="<%= "accordion-collapse-heading-workflows" %>"
  >
    <div class="text-base leading-relaxed text-slate-500 dark:text-slate-400 p-2.5 border border-t-0 border-slate-300">
      <% if type == 'completed' %>
        <span><%= t(".included_description") %></span>
        <span><%= t(:"data_exports.new.after_submission_description_html") %></span>
      <% else %>
        <%= t(".excluded_description") %>
      <% end %>
    </div>
    <div
    class="
      overflow-y-auto max-h-[200px] border border-t-0 border-slate-300 rounded-b block w-full
      p-2.5 dark:bg-slate-800 dark:border-slate-600
    "
    data-action="scroll->infinite-scroll#scroll"
    data-infinite-scroll-target="scrollable"
    >
      <% if type == 'completed' %>
        <%= turbo_frame_tag "list_completed_workflow_executions" do %>
          <%= render partial: "shared/loading/samples_list_skeleton" %>
        <% end %>
      <% else %>
        <%= turbo_frame_tag "list_non_completed_workflow_executions" do %>
        <%= render partial: "shared/loading/samples_list_skeleton" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
