<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_stream_from current_user, :data_exports %>

<%= render Viral::PageHeaderComponent.new(title: t(".title")) %>

<div class="flow-root">
  <div class="flex flex-row-reverse items-center mb-2">
    <%= render SearchComponent.new(
      query: @q,
      url: data_exports_url,
      search_attribute: :id_or_name_cont,
      placeholder: t(:".search.placeholder"),
    ) %>
  </div>
</div>


<%= viral_data_table(data: @data_exports, pagy: @pagy, q: @q, has_data_exports: @has_data_exports) do |table| %>
  <% table.with_column(title: "id") %>
  <% table.with_column(title: "name") %>
<% end %>
