<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_from @data_export %>
<%= render Viral::PageHeaderComponent.new(
  title: @data_export.name || @data_export.id, id: @data_export.name.nil? ? nil : @data_export.id) do |component| %>
  <%= component.with_buttons do %>
    <div class="flex flex-row gap-2">
      <%= button_to(
        t("data_exports.show.download"),
        @data_export.status == 'ready' ? rails_blob_path(@data_export.file) : "#",
        method: :get,
        class: "btn btn-primary btn-rounded",
        disabled: @data_export.status != 'ready',
      ) %>
      <%= button_to(
        t("data_exports.show.remove_button"),
        data_export_path,
        params: {
          id: @data_export.id,
        },
        method: :delete,
        data: {
          turbo_method: :delete,
          turbo_confirm:
            t(
              "data_exports.show.remove_button_confirmation",
              name: @data_export.name || @data_export.id,
            ),
        },
        class: "btn btn-default btn-rounded",
      ) %>
    </div>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <div
    class="
      flex text-sm font-medium text-center border-b text-slate-500 border-slate-200
      dark:text-slate-400 dark:border-slate-700
    "
  >
    <%= viral_tabs(id: "data-export-tabs", label: "Tabs") do |tabs| %>
      <%= tabs.with_tab(
        url: data_export_path(@data_export, tab: "summary"),
        selected: @tab == "summary" || @tab == nil) do %>
        <%= t(:"data_exports.show.tabs.summary") %>
      <% end %>
      <% if @data_export.status == 'ready' && @data_export.export_type != 'linelist' %>
        <%= tabs.with_tab(
          url: data_export_path(@data_export, tab: "preview"),
          selected: @tab == "preview") do %>
          <%= t(:"data_exports.show.tabs.preview") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if @tab == "preview" %>
    <%= render partial: "preview" %>
  <% else %>
    <%= render partial: "summary" %>
  <% end %>
</div>
