<div
  data-controller="projects--samples--metadata--create"
  data-projects--samples--metadata--create-key-missing-value="<%= t("projects.samples.metadata.new_metadata_modal.required_error.key")%>"
  data-projects--samples--metadata--create-value-missing-value="<%= t("projects.samples.metadata.new_metadata_modal.required_error.value")%>"
  data-projects--samples--metadata--create-form-error-value="<%= t("general.form.error_notification") %>"
>
  <div
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-projects--samples--metadata--create-target="formFieldError"
    class="
      hidden alert-component bg-red-50 border-red-300 dark:bg-red-900/20
      dark:border-red-800/50 dark:text-red-400 text-red-800 mb-2
    "
  >
    <div class="flex items-start w-full">
      <div class="flex-shrink-0 mr-3">
        <%= pathogen_icon ICON::X_CIRCLE, color: :red %>
      </div>
      <div class="flex-1 min-w-0 mt-0.5">
        <div
          class="text-sm font-medium leading-5"
          data-projects--samples--metadata--create-target="formFieldErrorMessage"
        >
        </div>
      </div>
    </div>
  </div>

  <%= form_with(model: @sample, url: sample_metadata_path(@sample), method: :post, data: { "projects--samples--metadata--create-target": "form" }) do |form| %>
    <div class="grid gap-2">
      <%= render partial: "shared/form/required_field_legend" %>
      <div data-projects--samples--metadata--create-target="metadataToAdd"></div>
      <template data-projects--samples--metadata--create-target="fieldTemplate">
        <div class="flex space-x-2 inputField items-center">
          <div
            id="key[PLACEHOLDER]_key_input"
            class="
              relative z-0 w-full group form-field text-slate-500 dark:text-slate-400
            "
          >
            <%= form.text_field(
              :key,
              multiple: true,
              child_index: "PLACEHOLDER",
              id: "key_PLACEHOLDER",
              class:
                "keyInput block px-2.5 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-lg border-1 border-slate-300 appearance-none dark:text-white dark:border-slate-600 peer",
              placeholder: "",
            ) %>
            <%= form.label(
              :key,
              t("projects.samples.metadata.form.key"),
              multiple: true,
              child_index: "PLACEHOLDER",
              data: {
                required: true,
              },
              class:
                "keyLabel absolute text-sm text-slate-500 dark:text-slate-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-slate-800 px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-8 peer-[:not(:placeholder-shown)]:-translate-y-8 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 border-none",
            ) %>
          </div>
          <div
            id="value[PLACEHOLDER]_value_input"
            class="
              relative z-0 w-full group form-field text-slate-500 dark:text-slate-400
            "
          >
            <%= form.text_field(
              :value,
              multiple: true,
              child_index: "PLACEHOLDER",
              id: "value_PLACEHOLDER",
              class:
                "valueInput block px-2.5 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-lg border-1 border-slate-300 appearance-none dark:text-white dark:border-slate-600 peer",
              placeholder: "",
            ) %>
            <%= form.label(
              :value,
              t("projects.samples.metadata.form.value"),
              multiple: true,
              child_index: "PLACEHOLDER",
              data: {
                required: true,
              },
              class:
                "valueLabel absolute text-sm text-slate-500 dark:text-slate-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-slate-800 px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-8 peer-[:not(:placeholder-shown)]:-translate-y-8 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 border-none",
            ) %>
          </div>
          <button
            type="button"
            data-action="projects--samples--metadata--create#removeField"
            class="
              ml-auto bg-white text-slate-400 hover:text-slate-900 rounded-lg p-1.5
              hover:bg-slate-100 inline-flex items-center justify-center h-8 w-8
              dark:text-slate-500 dark:hover:text-white dark:bg-slate-800
              dark:hover:bg-slate-700 cursor-pointer
            "
            aria-label="<%= t(".remove_field")%>"
          >
            <%= pathogen_icon(ICON::X, size: :sm) %>
          </button>
        </div>
        <div class="flex mb-4" id="key_PLACEHOLDER_field_errors">
          <div id="key_PLACEHOLDER_error" class="text-sm relative z-0 w-full">
            <%= viral_help_text(state: :error, classes: "hidden") %>
          </div>
          <div id="value_PLACEHOLDER_error" class="text-sm relative z-0 w-full">
            <%= viral_help_text(state: :error, classes: "hidden") %>
          </div>
          <div class="w-[55]"></div>
        </div>
      </template>
      <div data-projects--samples--metadata--create-target="fieldsContainer"></div>
      <div class="text-center">
        <%= form.button t(".create_field_button"),
                    type: "button",
                    class: "button button-secondary mr-2",
                    "data-action": "projects--samples--metadata--create#addField" %>
      </div>
      <div>
        <%= form.submit t(".submit_button"),
                    class: "button button-primary w-full",
                    "data-action": "projects--samples--metadata--create#buildMetadata" %>
      </div>
    </div>
  <% end %>
</div>
