<div class="table-container grid gap-4 py-8">
  <table
    class="w-full text-sm text-left text-slate-500 dark:text-slate-400 mb-4"
    data-controller="selection"
    data-selection-action-link-outlet=".action-link"
    id="metadata-table"
  >
    <thead class="text-slate-700 bg-slate-50 dark:bg-slate-900 dark:text-slate-400">
      <tr>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.key") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.value") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.source") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.last_updated") %></th>
        <% if allowed_to?(:update_sample?, @project) %>
          <th scope="col" class="px-6 py-3 text-right"><%= t("projects.samples.show.table_header.action") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% sample_metadata.each do |metadata| %>
        <tr
          id="<%= metadata[:key] %>"
          class="bg-white border-b dark:bg-slate-800 dark:border-slate-700"
        >
          <td class="px-6 py-4"><%= metadata[:key] %></td>
          <td class="px-6 py-4"><%= metadata[:value] %></td>
          <td class="px-6 py-4"><%= metadata[:source] %></td>
          <td class="px-6 py-4"><%= viral_time_ago(original_time: metadata[:last_updated]) %></td>
          <% if allowed_to?(:update_sample?, @project) %>
            <td class="px-6 py-4">
              <div class="flex items-center justify-end">
                <%= viral_dropdown(icon: "ellipsis_vertical",
                aria:
                  { label: t(:'projects.samples.show.metadata.actions.metadata_dropdown_aria_label',
                  key: metadata[:key])}) do |dropdown| %>
                  <% unless metadata[:source_type] == 'analysis' %>
                    <%= dropdown.with_item(
                      label: t(:'projects.samples.show.metadata.actions.dropdown.update'),
                      url: edit_namespace_project_sample_metadata_path(
                        sample_id: @sample.id,
                        key: metadata[:key],
                        value: metadata[:value])
                    ) %>
                  <% end %>
                  <%= dropdown.with_item(
                      label: t(:'projects.samples.show.metadata.actions.dropdown.delete'),
                      url: namespace_project_sample_metadata_path(
                        sample_id: @sample.id,
                        sample: {metadata: {metadata[:key] => ''}}),
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: t(:'projects.samples.show.metadata.actions.delete_confirm')
                        },
                    ) %>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="empty_state_message">
    <%= viral_empty(
      title: t(:"projects.samples.show.no_metadata"),
      description: t(:"projects.samples.show.no_associated_metadata"),
      icon_name: :document_text
    ) %>
  </div>
</div>
