<table
  style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background-color:#f8fafc;"
>
  <tbody>
    <tr>
      <td align="center" style="padding-top:48px;padding-bottom:48px;">
        <a href="<%= root_url %>" style="text-decoration:none;">
          <span style="font-size:40px;color:#000;font-weight:600;">
            <%= t(:"general.name") %>
          </span>
        </a>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table
          style="width:602px;border-collapse:collapse;border:0;border-spacing:0;text-align:left;background:#ffffff;"
        >
          <tbody>
            <tr>
              <td style="padding:24px;">
                <h1 style="font-size:24px;color:#000;font-weight:600;">
                  <%= t("mailers.data_export_mailer.export_ready.greeting", name: @data_export.user.first_name) %>
                </h1>
              </td>
            </tr>
            <tr>
              <td style="padding:12px 24px;">
                <p style="color:#334155;line-height:24px;">
                  <%= t("mailers.data_export_mailer.export_ready.ready_for_download.start") %>
                  <strong><%= @data_export.name || @data_export.id %></strong>
                  <%= t("mailers.data_export_mailer.export_ready.ready_for_download.end") %>
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding:12px 24px;">
                <p style="color:#334155;line-height:24px;">
                  <%= t("mailers.data_export_mailer.export_ready.view_exports") %>
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding:12px 24px;">
                <table>
                  <tbody>
                    <tr>
                      <td style="background-color:#15803d" width="140px"><a
                          href="<%= data_export_url(@data_export) %>"
                          style="display:inline-block;color:#fff;background-color:#15803d;width:125px;border:1px solid #15803d;padding:15px 10px;text-align:center;vertical-align:middle;text-decoration:none;"
                        ><%= t(:"general.name") %>&nbsp; &rarr;</a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:12px 24px;">
                <p style="color:#334155;line-height:24px;">
                  <%= t("mailers.data_export_mailer.export_ready.copy_paste") %>
                  <a
                    href="<%= data_export_url(@data_export) %>"
                    style="text-decoration:underline;"
                  >
                    <%= data_export_url(@data_export) %>
                  </a>
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding:12px 24px;">
                <div style="border-bottom:1px solid #e2e8f0;">&nbsp;</div>
              </td>
            </tr>
            <tr>
              <td style="padding:24px;">
                <p style="color:#334155;line-height:24px;">
                  <%= t("mailers.data_export_mailer.export_ready.download_before.start") %>
                  <strong><%= @data_export.expires_at.strftime("%A, %B %d, %Y") %></strong>
                  <%= t("mailers.data_export_mailer.export_ready.download_before.end") %>
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding:24px;">
                <p style="color:#334155;line-height:24px;">
                  <%= t("mailers.data_export_mailer.export_ready.thanks") %>
                  <br><%= t(:"general.name") %>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td
        align="center"
        style="padding-left:24px;padding-top:48px;padding-bottom:48px;"
      >
        <span style="font-style:italic;font-size:12px;color:#475569">
          <%= t("mailers.data_export_mailer.export_ready.automated_message") %>
        </span>
      </td>
    </tr>
  </tbody>
</table>
