<%= render partial: "mailers/email_template", locals: {
  name: @data_export.user.first_name,
  url: data_export_url(@data_export)
  } %>

<%= yield :header_and_greeting  %>
<tr>
  <td style="padding:12px 24px;">
    <p style="color:#334155;line-height:24px;">
      <%= t("mailers.data_export_mailer.export_ready.ready_for_download_html",
      name: @data_export.name || @data_export.id) %>
    </p>
  </td>
</tr>
<tr>
  <td style="padding:12px 24px;">
    <p style="color:#334155;line-height:24px;">
      <%= t("mailers.data_export_mailer.export_ready.view_exports") %>
    </p>
  </td>
</tr>
<%= yield :button_and_link  %>

<tr>
  <td style="padding:24px;">
    <p style="color:#334155;line-height:24px;">
      <%= t("mailers.data_export_mailer.export_ready.download_before_html",
      date: @data_export.expires_at.localtime.strftime("%A, %B %d, %Y")) %>
    </p>
  </td>
</tr>

<%= yield :sendoff_and_automated_message  %>
