<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <% dialog.with_trigger do %>
    <button
      class="
        font-medium text-blue-600 underline dark:text-blue-400 hover:no-underline
        cursor-pointer
      "
      data-action="viral--dialog#open"
      aria-label="<%= t(:"metadata_templates.table_component.edit_aria_label", template_name: template.name)%>"
    >
      <%= edit_template_button_text %>
    </button>
  <% end %>
  <% dialog.with_header(title: t("metadata_templates.edit_template_dialog.title")) %>
  <%= turbo_frame_tag "alert_edit_#{dom_id(template)}" %>
  <% if template&.invalid? %>
    <%= render partial: "shared/metadata_templates/edit_form", locals: { update_path: } %>
  <% else %>
    <%= turbo_frame_tag "dialog_content_edit_#{dom_id(template)}", src: edit_path, loading: :lazy do %>
      <%= render partial: "shared/loading/form" %>
    <% end %>
  <% end %>
<% end %>
