<div data-controller="metadata-template">
  <%= viral_dialog(open: open, size: :large, header_system_arguments: { close_action: "metadata-template#replace" }) do |dialog| %>
    <% dialog.with_trigger do %>
      <button
        class="button button-primary"
        data-viral--dialog-target="trigger"
        data-action="viral--dialog#open"
      >
        <%= t("metadata_templates.new_template_dialog.new_button") %>
      </button>
    <% end %>
    <% dialog.with_header(title: t("metadata_templates.new_template_dialog.title")) %>
    <div data-metadata-template-target="content">
      <%= turbo_frame_tag "new_metadata_template_alert" %>
      <% if open %>
        <%= render partial: "shared/metadata_templates/form",
        locals: {
          template_path: create_path,
          method: :post,
          submit_button_text: t("metadata_templates.new_template_dialog.submit_button"),
        } %>
      <% else %>
        <%= turbo_frame_tag "new_metadata_template_dialog_content", src: new_path, loading: :lazy do %>
          <%= render partial: "shared/loading/form" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <template data-metadata-template-target="template">
    <%= turbo_frame_tag "new_metadata_template_alert" %>

    <%= turbo_frame_tag "new_metadata_template_dialog_content", src: new_path, loading: :lazy do %>
      <%= render partial: "shared/loading/form" %>
    <% end %>
  </template>
</div>
