<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <%= dialog.with_header(title: t("metadata_templates.new_template_dialog.title")) %>
  <%= dialog.with_section do %>
    <%= turbo_frame_tag "metadata_template_error_alert" %>
    <%= turbo_frame_tag "metadata_template_dialog_content" do %>
      <div
        data-controller="viral--sortable-lists--two-lists-selection"
        data-viral--sortable-lists--two-lists-selection-selected-list-value="selected"
        data-viral--sortable-lists--two-lists-selection-available-list-value="available"
        data-viral--sortable-lists--two-lists-selection-field-name-value="metadata_template[fields][]"
        class="font-normal text-slate-500 dark:text-slate-400"
      >
        <div class="grid gap-4">
          <%= form_for(:metadata_template, url: create_path, method: :post
            ) do |form| %>
            <div class="grid gap-4">
              <div class="mt-2 form-field">
                <%= form.label :name %>
                <%= form.text_field :name,
                                class: "form-control",
                                required: true,
                                value: @new_template&.name %>
              </div>
              <div class="mt-2 form-field">
                <%= form.label :description %>
                <%= form.text_area :description,
                               class: "form-control",
                               value: @new_template&.description %>
              </div>
              <div
                class="hidden"
                data-viral--sortable-lists--two-lists-selection-target="field"
              ></div>

              <div>
                <div class="text-sm font-medium text-slate-900 dark:text-white">
                  <%= t("metadata_templates.new_template_dialog.metadata") %>
                </div>
                <div
                  class="text-sm font-medium leading-relaxed  text-slate-500 dark:text-slate-400"
                >
                  <%= t("metadata_templates.new_template_dialog.description") %>
                </div>
              </div>

              <%= viral_sortable_lists do |sortable_lists| %>
                <%= sortable_lists.with_list(
                  id: "available",
                  title: t("metadata_templates.new_template_dialog.available"),
                  list_items: @available_metadata_fields,
                  group: "metadata_selection",
                  container_classes: "block mb-1 pr-2 text-sm font-medium",
                  list_classes: "overflow-y-auto max-w-[356px] min-w-[356px] w-full",
                ) %>
                <%= sortable_lists.with_list(
                  id: "selected",
                  title: t("metadata_templates.new_template_dialog.selected"),
                  list_items: @current_template_fields,
                  group: "metadata_selection",
                  container_classes: "block mb-1 text-sm font-medium",
                  list_classes: "overflow-y-auto max-w-[356px] min-w-[356px] w-full",
                ) %>
              <% end %>
              <div class="mt-4">
                <%= form.submit t("metadata_templates.new_template_dialog.submit_button"),
                            data: {
                              turbo_frame: "_top",
                              action:
                                "click->viral--sortable-lists--two-lists-selection#constructParams",
                              "viral--sortable-lists--two-lists-selection-target": "submitBtn",
                            },
                            class:
                              "focus:outline-none text-sm text-white bg-primary-700 hover:bg-primary-800 focus:ring-0 rounded-md p-2 dark:text-white dark:bg-primary-600 dark:hover:bg-primary-700 cursor-pointer disabled:opacity-70 disabled:cursor-not-allowed",
                            disabled: true %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
