<%= viral_card(title: t(:'.preferences')) do |card| %>
  <% card.with_section(border_bottom: true, border_top: true) do %>
    <div
      role="radiogroup"
      aria-labelledby="theme-legend"
      class="grid grid-cols-1 gap-4"
      data-controller="colour-mode"
      data-colour-mode-activated-text="<%= t('theme.announcements.activated') %>"
      data-colour-mode-changed-text="<%= t('theme.announcements.changed') %>"
      data-colour-mode-error-text="<%= t('theme.announcements.error') %>"
      data-colour-mode-system-text="<%= t('theme.modes.system') %>"
      data-colour-mode-light-text="<%= t('theme.modes.light') %>"
      data-colour-mode-dark-text="<%= t('theme.modes.dark') %>"
    >
      <div
        id="theme-legend"
        class="
          mb-2 text-sm font-semibold text-slate-800 dark:text-white uppercase
        "
      >
        <%= t(".theme_title") %>
      </div>

      <%= pathogen_radio_button(
        attribute: :color_theme,
        value: "system",
        input_name: "color-theme",
        label: t(".system_theme"),
        checked: params[:color_theme] == "system",
        help_text: t(".system_desc"),
        required: true,
        data: {
          action: "change->colour-mode#toggleTheme",
          "colour-mode-target": "system",
        },
      ) %>

      <%= pathogen_radio_button(
        attribute: :color_theme,
        value: "dark",
        input_name: "color-theme",
        label: t(".dark_theme"),
        checked: params[:color_theme] == "dark",
        required: true,
        data: {
          action: "change->colour-mode#toggleTheme",
          "colour-mode-target": "dark",
        },
      ) %>

      <%= pathogen_radio_button(
        attribute: :color_theme,
        value: "light",
        input_name: "color-theme",
        label: t(".light_theme"),
        checked: params[:color_theme] == "light",
        required: true,
        data: {
          action: "change->colour-mode#toggleTheme",
          "colour-mode-target": "light",
        },
      ) %>
    </div>
  <% end %>
  <% card.with_section do %>
    <%= render "locale_form", user: @user %>
  <% end %>
<% end %>
