<li class="sidebar-item">
  <a
    href="<%= @url %>"
    title="<%= @label %>"
    data-turbo-action="replace"
    class="
      <%= class_names('active': current_page?(@url)) %>
    "
  >
    <span class="flex justify-center" style="width: 27px;">
      <%= render IconComponent.new(name: @icon) %>
    </span>
    <span class="ml-1" data-layout--layout-component-target="link">
      <%= @label %>
    </span>
  </a>
</li>
