<tr
  class="bg-white border-b dark:bg-slate-800 dark:border-slate-700 font-medium"
  id="<%= dom_id(automated_workflow_execution) %>"
>
  <td class="px-6 py-3 sticky left-0 bg-slate-50 dark:bg-slate-900">
    <%= automated_workflow_execution.id %>
  </td>
  <td
    class="
      px-6 py-4 font-medium text-slate-900 whitespace-nowrap dark:text-white
    "
  >
    <%= automated_workflow_execution["name"] %>
  </td>
  <td
    class="
      px-6 py-4 font-medium text-slate-900 whitespace-nowrap dark:text-white
    "
  >
    <%= automated_workflow_execution.metadata["workflow_name"] %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= automated_workflow_execution.metadata["workflow_version"] %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= local_time(automated_workflow_execution["created_at"], :full_date) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= local_time_ago(automated_workflow_execution["updated_at"]) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <% if automated_workflow_execution["disabled"] %>
      <%= viral_pill(text: t(:".disabled"), color: "red") %>
    <% else %>
      <%= viral_pill(text: t(:".enabled"), color: "green") %>
    <% end %>
  </td>
  <td
    class="
      px-6 py-4 space-x-2 whitespace-nowrap sticky right-0 bg-white dark:bg-slate-800
    "
  >
    <%= link_to(
      t(:"projects.automated_workflow_executions.actions.delete_button"),
      namespace_project_automated_workflow_execution_path(
        @project.parent,
        @project,
        automated_workflow_execution,
      ),
      data: {
        turbo_method: :delete,
        turbo_confirm:
          t(:"projects.automated_workflow_executions.actions.delete_confirm"),
      },
      class:
        "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer",
    ) %>
    <%= link_to_if !automated_workflow_execution.disabled,
    t(:"projects.automated_workflow_executions.actions.edit_button"),
    edit_namespace_project_automated_workflow_execution_path(
      @project.parent,
      @project,
      automated_workflow_execution,
    ),
    data: {
      turbo_stream: true,
    },
    class:
      "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer" %>

  </td>
</tr>
