<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_header(title: t(:".title")) %>

  <ul>
    <% available_automated_workflows.each do |key, workflow| %>
      <li>
        <%= link_to new_namespace_project_automated_workflow_execution_path(@project.parent, @project, pipeline_id: workflow.pipeline_id, workflow_version: workflow.version), class: "group w-full", data: { turbo_stream: true } do %>
          <span class="ws-default flex items-center space-x-4 p-4 hover:bg-primary-600">
            <span class="flex-shrink-0">
              <%= icon(
                :rocket_launch,
                color: nil,
                size: :lg,
                class:
                  "ws-default dark:text-slate-500 group-hover:text-slate-100 group-hover:-rotate-45 transition-rotate-45 group-hover:duration-500 group-hover:ease-in-out",
              ) %>
            </span>

            <span class="min-w-0 flex-1 text-left group-hover:stroke-slate-100">
              <span class="flex items-center space-x-2">
                <span class="truncate font-medium text-slate-900 group-hover:text-slate-100 dark:text-white">
                  <%= workflow.name %>
                </span>

                <%= viral_pill(text: workflow.version, color: :primary) %>
              </span>

              <span class="truncate text-sm font-normal text-slate-500 group-hover:text-slate-200 dark:text-slate-400">
                <%= workflow.description %>
              </span>
            </span>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
