<% if @automated_workflow_executions.count.positive? %>
  <%= viral_data_table(@automated_workflow_executions, id: "automated_workflow_executions") do |table| %>
    <% table.with_column(t(".headers.id"),
      sticky_key: :left
    ) do |row| %>
      <%= row[:id] %>
    <% end %>
    <% table.with_column(t(".headers.name")) do |row| %>
      <%= row[:name] %>
    <% end %>
    <% table.with_column(t(".headers.workflow_name")) do |row| %>
      <%= row.metadata["workflow_name"] %>
    <% end %>
    <% table.with_column(t(".headers.workflow_version")) do |row| %>
      <%= row.metadata["workflow_version"] %>
    <% end %>
    <% table.with_column(t(".headers.created_at")) do |row| %>
      <%= local_time(row[:created_at], :full_date) %>
    <% end %>
    <% table.with_column(t(".headers.updated_at")) do |row| %>
      <%= local_time_ago(row[:updated_at]) %>
    <% end %>
    <% table.with_column(t(".headers.status")) do |row| %>
      <% if row[:disabled] %>
        <%= viral_pill(text: t(".disabled"), color: "red") %>
      <% else %>
        <%= viral_pill(text: t(".enabled"), color: "green") %>
      <% end %>
    <% end %>
    <% table.with_column(t(".headers.actions"),
        sticky_key: :right
      ) do |row| %>
      <% unless row.disabled %>
        <%= link_to(
          t(:"projects.automated_workflow_executions.actions.edit_button"),
          edit_namespace_project_automated_workflow_execution_path(
            @project.parent,
            @project,
            row,
          ),
          data: {
            turbo_stream: true,
          },
          class:
            "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer",
        ) %>
      <% end %>
      <%= link_to(
        t(:"projects.automated_workflow_executions.actions.delete_button"),
        namespace_project_automated_workflow_execution_path(
          @project.parent,
          @project,
          row,
        ),
        data: {
          turbo_method: :delete,
          turbo_confirm:
            t(:"projects.automated_workflow_executions.actions.delete_confirm"),
        },
        class:
          "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer",
      ) %>
    <% end %>
  <% end %>
<% else %>
  <div class="empty_state_message">
    <%= viral_empty(
      title: t(:".empty.title"),
      description: t(:".empty.description"),
      icon_name: :document_text,
    ) %>
  </div>
<% end %>
