<% if @group.type == "Group" %>
  <%= viral_icon(name: :squares_2x2, classes: "h-5 w-5 text-slate-400 mr-2") %>
  <%= viral_avatar(
    name: @group.name,
    size: :small,
    colour_string: "#{@group.name}-#{@group.id}",
    data: {
      turbo: false
    },
    url: group_path(@group)
  ) %>
<% else %>
  <%= viral_icon(name: :rectangle_stack, classes: "h-5 w-5 text-slate-400 mr-2") %>
  <%= viral_avatar(
    name: @group.name,
    size: :small,
    colour_string: "#{@group.name}-#{@group.id}",
    data: {
      turbo: false
    },
    url: project_path(@group.project)
  ) %>
<% end %>

<div class="flex items-center ml-2 group-text-container grow">
  <div class="flex flex-col group-text">
    <div class="group-text grow shrink">
      <div class="flex flex-wrap items-center mr-3 font-semibold title">
        <%= link_to @group.name, group_path(@group) %>
      </div>
      <div class="description">
        <p><%= @group.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap justify-between flex-none metadata shrink-0">
  <div class="grid grid-cols-2 gap-4 mt-2 stats text-slate-500 group-stats">
    <% if @group.type == "Group" %>
      <span
        class="flex items-center"
        title="<%= t(:'dashboard.groups.index.subgroups') %>"
      >
        <%= viral_icon(name: :rectangle_stack, color: :subdued, classes: "h-5 w-5") %>
        <%= Namespace.where(
          parent_id: @group.id,
          type: [Namespaces::ProjectNamespace.sti_name]
        ).count %>
      </span>
      <span
        class="flex items-center"
        title="<%= t(:'dashboard.groups.index.subgroups') %>"
      >
        <%= viral_icon(name: :squares_2x2, color: :subdued, classes: "h-5 w-5") %><%= @group.children.count %>
      </span>
    <% end %>
  </div>
</div>
