<% if @namespace.type == "Group" %>
  <%= viral_icon(name: :squares_2x2, classes: "h-5 w-5 text-slate-400 mr-2") %>
  <%= viral_avatar(
    name: @namespace.name,
    size: :medium,
    colour_string: "#{@namespace.name}-#{@namespace.id}",
    data: {
      turbo: false,
    },
    url: group_path(@namespace),
  ) %>
<% else %>
  <%= viral_icon(name: :rectangle_stack, classes: "h-5 w-5 text-slate-400 mr-2") %>
  <%= viral_avatar(
    name: @namespace.name,
    size: :small,
    colour_string: "#{@namespace.name}-#{@namespace.id}",
    data: {
      turbo: false,
    },
    url: project_samples_path(@namespace.project),
  ) %>
<% end %>

<div class="flex items-center ml-2 namespace-text-container grow">
  <div class="flex flex-col namespace-text">
    <div class="namespace-text grow shrink">
      <div class="flex flex-wrap items-center mr-3 font-semibold title">
        <div class="flex items-center space-x-2">
          <% if @namespace.type == "Group" %>
            <%= link_to @namespace.name, group_path(@namespace), data: { turbo: false } %>
          <% else %>
            <%= link_to @namespace.name,
            project_samples_path(@namespace.project),
            data: {
              turbo: false,
            } %>
          <% end %>
          <%= render PuidComponent.new(puid: @namespace.puid) %>
          <%= viral_pill(
            text:
              t(
                :"members.access_levels.level_#{Member.effective_access_level(@namespace, Current.user)}",
              ),
            color: "transparent",
            border: true,
            classes: "ml-2",
          ) %>
        </div>

      </div>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        <%= @namespace.description %>
      </p>
    </div>
  </div>
</div>

<div class="flex flex-wrap justify-end flex-none metadata shrink-0">
  <div class="grid grid-cols-2 gap-3 mt-2 stats text-slate-500 group-stats">
    <% if @namespace.type == "Group" %>
      <%= viral_tooltip(title: t(:'.stats.projects')) do %>
        <span class="flex items-center text-sm">
          <%= viral_icon(name: :rectangle_stack, color: :subdued, classes: "h-5 w-5 mr-1") %>
          <%= @namespace.project_namespaces.count %>
        </span>
      <% end %>
      <%= viral_tooltip(title: t(:'.stats.subnamespaces')) do %>
        <span class="flex items-center text-sm">
          <%= viral_icon(name: :squares_2x2, color: :subdued, classes: "h-5 w-5") %><%= @namespace.children.count %>
        </span>
      <% end %>
    <% end %>
    <% if @namespace.type == "Project" %>
      <div class="grid grid-cols-subgrid gap-3 col-span-2">
        <div class="col-start-2">
          <%= viral_tooltip(title: t(:'.stats.samples')) do %>
            <span class="flex items-center text-sm">
              <%= viral_icon(name: :beaker, color: :subdued, classes: "h-5 w-5") %><%= @sample_count %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
