<li
  id="<%= dom_id(@group) %>"
  class="group-row has-children <%= @group.description.present? ? 'has-description' : nil %>"
  data-controller="groups--row"
  %
>
  <div
    class="flex items-center w-full py-3 pr-3 text-left group-row-contents"
    data-action="click->groups--row#toggle"
    aria-label="<%= t(:'dashboard.groups.index.row_aria_label', name: @group.name) %>"
  >
    <%= link_to public_send(@path, @path_args.merge({ parent_id: @group.id, collapse: !@collapsed })), data: { turbo_stream: '', "groups--row-target": "toggle" },
                aria: { label: t(:'dashboard.groups.index.row_aria_label', name: @group.name) }, class: "folder-toggle-wrap mr-2 flex items-center" do %>
      <span class="inline-block folder-caret text-slate-400">
        <% if @collapsed %>
          <%= viral_icon(name: :chevron_right, classes: "h-3 w-3") %>
        <% else %>
          <%= viral_icon(name: :chevron_down, classes: "h-3 w-3") %>
        <% end %>
      </span>

    <% end %>
    <%= render NamespaceTree::Row::RowContentsComponent.new(
      group: @group,
      path: @path,
      path_args: @path_args,
      collapsed: @collapsed
    ) %>
  </div>
  <% unless @collapsed %>
    <%= render NamespaceTree::NamespaceTreeComponent.new(
      parent: @group,
      groups: @children,
      path: @path,
      path_args: @path_args,
      type: @type
    ) %>
  <% end %>
</li>
