<div
  id="<%= dom_id(@namespace) %>"
  class="<%= class_names("namespace-entry has-children", "has-description": @namespace.description.present?) %>"
  data-action="click->groups--row#toggle keypress.enter->groups--row#toggle"
  data-controller="groups--row"
  data-groups--row-url-value="<%= public_send(@path, @path_args.merge({ parent_id: @namespace.id, collapse: !@collapsed })) %>"
  data-groups--row-target="row"
  role="treeitem"
  aria-expanded="<%= !@collapsed %>"
  aria-label="<%= t(:'dashboard.groups.index.row_aria_label', name: @namespace.name) %>"
  tabindex="0"
>
  <div
    class="
      flex items-center w-full py-3 pr-3 text-left namespace-entry-contents
    "
  >
    <span class="inline-block text-slate-400">
      <% if @collapsed %>
        <%= viral_icon(name: :chevron_right, classes: "h-3 w-3") %>
      <% else %>
        <%= viral_icon(name: :chevron_down, classes: "h-3 w-3") %>
      <% end %>
    </span>

    <%= render NamespaceTree::Row::RowContentsComponent.new(
      namespace: @namespace,
      path: @path,
      path_args: @path_args,
      collapsed: @collapsed,
      icon_size: @icon_size,
    ) %>
  </div>
  <% unless @collapsed %>
    <%= render NamespaceTree::NamespaceTreeComponent.new(
      parent: @namespace,
      namespaces: @children,
      path: @path,
      path_args: @path_args,
      type: @type,
      icon_size: @icon_size,
    ) %>
  <% end %>
</div>
