<% if label %>
  <label
    for="<%= input_id %>"
    class="mb-1 block text-sm font-medium text-slate-900 dark:text-white"
  ><%= label %></label>
<% end %>
<div class="relative max-w-sm" aria-live="polite">
  <input
    placeholder="<%= t("pathogen.datepicker.placeholder") %>"
    autocomplete="off"
    value="<%= selected_date %>"
    data-pathogen--datepicker--input-target="datepickerInput"
    data-action="
      change->pathogen--datepicker--input#directInput
      keydown->pathogen--datepicker--input#handleEnterDirectInput
    "
    type="text"
    name="<%= input_name %>"
    id="<%= input_id %>"
    class="
      h-full w-full placeholder-shown:field-sizing-content block p-2.5 pr-11.5 text-sm
      text-slate-900 border border-slate-300 rounded-lg dark:bg-slate-800
      dark:border-slate-600 dark:placeholder-slate-300 dark:text-white
    "
    <% if input_aria_label %>
    aria-label="<%= input_aria_label %>"
    <% end %>
  >
  <button
    type="button"
    data-pathogen--datepicker--input-target="calendarButton"
    class="
      absolute inset-y-0 right-0 flex items-center justify-center w-[44px]
      pointer-events-auto cursor-pointer rounded-r-lg transition-colors border-t
      border-r border-b border-slate-300 dark:border-slate-600 hover:bg-slate-100
      dark:hover:bg-slate-600
    "
    aria-label="TODO open calendar"
    aria-controls="<%= calendar_id %>"
  >

    <%= pathogen_icon(:calendar_dots) %>
  </button>
</div>
<div
  data-pathogen--datepicker--input-target="inputError"
  class="text-sm hidden text-red-700 dark:text-red-500 mt-1"
  aria-hidden="true"
></div>
