<%= viral_dialog(open: @open, size: :large) do |dialog| %>
  <% dialog.with_header(
    title: t("components.attachments.dialogs.delete_attachment_component.title"),
  ) %>

  <%= helpers.turbo_frame_tag("deletion-alert") %>

  <div class="mb-4 overflow-x-visible font-normal text-slate-500 dark:text-slate-400">
    <p class="mb-4">
      <% if @attachment.associated_attachment %>
        <%= t(
          "components.attachments.dialogs.delete_attachment_component.description.paired_end",
          filenames:
            "'#{@attachment.file.filename.to_s}', '#{@attachment.associated_attachment.file.filename.to_s}'",
          attachable_type: @namespace.type.downcase,
        ) %>
      <% else %>
        <%= t(
          "components.attachments.dialogs.delete_attachment_component.description.single",
          filename: @attachment.file.filename.to_s,
          attachable_type: @namespace.type.downcase,
        ) %>
      <% end %>
    </p>

    <%= form_for(:deletion, url: destroy_path, method: :delete) do |form| %>
      <%= form.submit t(
                    "components.attachments.dialogs.delete_attachment_component.submit_button",
                  ),
                  tone: :danger,
                  emphasis: :outline,
                  data: {
                    turbo_frame: "_top",
                  } %>
    <% end %>
  </div>
<% end %>
