<div>
  <% help_text_id = fields.field_id(name, "help") %>

  <% if property[:type] != "boolean" %>
    <% if property[:format] == "path" || property[:format] == "file-path" %>
      <% legend_id = fields.field_id(name, "legend") %>
      <% prefix_id = fields.field_id(name, "prefix") %>
      <% describedby_ids = [prefix_id] %>
      <% describedby_ids << help_text_id if property[:help_text].present? %>
      <fieldset class="m-0 border-0 p-0">
        <legend id="<%= legend_id %>" class="mb-2 block text-sm font-medium text-slate-900 dark:text-white">
          <%= property[:description] %>

          <% if property[:required] %>
            <%= viral_pill(text: t(:"components.nextflow.required"), color: :primary) %>
          <% end %>
        </legend>
      </fieldset>
      <div
        class="
          flex flex-col rounded-lg border border-slate-300 bg-slate-300 @md:flex-row dark:border-slate-600
          dark:bg-slate-600
        "
      >
        <span
          id="<%= prefix_id %>"
          class="
            inline-flex items-center rounded-t-lg px-3 py-2 font-mono text-sm text-slate-900 @md:rounded-l-lg
            @md:rounded-tr-none dark:text-slate-300
          "
        >
          <%= format_name_as_arg(name) %>
        </span>

        <a
          id="<%= fields.field_id(name, "link") %>"
          href="<%= new_workflow_executions_file_selector_path(
                            file_selector: {
                              pattern: property[:pattern] || ".*",
                              property: name,
                              required: property[:required],
                              attachable_id: @namespace_id,
                              attachable_type: @namespace_type,
                              selected_id: nil,
                              namespace_id: @namespace_id,
                              help_text: property[:help_text]
                            }
                          ) %>"
          class="
            block w-full min-w-0 flex-1 rounded-b-lg border-none bg-slate-50 p-2.5 text-sm text-slate-900
            focus-visible:z-10 @md:rounded-r-lg @md:rounded-bl-none dark:bg-slate-700 dark:text-white
            dark:placeholder-slate-400
          "
          aria-labelledby="<%= legend_id %>"
          aria-describedby="<%= describedby_ids.join(" ") %>"
          data-turbo-stream="true"
        >
          <%= t('components.nextflow.no_selected_file') %>
        </a>

        <%= fields.hidden_field name, required: property[:required] %>
      </div>
    <% else %>
      <%= fields.label name, class: "block mb-2 text-sm font-medium text-slate-900 dark:text-white" do %>
        <%= property[:description] %>

        <% if property[:required] %>
          <%= viral_pill(text: t(:"components.nextflow.required"), color: :primary) %>
        <% end %>
      <% end %>
      <%= form_input(fields, name, property, property[:required], instance) %>
    <% end %>
  <% else %>
    <% value = instance.present? ? instance["workflow_params"][name.to_s] : property[:default] %>
    <%= viral_prefixed_boolean(form: fields, name:, value: ActiveModel::Type::Boolean.new.cast(value)) do |input| %>
      <%= input.with_prefix do %>
        <%= format_name_as_arg(name) %>
      <% end %>

      <%= input.with_legend(classes: "block mb-2 text-sm font-medium text-slate-900 dark:text-white") do %>
        <%= property[:description] %>

        <% if property[:required] %>
          <%= viral_pill(text: t(:"components.nextflow.required"), color: :primary) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if property[:help_text].present? %>
    <%= viral_help_text(id: help_text_id) do %>
      <%= property[:help_text] %>
    <% end %>
  <% end %>
</div>
