<%= viral_dialog(open: true, size: :large) do |dialog| %>
  <% dialog.with_header(
    title: t(".version_number", version_number: log_data[:version]),
  ) %>
  <div>
    <%= render partial: "group_history_modal_description", locals: { log_data: } %>
    <%= render HistoryVersionComponent.new(log_data: log_data) %>
  </div>
  <% dialog.with_secondary_action do %>
    <%= viral_button(data: { action: 'click->viral--dialog#close' }) do %>
      <%= t(".close") %>
    <% end %>
  <% end %>
<% end %>
