<li>
  <a href="<%= @url %>" title="<%= @label %>" data-turbo-action="replace" class="flex items-center p-1 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700 <%= class_names('bg-gray-100 dark:bg-gray-700': current_page?(@url)) %>">
    <span class="flex justify-center" style="width: 27px;">
      <%= render Icon::IconComponent.new(name: @icon, classes: "py-1 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white") %>
    </span>
    <span class="ml-1" data-layout-target="link">
      <%= @label %>
    </span>
  </a>
</li>