<%= form_with(model: @sample, url: namespace_project_sample_path(id: @sample.id), method: :patch) do |form| %>
  <div class="grid gap-4">
    <% @sample.files.each do |file| %>
      <%= form.hidden_field :files, multiple: true, value: file.signed_id %>
    <% end %>

    <div class="form-field">
      <%= form.label :files, "File" %>
      <%= form.file_field :files, multiple: true %>
      <%= render "shared/form/field_errors",
      errors: @sample.errors.full_messages_for(:files) %>
    </div>

    <div>
      <%= form.submit t("projects.samples.show.upload_file"),
                  class: "button button--state-primary button--size-default mr-1" %>
    </div>
  </div>
<% end %>
