<td id="<%= dom_id(@sample, @field) %>">
  <%= form_with(url: update_field_namespace_project_samples_path(@project.namespace.parent,
      @project), method: :patch, data: { controller: "inline-edit" }) do |f| %>
    <%= f.hidden_field :id, value: @sample.id %>
    <%= f.hidden_field :field, value: @field %>
    <%= f.hidden_field :original_value, value: @value %>
    <%= f.hidden_field :format, value: "turbo_stream" %>
    <%= f.text_field :value,
                 value: @value,
                 class: "w-full m-0",
                 data: {
                   "inline-edit-target": "input",
                   action: "blur->inline-edit#submit",
                 } %>
  <% end %>
</td>
