<div class="relative overflow-x-auto" data-turbo-temporary>
  <table
    id="samples-table"
    class="
      w-full
      text-sm
      text-left
      rtl:text-right
      text-slate-500
      dark:text-slate-400
      whitespace-nowrap
    "
    data-controller="selection"
    data-selection-total-value="<%= @pagy.count %>"
    data-selection-action-link-outlet=".action-link"
    aria-label="<%= t(:'.description')%>"
  >
    <thead
      class="
        text-xs
        text-slate-700
        uppercase
        bg-slate-50
        dark:bg-slate-700
        dark:text-slate-400
      "
    >
      <tr>
        <th
          scope="col"
          class="
            px-6
            py-3
            whitespace-nowrap
            text-left
            bg-slate-50
            dark:bg-slate-700
            sticky
            left-0
            z-10
          "
        >
          <%= search_form_for @q, url: select_namespace_project_samples_url(**request.query_parameters), html: { "data-controller": "filters", id: "select-all-form" }, class: "filters flex align-middle" do |f| %>
            <input type="hidden" name="format" value="turbo_stream"/>

            <% @search_params.each do |key, value| %>
              <% if value.is_a?(Array) %>
                <% value.each do |val| %>
                  <input type="hidden" name="q[<%= key %>][]" value="<%= val %>">
                <% end %>
              <% else %>
                <input type="hidden" name="q[<%= key %>]" value="<%= value %>">
              <% end %>
            <% end %>

            <% if allowed_to?(:submit_workflow?, project) || allowed_to?(:clone_sample?, project) || allowed_to?(:transfer_sample?, project) %>
              <label for="select-all" class="sr-only"><%= t(:".selectAll") %></label>
              <input
                type="checkbox"
                id="select-all"
                name="select"
                class="
                  w-4
                  h-4
                  mr-2.5
                  text-primary-600
                  bg-slate-100
                  border-slate-300
                  rounded
                  focus:ring-primary-500
                  dark:focus:ring-primary-600
                  dark:ring-offset-slate-800
                  focus:ring-2
                  dark:bg-slate-700
                  dark:border-slate-600
                "
                data-selection-target="selectAll"
                onchange="Turbo.navigator.submitForm(this.form)"
              />
            <% end %>
            <%= render Ransack::SortComponent.new(
              ransack_obj: @q,
              label: t(".puid"),
              url: sorting_url(@q, :puid),
              field: :puid
            ) %>
          <% end %>
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-left">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t(".sample"),
            url: sorting_url(@q, :name),
            field: :name
          ) %>
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-left">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t(".created_at"),
            url: sorting_url(@q, :created_at),
            field: :created_at
          ) %>
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-left">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t(".updated_at"),
            url: sorting_url(@q, :updated_at),
            field: :updated_at
          ) %>
        </th>
        <th scope="col" class="px-6 py-3 whitespace-nowrap text-left">
          <%= render Ransack::SortComponent.new(
            ransack_obj: @q,
            label: t(".files_updated_at"),
            url: sorting_url(@q, :attachments_updated_at_nulls_last),
            field: :attachments_updated_at_nulls_last
          ) %>
        </th>
        <% @fields.each do |column| %>
          <th scope="col" class="px-6 py-3 text-left whitespace-nowrap">
            <%= render Ransack::SortComponent.new(
              ransack_obj: @q,
              label: column,
              url: sorting_url(@q, URI.encode_www_form_component("metadata_#{column}")),
              field: "metadata_#{column}"
            ) %>
          </th>
        <% end %>
        <% if allowed_to?(:update_sample?, project) %>
          <th scope="col" class="px-6 py-3 whitespace-nowrap"><%= t(".action") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody
      class="
        bg-white
        divide-y
        divide-slate-200
        dark:bg-slate-800
        dark:divide-slate-700
      "
    >
      <% samples.each do |sample| %>
        <tr
          id="<%= sample.id %>"
          class="bg-white border-b dark:bg-slate-800 dark:border-slate-700"
        >
          <td
            class="
              px-6
              py-3
              whitespace-nowrap
              sticky
              left-0
              bg-slate-50
              dark:bg-slate-900
            "
          >
            <% if allowed_to?(:submit_workflow?, project) || allowed_to?(:clone_sample?, project) || allowed_to?(:transfer_sample?, project) %>
              <%= check_box_tag "sample_ids[]",
              sample.id,
              nil,
              id: dom_id(sample),
              "aria-label": sample.name,
              data: {
                action: "input->selection#toggle",
                selection_target: "rowSelection"
              },
              class:
                "w-4 h-4 mr-2.5 text-primary-600 bg-slate-100 border-slate-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600" %>
            <% end %>
            <%= link_to namespace_project_sample_path(id: sample.id),
            data: {
              turbo: false
            },
            class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" do %>
              <span class="font-semibold">
                <%= highlight(
                  sample.puid,
                  defined?(params[:q][:name_or_puid_cont]) && params[:q][:name_or_puid_cont],
                  highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>'
                ) %>
              </span>
            <% end %>
          </td>
          <td class="px-6 py-3 whitespace-nowrap">
            <%= link_to namespace_project_sample_path(id: sample.id),
            data: {
              turbo: false
            },
            class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" do %>
              <span class="font-semibold">
                <%= highlight(
                  sample.name,
                  defined?(params[:q][:name_or_puid_cont]) && params[:q][:name_or_puid_cont],
                  highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>'
                ) %>
              </span>
            <% end %>
          </td>
          <td class="px-6 py-3 whitespace-nowrap">
            <%= l(sample.created_at.localtime, format: :full_date) %>
          </td>
          <td class="px-6 py-3 whitespace-nowrap">
            <%= viral_time_ago(original_time: sample.updated_at) %>
          </td>
          <td class="px-6 py-3 whitespace-nowrap">
            <% if sample.attachments_updated_at.present? %>
              <%= viral_time_ago(original_time: sample.attachments_updated_at) %>
            <% end %>
          </td>
          <% @fields.each do |column| %>
            <td class="px-6 py-3 whitespace-nowrap">
              <%= sample.metadata[column] %>
            </td>
          <% end %>
          <% if allowed_to?(:update_sample?, project) %>
            <td class="px-6 py-3 space-x-2 whitespace-nowrap">
              <%= link_to(
                t(:"projects.samples.index.edit_button"),
                edit_namespace_project_sample_path(id: sample.id),
                data: {
                  turbo: false
                },
                class:
                  "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer"
              ) %>
              <% if allowed_to?(:destroy_sample?, @project) %>
                <%= link_to(
                  t(:"projects.samples.index.remove_button"),
                  namespace_project_sample_path(id: sample.id),
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: t(:"projects.samples.index.remove_button_confirmation")
                  },
                  class:
                    "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer"
                ) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <% if allowed_to?(:submit_workflow?, project) || allowed_to?(:clone_sample?, project) || allowed_to?(:transfer_sample?, project) %>
      <tfoot>
        <tr>
          <td
            class="
              px-6
              py-3
              whitespace-nowrap
              sticky
              left-0
              bg-slate-50
              dark:bg-slate-900
              border-t
              dark:border-slate-700
              border-slate-200
            "
            colspan="100%"
          >

            <span>
              <%= t(".counts.samples") %>:
              <strong data-selection-target="total">0</strong>
            </span>
            <span>
              <%= t(".counts.selected") %>:
              <strong data-selection-target="selected">0</strong>
            </span>
          </td>
        </tr>
      </tfoot>
    <% end %>
  </table>
</div>
