<%= form_tag new_namespace_project_samples_transfer_path, method: :get do %>
  <%= render Viral::PageHeaderComponent.new(title: t('.title'), subtitle: t(".subtitle")) do |component| %>
    <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
    <%= component.with_buttons do %>
      <% if allowed_to?(:allowed_to_modify_project?, @project) %>
        <div class="flex flex-row">
          <%= submit_tag "Submit", class: "btn btn-default" %>
          <%= link_to t("projects.samples.index.new_button"),
          new_namespace_project_sample_path,
          class: "btn btn-primary ml-2",
          "aria-label": t(".actions.button_add_aria_label") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="bg-white dark:bg-gray-800">
    <div class="flex flex-col">
      <div class="overflow-x-auto">
        <div class="shadow">
          <table id="samples-table" class="min-w-full table-fixed dark:divide-gray-600">
            <tbody
              class="
                bg-white
                divide-y
                divide-gray-200
                dark:bg-gray-800
                dark:divide-gray-700
              "
            >
              <% @samples.each do |sample| %>
                <tr class="text-sm font-normal text-gray-500 dark:text-gray-400">
                  <td class="ps-4">
                    <%= check_box_tag "sample_ids[]",
                    sample.id,
                    nil,
                    id: "sample_ids_#{sample.id}",
                    "aria-label": "placeholder_#{sample.id}" %>
                  </td>
                  <td class="py-3 whitespace-nowrap">
                    <%= link_to sample.name,
                    namespace_project_sample_path(id: sample.id),
                    class: "text-grey-900 dark:text-grey-100 font-semibold hover:underline" %>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= sample.description %></div>
                  </td>
                  <% if allowed_to?(:allowed_to_modify_project?, @project) %>
                    <td class="px-4 py-3">
                      <div class="flex items-center justify-end">
                        <%= viral_dropdown(icon: "ellipsis_vertical", aria: { label: t(:'projects.samples.index.actions.dropdown_aria_label', sample_name: sample.name) }) do |dropdown| %>
                          <%= dropdown.item(
                            label: t(:"projects.samples.index.edit_button"),
                            url: edit_namespace_project_sample_path(id: sample.id)
                          ) %>
                          <% if allowed_to?(:destroy?, @project) %>
                            <%= dropdown.item(
                              label: t(:"projects.samples.index.remove_button"),
                              url: namespace_project_sample_path(id: sample.id),
                              data: {
                                turbo_method: :delete,
                                turbo_confirm: t(:"projects.samples.index.remove_button_confirmation")
                              }
                            ) %>
                          <% end %>
                        <% end %>
                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
