<%= turbo_frame_tag "samples_dialog" %>
<%= turbo_frame_tag "transfer_alert" %>

<%= render Viral::PageHeaderComponent.new(title: t('.title')) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex items-center space-x-2">
      <%= link_to pipeline_selection_workflow_executions_submissions_path, data: { turbo_frame: "samples_dialog", turbo_stream: true, controller: "action-link", action_link_required_value: 1 },
        class: "button button--size-default button--state-default action-link" do %>
        <%= viral_icon(
          name: :rocket_launch,
          classes: "w-5 h-5 inline-block"
        ) %>
        <span class="sr-only"><%= t(:".workflows.button_sr") %></span>
      <% end %>
      <% if allowed_to?(:transfer_sample?, @project) %>
        <%= link_to t("projects.samples.index.transfer_button"),
        new_namespace_project_samples_transfer_path,
        data: {
          turbo_frame: "samples_dialog",
          turbo_stream: true,
          controller: "action-link",
          action_link_required_value: 1
        },
        class: "button button--size-default button--state-default action-link" %>
      <% end %>
      <% if allowed_to?(:create_sample?, @project) %>
        <%= link_to t("projects.samples.index.new_button"),
        new_namespace_project_sample_path,
        class: "button button--size-default button--state-primary",
        "aria-label": t(".actions.button_add_aria_label") %>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @has_samples %>
  <div
    class="flex text-sm font-medium text-center border-b  text-slate-500 border-slate-200 dark:text-slate-400 dark:border-slate-700"
  >
    <div class="flex flex-row items-center mb-2 ml-auto space-x-2 font-normal">
      <%= search_form_for @q, url: namespace_project_samples_url(**request.query_parameters), html: {"data-controller": "filters"} do |f| %>
        <input type="hidden" name="format" value="turbo_stream"/>
        <%= f.label :name_cont, placeholder: t(".search.placeholder"), class: "sr-only" %>
        <div class="relative lg:w-72">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
          </div>
          <%= turbo_frame_tag "project_samples_hidden_search_value" %>
          <%= f.search_field :name_cont,
                    "data-action": "filters#submit",
                    class:
                      "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder: t(".search.placeholder") %>
        </div>
      <% end %>
      <%= turbo_frame_tag "project_samples_sort_dropdown" %>
      <%= turbo_frame_tag "project_metadata_template" %>
    </div>
  </div>
  <div class="bg-white dark:bg-slate-800">
    <div class="flex flex-col" data-turbo-temporary>
      <div class="overflow-x-auto">
        <div class="shadow">
          <%= turbo_frame_tag "project_samples_list",
          src: project_samples_path(@project, format: :turbo_stream, **request.query_parameters),
          loading: :lazy do %>
            <table class="min-w-full table-fixed dark:divide-slate-600">
              <tbody
                class="bg-white divide-y  divide-slate-200 dark:bg-slate-800 dark:divide-slate-700"
              >
                <% 15.times do %>
                  <tr>
                    <td class="p-4 animate-pulse">
                      <div class="flex-1 py-1 space-y-6">
                        <div class="space-y-3">
                          <div class="w-48 h-2 rounded bg-slate-200"></div>
                          <div class="w-32 h-2 rounded bg-slate-200"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag "project_samples_pagination" %>
    </div>
  </div>
<% end %>
