<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "samples_dialog" %>
<%= turbo_frame_tag "samples_alert" %>
<%= turbo_frame_tag "selected" %>
<%= turbo_frame_tag "file_selector_dialog" %>

<%= turbo_stream_from @project %>

<div class="fixed-table-component">
  <%= render Viral::PageHeaderComponent.new(title: t('.title')) do |component| %>
    <% component.with_buttons do %>
      <div class="flex items-center space-x-2">
        <% if @allowed_to[:submit_workflow] && @pipelines_enabled %>
          <%= button_to pipeline_selection_workflow_executions_submissions_path, params: { namespace_id: @project.namespace.id }, method: :get,
        data: { action: "turbo:morph-element->action-link#idempotentConnect click->action-link#handleSubmit", turbo_stream: true, controller: "action-link", action_link_required_value: 1 },
                  class: "button button--size-default button--state-default action-link" do %>
            <%= viral_icon(name: :rocket_launch, classes: "w-5 h-5 inline-block") %>
            <span class="sr-only"><%= t(:".workflows.button_sr") %></span>
          <% end %>
        <% end %>

        <%= viral_dropdown(label: t(".sample_actions_button.label"), aria: { label: t('.sample_actions_button.label') }, caret: true, classes: "font-normal button button--size-default button--state-default") do |dropdown| %>
          <% if allowed_to?(:create_sample?, @project) %>
            <% dropdown.with_item(
              label: t("projects.samples.index.sample_actions_button.new_sample"),
              url: new_namespace_project_sample_path,
              data: {
                turbo_stream: true,
              },
            ) %>
          <% end %>

          <% if allowed_to?(:clone_sample?, @project) %>
            <% dropdown.with_item(
              label: t("projects.samples.index.sample_actions_button.clone"),
              url: new_namespace_project_samples_clone_path,
              data: {
                action:
                  "turbo:morph-element->action-link#idempotentConnect click->action-link#handleSubmit",
                turbo_stream: true,
                controller: "action-link",
                action_link_required_value: 1,
              },
              class:
                "flex w-full items-center border-b border-slate-200 px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white action-link",
            ) %>
          <% end %>
          <% if allowed_to?(:transfer_sample?, @project) %>
            <% dropdown.with_item(
              label: t("projects.samples.index.sample_actions_button.transfer"),
              url: new_namespace_project_samples_transfer_path,
              data: {
                action:
                  "turbo:morph-element->action-link#idempotentConnect click->action-link#handleSubmit",
                turbo_stream: true,
                controller: "action-link",
                action_link_required_value: 1,
              },
              class:
                "flex w-full items-center border-b border-slate-200 px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white action-link",
            ) %>
          <% end %>

          <% if allowed_to?(:destroy_sample?, @project) %>
            <% dropdown.with_item(
              label: t(".delete_samples_button"),
              url: new_namespace_project_samples_deletion_path,
              params: {
                deletion_type: "multiple",
              },
              data: {
                action:
                  "turbo:morph-element->action-link#idempotentConnect click->action-link#handleSubmit",
                turbo_stream: true,
                controller: "action-link",
                action_link_required_value: 1,
              },
              class:
                "flex w-full items-center border-b border-slate-200 text-red-600 px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white action-link",
            ) %>
          <% end %>

          <% if allowed_to?(:update_sample_metadata?, @project.namespace) && @has_samples %>
            <% dropdown.with_item(
              label: t(".sample_actions_button.import"),
              section_header: true,
            ) %>

            <% dropdown.with_item(
              label: t("projects.samples.index.sample_actions_button.import_metadata"),
              url: new_namespace_project_samples_file_import_path,
              data: {
                turbo_stream: true,
              },
            ) %>
          <% end %>

          <% if Flipper.enabled?(:batch_sample_spreadsheet_import) && allowed_to?(:import_samples_and_metadata?, @project.namespace) %>
            <% dropdown.with_item(
              label: t("projects.samples.index.sample_actions_button.import_samples"),
              url: new_namespace_project_samples_spreadsheet_import_path,
              data: {
                turbo_stream: true,
              },
            ) %>
          <% end %>

          <% if allowed_to?(:export_data?, @project) %>
            <% dropdown.with_item(
              label: t(".sample_actions_button.export"),
              section_header: true,
            ) %>

            <% dropdown.with_item(
              label: t(".sample_actions_button.linelist_export"),
              url: new_data_export_path,
              params: {
                export_type: "linelist",
                namespace_id: @project.namespace.id,
              },
              data: {
                action:
                  "turbo:morph-element->action-link#idempotentConnect click->action-link#handleSubmit",
                turbo_stream: true,
                controller: "action-link",
                action_link_required_value: 1,
              },
              class:
                "flex w-full items-center border-b border-slate-200 px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white action-link",
            ) %>
            <% dropdown.with_item(
              label: t(".sample_actions_button.sample_export"),
              url: new_data_export_path,
              params: {
                export_type: "sample",
                namespace_id: @project.namespace.id,
              },
              data: {
                action:
                  "turbo:morph-element->action-link#idempotentConnect click->action-link#handleSubmit",
                turbo_stream: true,
                controller: "action-link",
                action_link_required_value: 1,
              },
              class:
                "flex w-full items-center border-b border-slate-200 px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white action-link",
            ) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="flex @max-2xl:flex-col @max-2xl:space-y-2 mb-2">
    <div class="inline-flex grow space-x-2">
      <% if @allowed_to[:submit_workflow] || @allowed_to[:clone_sample] || @allowed_to[:transfer_sample] || @allowed_to[:export_data] %>
        <%= form_with(
                  url: select_namespace_project_samples_url,
                  method: :get,
                  id: "select-all-form",
                ) do |f| %>
          <input type="hidden" name="format" value="turbo_stream"/>
          <input type="hidden" name="select" value="on"/>
          <%= render "shared/samples/timestamp_input" %>
          <%= f.submit t(".select_all_button"),
                   class: "button button--state-default button--size-default" %>
        <% end %>
        <%= form_with(
                  url: select_namespace_project_samples_url,
                  method: :get,
                  id: "deselect-all-form" ,
                ) do |f| %>
          <input type="hidden" name="format" value="turbo_stream"/>
          <%= f.submit t(".deselect_all_button"),
                   class: "button button--state-default button--size-default" %>
        <% end %>
      <% end %>
    </div>
    <div id="table-filter" class="flex grow-0">
      <%= render partial: "table_filter", locals: { query: @query } %>
    </div>

    <%= render partial: "shared/samples/metadata_template_dropdown",
    locals: {
      url:
        list_namespace_project_metadata_templates_url(
          @project.namespace.parent,
          @project,
        ),
      metadata_template: @metadata_template,
      pagy: @pagy,
    } %>
  </div>

  <%= render partial: "table",
  locals: {
    allowed_to: @allowed_to,
    fields: @fields,
    has_samples: @has_samples,
    pagy: @pagy,
    project: @project,
    samples: @samples,
    search_params: @search_params,
  } %>
</div>
