<%= turbo_frame_tag "transfer_modal" %>
<%= turbo_frame_tag "transfer_alert" %>
<%= turbo_frame_tag "workflow_modal" %>

<%= render Viral::PageHeaderComponent.new(title: t('.title'), subtitle: t(".subtitle")) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex items-center space-x-2">
      <%= link_to pipeline_selection_workflow_executions_submissions_path, data: { turbo_frame: "workflow_modal", turbo_stream: true, controller: "action-link", action_link_required_value: 1 },
        class: "button button--size-default button--state-default link" do %>
        <%= viral_icon(name: :rocket_launch, classes: "w-4 h-4 inline-block") %>
        <span class="sr-only"><%= t(:".workflows.button_sr") %></span>
      <% end %>
      <% if allowed_to?(:transfer_sample?, @project) %>
        <%= link_to t("projects.samples.index.transfer_button"),
        new_namespace_project_samples_transfer_path,
        data: {
          turbo_frame: "transfer_modal",
          turbo_stream: true,
          controller: "action-link",
          action_link_required_value: 1
        },
        class: "button button--size-default button--state-default link" %>
      <% end %>
      <% if allowed_to?(:create_sample?, @project) %>
        <%= link_to t("projects.samples.index.new_button"),
        new_namespace_project_sample_path,
        class: "button button--size-default button--state-primary",
        "aria-label": t(".actions.button_add_aria_label") %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="shadow">
        <% if @has_samples %>
          <%= turbo_frame_tag "project_samples_list",
          src: project_samples_path(@project, format: :turbo_stream, page: params[:page]),
          loading: :lazy %>
        <% end %>
      </div>
    </div>
    <%= turbo_frame_tag "project_samples_pagination" %>
  </div>
</div>
