<%= turbo_frame_tag "transfer_modal" %>
<%= turbo_frame_tag "transfer_alert" %>
<%= turbo_frame_tag "workflow_modal" %>

<%= render Viral::PageHeaderComponent.new(title: t('.title'), subtitle: t(".subtitle")) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex items-center space-x-2">
      <%= link_to pipeline_selection_workflow_executions_submissions_path, data: { turbo_frame: "workflow_modal", turbo_stream: true, controller: "action-link", action_link_required_value: 1 },
        class: "button button--size-default button--state-default action-link" do %>
        <%= viral_icon(name: :rocket_launch, classes: "w-4 h-4 inline-block") %>
        <span class="sr-only"><%= t(:".workflows.button_sr") %></span>
      <% end %>
      <% if allowed_to?(:transfer_sample?, @project) %>
        <%= link_to t("projects.samples.index.transfer_button"),
        new_namespace_project_samples_transfer_path,
        data: {
          turbo_frame: "transfer_modal",
          turbo_stream: true,
          controller: "action-link",
          action_link_required_value: 1
        },
        class: "button button--size-default button--state-default action-link" %>
      <% end %>
      <% if allowed_to?(:create_sample?, @project) %>
        <%= link_to t("projects.samples.index.new_button"),
        new_namespace_project_sample_path,
        class: "button button--size-default button--state-primary",
        "aria-label": t(".actions.button_add_aria_label") %>
      <% end %>
    </div>
  <% end %>
<% end %>
<%
=begin%>
 namespace_project_samples_url
<%
=end%>
<%
=begin%>
 namespace_project_samples_url(@namespace, @project)
<%
=end%>
<div class="flex flex-row items-center ml-auto space-x-2 font-normal mb-2">
      <%= search_form_for @q, url: namespace_project_samples_url(**request.query_parameters), html: {"data-controller": "filters"} do |f| %>
        <%= f.label :name_cont, 'Filter by name', class: "sr-only" %>
        <div class="relative lg:w-72">
          <div
            class="
              absolute
              inset-y-0
              left-0
              flex
              items-center
              pl-3
              pointer-events-none
            "
          >
            <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
          </div>
          <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
          <%= f.search_field :name_cont,
                         "data-action": "filters#submit",
                         class:
                           "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                         placeholder: 'Filter by name' %>
        </div>
      <% end %>
      <%= sorting_dropdown(@q) do |dropdown| %>
        <%= sorting_item(dropdown, @q, :updated_at, :desc) %>
        <%= sorting_item(dropdown, @q, :created_at, :desc) %>
        <%= sorting_item(dropdown, @q, :namespace_name, :asc) %>
        <%= sorting_item(dropdown, @q, :namespace_name, :desc) %>
        <%= sorting_item(dropdown, @q, :updated_at, :asc) %>
        <%= sorting_item(dropdown, @q, :created_at, :asc) %>
      <% end %>
    </div>
<div class="bg-white dark:bg-slate-800">
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="shadow">
        <% if @has_samples %>
          <%= turbo_frame_tag "project_samples_list",
          src: project_samples_path(@project, format: :turbo_stream, **request.query_parameters, page: params[:page]),
          loading: :lazy %>
        <% end %>
      </div>
    </div>
    <%= turbo_frame_tag "project_samples_pagination" %>
  </div>
</div>
