<%= turbo_frame_tag "samples_dialog" %>
<%= turbo_frame_tag "samples_alert" %>

<%= render Viral::PageHeaderComponent.new(title: t('.title')) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex items-center space-x-2">
      <%= link_to pipeline_selection_workflow_executions_submissions_path, data: { turbo_stream: true, controller: "action-link", action_link_required_value: 1 },
                  class: "button button--size-default button--state-default action-link" do %>
        <%= viral_icon(name: :rocket_launch, classes: "w-5 h-5 inline-block") %>
        <span class="sr-only"><%= t(:".workflows.button_sr") %></span>
      <% end %>
      <% if allowed_to?(:clone_sample?, @project) %>
        <%= link_to t("projects.samples.index.clone_button"),
        new_namespace_project_samples_clone_path,
        data: {
          turbo_frame: "samples_dialog",
          turbo_stream: true,
          controller: "action-link",
          action_link_required_value: 1
        },
        class: "button button--size-default button--state-default action-link" %>
      <% end %>
      <% if allowed_to?(:transfer_sample?, @project) %>
        <%= link_to t("projects.samples.index.transfer_button"),
        new_namespace_project_samples_transfer_path,
        data: {
          turbo_frame: "samples_dialog",
          turbo_stream: true,
          controller: "action-link",
          action_link_required_value: 1
        },
        class: "button button--size-default button--state-default action-link" %>
      <% end %>
      <% if allowed_to?(:update_sample?, @project) %>
        <%= link_to t("projects.samples.index.import_metadata_button"),
        new_namespace_project_samples_file_import_path,
        data: {
          turbo_stream: true
        },
        class: "button button--size-default button--state-default" %>
      <% end %>
      <% if allowed_to?(:create_sample?, @project) %>
        <%= link_to t("projects.samples.index.new_button"),
        new_namespace_project_sample_path,
        class: "button button--size-default button--state-primary",
        "aria-label": t(".actions.button_add_aria_label") %>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @has_samples %>
  <div class="text-sm font-medium text-slate-500 dark:text-slate-400 mb-2">
    <%= search_form_for @q, url: namespace_project_samples_url(**request.query_parameters), html: { "data-controller": "filters" }, class: "filters" do |f| %>
      <div class="flex flex-row-reverse items-center space-x-2">
        <input type="hidden" name="format" value="turbo_stream"/>
        <div>
          <label class="relative inline-flex items-center cursor-pointer">
            <%= f.check_box(
              :metadata,
              {
                checked: params[:metadata].to_i == 1,
                onchange: "Turbo.navigator.submitForm(this.form)",
                class: "sr-only peer"
              }
            ) %>
            <div
              class="
                w-11
                h-6
                bg-slate-200
                peer-focus:outline-none
                peer-focus:ring-4
                peer-focus:ring-primary-300
                dark:peer-focus:ring-primary-800
                rounded-full
                peer
                dark:bg-slate-700
                peer-checked:after:translate-x-full
                rtl:peer-checked:after:-translate-x-full
                peer-checked:after:border-white
                after:content-['']
                after:absolute
                after:top-[2px]
                after:start-[2px]
                after:bg-white
                after:border-slate-300
                after:border
                after:rounded-full
                after:h-5
                after:w-5
                after:transition-all
                dark:border-slate-600
                peer-checked:bg-primary-600
              "
            ></div>
            <span class="ms-3 text-sm font-medium text-slate-900 dark:text-slate-300">
              <%= t(:".search.metadata") %>
            </span>
          </label>
        </div>
        <div
          data-controller="filter-list"
          data-filter-list-selection-outlet="#samples-table"
        >
          <%= viral_dialog(closable: false) do |dialog| %>
            <%= dialog.with_trigger do %>
              <%= viral_button(data: { action: "click->viral--dialog#open" }, aria: { label: t(:'projects.samples.tagged_filter.title') }, title: t(:'projects.samples.tagged_filter.title'), classes: "relative") do %>
                <%= viral_icon(name: "document_magnifying_glass", classes: "w-5 h-5 inline-block") %>
                <div
                  data-filter-list-target="count"
                  class="
                    hidden
                    absolute
                    items-center
                    justify-center
                    w-6
                    h-6
                    text-xs
                    font-bold
                    text-white
                    bg-red-500
                    border-2
                    border-white
                    rounded-full
                    -top-2
                    -end-2
                    dark:border-slate-900
                  "
                >8</div>
              <% end %>
            <% end %>
            <%= dialog.with_header(title: t("projects.samples.tagged_filter.title")) %>
            <%= dialog.with_section do %>

              <template data-filter-list-target="template">
                <%= viral_pill(color: :blue, classes: "search-tag inline-flex items-center filter-item mb-1 mr-1 py-1.5") do %>
                  <%= f.search_field :name_or_puid_in, multiple: true, class: "hidden" %>
                  <span class="label font-mono text-base font-semibold mr-1"></span>
                  <button
                    type="button"
                    class="
                      inline-flex
                      items-center
                      p-1
                      text-sm
                      text-slate-400
                      bg-transparent
                      rounded-full
                      hover:bg-blue-200
                      hover:text-blue-900
                      dark:hover:bg-blue-600
                      dark:hover:text-blue-300
                    "
                    data-action="click->filter-list#remove"
                    aria-label="<%= t(:'projects.samples.tagged_filter.remove_tag') %>"
                  >
                    <%= viral_icon(name: "x_mark", classes: "w-4 h-4") %>
                  </button>
                <% end %>
              </template>
              <div class="space-y-4">

                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                  <%= raw t(:"projects.samples.tagged_filter.description") %>
                </p>

                <%= render partial: "projects/samples/tagged_filter" %>
              </div>

            <% end %>
            <%= dialog.with_primary_action(
              "data-action": "filter-list#afterSubmit filters#submit viral--dialog#close"
            ) { t(:"projects.samples.tagged_filter.apply") } %>
          <% end %>
        </div>
        <%= f.label :name_or_puid_cont,
                placeholder: t(".search.placeholder"),
                class: "sr-only" %>
        <div class="flex flex-row items-center space-x-2">
          <div class="relative lg:w-72">
            <div
              class="
                absolute
                inset-y-0
                left-0
                flex
                items-center
                pl-3
                pointer-events-none
              "
            >
              <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
            </div>
            <%= turbo_frame_tag "project_samples_hidden_values" %>
            <%= f.search_field :name_or_puid_cont,
                           "data-action": "filters#submit",
                           class:
                             "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                           placeholder: t(".search.placeholder") %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag "project_samples_list",
                        src: project_samples_path(@project, format: :turbo_stream, **request.query_parameters),
                        loading: :lazy do %>
    <%= render partial: "shared/loading/table" %>
  <% end %>
  <%= turbo_frame_tag "project_samples_pagination" %>
<% end %>
