<%= turbo_frame_tag "transfer_modal" %>
<%= turbo_frame_tag "transfer_alert" %>

<%= render Viral::PageHeaderComponent.new(title: t('.title'), subtitle: t(".subtitle")) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div>
      <% if allowed_to?(:transfer_sample?, @project) %>
        <%= link_to t("projects.samples.index.transfer_button"),
        new_namespace_project_samples_transfer_path,
        data: {
          turbo_frame: "transfer_modal"
        },
        class: "button button--size-default button--state-default mr-1" %>
      <% end %>
      <% if allowed_to?(:create_sample?, @project) %>
        <%= link_to t("projects.samples.index.new_button"),
        new_namespace_project_sample_path,
        class: "button button--size-default button--state-primary",
        "aria-label": t(".actions.button_add_aria_label") %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="shadow">
        <% if @has_samples %>
          <%= turbo_frame_tag "project_samples_list",
          src: project_samples_path(@project, format: :turbo_stream, page: params[:page]),
          loading: :lazy %>
          <%= turbo_frame_tag "project_samples_pagination" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
