<%= render Viral::PageHeaderComponent.new(
  title: t("projects.samples.new.title"),
  subtitle: t("projects.samples.new.subtitle"),
) %>

<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div
      class="
        rounded-lg border border-slate-200 bg-white p-4 shadow-sm sm:p-6 2xl:col-span-2 dark:border-slate-700
        dark:bg-slate-800
      "
    >
      <%= form_with(model: @sample, url: namespace_project_samples_path, method: :post, html: { novalidate: true}) do |form| %>
        <div class="grid gap-4">
          <%= render partial: "form_fields", locals: { form: form, sample: @sample } %>

          <div class="flex gap-2">
            <%= render "shared/pathogen/cancel_button", href: namespace_project_samples_path %>
            <%= form.submit tone: :primary, emphasis: :solid %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
