<%= render Viral::PageHeaderComponent.new(title: t("projects.samples.new.title"), subtitle: t("projects.samples.new.subtitle")) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
<% end %>
<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div
      class="
        p-4 bg-white border border-slate-200 rounded-lg shadow-sm 2xl:col-span-2
        dark:border-slate-700 sm:p-6 dark:bg-slate-800
      "
    >
      <%= form_with(model: @sample, url: namespace_project_samples_path, data: {turbo: false}, method: :post) do |form| %>
        <div class="grid gap-4">
          <%= render partial: "form_fields", locals: { form: form, sample: @sample } %>

          <div class="flex">
            <%= form.submit t("projects.samples.new.submit_button"),
                        class: "button button--state-primary button--size-default mr-2" %>
            <%= link_to t("projects.samples.new.cancel_button"),
            namespace_project_samples_path,
            class: "button button--state-default button--size-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
