<%= content_for :buttons do %>
  <div class="flex flex-row">
    <%= link_to t('projects.samples.show.edit_button'), edit_namespace_project_sample_path(id: @sample.id), class: "btn btn-primary mr-1" %>
    <%= link_to t('projects.samples.show.remove_button'), namespace_project_sample_path(id: @sample.id), data: {turbo_method: :delete, turbo_confirm: t('projects.samples.show.remove_button_confirmation')}, class: "btn btn-default mr-1" %>
    <%= link_to t('projects.samples.show.back_button'), namespace_project_samples_path, class: "btn btn-default" %>
  </div>
<% end %>

<%= render layout: 'shared/page_header', locals: {
  icon: 'beaker',
  title: @sample.name,
  subtitle: @sample.description
} do %>
  <!-- ADD CONTENT HERE -->
<% end %>
