<%= turbo_frame_tag "sample_modal" %>

<%= render Viral::PageHeaderComponent.new(title: @sample.name, id: @sample.puid, subtitle: @sample.description) do |component| %>
  <%= viral_pill(text: @sample.puid, color: :blue) %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex flex-row">
      <% if allowed_to?(:new?, @project) %>
        <%= link_to(
          t("projects.samples.show.edit_button"),
          edit_namespace_project_sample_path(id: @sample.id),
          class: "button button--state-primary button--size-default mr-1",
        ) %>
      <% end %>
      <% if allowed_to?(:destroy?, @project) %>
        <%= link_to(
          t("projects.samples.show.remove_button"),
          namespace_project_samples_deletion_path(sample_id: @sample.id, format: :html),
          data: {
            turbo_method: :delete,
            turbo_confirm: t("projects.samples.show.remove_button_confirmation"),
          },
          class: "button button--state-default button--size-default",
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <div
    class="
      flex text-sm font-medium text-center border-b text-slate-500 border-slate-200
      dark:text-slate-400 dark:border-slate-700
    "
  >
    <ul class="flex flex-wrap -mb-px">
      <li class="mr-2">
        <%= link_to t(:"projects.samples.show.tabs.files"),
        namespace_project_sample_path(id: @sample.id, tab: "files"),
        class:
          (
            if @tab == "files" || @tab == nil
              "inline-block p-4 text-primary-700 border-b-2 border-primary-700 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            else
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300"
            end
          ),
        aria: {
          current: (@tab == "files" || @tab == nil) ? "page" : "false",
        } %>
      </li>
      <li class="mr-2">
        <%= link_to t(:"projects.samples.show.tabs.metadata"),
        namespace_project_sample_path(id: @sample.id, tab: "metadata"),
        class:
          (
            if @tab == "metadata"
              "inline-block p-4 text-primary-700 border-b-2 border-primary-700 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            else
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300"
            end
          ),
        aria: {
          current: @tab == "metadata" ? "page" : "false",
        } %>
      </li>
      <li class="mr-2">
        <%= link_to t(:"projects.samples.show.tabs.history"),
        namespace_project_sample_path(id: @sample.id, tab: "history"),
        class:
          (
            if @tab == "history"
              "inline-block p-4 text-primary-700 border-b-2 border-primary-700 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            else
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300"
            end
          ),
        aria: {
          current: @tab == "history" ? "page" : "false",
        } %>
      </li>
    </ul>
    <% if allowed_to?(:update_sample?, @project) %>
      <% if @tab == 'files' || @tab == nil %>
        <div class="flex flex-row items-center ml-auto space-x-2 font-normal">
          <%= link_to t(".new_attachment_button"),
          new_namespace_project_sample_attachment_path(sample_id: @sample.id),
          data: {
            turbo_frame: "sample_modal",
            turbo_stream: true,
          },
          class: "button button--size-default button--state-default" %>
          <%= link_to t(".concatenate_button"),
          new_namespace_project_sample_attachments_concatenation_path(
            sample_id: @sample.id,
          ),
          data: {
            turbo_frame: "sample_modal",
            turbo_stream: false,
            controller: "action-link",
            action_link_required_value: 2,
          },
          class: "button button--size-default button--state-default action-link" %>
          <%= link_to t(".delete_files_button"),
          new_namespace_project_sample_attachments_deletion_path(sample_id: @sample.id),
          data: {
            turbo_frame: "sample_modal",
            turbo_stream: false,
            controller: "action-link",
            action_link_required_value: 1,
          },
          class: "button button--size-default button--state-destructive action-link" %>
        </div>
      <% elsif @tab == 'metadata' %>
        <div class="flex flex-row items-center ml-auto space-x-2 font-normal">
          <%= link_to t(".add_metadata"),
          new_namespace_project_sample_metadata_path(sample_id: @sample.id),
          data: {
            turbo_frame: "sample_modal",
            turbo_stream: true,
          },
          class: "button button--size-default button--state-default" %>
          <%= link_to t(".delete_metadata_button"),
          new_namespace_project_sample_metadata_deletion_path(sample_id: @sample.id),
          data: {
            turbo_frame: "sample_modal",
            turbo_stream: false,
            controller: "action-link",
            action_link_required_value: 1,
          },
          class: "button button--size-default button--state-destructive action-link" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="flex flex-col" data-turbo-temporary>
    <%= turbo_frame_tag "table-listing", src: namespace_project_sample_path(format: :turbo_stream, tab: @tab || 'files') do %>
      <% if @tab == "history" %>
        <%= render partial: "shared/loading/history" %>
      <% elsif @tab == "params" %>
        <%= render partial: "shared/loading/params" %>
      <% else %>
        <%= render partial: "shared/loading/table" %>
      <% end %>
    <% end %>
  </div>
</div>
