<%= turbo_frame_tag "sample_modal" %>

<%= render Viral::PageHeaderComponent.new(title: @sample.name, id: @sample.puid, subtitle: @sample.description) do |component| %>
  <%= viral_pill(text: @sample.puid, color: :blue) %>
  <% component.with_buttons do %>
    <div class="flex flex-row space-x-2">
      <% if @allowed_to[:update_sample] %>
        <%= link_to(
          t("projects.samples.show.edit_button"),
          edit_namespace_project_sample_path(id: @sample.id),
          class: "button button--state-default button--size-default",
        ) %>
      <% end %>
      <% if @allowed_to[:destroy_sample] %>
        <%= link_to(
          t("projects.samples.show.remove_button"),
          namespace_project_samples_deletion_path(sample_id: @sample.id, format: :html),
          data: {
            turbo_method: :delete,
            turbo_confirm: t("projects.samples.show.remove_button_confirmation"),
          },
          class: "button button--state-default button--size-default",
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<main class="bg-white dark:bg-slate-800 rounded-lg shadow-sm">
  <nav
    aria-label="Sample tabs"
    class="border-b border-slate-200 dark:border-slate-700"
  >
    <ul
      class="
        flex flex-wrap text-sm font-medium text-center text-slate-500
        dark:text-slate-400
      "
      role="tablist"
    >
      <% tab_items = [
        { key: "files", label: t(:"projects.samples.show.tabs.files") },
        { key: "metadata", label: t(:"projects.samples.show.tabs.metadata") },
        { key: "history", label: t(:"projects.samples.show.tabs.history") },
      ] %>
      <% tab_items.each do |item| %>
        <% active = (@tab == item[:key]) || (@tab.nil? && item[:key] == "files") %>
        <li class="mr-2" role="presentation">
          <%= link_to item[:label],
          namespace_project_sample_path(id: @sample.id, tab: item[:key]),
          class: [
            "inline-block px-5 py-3 rounded-t-lg border-b-2 focus:outline-none transition-colors duration-150",
            (
              if active
                "text-primary-700 border-primary-700 bg-slate-50 dark:bg-slate-900 dark:text-primary-500 border-b-2 border-primary-700 dark:border-primary-500"
              else
                "border-transparent hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300"
              end
            ),
          ].join(" "),
          aria: {
            current: active ? "page" : "false",
          },
          role: "tab",
          tabindex: active ? 0 : -1 %>
        </li>
      <% end %>
    </ul>
  </nav>
  <section
    class="flex flex-col p-4 min-h-[200px]"
    aria-labelledby="sample-tabs"
    data-turbo-temporary
  >
    <%= turbo_frame_tag "table-listing", src: namespace_project_sample_path(format: :turbo_stream, tab: @tab || 'files') do %>
      <% if @tab == "history" %>
        <%= render partial: "shared/loading/history" %>
      <% elsif @tab == "params" %>
        <%= render partial: "shared/loading/params" %>
      <% else %>
        <%= render partial: "shared/loading/table" %>
      <% end %>
    <% end %>
  </section>
</main>
