<%= turbo_frame_tag "sample_files_modal" %>

<%= render Viral::PageHeaderComponent.new(title: @sample.name, subtitle: @sample.description) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex flex-row">
      <% if allowed_to?(:new?, @project) %>
        <%= link_to(
          t("projects.samples.show.edit_button"),
          edit_namespace_project_sample_path(id: @sample.id),
          class: "button button--state-primary button--size-default mr-1"
        ) %>
      <% end %>
      <% if allowed_to?(:destroy?, @project) %>
        <%= link_to(
          t("projects.samples.show.remove_button"),
          namespace_project_sample_path(id: @sample.id, format: :html),
          data: {
            turbo_method: :delete,
            turbo_confirm: t("projects.samples.show.remove_button_confirmation")
          },
          class: "button button--state-default button--size-default mr-1"
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="bg-white dark:bg-slate-800">
  <div
    class="
      flex
      text-sm
      font-medium
      text-center
      border-b
      text-slate-500
      border-slate-200
      dark:text-slate-400
      dark:border-slate-700
    "
  >
    <ul class="flex flex-wrap -mb-px">
      <li class="mr-2">
        <%= link_to t(:"projects.samples.show.tabs.files"),
        namespace_project_sample_path(id: @sample.id, tab: 'files'),
        class:
          (
            if @tab == 'files' || @tab == nil
              "inline-block p-4 text-primary-700 border-b-2 border-primary-700 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            else
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300"
            end
          ),
        aria: {
          current: (@tab == 'files' || @tab == nil) ? "page" : "false"
        } %>
      </li>
      <li class="mr-2">
        <%= link_to t(:"projects.samples.show.tabs.metadata"),
        namespace_project_sample_path(id: @sample.id, tab: 'metadata'),
        class:
          (
            if @tab == 'metadata'
              "inline-block p-4 text-primary-700 border-b-2 border-primary-700 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
            else
              "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300"
            end
          ),
        aria: {
          current: @tab == 'metadata' ? "page" : "false"
        } %>
      </li>
    </ul>
    <% unless @tab == 'files' || @tab == nil %>
    <div class="flex flex-row items-center ml-auto space-x-2 font-normal">
      <%= search_form_for @q, url: namespace_project_sample_path(**request.query_parameters, tab: @tab), html: {"data-controller": "filters"} do |f| %>
        <input type="hidden" name="format" value="turbo_stream"/>
        <%= f.label :name_cont, 'test placeholder', class: "sr-only" %>
        <div class="relative lg:w-72">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
          </div>
          <%= turbo_frame_tag "metadata_hidden_search_value" %>
          <%= f.search_field :name_cont,
                    "data-action": "filters#submit",
                    class:
                      "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder: 'test placeholder' %>
        </div>
      <% end %>
      <%= turbo_frame_tag "metadata_sort_dropdown" %>
    </div>
    <%end%>
  </div>
  <div class="flex flex-col" data-turbo-temporary>
      <%= turbo_frame_tag "table-listing", src: namespace_project_sample_path(format: :turbo_stream, **request.query_parameters, tab: @tab), loading: :lazy do %>
        <table class="min-w-full table-fixed dark:divide-slate-600">
          <tbody
            class="
              bg-white
              divide-y
              divide-slate-200
              dark:bg-slate-800
              dark:divide-slate-700
            "
          >
            <% 15.times do %>
              <tr>

                <td class="p-4 animate-pulse">
                  <div class="flex-1 py-1 space-y-6">
                    <div class="space-y-3">
                      <div class="w-48 h-2 rounded bg-slate-200"></div>
                      <div class="w-32 h-2 rounded bg-slate-200"></div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <%= turbo_frame_tag "pagination" %>
  </div>
</div>




<%
=begin%>
 <div class="bg-white dark:bg-slate-800">
  <%= viral_tabs(id: "sample-data-tabs", label: "Files table") do |tabs| %>
    <%= tabs.with_tab(url: namespace_project_sample_path(id: @sample.id, tab: 'files'), controls: "sample-data-tabs", selected: @tab == "files" || @tab.nil?) do %>
      <%= t(:"projects.samples.show.tabs.files") %>
    <% end %>

    <%= tabs.with_tab(url: namespace_project_sample_path(id: @sample.id, tab: 'metadata'), controls: "sample-data-tabs", selected: @tab == "metadata") do %>
      <%= t(:"projects.samples.show.tabs.metadata") %>
    <% end %>

    <%= tabs.with_tab_content do %>
      <div class="flex flex-col">
        <%= turbo_frame_tag "table-listing", "data-turbo-temporary": true,
                            src:
                              (
                                namespace_project_sample_path(
                                  format: :turbo_stream,
                                  tab: @tab
                                )
                              ),
                            loading: :lazy do %>
          <table class="min-w-full table-fixed dark:divide-gray-600">
            <tbody
              class="
                bg-white
                divide-y
                divide-gray-200
                dark:bg-gray-800
                dark:divide-gray-700
              "
            >
              <% 10.times do %>
                <tr>

                  <td class="p-4 animate-pulse">
                    <div class="flex-1 py-1 space-y-6">
                      <div class="space-y-3">
                        <div class="w-48 h-2 rounded bg-slate-200"></div>
                        <div class="w-32 h-2 rounded bg-slate-200"></div>
                      </div>
                    </div>
                  </td>

                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
<%
=end%>
        <%
=begin%>
 <%= turbo_frame_tag "pagination", "data-turbo-temporary": true %>
<%
=end%>
      <%
=begin%>
 </div>
    <% end %>
  <% end %>


</div>
<%
=end%>
