<%= turbo_frame_tag "sample_modal" %>

<%= render Viral::PageHeaderComponent.new(title: @sample.name, id: @sample.puid, subtitle: @sample.description) do |component| %>
  <%= viral_pill(text: @sample.puid, color: :blue) %>
  <% component.with_buttons do %>
    <div class="flex flex-row space-x-2">
      <% if @allowed_to[:update_sample] %>
        <%= link_to(
          t("projects.samples.show.edit_button"),
          edit_namespace_project_sample_path(id: @sample.id),
          class: "button button--state-default button--size-default",
        ) %>
      <% end %>
      <% if @allowed_to[:destroy_sample] %>
        <%= link_to(
          t("projects.samples.show.remove_button"),
          namespace_project_samples_deletion_path(sample_id: @sample.id, format: :html),
          data: {
            turbo_method: :delete,
            turbo_confirm: t("projects.samples.show.remove_button_confirmation"),
          },
          class: "button button--state-default button--size-default",
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div>
  <nav
    aria-label="<%= t("projects.samples.show.nav_aria_label") %>"
    class="border-b border-slate-200 dark:border-slate-700"
  >
    <ul
      class="
        flex flex-row space-x-0 text-sm font-medium text-slate-500 dark:text-slate-400
      "
      role="tablist"
    >
      <% tab_items = [
        { key: "files", label: t(:"projects.samples.show.tabs.files") },
        { key: "metadata", label: t(:"projects.samples.show.tabs.metadata") },
        { key: "history", label: t(:"projects.samples.show.tabs.history") },
      ] %>
      <% tab_items.each_with_index do |item, idx| %>
        <% active = (@tab == item[:key]) || (@tab.nil? && item[:key] == "files") %>
        <li role="presentation">
          <%= link_to item[:label],
          namespace_project_sample_path(id: @sample.id, tab: item[:key]),
          class: [
            "block px-4 py-3 border-b-2 transition-colors duration-150",
            (
              if active
                "border-primary-600 text-primary-700 dark:border-primary-400 dark:text-primary-400 bg-transparent font-semibold"
              else
                "border-transparent hover:text-primary-700 hover:border-primary-300 dark:hover:text-primary-300"
              end
            ),
            idx == 0 ? "rounded-tl-lg" : nil,
            idx == tab_items.size - 1 ? "rounded-tr-lg" : nil,
          ].compact.join(" "),
          aria: {
            current: active ? "page" : "false",
          },
          role: "tab",
          tabindex: active ? 0 : -1 %>
        </li>
      <% end %>
    </ul>
  </nav>
  <section class="flex flex-col p-4 min-h-[200px]" data-turbo-temporary>
    <%= turbo_frame_tag "table-listing", src: namespace_project_sample_path(format: :turbo_stream, tab: @tab || 'files') do %>
      <% if @tab == "history" %>
        <%= render partial: "shared/loading/history" %>
      <% elsif @tab == "params" %>
        <%= render partial: "shared/loading/params" %>
      <% else %>
        <%= render partial: "shared/loading/table" %>
      <% end %>
    <% end %>
  </section>
</div>
