<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_frame_tag "sample_modal" %>
<%= turbo_frame_tag "samples_dialog" %>

<%= render Viral::PageHeaderComponent.new(title: @sample.name, id: @sample.puid, subtitle: @sample.description) do |component| %>
  <%= viral_pill(text: @sample.puid, color: :blue) %>
  <% component.with_buttons do %>
    <div class="flex flex-row space-x-2">
      <% if @allowed_to[:update_sample] %>
        <%= link_to(
          t("projects.samples.show.edit_button"),
          edit_namespace_project_sample_path(id: @sample.id),
          class: "button button-default",
        ) %>
      <% end %>
      <% if @allowed_to[:destroy_sample] %>
        <%= button_to(
          t("projects.samples.show.remove_button"),
          new_samples_deletions_path,
          params: {
            namespace_id: @project.namespace.id,
            deletion_type: "single",
            sample_id: @sample.id,
          },
          method: :get,
          data: {
            turbo_stream: true,
          },
          class: "button button-default",
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div>
  <%= pathogen_tab_list(
    id: "sample-tabs",
    label: t("projects.samples.show.nav_aria_label")
  ) do |tabs| %>
    <% tabs.with_tab(
      id: "files-tab",
      text: t(:"projects.samples.show.tabs.files"),
      href: namespace_project_sample_path(id: @sample.id, tab: "files"),
      selected: (@tab == "files") || (@tab.nil?),
    ) %>
    <% tabs.with_tab(
      id: "metadata-tab",
      text: t(:"projects.samples.show.tabs.metadata"),
      href: namespace_project_sample_path(id: @sample.id, tab: "metadata"),
      selected: @tab == "metadata",
    ) %>
    <% tabs.with_tab(
      id: "history-tab",
      text: t(:"projects.samples.show.tabs.history"),
      href: namespace_project_sample_path(id: @sample.id, tab: "history"),
      selected: @tab == "history",
    ) %>
  <% end %>

  <% if @tab == "history" %>
    <div class="grid gap-4 px-4 py-8">
      <%= render HistoryComponent.new(
        data: @log_data.reverse,
        type: "Sample",
        url:
          namespace_project_sample_view_history_version_path(sample_id: @sample.id),
      ) %>
    </div>
  <% elsif @tab == "metadata" %>
    <%= render partial: "projects/samples/metadata/table",
    locals: {
      sample_metadata: @sample_metadata,
    } %>
  <% else %>
    <%= render partial: "projects/samples/attachments/table",
    locals: {
      attachments: @sample_attachments,
    } %>
  <% end %>
</div>
