<div>
  <% flash.each do |type, msg| %>
    <%= render partial: "shared/alerts/success", locals: {title: "Sucess", message: msg} %>
  <% end %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with( model: user, url: profile_password_path, method: :patch) do |f| %>
    <div class="form-field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password" %>
      <p class="field-hint">You must provide your current password in order to change it.</p>
    </div>
    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="my-2 flex items-center justify-between">
      <%= f.submit "Save password", class: "cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
      <p class="field-hint"><%= link_to "Forgot your password?", new_password_path(@user) %></p>
    </div>
      <% end %>
</div>
