<div>
  <% flash.each do |type, msg| %>
    <div class"p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert"=>
      <%= type %> - <%= msg %>
    </div>
  <% end %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with( model: user, url: profile_password_path, method: :patch) do |f| %>
    <div class="form-field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password" %>
      <p class="field-hint">(we need your current password to confirm your changes)</p>
    </div>
    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <p class="field-hint">(leave blank if you don't want to change it)</p>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="my-2">
      <%= f.submit "Save password", class: "cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
      <% end %>
</div>
