<%= form_with(url: group_transfer_path, method: :put, class: "grid gap-4", id: "edit_advanced_transfer_form",
data:
if Flipper.enabled?(:beta_dropdown)
  { turbo_confirm: "", controller: "viral--beta-select2", "viral--beta-select2-trigger-type-value": "click" }
else
  { turbo_confirm: "", controller: "viral--select2" }
end
) do |form| %>
  <%= render partial: "shared/form/required_field_legend" %>

  <div class="form-field">
    <% form_id = "transfer_namespace_id_input" %>

    <%= form.label :new_namespace_id,
               t("groups.edit.advanced.transfer.new_namespace_id"),
               class:
                 "mb-1 block text-sm font-medium text-slate-900 dark:text-white",
               data: {
                 required: true,
               },
               for: form_id %>

    <% if @authorized_namespaces.empty? %>
      <input
        autocomplete="off"
        disabled
        placeholder="<%= t(:"groups.edit.advanced.transfer.no_available_namespaces") %>"
        type="text"
        class="
          block w-full rounded-lg border-slate-300 p-2.5 text-slate-800 sm:text-sm dark:border-slate-600
          dark:bg-slate-800 dark:text-slate-50
        "
      >
    <% else %>
      <% select2_component =
        (
          if Flipper.enabled?(:beta_dropdown)
            "viral_beta_select2"
          else
            "viral_select2"
          end
        ) %>
      <%= send(select2_component, form:, name: :new_namespace_id, id: form_id, placeholder: t(:"groups.edit.advanced.transfer.select_group")) do |select| %>
        <% @authorized_namespaces.each do |namespace| %>
          <% select.with_option(
                      value: namespace.id,
                      label: namespace.name,
                    ) do %>
            <span class="pointer-events-none block font-semibold text-slate-900 dark:text-slate-400">
              <%= namespace.name %>
              <%= render PuidComponent.new(puid: namespace.puid, show_clipboard: false) %>
            </span>

            <span class="pointer-events-none block text-slate-600 dark:text-white"><%= namespace.full_path %></span>
          <% end %>
        <% end %>

        <%= select.with_empty_state do %>
          <%= t(:"groups.edit.advanced.transfer.empty_state") %>
        <% end %>
      <% end %>
    <% end %>

    <% if error.present? %>
      <p class="text-sm text-red-500 dark:text-red-400"><%= error %></p>
    <% end %>
  </div>

  <div>
    <%= form.submit t("groups.edit.advanced.transfer.submit"),
                class: "button button-destructive inline-block",
                disabled: true,
                data:
                  if Flipper.enabled?(:beta_dropdown)
                    {
                      "viral--beta-select2-target": "submitButton",
                      turbo_content: ".confirm-transfer",
                      confirm_value: confirm_value,
                    }
                  else
                    {
                      "viral--select2-target": "submitButton",
                      turbo_content: ".confirm-transfer",
                      confirm_value: confirm_value,
                    }
                  end %>
  </div>
<% end %>
