<%= viral_card do |card| %>
  <% card.with_header(title: t(:"groups.edit.advanced.path.title")) %>
  <% card.with_section do %>
    <%= form_with(model: @group, url: group_path, method: :patch) do |form| %>
      <div class="grid gap-4">
        <p class="text-slate-600 dark:text-slate-400">
          <%= t(:"groups.edit.advanced.path.description") %>
        </p>
        <% invalid_path = @group.errors.include?(:path) %>
        <div class="form-field prefixed <%= 'invalid' if invalid_path %>">
          <%= form.label :path %>
          <div class="flex whitespace-nowrap items-center">
            <div
              class="
                inline-flex items-center px-3 py-2.5 text-sm text-slate-600 bg-slate-200 border
                border-r-0 border-slate-300 rounded-l-md dark:bg-slate-600 dark:text-slate-400
                dark:border-slate-600
              "
            >
              <%= root_url %>
              <% if @group.parent %>
                <strong>
                  <%= @group.parent.full_path + "/" %>
                </strong>
              <% end %>
            </div>
            <%= form.text_field :path,
                            pattern: Irida::PathRegex::PATH_REGEX_STR,
                            required: true,
                            title: t(:"groups.create.path_help"),
                            class: "prefixed" %>
          </div>
          <%= render "shared/form/field_errors",
          errors: @group.errors.full_messages_for(:path) %>
        </div>
        <div>
          <%= form.submit t(:"groups.edit.advanced.path.submit"),
                      data: {
                        turbo_frame: "_top",
                      },
                      class:
                        "button button--state-destructive button--size-default inline-block" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
