<%= form_with(model: @transfer_form, url: group_transfer_path, method: :put, class: "grid gap-4", id: "edit_advanced_transfer_form",
data:
if Flipper.enabled?(:v2_select2, Current.user)
    { turbo_confirm: "", controller: "select2--v2" }
  else
    { turbo_confirm: "", controller: "select2--v1" }
  end) do |form| %>
  <%= render partial: "shared/form/required_field_legend" %>

  <% invalid_new_namespace_id = @transfer_form.errors.include?(:new_namespace_id) %>

  <div class="form-field <%= 'invalid' if invalid_new_namespace_id %>">
    <%= form_error_summary(form) %>

    <%= form.label :new_namespace_id,
               t("groups.edit.advanced.transfer.new_namespace_id"),
               class:
                 "mb-1 block text-sm font-medium text-slate-900 dark:text-white",
               data: {
                 required: true,
               } %>

    <% if @authorized_namespaces.empty? %>
      <input
        disabled
        placeholder="<%= t(:"groups.edit.advanced.transfer.no_available_namespaces") %>"
        type="text"
        class="
          block w-full rounded-lg border-slate-300 p-2.5 text-slate-800 sm:text-sm dark:border-slate-600
          dark:bg-slate-800 dark:text-slate-50
        "
        autocomplete="off"
      >
    <% else %>
      <%= render Select2Component.new(form:, name: :new_namespace_id, id: form.field_id(:new_namespace_id), placeholder: t(:"groups.edit.advanced.transfer.select_group")) do |select| %>
        <% @authorized_namespaces.each do |namespace| %>
          <% select.with_option(
                      value: namespace.id,
                      label: namespace.name,
                    ) do %>
            <span class="pointer-events-none block font-semibold text-slate-900 dark:text-slate-400">
              <%= namespace.name %>
              <%= render PuidComponent.new(puid: namespace.puid, show_clipboard: false) %>
            </span>

            <span class="pointer-events-none block text-slate-600 dark:text-white"><%= namespace.full_path %></span>
          <% end %>
        <% end %>

        <%= select.with_empty_state do %>
          <%= t(:"groups.edit.advanced.transfer.empty_state") %>
        <% end %>
      <% end %>
    <% end %>

    <% if invalid_new_namespace_id %>
      <%= render "shared/form/field_errors",
              id: form.field_id(:new_namespace_id, "error"),
              errors: @transfer_form.errors.full_messages_for(:new_namespace_id) %>
    <% end %>
  </div>

  <div>
    <%= form.submit t("groups.edit.advanced.transfer.submit"),
                class: "button button-destructive inline-block",
                disabled: true,
                data:
                if Flipper.enabled?(:v2_select2, Current.user)
                {
                  "select2--v2-target": "submitButton",
                  turbo_content: ".confirm-transfer",
                  confirm_value: confirm_value,
                } else {
                  "select2--v1-target": "submitButton",
                  turbo_content: ".confirm-transfer",
                  confirm_value: confirm_value,
                }
                end %>
  </div>
<% end %>
