<%= viral_card do |card| %>
  <% card.with_header(title: t(:"groups.edit.advanced.delete.title")) %>
  <% card.with_section do %>
    <div class="hidden confirm-delete">
      <div
        class="
          flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-slate-800
          dark:text-red-400
        "
      >
        <%= viral_icon(name: "exclamation_circle", classes: "h-6 w-6 flex-none") %>
        <div class="flex-1 ml-4">
          <%= t(
            :"groups.edit.advanced.delete.confirm.warning.pre_html",
            group_name: @group.name,
          ) %>
          <ul class="py-2 ml-4 max-w-md space-y-1 list-disc list-inside">
            <li><%= t(
                :"groups.edit.advanced.delete.confirm.warning.subgroups_count",
                count: @subgroups_count,
              ) %></li>
            <li><%= t(
                :"groups.edit.advanced.delete.confirm.warning.projects_count",
                count: @projects_count,
              ) %></li>
            <li><%= t(
                :"groups.edit.advanced.delete.confirm.warning.samples_count",
                count: @samples_count,
              ) %></li>
          </ul>
          <%= t(:"groups.edit.advanced.delete.confirm.warning.post_html") %>
        </div>
      </div>
      <div class="mb-4">
        <% t(:"groups.edit.advanced.delete.confirm.points_html", group: @group.path).each do |item| %>
          <p class="mb-2 text-base text-slate-900 dark:text-white"><%= item %></p>
        <% end %>
      </div>
    </div>

    <p class="text-slate-600 dark:text-slate-400">
      <%= t(:"groups.edit.advanced.delete.description") %>
    </p>

    <div class="mt-4">
      <%= button_to t(:"groups.edit.advanced.delete.submit"),
      @group,
      method: :delete,
      data: {
        turbo_confirm: "",
        turbo_content: ".confirm-delete",
        confirm_value: @group.path,
      },
      class: "button button--state-destructive button--size-default" %>
    </div>
  <% end %>
<% end %>
