<% invalid_name = group.errors.include?(:name) %>
<div class="form-field <%= 'invalid' if invalid_name %>">
  <%= form.label :name %>
  <%= form.text_field :name, data: { "groups-new-target": "name", action: "input->groups-new#nameChanged" }, placeholder: "Awesome group name", required: true %>
  <%= render 'shared/form/field_errors', errors: group.errors.full_messages_for(:name) %>
</div>

<% if group.parent_id.present? %>
  <div class="flex flex-row">
    <div class="form-field">
      <%= form.label :parent_id %>
      <div class="flex">
        <div class="inline-flex items-center px-3 text-sm text-gray-600 bg-gray-200 border border-r-0 border-gray-300 rounded-l-lg dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
          <%= root_url %>
        </div>
        <%= form.collection_select :parent_id, Group.all, :id, :full_path, {}, { class: "rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
      </div>
    </div>

    <% invalid_path = group.errors.include?(:path) %>
    <div class="form-field <%= 'invalid' if invalid_path %>">
      <%= form.label :path, class: "pl-8" %>
      <div class="flex">
        <div class="inline-flex items-center px-3 text-sm text-gray-600 bg-gray-200 border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
          /
        </div>
        <%= form.text_field :path, data: { "groups-new-target": "path" }, style: "border-top-left-radius: 0; border-bottom-left-radius: 0", pattern: Irida::PathRegex::PATH_REGEX_STR, required: true %>
      </div>
      <p class="field-hint pl-10">Must start with a letter or number, and must end with a letter or number. Letter,
        numbers,
        -
        or
        _ are allowed content</p>
      <%= render 'shared/form/field_errors', errors: group.errors.full_messages_for(:path) %>
    </div>
  </div>
<% end %>

<% unless group.parent_id.present? %>
  <% invalid_path = group.errors.include?(:path) %>
  <div class="form-field <%= 'invalid' if invalid_path %>">
    <%= form.label :path %>
    <%= form.text_field :path, data: { "groups-new-target": "path" }, pattern: Irida::PathRegex::PATH_REGEX_STR, required: true %>
    <p class="field-hint">Must start with a letter or number, and must end with a letter or number. Letter,
      numbers,
      -
      or
      _ are allowed content</p>
    <%= render 'shared/form/field_errors', errors: group.errors.full_messages_for(:path) %>
  </div>
<% end %>

<div class="form-field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>
