<% invalid_name = group.errors.include?(:name) %>
<div class="form-field <%= 'invalid' if invalid_name %>">
  <%= form.label :name %>
  <%= form.text_field :name,
                  data: {
                    "slugify-target": "name",
                    action: "input->slugify#nameChanged",
                  },
                  minlength: 3,
                  maxlength: 255,
                  pattern: "[a-zA-Z0-9_\\-\\.\\s\\p{Emoji}]+",
                  placeholder: t(:"groups.create.name_placeholder"),
                  required: true %>
  <%= render "shared/form/field_errors", errors: group.errors.full_messages_for(:name) %>
  <p class="field-hint">
    <%== t(:"groups.create.name_help") %>
  </p>
</div>

<% if group.new_record? %>
  <% if group.parent_id.present? %>
    <div class="grid @xs:grid-cols-1 @5xl:grid-cols-2 gap-4">
      <div>
        <% form_id = "namespace-select" %>
        <label
          for="<%= form_id %>"
          class="mb-1 block text-sm font-medium text-slate-900 dark:text-white"
        >
          <%= t("activerecord.attributes.group.parent_id") %>
        </label>
        <div class="flex items-center">
          <%= viral_prefixed_select2(form:, name: :parent_id, id: form_id, selected_value: group.parent.id, placeholder: t(:"groups.new_subgroup.select_group")) do |select| %>
            <% authorized_namespaces.each do |namespace| %>
              <% select.with_option(
                primary: namespace.full_path,
                secondary: namespace.puid,
                value: namespace.id,
              ) %>
            <% end %>
            <%= select.with_empty_state do %>
              <%= t(:"groups.new_subgroup.empty_state") %>
            <% end %>
          <% end %>
          <div class="ml-4 dark:text-slate-200">/</div>
        </div>
      </div>
      <% invalid_path = group.errors.include?(:path) %>
      <div class="form-field <%= 'invalid' if invalid_path %>">
        <%= form.label :path %>
        <%= form.text_field :path,
                        data: {
                          "slugify-target": "path",
                        },
                        minlength: 3,
                        maxlength: 255,
                        pattern: Irida::PathRegex::PATH_REGEX_STR,
                        required: true %>
        <%= render "shared/form/field_errors", errors: group.errors.full_messages_for(:path) %>
      </div>
    </div>
  <% end %>

  <% unless group.parent_id.present? %>
    <% invalid_path = group.errors.include?(:path) %>
    <div class="form-field <%= 'invalid' if invalid_path %>">
      <%= form.label :path %>
      <%= form.text_field :path,
                      data: {
                        "slugify-target": "path",
                      },
                      pattern: Irida::PathRegex::PATH_REGEX_STR,
                      required: true %>
      <p class="field-hint">
        <%= t(:"groups.create.path_help") %>
      </p>
      <%= render "shared/form/field_errors", errors: group.errors.full_messages_for(:path) %>
    </div>
  <% end %>
<% end %>

<% invalid_description = group.errors.include?(:description) %>
<div class="form-field <%= 'invalid' if invalid_description %>">
  <%= form.label :description %>
  <%= form.text_area :description %>
  <%= render "shared/form/field_errors",
  errors: group.errors.full_messages_for(:description) %>
</div>
