<% invalid_name = group.errors.include?(:name) %>
<div class="form-field <%= 'invalid' if invalid_name %>">
  <%= form.label :name %>
  <%= form.text_field :name,
                  data: {
                    "slugify-target": "name",
                    action: "input->slugify#nameChanged"
                  },
                  placeholder: t(:"groups.create.name_placeholder"),
                  required: true %>
  <%= render "shared/form/field_errors", errors: group.errors.full_messages_for(:name) %>
</div>

<%= render partial: "path_form_fields",
locals: {
  form: form,
  group: group,
  authorized_namespaces: authorized_namespaces
} %>

<div class="form-field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>
