<% invalid_name = group.errors.include?(:name) %>
<div class="form-field <%= 'invalid' if invalid_name %>">
  <%= form.label :name %>
  <%= form.text_field :name,
                  data: {
                    "slugify-target": "name",
                    action: "input->slugify#nameChanged",
                  },
                  minlength: 3,
                  maxlength: 255,
                  pattern: "[a-zA-Z0-9_\\-\\.\\s\\p{Emoji}]+",
                  placeholder: t(:"groups.create.name_placeholder"),
                  required: true %>
  <%= render "shared/form/field_errors", errors: group.errors.full_messages_for(:name) %>
  <p class="field-hint">
    <%== t(:"groups.create.name_help") %>
  </p>
</div>

<% if group.new_record? %>
  <% if group.parent_id.present? %>
    <div class="grid grid-cols-2 gap-4">
      <div class="form-field">
        <%= form.label :parent_id %>
        <div class="flex items-center whitespace-nowrap">
          <div
            class="
              inline-flex items-center px-3 py-2.5 text-sm text-slate-600 bg-slate-200 border
              border-r-0 border-slate-300 rounded-l-lg dark:bg-slate-600 dark:text-slate-400
              dark:border-slate-600
            "
          >
            <%= root_url %>
          </div>
          <div class="flex-1">
            <%= viral_select2(form:, name: :parent_id, placeholder: t(:"groups.new_subgroup.select_group")) do |select| %>
              <% authorized_namespaces.each do |namespace| %>
                <% select.with_option(
                  primary: namespace.full_path,
                  secondary: namespace.puid,
                  value: namespace.id,
                ) %>
              <% end %>
              <%= select.with_empty_state do %>
                <%= t(:"groups.new_subgroup.empty_state") %>
              <% end %>
            <% end %>
          </div>
          <div class="ml-4 dark:text-slate-200">/</div>
        </div>
      </div>
      <% invalid_path = group.errors.include?(:path) %>
      <div class="form-field <%= 'invalid' if invalid_path %>">
        <%= form.label :path %>
        <%= form.text_field :path,
                        data: {
                          "slugify-target": "path",
                        },
                        minlength: 3,
                        maxlength: 255,
                        pattern: Irida::PathRegex::PATH_REGEX_STR,
                        required: true %>
        <%= render "shared/form/field_errors", errors: group.errors.full_messages_for(:path) %>
      </div>
    </div>
  <% end %>

  <% unless group.parent_id.present? %>
    <% invalid_path = group.errors.include?(:path) %>
    <div class="form-field <%= 'invalid' if invalid_path %>">
      <%= form.label :path %>
      <%= form.text_field :path,
                      data: {
                        "slugify-target": "path",
                      },
                      pattern: Irida::PathRegex::PATH_REGEX_STR,
                      required: true %>
      <p class="field-hint">
        <%= t(:"groups.create.path_help") %>
      </p>
      <%= render "shared/form/field_errors", errors: group.errors.full_messages_for(:path) %>
    </div>
  <% end %>
<% end %>

<% invalid_description = group.errors.include?(:description) %>
<div class="form-field <%= 'invalid' if invalid_description %>">
  <%= form.label :description %>
  <%= form.text_area :description %>
  <%= render "shared/form/field_errors",
  errors: group.errors.full_messages_for(:description) %>
</div>
