<div class="p-4 md:mx-auto">
  <!--Edit general details form -->
  <div class="grid gap-4">
    <h2 class="text-2xl font-extrabold dark:text-white">
      <%= t(:"groups.edit.details.title") %>
    </h2>
    <%= viral_card do |card| %>
      <% card.header(title: t(:"groups.edit.details.subtitle")) %>
      <% card.section do %>
        <%= form_with(model: @group, url: group_path(@group), method: :patch) do |form| %>
          <div class="grid gap-4">
            <%= render partial: "form_fields",
            locals: {
              form: form,
              group: @group,
              authorized_namespaces: @authorized_namespaces
            } %>
            <div>
              <%= form.submit t(:"groups.edit.details.submit"), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <h2 class="text-2xl font-extrabold dark:text-white">
      <%= t(:"groups.edit.advanced.title") %>
    </h2>
    <%= render "edit_advanced_path", group: @group %>
    <% if allowed_to?(:destroy?, @group) %>
      <%= render "edit_advanced_delete", group: @group %>
    <% end %>
  </div>
</div>
