<div class="md:mx-auto">
  <!--Edit general details form -->
  <div class="grid gap-4">

    <h2 class="text-2xl font-medium leading-tight text-slate-900 dark:text-white">
      <%= t(:"groups.edit.details.title") %>
    </h2>

    <%= viral_card do |card| %>
      <% card.with_header(title: t(:"groups.edit.details.subtitle")) %>
      <% card.with_section do %>
        <%= turbo_frame_tag("group_name_and_description_form") do %>
          <%= render partial: "edit_name_and_description_form",
          locals: {
            group: @group,
            authorized_namespaces: @authorized_namespaces,
          } %>
        <% end %>
      <% end %>
    <% end %>

    <h2 class="text-2xl font-medium leading-tight text-slate-900 dark:text-white">
      <%= t(:"groups.edit.advanced.title") %>
    </h2>

    <%= turbo_frame_tag("group_path_form") do %>
      <%= render "edit_advanced_path", group: @group %>
    <% end %>

    <% if allowed_to?(:transfer?, @group) %>
      <%= render "edit_advanced_transfer", group: @group %>
    <% end %>

    <% if allowed_to?(:destroy?, @group) %>
      <%= render "edit_advanced_delete", group: @group %>
    <% end %>
  </div>
</div>
