<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <!--Edit general details form -->
    <div
      class="
        p-4
        bg-white
        border
        border-gray-200
        rounded-lg
        shadow-sm
        2xl:col-span-2
        dark:border-gray-700
        sm:p-6
        dark:bg-gray-800
      "
    >
      <h2
        class="
          text-xl
          font-semibold
          leading-tight
          text-gray-900
          dark:text-white
          mb-4
        "
      >
        <%= t(:"groups.edit.details.title") %>
      </h2>
      <div data-controller="slugify">
        <%= form_with(model: @group, url: group_path(@group), method: :patch) do |form| %>
          <div class="grid gap-4">
            <%= render partial: "form_fields",
            locals: {
              form: form,
              group: @group,
              authorized_namespaces: @authorized_namespaces
            } %>
            <div>
              <%= form.submit t(:"groups.edit.details.submit"), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div
      class="
        p-4
        bg-white
        border
        border-gray-200
        rounded-lg
        shadow-sm
        2xl:col-span-2
        dark:border-gray-700
        sm:p-6
        dark:bg-gray-800
      "
    >
      <div id="settings-accordion" data-accordion="collapse">
        <h2
          class="
            text-xl
            font-semibold
            leading-tight
            text-gray-900
            dark:text-white
            flex
            justify-between
            items-center
          "
        >
          <%= t(:"groups.edit.advanced.title") %>
        </h2>
        <%= render "edit_advanced_path", group: @group %>
        <% if allowed_to?(:destroy?, @group) %>
          <%= render "edit_advanced_delete", group: @group %>
        <% end %>
      </div>
    </div>
  </div>
</div>
