<div class="md:mx-auto">
  <div class="grid gap-4">
    <%= render Viral::PageHeaderComponent.new(title: t(".details.title")) %>

    <%= viral_card do |card| %>
      <% card.with_header(title: t(:"groups.edit.details.subtitle")) %>
      <% card.with_section do %>
        <%= turbo_frame_tag("group_name_and_description_form") do %>
          <%= render partial: "edit_name_and_description_form",
          locals: {
            group: @group,
            authorized_namespaces: @authorized_namespaces,
          } %>
        <% end %>
      <% end %>
    <% end %>

    <%= render Viral::PageHeaderComponent.new(title: t(".advanced.title")) %>

    <%= turbo_frame_tag("group_path_form") do %>
      <%= render "edit_advanced_path", group: @group %>
    <% end %>

    <% if @allowed_to[:transfer] %>
      <%= render "edit_advanced_transfer", group: @group %>
    <% end %>

    <% if @allowed_to[:destroy] %>
      <%= render "edit_advanced_delete", group: @group %>
    <% end %>
  </div>
</div>
