<%= render partial: 'shared/page_header', locals: {
  title: "Create group",
  subtitle: "Groups allow you to manage and collaborate across multiple projects. Members of a group have access to all of its projects",
  icon: "squares_plus"
} %>
<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div data-controller="groups-new" class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <%= form_with(model: @group, url: groups_path, method: :post) do |form| %>

        <%= render partial: 'form_fields', locals: {
          form: form
        } %>

        <div class="my-2">
          <%= form.submit "Create group", class: "btn btn-primary mr-1" %>
          <a href="<%= groups_path %>" class="btn btn-default">Cancel</a>
        </div>
      <% end %>
    </div>
  </div>
</div>