<div class="p-4">
  <div class="flex flex-row items-center">
    <%= render 'icons/squares_plus', class_names: "h-14 w-14 text-green-500" %>
    <div class="flex-1 pl-2">
      <h2 class="text-xl font-semibold leading-tight text-gray-900 dark:text-white">Create group</h2>
      <p class="text-gray-500 dark:text-gray-400">Groups allow you to manage and collaborate across multiple projects.
        Members of a group have access to all of its projects</p>
    </div>
  </div>
  <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">

  <div data-controller="groups-new" class="grid gap-4 md:gap-8 grid-cols-3">
    <%= form_with(model: @group, url: groups_path, method: :post) do |group| %>
      <div class="form-field">
        <%= group.label :name %>
        <%= group.text_field :name, data: { "groups-new-target": "name", action: "input->groups-new#nameChanged" }, placeholder: "Awesome group name", required: true %>
      </div>
      <div class="form-field">
        <%= group.label :path %>
        <%= group.text_field :path, data: { "groups-new-target": "path" }, required: true, pattern: "[a-z-]" %>
        <p class="field-hint">Must only container letters, numbers, and - characters.</p>
      </div>
      <div class="form-field">
        <%= group.label :description %>
        <%= group.text_area :description %>
      </div>
      <div class="my-2">
        <%= group.submit "Create group", class: "btn btn-primary mr-1" %>
        <a href="<%= groups_path %>" class="btn btn-default">Cancel</a>
      </div>
    <% end %>
  </div>
</div>