<%= render Viral::PageHeaderComponent.new(
  title: t(:"groups.create.title"),
  subtitle: t(:"groups.create.subtitle"),
) %>
<div data-controller="slugify" class="@xl:container">
  <%= form_with(model: @new_group, url: groups_path, method: :post, html: { novalidate: true }) do |form| %>
    <div class="grid gap-4">

      <%= if @new_group.errors.any?
        viral_alert(
          type: "alert",
          message: I18n.t(:"general.form.error_notification"),
          aria: {
            live: "assertive",
          },
        )
      end %>

      <%= render partial: "form_fields",
      locals: {
        form: form,
        group: @new_group,
        authorized_namespaces: @authorized_namespaces,
      } %>

      <div class="flex">
        <%= form.submit t(:"groups.create.submit"), class: " button button-primary mr-2" %>
        <%= link_to t(:"groups.create.cancel"), groups_path, class: "button button-default" %>
      </div>
    </div>

  <% end %>
</div>
