<%= render Viral::PageHeaderComponent.new(
  title: t(:"groups.create.title"),
  subtitle: t(:"groups.create.subtitle"),
) %>

<div data-controller="slugify" class="@xl:container">
  <%= form_with(model: @new_group, url: groups_path, method: :post, html: { novalidate: true }) do |form| %>
    <div class="grid gap-4">
      <%= render partial: "form_fields",
      locals: {
        form: form,
        group: @new_group,
        authorized_namespaces: @authorized_namespaces,
      } %>

      <div class="flex gap-2">
        <%= render "shared/pathogen/secondary_button", href: groups_path %>
        <%= form.submit t(:"groups.create.submit"), tone: :primary, emphasis: :solid %>
      </div>
    </div>
  <% end %>
</div>
