<%= render layout: 'shared/page_header', locals: {
  title: t(:"groups.create.title"),
  subtitle: t(:"groups.create.subtitle"),
  icon: "squares_plus"
} do %>
  <div class="p-4">
    <div data-controller="groups-new" class="card">
      <%= form_with(model: @new_group, url: groups_path, method: :post) do |form| %>
        <div class="grid gap-4">

          <%= render partial: 'form_fields', locals: {
            form: form,
            group: @new_group
          } %>

          <div class="my-2">
            <%= form.submit t(:'groups.create.submit'), class: "btn btn-primary mr-1" %>
            <%= link_to t(:'groups.create.cancel'), groups_path, class: "btn btn-default" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
<% end %>