<%= render Viral::PageHeaderComponent.new(title: @group.name, id: @group.puid, subtitle: @group.description) do |component| %>
  <%= component.icon do %>
    <%= viral_avatar(
      name: @group.name,
      colour_string: "#{@group.name}-#{@group.id}",
      size: :large,
    ) %>
  <% end %>
  <%= component.with_buttons do %>
    <% if allowed_to?(:new?, @group) %>
      <%= link_to t(:"groups.show.create_subgroup_button"),
      new_group_path(parent_id: @group.id),
      class: "button button--size-default button--state-default" %>
      <%= link_to t(:"groups.show.create_project_button"),
      new_project_path(group_id: @group.id),
      class: "button button--size-default button--state-primary ml-2" %>
    <% end %>
  <% end %>
<% end %>

<%= viral_tabs(id: "group-details", label: t(:'.tabs.label')) do |tabs| %>
  <%= tabs.with_tab(url: group_path(@group), controls: "group-details", selected: @tab != "shared_namespaces") do %>
    <%= t(:".tabs.subgroups_and_projects") %>
  <% end %>
  <%= tabs.with_tab(url: group_path(@group, tab: "shared_namespaces"), controls: "group-projects", selected: @tab == "shared_namespaces") do %>
    <%= t(:".tabs.shared_namespaces") %>
  <% end %>

  <%= tabs.with_tab_content do %>
    <div class="mt-2">
      <div class="flex flex-row-reverse mb-2">
        <%= render SearchComponent.new(query: @q, url: group_path(@group), search_attribute: :name_or_puid_cont, placeholder: t(".search.placeholder")) do %>

          <% if @tab == "shared_namespaces" %>
            <input type="hidden" name="tab" value="shared_namespaces">
          <% end %>
        <% end %>
      </div>

      <% if @tab == "shared_namespaces" %>
        <%= render "groups/shared_namespaces/index", locals: { namespaces: @namespaces } %>
      <% else %>
        <%= render "groups/subgroups/index", locals: { namespaces: @namespaces } %>
      <% end %>
    </div>
  <% end %>
<% end %>
