<%= render Viral::PageHeaderComponent.new(title: @group.name, subtitle: @group.description) do |component| %>
  <%= component.icon do %>
    <%= viral_avatar(
      name: @group.name,
      colour_string: "#{@group.name}-#{@group.id}",
      size: :large
    ) %>
  <% end %>
  <%= component.with_buttons do %>
    <% if allowed_to?(:new?, @group) %>
      <%= link_to t(:"groups.show.create_subgroup_button"),
      new_group_path(parent_id: @group.id),
      class: "button button--size-default button--state-default" %>
      <%= link_to t(:"groups.show.create_project_button"),
      new_project_path(group_id: @group.id),
      class: "button button--size-default button--state-primary ml-2" %>
    <% end %>
  <% end %>
<% end %>

<ul
  class="flex flex-wrap -mb-px text-sm font-medium text-center"
  id="myTab"
  data-tabs-toggle="#myTabContent"
  role="tablist"
>
  <li class="mr-2" role="presentation">
    <button
      class="
        inline-block
        p-4
        border-b-2
        border-transparent
        rounded-t-lg
        hover:text-gray-600
        hover:border-gray-300
        dark:hover:text-gray-300
      "
      id="dashboard-tab"
      data-tabs-target="#dashboard"
      type="button"
      role="tab"
      aria-controls="dashboard"
      aria-selected="false"
    >Subgroups and projects</button>
  </li>
</ul>

<div class="bg-white dark:bg-gray-800">
  <%= render GroupsListTreeContainerComponent.new(
    groups: @groups,
    path: group_path(@group)
  ) %>
</div>
