<%= render Pathogen::BaseComponent.new(**@system_arguments) do %>
  <% if @label %>
    <label for=<%= @input_id %>><%= @label %></label>
  <% end %>
  <div class="relative max-w-sm">
    <div
      class="
        absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none
      "
    >
      <span>
        <%= pathogen_icon(ICON::CALENDAR_DOTS) %>
      </span>
    </div>
    <input
      placeholder="YYYY-MM-DD"
      autocomplete="off"
      value="<%= @selected_date %>"
      data-pathogen--datepicker--input-target="datepickerInput"
      data-action="
        change->pathogen--datepicker--input#directInput
        keydown->pathogen--datepicker--input#handleEnterDirectInput
      "
      type="text"
      name="<%= @input_name %>"
      id="<%= @input_id %>"
      class="
        ps-10 p-2.5 rounded-lg border-slate-300 text-slate-900 text-sm
        dark:border-slate-600 dark:bg-slate-800 dark:text-white
        dark:placeholder-slate-400
      "
    >
  </div>
  <div
    data-pathogen--datepicker--input-target="inputError"
    class="text-sm hidden text-red-700 dark:text-red-500 mt-1"
    aria-hidden="true"
  ></div>

  <template data-pathogen--datepicker--input-target="calenderTemplate">
    <%= render Pathogen::BaseComponent.new(**@calendar_arguments) do %>
      <div class="inline-block rounded-lg bg-white dark:bg-slate-700 shadow-lg p-4 ">
        <div>
          <div
            class="
              bg-white dark:bg-slate-700 dark:text-white px-2 py-3 text-center font-semibold
            "
            style="display: none;"
          ></div>
          <div class="flex justify-between mb-2">
            <button
              type="button"
              class="
                bg-white dark:bg-slate-700 rounded-lg enabled:text-slate-800
                enabled:dark:text-white enabled:hover:bg-slate-100
                enabled:dark:hover:bg-slate-600 enabled:hover:text-slate-900
                enabled:dark:hover:text-white text-lg p-2.5 focus:outline-none focus:ring-2
                focus:ring-slate-200 prev-btn mr-2 enabled:cursor-pointer
                disabled:cursor-not-allowed disabled:text-slate-300
              "
              data-action="
                click->pathogen--datepicker--calendar#previousMonth
                keydown->pathogen--datepicker--calendar#tabBackToInput
              "
              data-pathogen--datepicker--calendar-target="backButton"
            >
              <%= pathogen_icon(ICON::ARROW_LEFT, size: :sm) %>
            </button>
            <div
              data-pathogen--datepicker--calendar-target="monthSelectContainer"
              data-action="
                keydown->pathogen--datepicker--calendar#tabBackToInput
              "
            >
            </div>
            <div>
              <input
                data-pathogen--datepicker--calendar-target="year"
                data-action="change->pathogen--datepicker--calendar#changeYear"
                type="number"
                max="9999"
                min="<%= @min_year %>"
                class="
                  w-22 rounded-lg border-slate-300 text-slate-900 sm:text-sm dark:border-slate-600
                  dark:bg-slate-800 dark:text-white ml-1
                "
              >
            </div>
            <button
              type="button"
              class="
                bg-white dark:bg-slate-700 rounded-lg text-slate-800 dark:text-white
                hover:bg-slate-100 dark:hover:bg-slate-600 hover:text-slate-900
                dark:hover:text-white text-lg p-2.5 focus:outline-none focus:ring-2
                focus:ring-slate-200 next-btn ml-2 cursor-pointer
              "
              data-action="click->pathogen--datepicker--calendar#nextMonth"
            >
              <%= pathogen_icon(ICON::ARROW_RIGHT, size: :sm) %>
            </button>
          </div>
        </div>
        <div class="p-1 justify-center">
          <table class="min-w-full table-fixed">
            <thead class="mb-1">
              <tr>
                <th
                  class="
                    dow text-center h-6 text-sm font-medium text-slate-500 dark:text-slate-400
                  "
                ><%= t(".days_of_week.sunday") %></th><th
                  class="
                    dow text-center h-6 text-sm font-medium text-slate-500 dark:text-slate-400
                  "
                ><%= t(".days_of_week.monday") %></th><th
                  class="
                    dow text-center h-6 text-sm font-medium text-slate-500 dark:text-slate-400
                  "
                ><%= t(".days_of_week.tuesday") %></th><th
                  class="
                    dow text-center h-6 text-sm font-medium text-slate-500 dark:text-slate-400
                  "
                ><%= t(".days_of_week.wednesday") %></th><th
                  class="
                    dow text-center h-6 text-sm font-medium text-slate-500 dark:text-slate-400
                  "
                ><%= t(".days_of_week.thursday") %></th><th
                  class="
                    dow text-center h-6 text-sm font-medium text-slate-500 dark:text-slate-400
                  "
                ><%= t(".days_of_week.friday") %></th><th
                  class="
                    dow text-center h-6 text-sm font-medium text-slate-500 dark:text-slate-400
                  "
                ><%= t(".days_of_week.saturday") %></th>
              </tr>
            </thead>
            <tbody data-pathogen--datepicker--calendar-target="calendar">
            </tbody>
          </table>
        </div>
        <div>
          <% if @min_date %>
            <div class="text-sm text-center text-slate-900 dark:text-white">
              <%= t(".errors.min_date_error", min_date: @min_date) %>
            </div>
          <% end %>
          <div class="flex space-x-2 rtl:space-x-reverse mt-2">
            <button
              type="button"
              class="button button-primary w-1/2"
              data-action="click->pathogen--datepicker--calendar#showToday"
            ><%= t(".show_today") %></button><button
              type="button"
              class="button button-default w-1/2"
              data-action="
                click->pathogen--datepicker--calendar#clearSelection
              "
              data-pathogen--datepicker--calendar-target="clearButton"
            ><%= t(".clear_selection") %></button>
          </div>
        </div>
      </div>

      <template data-pathogen--datepicker--calendar-target="inMonthDateTemplate">
        <td
          class="
            hover:bg-slate-100 dark:hover:bg-slate-600 leading-9 border-0 rounded-lg
            cursor-pointer text-center text-slate-900 dark:text-white font-semibold text-sm
            w-8
          "
          data-date-within-month-position="inMonth"
          data-action="
            keydown->pathogen--datepicker--calendar#navigateCalendar
            click->pathogen--datepicker--calendar#selectDate
          "
        ></td>
      </template>

      <template data-pathogen--datepicker--calendar-target="outOfMonthDateTemplate">
        <td
          class="
            hover:bg-slate-100 dark:hover:bg-slate-600 leading-9 border-0 rounded-lg
            cursor-pointer text-center text-slate-500 dark:text-slate-300 font-semibold
            text-sm w-8
          "
          data-date-within-month-position="outOfMonth"
          data-action="
            keydown->pathogen--datepicker--calendar#navigateCalendar
          "
        ></td>
      </template>

      <template data-pathogen--datepicker--calendar-target="monthSelectTemplate">
        <select
          data-pathogen--datepicker--calendar-target="monthSelect"
          data-action="change->pathogen--datepicker--calendar#changeMonth"
          class="
            rounded-lg border-slate-300 text-slate-900 sm:text-sm dark:border-slate-600
            dark:bg-slate-800 dark:text-white
          "
        >
          <option value="<%= t(".months.january")%>"><%= t(".months.january") %></option>
          <option value="<%= t(".months.february")%>"><%= t(".months.february") %></option>
          <option value="<%= t(".months.march")%>"><%= t(".months.march") %></option>
          <option value="<%= t(".months.april")%>"><%= t(".months.april") %></option>
          <option value="<%= t(".months.may")%>"><%= t(".months.may") %></option>
          <option value="<%= t(".months.june")%>"><%= t(".months.june") %></option>
          <option value="<%= t(".months.july")%>"><%= t(".months.july") %></option>
          <option value="<%= t(".months.august")%>"><%= t(".months.august") %></option>
          <option value="<%= t(".months.september")%>"><%= t(".months.september") %></option>
          <option value="<%= t(".months.october")%>"><%= t(".months.october") %></option>
          <option value="<%= t(".months.november")%>"><%= t(".months.november") %></option>
          <option value="<%= t(".months.december")%>"><%= t(".months.december") %></option>
        </select>
      </template>
    <% end %>
  </template>
<% end %>
