<%# ðŸŽ¯ Tabs Panel Container %>
<%= render Pathogen::BaseComponent.new(**@system_arguments) do %>
  <%# ðŸŽ¨ Tab List %>
  <%= render Pathogen::BaseComponent.new(**@body_arguments) do %>
    <%# ðŸ“ Individual Tabs %>
    <% tabs.each do |tab| %>
      <%= tab %>
    <% end %>
  <% end %>

  <%# ðŸŽ¯ Tab Content Container %>
  <section id="<%= "#{@id}-content" %>" class="mt-4">
    <%= content %>
  </div>
<% end %>
