<%# ðŸŽ¯ Tabs Panel Container %>
<%= render Pathogen::BaseComponent.new(**@system_arguments) do %>
  <%# ðŸŽ¨ Tab List %>
  <nav role="navigation" aria-label="<%= @label.present? ? @label : 'Tabs' %>">
    <%= render Pathogen::BaseComponent.new(**@body_arguments) do %>
      <%# ðŸ“ Individual Tabs %>
      <% tabs.each do |tab| %>
        <%= tab %>
      <% end %>
    <% end %>
  </nav>

  <%# ðŸŽ¯ Tab Content Container %>
  <div id="<%= @id %>" class="mt-4" role="tabpanel">
    <%= content %>
  </div>
<% end %>
