<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render "devise/shared/hidden_locale_input" %>

  <%= f.hidden_field :reset_password_token %>

  <div class="space-y-4">
    <%= render partial: "shared/form/required_field_legend" %>

    <div class="form-field">
      <%= f.label :password, t(".password_label"), data: { required: true } %>
      <%= f.password_field :password,
                       autofocus: true,
                       required: true,
                       aria: {
                         required: true,
                       },
                       autocomplete: "new-password" %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation,
              t(".password_confirmation_label"),
              data: {
                required: true,
              } %>
      <%= f.password_field :password_confirmation,
                       required: true,
                       aria: {
                         required: true,
                       },
                       autocomplete: "new-password" %>
    </div>

    <%= f.submit t(".submit_button"), class: "button button-primary w-full" %>
  </div>
<% end %>

<div class="grid gap-2">
  <%= render "devise/shared/links" %>
</div>
