<div
  data-controller="email-input"
  data-email-input-email-missing-value="<%= t('devise.passwords.new.email.required_error') %>"
  data-email-input-email-format-value="<%= t('devise.passwords.new.email.format_error') %>"
>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: {
    email_input_target: "form",
    action: "submit->email-input#submit"
    }, html: { method: :post, class: "space-y-4" }) do |f| %>
    <div class="space-y-4">
      <%= render "devise/shared/hidden_locale_input" %>

      <%= render partial: "shared/form/required_field_legend" %>

      <div class="form-field">
        <%= f.label :email, data: { required: true } %>
        <%= f.email_field :email,
                      autofocus: true,
                      aria: {
                        required: true,
                      },
                      autocomplete: "email",
                      class:
                        "
                                border-slate-300 focus:ring-blue-500 focus:border-blue-500
                                invalid:border-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500
                              ",
                      data: {
                        email_input_target: "emailField",
                        action: "blur->email-input#blur input->email-input#handleInput",
                      } %>
      </div>
      <!-- Error messages container -->
      <div
        data-email-input-target="errorContainer"
        class="
          hidden bg-red-50 border-l-4 border-red-300 dark:bg-slate-800 dark:border-red-800
          dark:text-red-400 flex items-center p-4 text-red-800
        "
        role="alert"
      >
        <div>
          <span class="font-semibold" data-email-input-target="errorMessage"></span>
        </div>
      </div>

      <div>
        <%= f.submit t(".submit_button"), class: "button button-primary w-full" %>
      </div>
    </div>
  <% end %>
</div>

<div class="grid gap-2">
  <%= render "devise/shared/links" %>
</div>
