<div
  data-controller="email-input"
  data-email-input-email-missing-value="<%= t('devise.passwords.new.email.required_error') %>"
  data-email-input-email-format-value="<%= t('devise.passwords.new.email.format_error') %>"
>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: {email_input_target: "form"}, html: { method: :post, class: "space-y-4" }) do |f| %>
    <div class="space-y-4">
      <%= render "devise/shared/hidden_locale_input" %>

      <%= render partial: "shared/form/required_field_legend" %>

      <div id="forgot_password_email_field" class="form-field">
        <%= f.label :email, data: { required: true } %>
        <%= f.email_field :email,
                      autofocus: true,
                      aria: {
                        required: true,
                      },
                      autocomplete: "email" %>
        <div id="forgot_password_email_error" class="mt-2 text-sm">
          <%= viral_help_text(state: :error, classes: "hidden") %>
        </div>
      </div>

      <div>
        <%= f.submit t(".submit_button"),
                 class: "button button-primary w-full",
                 data: {
                   input_target: "submit",
                   action: "click->email-input#submit",
                 } %>
      </div>
    </div>
  <% end %>
</div>

<div class="grid gap-2">
  <%= render "devise/shared/links" %>
</div>
