<div class="flex flex-wrap grow items-center place-content-start gap-2">
  <%= viral_icon(name: avatar_icon(), classes: "h-5 w-5 text-slate-400 mr-2") %>
  <%= viral_avatar(
    name: @namespace.name,
    size: @icon_size,
    colour_string: "#{@namespace.name}-#{@namespace.id}",
    data: {
      turbo: false,
    },
  ) %>
  <%= link_to namespace_path(@namespace), data: { turbo: false }, class: "hover:underline focus:underline font-semibold dark:text-white" do %>
    <%= highlight(
      @namespace.name,
      defined?(@search_params[:name_or_puid_cont]) &&
        @search_params[:name_or_puid_cont],
      highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
    ) %>
  <% end %>
  <div>
    <%= render PuidComponent.new(puid: @namespace.puid) %>
  </div>
  <div class="grow">
    <%= viral_pill(
      text:
        t(
          :"members.access_levels.level_#{Member.effective_access_level(@namespace, Current.user)}",
        ),
      color: "transparent",
      border: true,
    ) %>
  </div>

  <div class=" flex flex-row gap-x-2 text-slate-500 dark:text-slate-400 ">
    <% if @namespace.group_namespace? %>
      <%= viral_tooltip(title: t(:'.stats.subnamespaces')) do %>
        <span
          class="
            items-center text-sm inline-flex justify-center p-2 py-1 rounded-full font-mono
            bg-amber-100 dark:bg-amber-700 text-slate-800 dark:text-slate-200
          "
        >
          <%= helpers.render_icon ICONS[:groups],
                              class: "size-4 mr-0.5 text-amber-700 dark:text-amber-200" %>
          <%= @namespace.children.count %>
        </span>
      <% end %>
      <%= viral_tooltip(title: t(:'.stats.projects')) do %>
        <span
          class="
            items-center text-sm inline-flex justify-center p-2 py-1 rounded-full font-mono
            bg-fuchsia-100 dark:bg-fuchsia-700 text-slate-800 dark:text-slate-200
          "
        >
          <%= helpers.render_icon ICONS[:projects],
                              class:
                                "size-4 mr-0.5 text-fuchsia-700 dark:text-fuchsia-200" %>
          <%= @namespace.project_namespaces.count %>
        </span>
      <% end %>
      <%= viral_tooltip(title: t(:'.stats.samples')) do %>
        <span
          id="<%= "#{dom_id(@namespace)}-samples-count" %>"
          class="
            items-center text-sm samples-count inline-flex justify-center p-2 py-1
            rounded-full font-mono bg-blue-100 dark:bg-blue-700 text-slate-800
            dark:text-slate-200
          "
        >
          <%= helpers.render_icon ICONS[:samples],
                              class: "size-4 mr-0.5 text  -blue-700 dark:text-blue-200" %>
          <%= @namespace.aggregated_samples_count %>
        </span>
      <% end %>
    <% end %>
    <% if @namespace.project_namespace? %>
      <%= viral_tooltip(title: t(:'.stats.samples')) do %>
        <span
          id="<%= "#{dom_id(@namespace.project)}-samples-count" %>"
          class="
            items-center text-sm samples-count inline-flex justify-center p-2 py-1
            rounded-full font-mono bg-blue-100 dark:bg-blue-700 text-slate-800
            dark:text-slate-200
          "
        >
          <%= helpers.render_icon ICONS[:samples],
                              class: "size-4 mr-0.5 text-blue-700 dark:text-blue-200" %>
          <%= @namespace.project.samples.size %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
