<span class="h-8 mr-2 shrink-0 mt-3 inline-block">
  <%= avatar_icon %>
</span>
<div
  class="
    flex flex-wrap grow items-center place-content-start gap-2 overflow-hidden
  "
>
  <%= viral_avatar(
    name: @namespace.name,
    size: @icon_size,
    colour_string: "#{@namespace.name}-#{@namespace.id}",
    data: {
      turbo: false,
    },
  ) %>
  <%= link_to namespace_path(@namespace), data: { turbo: false }, class: "hover:underline focus:underline font-semibold dark:text-white wrap-anywhere min-w-0" do %>
    <% if @full_name %>
      <span><%= @namespace.parent.full_name %>
        /
      </span>
      <span class="font-semibold">
        <%= highlight(
          @namespace.name,
          defined?(params[:q][:namespace_name_cont]) &&
            params[:q][:namespace_name_cont],
          highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
        ) %>
      </span>
    <% else %>
      <%= highlight(
        @namespace.name,
        defined?(@search_params[:name_or_puid_cont]) &&
          @search_params[:name_or_puid_cont],
        highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
      ) %>
    <% end %>
  <% end %>
  <%= render PuidComponent.new(puid: @namespace.puid) %>
  <div class="grow">
    <%= viral_pill(
      text:
        t(
          :"members.access_levels.level_#{Member.effective_access_level(@namespace, Current.user)}",
        ),
      color: "transparent",
      border: true,
    ) %>
  </div>

  <div
    class="
      ml-auto flex flex-row flex-wrap gap-2 text-slate-500 dark:text-slate-400
    "
  >
    <% if @namespace.group_namespace? %>
      <%= pathogen_link(href: namespace_path(@namespace), 'aria-label': t(:".subnamespaces.aria-label")) do |component| %>
        <% component.with_tooltip(
          text:
            t(
              :".subnamespaces.tooltip",
              count: @namespace.children.count,
              namespace_name: @namespace.human_name,
            ),
        ) %>
        <span
          class="
            items-center text-sm inline-flex justify-center p-2 py-1 rounded-full font-mono
            bg-amber-100 dark:bg-amber-700 text-slate-800 dark:text-slate-200
          "
        >
          <%= pathogen_icon ICON::GROUPS,
          size: :sm,
          class: "mr-0.5 text-amber-700 dark:text-amber-200" %>
          <%= @namespace.children.count %>
        </span>
      <% end %>
      <%= pathogen_link(href: namespace_path(@namespace), 'aria-label': t(:".projects.aria-label")) do |component| %>
        <% component.with_tooltip(
          text:
            t(
              :".projects.tooltip",
              count: @namespace.project_namespaces.count,
              namespace_name: @namespace.human_name,
            ),
        ) %>
        <span
          class="
            items-center text-sm inline-flex justify-center p-2 py-1 rounded-full font-mono
            bg-fuchsia-100 dark:bg-fuchsia-700 text-slate-800 dark:text-slate-200
          "
        >
          <%= pathogen_icon ICON::PROJECTS,
          size: :sm,
          class: "mr-0.5 text-fuchsia-700 dark:text-fuchsia-200" %>
          <%= @namespace.project_namespaces.count %>
        </span>
      <% end %>
      <%= pathogen_link(href: group_samples_path(@namespace), 'aria-label': t(:".samples.aria-label")) do |component| %>
        <% component.with_tooltip(
          text:
            t(
              :".samples.tooltip",
              count: @namespace.aggregated_samples_count,
              namespace_name: @namespace.human_name,
            ),
        ) %>
        <span
          id="<%= "#{dom_id(@namespace)}-samples-count" %>"
          class="
            items-center text-sm samples-count inline-flex justify-center p-2 py-1
            rounded-full font-mono bg-blue-100 dark:bg-blue-700 text-slate-800
            dark:text-slate-200
          "
        >
          <%= pathogen_icon ICON::SAMPLES,
          size: :sm,
          class: "mr-0.5 text-blue-700 dark:text-blue-200" %>
          <%= @namespace.aggregated_samples_count %>
        </span>
      <% end %>
    <% end %>
    <% if @namespace.project_namespace? %>
      <%= pathogen_link(href: namespace_project_samples_path(@namespace.parent, @namespace.project), 'aria-label': t(:".samples.aria-label")) do |component| %>
        <% component.with_tooltip(
          text:
            t(
              :".samples.tooltip",
              count: @namespace.project.samples.size,
              namespace_name: @namespace.project.name,
            ),
        ) %>
        <span
          id="<%= "#{dom_id(@namespace.project)}-samples-count" %>"
          class="
            items-center text-sm samples-count inline-flex justify-center p-2 py-1
            rounded-full font-mono bg-blue-100 dark:bg-blue-700 text-slate-800
            dark:text-slate-200
          "
        >
          <%= pathogen_icon ICON::SAMPLES,
          size: :sm,
          class: "mr-0.5 text-blue-700 dark:text-blue-200" %>
          <%= @namespace.project.samples.size %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
