<td id="<%= dom_id(@sample, @field) %>">
  <%= form_with(url: update_value_namespace_project_sample_metadata_field_path(sample_id: @sample.id), method: :patch,
  data: { controller: "inline-edit", "inline-edit-original-value": @value  }) do |f| %>
    <%= f.hidden_field :field, value: @field %>
    <%= f.hidden_field :original_value, value: @value %>
    <%= f.hidden_field :format, value: "turbo_stream" %>
    <%= f.text_field :value,
                 value: @value,
                 class:
                   "w-full m-0 border-slate-300 text-slate-900 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                 data: {
                   "inline-edit-target": "input",
                   action:
                     "blur->inline-edit#handleBlurEvent keydown->inline-edit#inputKeydown",
                 } %>
    <%= viral_dialog(open: false) do |dialog| %>
      <%= dialog.with_header(title: "Confirmation required") %>
      <%= dialog.with_section do %>
        <p class="text-base text-slate-900 dark:text-white text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      <% end %>
      <% dialog.with_secondary_action do %>
        <%= viral_button(value: "confirm", state: :primary) { "Update" } %>
        <%= viral_button(value: "cancel", state: :default) { "Discard" } %>
      <% end %>
    <% end %>
  <% end %>
</td>
