<nav class="w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-1">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <a href="<%= root_path %>" class="flex items-center">
          <%= render "icons/beaker", class_names: "w-12 h-12 text-green-500 rotate-12" %>
          <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">
            <%= t(:'general.name') %>
          </span>
        </a>
        <button id="toggleMainMenu" aria-expanded="true" aria-label="Navigation dropdown" data-dropdown-toggle="main-menu-dropdown" class="navbar-btn">
          <%= render 'icons/bars_3', class_names: "w-6 h-6" %>
        </button>
        <!-- Dropdown menu -->
        <div id="main-menu-dropdown" class="dropdown-menu">
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <a class="flex items-center" href="<%= groups_path %>"><%= render 'icons/squares_2x2' %>
                <%= t(:'general.navbar.main_dropdown.groups') %>
              </a>
            </li>
          </ul>
        </div>
        <form action="#" method="GET" class="hidden lg:block lg:pl-3.5">
          <label for="topbar-search" class="sr-only">Search</label>
          <div class="relative mt-1 lg:w-96">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <%= render 'icons/magnifying', class_names: "h-5 w-5" %>
            </div>
            <input type="text" name="email" id="topbar-search" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="<%= t(:'general.navbar.search.placeholder') %>">
          </div>
        </form>
      </div>
      <div class="flex items-center ml-3">
        <% if cookies[:theme].blank? || cookies[:theme] == "light" %>
          <%= link_to render(:partial => 'icons/moon'), root_path(theme: "dark"), class: "navbar-btn" %>
        <% else %>
          <%= link_to render(:partial => 'icons/sun',), root_path(theme: "light"), class: "navbar-btn" %>
        <% end %>

        <!-- New item menu -->
        <button id="dropdownNewItem" aria-label="New item menu" data-dropdown-toggle="new-item-dropdown" type="button" class="navbar-btn">
          <%= render 'icons/document_plus' %>
        </button>
        <!-- Dropdown menu -->
        <div id="new-item-dropdown" class="dropdown-menu">
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <%= link_to t(:'general.navbar.new_dropdown.group'), new_group_path %>
            </li>
          </ul>
        </div>
        <!-- Profile menu -->
        <button id="dropdownDefaultButton" aria-label="Account dropdown menu" data-dropdown-toggle="profile-dropdown" type="button" class="navbar-btn">
          <%= render 'icons/user_circle' %>
        </button>
        <!-- Dropdown menu -->
        <div id="profile-dropdown" class="dropdown-menu">
          <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
            <div>Fred Penner</div>
            <div class="font-medium text-slate-400 truncate"><%= current_user.email %></div>
          </div>
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <%= link_to t(:'general.navbar.account_dropdown.profile'), profile_path %>
            </li>
            <li>
              <%= link_to t(:'general.navbar.account_dropdown.sign_out'), destroy_user_session_path, data: { turbo_method: :delete } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
