<nav class="w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-1">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <a href="<%= root_path %>" class="flex items-center">
          <%= render "icons/beaker", class_names: "w-12 h-12 text-green-500 rotate-12" %>
          <span class="text-xl font-semibold text-gray-700 dark:text-gray-200">
            <%= t(:'general.name') %>
          </span>
        </a>
        <button id="toggleMainMenu" aria-expanded="true" aria-label="Navigation dropdown" data-dropdown-toggle="main-menu-dropdown" class="navbar-btn">
          <%= render 'icons/bars_3', class_names: "w-6 h-6" %>
        </button>
        <!-- Dropdown menu -->
        <div id="main-menu-dropdown" class="dropdown-menu">
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <a class="flex items-center" href="<%= groups_path %>"><%= render 'icons/squares_2x2' %>
                <%= t(:'general.navbar.main_dropdown.groups') %>
              </a>
            </li>
          </ul>
        </div>
        <form action="#" method="GET" class="hidden lg:block lg:pl-3.5">
          <label for="topbar-search" class="sr-only">Search</label>
          <div class="relative mt-1 lg:w-96">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <%= render 'icons/magnifying', class_names: "h-5 w-5" %>
            </div>
            <input type="text" name="email" id="topbar-search" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="<%= t(:'general.navbar.search.placeholder') %>">
          </div>
        </form>
      </div>
      <div class="flex items-center ml-3">
        <!-- Dark Mode Toggl -->
        <button
          id="app-darkmode-toggle"
          type="button"
          class="align-middle text-gray-300 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
          data-dark-mode-target="themeToggle"
          data-action="click->dark-mode#toggleTheme"
          >
          <svg
            class="w-5 h-5 hiden"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            data-dark-mode-target="darkIcon"
          >
            <path
              d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
            ></path>
          </svg>
          <svg
            class="w-5 h-5 hidden"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            data-dark-mode-target="lightIcon"
          >
            <path
              d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
              fill-rule="evenodd"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <!-- New item menu -->
        <button id="dropdownNewItem" aria-label="New item menu" data-dropdown-toggle="new-item-dropdown" type="button" class="navbar-btn">
          <%= render 'icons/document_plus' %>
        </button>
        <!-- Dropdown menu -->
        <div id="new-item-dropdown" class="dropdown-menu">
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <%= link_to t(:'general.navbar.new_dropdown.group'), new_group_path %>
            </li>
          </ul>
        </div>
        <!-- Profile menu -->
        <button id="dropdownDefaultButton" aria-label="Account dropdown menu" data-dropdown-toggle="profile-dropdown" type="button" class="navbar-btn">
          <%= render 'icons/user_circle' %>
        </button>
        <!-- Dropdown menu -->
        <div id="profile-dropdown" class="dropdown-menu">
          <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
            <div>Fred Penner</div>
            <div class="font-medium text-slate-400 truncate"><%= current_user.email %></div>
          </div>
          <ul aria-labelledby="dropdownDefaultButton">
            <li>
              <%= link_to t(:'general.navbar.account_dropdown.profile'), profile_path %>
            </li>
            <li>
              <%= link_to t(:'general.navbar.account_dropdown.sign_out'), destroy_user_session_path, data: { turbo_method: :delete } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
