<div class="page-header">
  <div class="w-full mb-1">
    <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
      <div class="flex flex-row justify-between">
        <div class="flex items-center">
          <%= render "icons/#{icon}", class_names: "h-14 w-14 text-green-500" %>
          <div class="flex-1 pl-2">
            <h1 class="font-semibold leading-tight text-gray-900 dark:text-white"><%= title %></h1>
            <% if defined?(subtitle) %>
              <p class="text-gray-500 dark:text-gray-400"><%= subtitle %></p>
            <% end %>
          </div>
        </div>
      </div>
      <%= yield :buttons %>
    </div>
  </div>
</div>
<div class="page-content"><%= yield %></div>
