<fieldset>
  <%= legend %>
  <div
    class="
      flex flex-col @md:flex-row border border-slate-300 dark:border-slate-600
      rounded-lg bg-slate-300 dark:bg-slate-600
    "
  >
    <span
      id="<%=name%>-prefix"
      class="
        inline-flex items-center px-3 text-sm text-slate-900 dark:text-slate-300
        font-mono rounded-t-lg @md:rounded-l-lg @md:rounded-tr-none py-2
      "
    >
      <%= prefix %>
    </span>
    <div
      class="
        bg-slate-50 border-none text-slate-900 block flex-1 min-w-0 w-full text-sm p-2.5
        dark:bg-slate-700 dark:placeholder-slate-400 dark:text-white focus-visible:z-10
        rounded-b-lg @md:rounded-bl-none @md:rounded-r-lg
      "
    >
      <div class="flex gap-4 items-center">
        <%= form.radio_button name,
                          "true",
                          label:
                            t("components.viral.form.prefixed.boolean_component.true"),
                          checked: value,
                          aria: {
                            describedby: "#{name}-prefix",
                          } %>
        <%= form.radio_button name,
                          "false",
                          label:
                            t("components.viral.form.prefixed.boolean_component.false"),
                          checked: !value,
                          aria: {
                            describedby: "#{name}-prefix",
                          } %>
      </div>
    </div>
  </div>
</fieldset>
