<div class="@container">
  <div class="flex flex-row @max-md:flex-col">
    <div
      class="
        text-ellipsis overflow-hidden px-4 py-2 text-sm font-medium text-slate-700
        bg-slate-100 border @md:border-r-0 border-slate-300 rounded-l-lg rounded-r-lg
        @md:!rounded-r-none dark:bg-slate-700 dark:text-slate-300 dark:border-slate-600
      "
      title="<%= root_url %>"
    >
      <%= root_url %>
    </div>
    <div class="grow">
      <div
        <% if Flipper.enabled?(:beta_dropdown) %>
        data-action="keydown->viral--beta-select2#keydown"
        <% else %>
        data-action="keydown->viral--select2#keydown"
        <% end %>
        class="select2"
      >
        <input
          type="text"
          id="<%= id %>"
          name="<%= id %>"
          <% if Flipper.enabled?(:beta_dropdown) %>
          data-viral--beta-select2-target="trigger"
          data-action="input->viral--beta-select2#input"
          <% else %>
          data-viral--select2-target="input"
          data-action="input->viral--select2#input"
          <% end%>
          placeholder="<%= placeholder %>"
          <%= "required" if required %>
          autocomplete="off"
          class="
            select2-input border-slate-300 text-slate-800 sm:text-sm rounded-r-lg
            rounded-l-lg @min-md:rounded-l-none! block w-full p-2 dark:bg-slate-800
            dark:border-slate-600 dark:placeholder-slate-400 dark:text-slate-50
            text-ellipsis overflow-hidden
          "
          value="<%= selected_value %>"
          <% if aria.present? %>
          <% aria.each do |key, value| %>
          <%= "aria-#{key}=#{value}" %>
          <% end %>
          <% end %>
        >
        <%= form.hidden_field name,
                          data:
                            if Flipper.enabled?(:beta_dropdown)
                              { "viral--beta-select2-target": "hidden" }
                            else
                              { "viral--select2-target": "hidden" }
                            end %>
        <div
          <% if Flipper.enabled?(:beta_dropdown) %>
          data-viral--beta-select2-target="menu"
          <% else %>
          data-viral--select2-target="dropdown"
          <% end %>
          class="
            absolute z-10 bg-white border border-slate-300 rounded-lg shadow-lg
            dark:bg-slate-800 dark:border-slate-700
          "
          hidden=""
        >
          <ul
            <% if Flipper.enabled?(:beta_dropdown) %>
            data-viral--beta-select2-target="scroller"
            <% else %>
            data-viral--select2-target="scroller"
            <% end %>
            role="listbox"
            class="
              max-h-[300px] w-full py-2 overflow-y-auto divide-y divide-slate-200
              dark:divide-slate-800 wrap-anywhere
            "
          >
            <% options.each do |option| %>
              <%= option %>
            <% end %>
            <% if empty_state? %>
              <li
                role="option"
                aria-disabled="true"
                aria-selected="false"
                class="
                  p-4 text-blue-800 border border-blue-300 bg-blue-50 dark:bg-slate-800
                  dark:text-blue-400 dark:border-blue-800 pointer-events-none
                "
                hidden=""
                <% if Flipper.enabled?(:beta_dropdown) %>
                data-viral--beta-select2-target="empty"
                <% else %>
                data-viral--select2-target="empty"
                <% end %>
              >
                <%= empty_state %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% if path_separator %>
      <div class="w-1 @min-md:mt-2 @min-md:ml-4 @max-md:hidden dark:text-slate-300">/</div>
    <% end %>
  </div>
</div>
