<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_header(
    title:
      t(
        "projects.bots.index.bot_listing.generate_personal_access_token_modal.title",
      ),
  ) %>
  <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
    <p class="dark:text-slate-400">
      <%= t(
        "projects.bots.index.bot_listing.generate_personal_access_token_modal.description",
        bot_account: @bot_account.user.email,
      ) %>
    </p>
  </div>

  <div class="mb-4">
    <%= turbo_frame_tag("personal-access-token-error-alert") %>
  </div>

  <%= form_for(:personal_access_token, url: namespace_project_bot_personal_access_tokens_path, method: :post,  html: { novalidate: true}) do |form| %>
    <div class="grid gap-4">
      <%= render partial: "shared/form/required_field_legend" %>
      <% invalid_token_name = personal_access_token&.errors&.include?(:name) %>
      <div class="form-field <%= 'invalid' if invalid_token_name %>">
        <%= form.label :name,
                   t(
                     "projects.bots.index.bot_listing.generate_personal_access_token_modal.name",
                   ),
                   data: {
                     required: true,
                   } %>
        <%= form.text_field :name,
                        required: true,
                        class: "form-control",
                        aria: {
                          describedby:
                            (
                              if invalid_token_name
                                form.field_id(:name, "error")
                              else
                                nil
                              end
                            ),
                          invalid: invalid_token_name,
                          required: true,
                        },
                        autofocus: invalid_token_name %>
        <% if invalid_token_name %>
          <%= render "shared/form/field_errors",
          id: form.field_id(:name, "error"),
          errors: personal_access_token.errors[:name] %>
        <% end %>
      </div>
      <div class="form-field">
        <%= pathogen_datepicker(
          id: "personal_access_token_expires_at",
          input_name: "personal_access_token[expires_at]",
          label:
            t(
              "projects.bots.index.bot_listing.generate_personal_access_token_modal.expires_at",
            ),
        ) %>
      </div>
      <% invalid_scopes = personal_access_token&.errors&.include?(:scopes) %>
      <div class="form-field <%= 'invalid' if invalid_scopes %>">
        <fieldset>
          <legend data-required="true"><%= t(:"activerecord.attributes.personal_access_token.scopes") %></legend>
          <% Irida::Auth.all_available_scopes.each do |scope| %>
            <%= pathogen_checkbox(
              attribute: "personal_access_token[scopes][]",
              value: scope,
              checked: (
                if !personal_access_token.nil?
                  personal_access_token.scopes.include?(scope.to_s)
                else
                  false
                end
              ),
              id: "personal_access_token_scopes_#{scope}",
              label: scope,
              help_text: t("auth.scopes.#{scope}"),
              aria: {
                describedby: (
                  if invalid_scopes
                    form.field_id(:scopes, "error")
                  else
                    nil
                  end
                ),
                invalid: invalid_scopes
              },
              autofocus: invalid_scopes
            ) %>
          <% end %>
        </fieldset>
        <% if invalid_scopes %>
          <%= render "shared/form/field_errors",
          id: form.field_id(:scopes, "error"),
          errors: personal_access_token.errors[:scopes] %>
        <% end %>
      </div>

    </div>
    <div class="mt-4">
      <%= form.submit t(
                    "projects.bots.index.bot_listing.generate_personal_access_token_modal.submit",
                  ),
                  class: "button button-primary" %>
      <button
        type="button"
        class="button button-default"
        data-action="click->viral--dialog#close"
      >
        <%= t("projects.bots.index.bot_listing.generate_personal_access_token_modal.cancel") %>
      </button>
    </div>
  <% end %>
<% end %>
