<tr
  id="<%= dom_id(personal_access_token) %>"
  class="bg-white border-b dark:bg-slate-800 dark:border-slate-700"
>
  <td class="px-6 py-4"><%= personal_access_token.name %></td>
  <td class="px-6 py-4"><%= personal_access_token.scopes.join(", ") %></td>
  <td class="px-6 py-4"><%= personal_access_token.created_at.strftime(I18n.t("time.formats.full_date")) %></td>
  <td class="px-6 py-4">
    <%= if personal_access_token.last_used_at
      personal_access_token.last_used_at&.strftime(I18n.t("time.formats.full_date"))
    else
      t(
        "projects.bots.index.personal_access_tokens_listing_modal.personal_access_token.never"
      )
    end %></td>
  <td class="px-6 py-4">
    <%= if personal_access_token.expires_at
      personal_access_token.expires_at&.strftime(I18n.t("time.formats.full_date"))
    else
      t(
        "projects.bots.index.personal_access_tokens_listing_modal.personal_access_token.never"
      )
    end %>
  </td>
  <td class="px-6 py-4">
    <%= link_to t(
      "projects.bots.index.personal_access_tokens_listing_modal.personal_access_token.revoke"
    ),
    revoke_namespace_project_bot_personal_access_token_path(
      bot_id: @bot_account.id,
      id: personal_access_token.id
    ),
    data: {
      turbo_method: :delete,
      turbo_confirm:
        t(
          "projects.bots.index.personal_access_tokens_listing_modal.personal_access_token.revoke_confirmation"
        )
    },
    class:
      "inline-flex items-center justify-center w-1/2 text-sm border rounded-md cursor-pointer sm:w-auto focus:z-10 text-white bg-red-700 border-red-800 focus:outline-none hover:bg-red-800 focus:ring-red-300 dark:focus:ring-red-700 dark:bg-red-600 dark:text-white dark:border-red-600 dark:hover:bg-red-700 p-2" %>
  </td>
</tr>
