<%= viral_dialog(open: open, size: :extra_large) do |dialog| %>
  <%= dialog.with_header(
    title: t("projects.bots.index.personal_access_tokens_listing_modal.title")
  ) %>
  <%= dialog.with_section do %>
    <div class="mb-6 text-lg font-normal text-gray-500 dark:text-gray-400">
      <p class="dark:text-gray-400">
        <%= t(
          "projects.bots.index.personal_access_tokens_listing_modal.description",
          bot_account: @bot_account.user.email
        ) %>
      </p>
    </div>

    <div class="mb-4">
      <%= turbo_frame_tag("personal-access-token-alert") %>
    </div>

    <table class="w-full text-sm text-left text-slate-500 dark:text-slate-400 mb-4">
      <thead class="text-slate-700 bg-slate-50 dark:bg-slate-900 dark:text-slate-400">
        <tr>
          <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.name") %></th>
          <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.scopes") %></th>
          <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.created_at") %></th>
          <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.last_used_at") %></th>
          <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.expires_at") %></th>
          <th scope="col" class="px-6 py-3"><%= t("projects.bots.index.personal_access_tokens_listing_modal.actions") %></th>
        </tr>
      </thead>
      <tbody id="access-tokens-table-body">
        <% @personal_access_tokens.each do |personal_access_token| %>
          <%= render partial: "personal_access_token",
          locals: {
            personal_access_token: personal_access_token
          } %>
        <% end %>
      </tbody>
    </table>

  <% end %>
<% end %>
