<%= viral_dialog(open: open) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>
    <%= form_for(:clone, url: namespace_project_samples_clone_path, method: :post) do |form| %>
      <div
        data-controller="projects--samples--transfers"
        data-projects--samples--transfers-storage-key-value=<%=namespace_project_samples_url%>
        data-projects--samples--transfers-target="field"
        data-projects--samples--transfers-field-name-value="clone[sample_ids][]"
      />
      <div class="grid gap-4">
        <div class="form-field">
          <%= form.label :new_project_id, t(".new_project_id") %>
          <%= form.collection_select(:new_project_id, @projects, :id, :full_path) %>
          <%= render "shared/form/field_errors",
          errors: @project.errors.full_messages_for(:base) %>
        </div>
        <div>
          <%= form.submit t(".submit_button"),
                      class: "button button--size-default button--state-primary",
                      disabled: @projects.count.zero? %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
