<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>
    <%= turbo_stream_from @broadcast_target %>
    <%= turbo_frame_tag "clone_samples_dialog_content" do %>
      <div
        data-controller="infinite-scroll viral--select2"
        data-infinite-scroll-selection-outlet='#samples-table'
        data-infinite-scroll-paged-field-name-value="sample_ids[]"
        data-infinite-scroll-singular-description-value="<%= t(".description.singular") %>"
        data-infinite-scroll-plural-description-value="<%= t(".description.plural") %>"
      >
        <%= form_with(
        url: list_namespace_project_samples_path(list_class: 'sample'),
        data: { "infinite-scroll-target": "pageForm" }
      ) do %>
          <div data-infinite-scroll-target="pageFormContent"></div>
        <% end %>

        <div class="grid gap-4">
          <p
            data-infinite-scroll-target="summary"
            class="
              text-base leading-relaxed text-slate-500 dark:text-slate-400
            "
          >
            <%= t(".description.zero") %>
          </p>
          <div>
            <div class="block mb-1 text-sm font-medium text-slate-900 dark:text-white">
              <%= t(".samples") %>
            </div>
            <div
              class="
                overflow-y-auto max-h-[300px] border border-slate-300 rounded-md block w-full
                p-2.5 dark:bg-slate-800 dark:border-slate-600
              "
              data-action="scroll->infinite-scroll#scroll"
              data-infinite-scroll-target="scrollable"
            >
              <%= turbo_frame_tag "list_selections" do %>
                <%= render partial: "shared/loading/samples_list_skeleton" %>
              <% end %>
            </div>
          </div>

          <%= form_for(:clone, url: namespace_project_samples_clone_path, method: :post,
          data: {
            controller: "form--hidden-inputs",
            "form--hidden-inputs-selection-outlet": '#samples-table',
            "form--hidden-inputs-field-name-value": "clone[sample_ids][]",
          }
        ) do |form| %>
            <input type="hidden" name="broadcast_target" value="<%= @broadcast_target %>"/>
            <div class="grid gap-4">
              <div class="form-field">
                <%= form.label :new_project_id, t(".new_project_id") %>
                <% if @projects.empty? %>
                  <input
                    disabled
                    placeholder="<%= t(".no_available_projects")%>"
                    type="text"
                    class="
                      border-slate-300 text-slate-800 sm:text-sm rounded-md block w-full p-2.5
                      dark:bg-slate-800 dark:border-slate-600 dark:text-slate-50
                    "
                  >
                <% else %>
                  <%= viral_select2(form:, name: :new_project_id, placeholder: t(".select_project")) do |select| %>
                    <% @projects.each do |project| %>
                      <% select.with_option(
                        primary: project.full_path,
                        secondary: project.puid,
                        value: project.id,
                      ) %>
                    <% end %>
                    <%= select.with_empty_state do %>
                      <%= t(:".empty_state") %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div>
                <%= form.submit t(".submit_button"),
                            class: "button button--size-default button--state-primary",
                            disabled: true,
                            data: {
                              action:
                                "click->form--hidden-inputs#clearSelection
                                              click->viral--dialog#hideClose",
                              "viral--select2-target": "submitButton",
                            } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
