<%= viral_dialog(open: open) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>
    <div
      data-controller="infinite-scroll"
      data-infinite-scroll-selection-outlet='#samples-table'
      data-infinite-scroll-field-name-value="clone[sample_ids][]"
      data-infinite-scroll-paged-field-name-value="sample_ids[]"
    >
      <%= form_with(
        url: list_namespace_project_samples_path,
        data: { "infinite-scroll-target": "pageForm" }
      ) do %>
        <div data-infinite-scroll-target="pageFormContent"></div>
      <% end %>
      <div
        class="overflow-y-auto max-h-[300px] mb-4"
        data-action="scroll->infinite-scroll#scroll"
        data-infinite-scroll-target="scrollable"
      >
        <%= turbo_frame_tag "list_select_samples" do %>
          <%= render partial: "projects/samples/shared/skeleton" %>
        <% end %>
      </div>

      <%= turbo_frame_tag "clone_samples_dialog_content" do %>
        <%= form_for(:clone, url: namespace_project_samples_clone_path, method: :post,
          data: {
            controller: "spinner",
            action:"turbo:submit-start->spinner#submitStart turbo:submit-end->spinner#submitEnd"
          }
        ) do |form| %>
          <div class="grid gap-4">
            <div class="form-field">
              <%= form.label :new_project_id, t(".new_project_id") %>
              <%= form.collection_select(:new_project_id, @projects, :id, :full_path) %>
            </div>
            <div class="hidden" data-infinite-scroll-target="all"></div>
            <div>
              <%= form.submit t(".submit_button"),
                          class: "button button--size-default button--state-primary",
                          disabled: @projects.count.zero?,
                          data: {
                            action: "click->infinite-scroll#clear",
                            "spinner-target": "submit",
                          } %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= render partial: "projects/samples/shared/spinner",
    locals: {
      spinner_message: t(".spinner_message"),
    } %>
  <% end %>
<% end %>
