<%= viral_modal(title: 'This is a modal title') do |modal| %>
  <%= modal.body do %>
    <p>This is the modal body</p>
  <% end %>
  <%= modal.primary_action { "Create new project" } %>
  <%= modal.secondary_action do %>
    <%= viral_button(type: :default) do %>
      Cancel
    <% end %>
  <% end %>
<% end %>
