<tr
  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
  id="<%= dom_id(workflow_execution) %>"
>
  <td
    class="
      px-6
      py-4
      whitespace-nowrap
      sticky
      left-0
      bg-white
      dark:bg-gray-800
      z-10
    "
  >
    <%= link_to workflow_execution.id,
    namespace_project_workflow_execution_path(
      @namespace.parent,
      @namespace.project,
      workflow_execution
    ),
    data: {
      turbo: false
    },
    class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" %>
  </td>

  <td
    class="
      px-6
      py-4
      font-medium
      text-gray-900
      whitespace-nowrap
      dark:text-white
    "
  >
    <%= workflow_execution["name"] %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= viral_pill(
      text: t(:"workflow_executions.state.#{workflow_execution["state"]}"),
      color: find_pill_color_for_state(workflow_execution["state"]),
      border: true
    ) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= workflow_execution.run_id %>
  </td>
  <td
    class="
      px-6
      py-4
      font-medium
      text-gray-900
      whitespace-nowrap
      dark:text-white
    "
  >
    <%= workflow_execution.metadata["workflow_name"] %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= workflow_execution.metadata["workflow_version"] %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= l(workflow_execution["created_at"].localtime, format: :full_date) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= viral_time_ago(original_time: workflow_execution["updated_at"]) %>
  </td>
  <td
    class="
      px-6
      py-4
      whitespace-nowrap
      sticky
      right-0
      bg-white
      dark:bg-gray-800
      z-10
    "
  >
    <% if workflow_execution.cancellable? && allowed_to?(:cancel?, workflow_execution) %>
      <%= link_to(
        t(:"workflow_executions.index.actions.cancel_button"),
        cancel_namespace_project_workflow_execution_path(
          @namespace.parent,
          @namespace.project,
          workflow_execution
        ),
        data: {
          turbo_method: :put,
          turbo_confirm: t(:"workflow_executions.index.actions.cancel_confirm")
        },
        class:
          "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer"
      ) %>
    <% end %>
    <% if workflow_execution.deletable? && allowed_to?(:destroy?, workflow_execution) %>
      <%= link_to(
        t(:"workflow_executions.index.actions.delete_button"),
        namespace_project_workflow_execution_path(
          @namespace.parent,
          @namespace.project,
          workflow_execution
        ),
        data: {
          turbo_method: :delete,
          turbo_confirm: t(:"workflow_executions.index.actions.delete_confirm")
        },
        class:
          "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline cursor-pointer"
      ) %>
    <% end %>
  </td>
</tr>
