<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "export_dialog" %>
<%= turbo_frame_tag "workflow_execution_dialog" %>
<%= turbo_frame_tag "selected" %>

<%= turbo_stream_from @namespace.automation_bot, :workflow_executions %>

<%= render Viral::PageHeaderComponent.new(
  title: t(".title"),
  subtitle: t(".subtitle"),
) do |component| %>
  <%= component.with_buttons do %>
    <% if @has_workflow_executions %>
      <% if allowed_to?(:export_data?, @project.namespace) %>
        <%= button_to t(".create_export_button"),
        new_data_export_path,
        params: {
          export_type: "analysis",
          analysis_type: "project",
          namespace_id: @namespace.id,
        },
        method: :get,
        data: {
          turbo_stream: true,
          controller: "action-button",
          action_button_required_value: 1,
        },
        class: "button button-default action-button w-full" %>
      <% end %>
      <% if allowed_to?(:destroy_workflow_executions?, @project.namespace) && Flipper.enabled?(:delete_multiple_workflows) %>
        <%= button_to t(".delete_workflows_button"),
        destroy_multiple_confirmation_namespace_project_workflow_executions_path,
        method: :get,
        data: {
          turbo_stream: true,
          controller: "action-button",
          action_button_required_value: 1,
        },
        class: "button button-destructive action-button w-full" %>
      <% end %>
      <%# TODO ADD FFLAG %>
      <% if allowed_to?(:cancel_workflow_executions?, @project.namespace) %>
        <%= button_to "cancel",
        cancel_multiple_confirmation_namespace_project_workflow_executions_path,
        method: :get,
        data: {
          turbo_stream: true,
          controller: "action-button",
          action_button_required_value: 1,
        },
        class: "button button-destructive action-button w-full" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @has_workflow_executions %>
  <div class="flex flex-wrap gap-2 mb-4">
    <%= form_with(
                    url: select_namespace_project_workflow_executions_url,
                    method: :get,
                    id: "select-all-form",
                    class: "max-sm:grow",
                    data: { turbo_frame: "selected" },
                  ) do |f| %>
      <input type="hidden" name="select" value="on"/>
      <%= f.submit t("common.controls.select_all"), id: "select-all-button", class: "button button-default w-full" %>
    <% end %>
    <%= form_with(
                    url: select_namespace_project_workflow_executions_url,
                    method: :get,
                    id: "deselect-all-form" ,
                    class: "max-sm:grow",
                    data: { turbo_frame: "selected" },
                  ) do |f| %>
      <%= f.submit t("common.controls.deselect_all"), id: "deselect-all-button", class: "button button-default w-full" %>
    <% end %>
    <div class="sm:grow max-sm:hidden" role="presentation"></div>
    <%= render SearchComponent.new(
      query: @q,
      url: namespace_project_workflow_executions_path(**request.query_parameters),
      search_attribute: :name_or_id_cont,
      label: t("common.controls.search"),
      placeholder: t(".search.placeholder"),
      total_count: @pagy.count,
      value: @q.name_or_id_cont,
      class: "max-sm:grow",
    ) %>
  </div>
<% end %>

<%= render partial: "workflow_executions/table",
locals: {
  workflow_executions: @workflow_executions,
  pagy: @pagy,
  q: @q,
  has_workflow_executions: @has_workflow_executions,
  namespace: @namespace,
  empty_title: t(:"projects.workflow_executions.table.empty.title"),
  empty_description: t(:"projects.workflow_executions.table.empty.description"),
} %>
