<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "export_dialog" %>
<%= turbo_frame_tag "workflow_execution_dialog" %>
<%= turbo_frame_tag "selected" %>

<%= turbo_stream_from @namespace.automation_bot, :workflow_executions %>

<%= render Viral::PageHeaderComponent.new(
  title: t(".title"),
  subtitle: t(".subtitle"),
) do |component| %>
  <%= component.with_buttons do %>
    <div class="flex items-center space-x-2">
      <% if allowed_to?(:export_data?, @project.namespace) %>
        <%= button_to t(".create_export_button"),
        new_data_export_path,
        params: {
          export_type: "analysis",
          analysis_type: "project",
          namespace_id: @namespace.id,
        },
        method: :get,
        data: {
          action: "turbo:morph-element->action-button#idempotentConnect ",
          turbo_stream: true,
          controller: "action-button",
          action_button_required_value: 1,
        },
        class: "button button--size-default button--state-default action-button" %>
      <% end %>
      <% if allowed_to?(:destroy_workflow_executions?, @project.namespace) && Flipper.enabled?(:delete_multiple_workflows) %>
        <%= button_to t(".delete_workflows_button"),
        destroy_multiple_confirmation_namespace_project_workflow_executions_path,
        method: :get,
        data: {
          action: "turbo:morph-element->action-button#idempotentConnect ",
          turbo_stream: true,
          controller: "action-button",
          action_button_required_value: 1,
        },
        class: "button button--size-default button--state-destructive action-button" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="flow-root">
  <div class="flex mb-2">
    <div class="inline-flex grow space-x-2">
      <%= form_with(
                  url: select_namespace_project_workflow_executions_url,
                  method: :get,
                  id: "select-all-form",
                ) do |f| %>
        <input type="hidden" name="format" value="turbo_stream"/>
        <input type="hidden" name="select" value="on"/>
        <%= f.submit t(".select_all_button"),
                 class: "button button--state-default button--size-default" %>
      <% end %>
      <%= form_with(
                  url: select_namespace_project_workflow_executions_url,
                  method: :get,
                  id: "deselect-all-form" ,
                ) do |f| %>
        <input type="hidden" name="format" value="turbo_stream"/>
        <%= f.submit t(".deselect_all_button"),
                 class: "button button--state-default button--size-default" %>
      <% end %>
    </div>
    <div class="grow-0">
      <%= render SearchComponent.new(
        query: @q,
        url: namespace_project_workflow_executions_path(**request.query_parameters),
        search_attribute: :name_or_id_cont,
        placeholder: t(".search.placeholder"),
      ) %>
    </div>
  </div>
</div>
<%= render partial: "table",
locals: {
  workflow_executions: @workflow_executions,
  pagy: @pagy,
  q: @q,
  namespace: @namespace,
} %>
