<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "export_dialog" %>
<%= turbo_frame_tag "workflow_execution_dialog" %>
<%= turbo_frame_tag "selected" %>

<%= turbo_stream_from @namespace.automation_bot, :workflow_executions %>

<%= render Viral::PageHeaderComponent.new(
  title: t("shared.workflow_executions.index.title"),
  subtitle: t(".subtitle"),
) do |component| %>
  <%= component.with_buttons do %>
    <% if @has_workflow_executions && @render_workflow_actions %>
      <%= viral_dropdown(label: t("shared.workflow_executions.actions_dropdown.label"), aria: { label: t('shared.workflow_executions.actions_dropdown.label') }, caret: true, classes: "font-normal button button-default") do |dropdown| %>
        <% if allowed_to?(:cancel_workflow_executions?, @project.namespace) && Flipper.enabled?(:cancel_multiple_workflows) %>
          <% dropdown.with_item(
              label: t("shared.workflow_executions.actions_dropdown.cancel_workflow_executions"),
              url: cancel_multiple_confirmation_namespace_project_workflow_executions_path,
              disableable: true,
              data: {
                turbo_stream: true,
                controller: "action-button",
                action_button_required_value: 1,
              },
              class:
                "flex w-full items-center px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white action-button cursor-pointer",
            ) %>
        <% end %>

        <% if allowed_to?(:destroy_workflow_executions?, @project.namespace) && Flipper.enabled?(:delete_multiple_workflows) %>
          <% dropdown.with_item(
            label: t("shared.workflow_executions.actions_dropdown.delete_workflow_executions"),
            url: destroy_multiple_confirmation_namespace_project_workflow_executions_path,
            disableable: true,
            data: {
              turbo_stream: true,
              controller: "action-button",
              action_button_required_value: 1,
            },
            class:
              "flex w-full items-center text-red-600 px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:text-red-300 action-button cursor-pointer",
          ) %>
        <% end %>

        <% if allowed_to?(:export_data?, @project.namespace) %>
          <% dropdown.with_item(
            label: t("shared.workflow_executions.actions_dropdown.export"),
            section_header: true,
          ) %>
          <% dropdown.with_item(
            label: t("shared.workflow_executions.actions_dropdown.create_export"),
            url: new_data_export_path,
            params: {
              export_type: "analysis",
              analysis_type: "project",
              namespace_id: @namespace.id,
            },
            disableable: true,
            data: {
              turbo_stream: true,
              controller: "action-button",
              action_button_required_value: 1,
            },
            class:
              "flex w-full items-center px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white action-button cursor-pointer",
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @has_workflow_executions %>
  <div class="flex flex-wrap gap-2 mb-4">
    <%= form_with(
                    url: select_namespace_project_workflow_executions_url,
                    method: :get,
                    id: "select-all-form",
                    class: "max-sm:grow",
                    data: { turbo_frame: "selected" },
                  ) do |f| %>
      <input type="hidden" name="select" value="on" />
      <%= f.submit t("common.controls.select_all"), id: "select-all-button", class: "button button-default w-full" %>
    <% end %>

    <%= form_with(
                    url: select_namespace_project_workflow_executions_url,
                    method: :get,
                    id: "deselect-all-form" ,
                    class: "max-sm:grow",
                    data: { turbo_frame: "selected" },
                  ) do |f| %>
      <%= f.submit t("common.controls.deselect_all"), id: "deselect-all-button", class: "button button-default w-full" %>
    <% end %>

    <div class="sm:grow max-sm:hidden" role="presentation"></div>

    <%= render SearchComponent.new(
      query: @q,
      url: namespace_project_workflow_executions_path(**request.query_parameters),
      search_attribute: :name_or_id_cont,
      label: t("common.controls.search"),
      placeholder: t("shared.workflow_executions.index.search.placeholder"),
      total_count: @pagy.count,
      value: @q.name_or_id_cont,
      class: "max-sm:grow",
    ) %>
    <div id="table-filter" role="presentation" class="contents">
      <%= render partial: "table_filter" %>
    </div>
  </div>
<% end %>

<%= render partial: "workflow_executions/table",
locals: {
  workflow_executions: @workflow_executions,
  pagy: @pagy,
  q: @q,
  has_workflow_executions: @has_workflow_executions,
  namespace: @namespace,
  empty_title: t(:"projects.workflow_executions.table.empty.title"),
  empty_description: t(:"projects.workflow_executions.table.empty.description"),
} %>
