<div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
  <p class="dark:text-slate-400">
    <%= I18n.t(
      "projects.group_links.new.sharing_namespace_with_group",
      name: @namespace.human_name,
    ) %>
  </p>
</div>

<%= form_with(model: new_group_link, url: namespace_project_group_links_path(@namespace.parent, @namespace.project, tab: @tab), method: :post, data: {remote: true, controller: "viral--select2"}, html: { novalidate: true }) do |form| %>
  <div class="grid gap-4">
    <%= if new_group_link.errors.any?
      viral_alert(
        type: "alert",
        message: I18n.t(:"general.form.error_notification"),
        aria: {
          live: "assertive",
        },
      )
    end %>

    <%= render partial: "shared/form/required_field_legend" %>
    <% invalid_group_id = new_group_link.errors.include?(:group_id) %>
    <div class="form-field <%= 'invalid' if invalid_group_id %>">
      <% form_id = "share_group_id_input" %>
      <%= form.label :group_id, t("projects.group_links.new.label.shared_group"),
                     for: form_id,
                     class: "mb-1 block text-sm font-medium text-slate-900 dark:text-white",
                     data: { required: true } %>
      <%= viral_select2(form:, name: :group_id, id: form_id, selected_value: new_group_link.group_id, aria_invalid: invalid_group_id, field_hint: true) do |select| %>
        <% @namespace_linkable_groups.each do |group| %>
          <% select.with_option(
                      value: group.id,
                      label: group.name,
                    ) do %>
            <span
              class="
                text-slate-900 dark:text-slate-400 font-semibold block pointer-events-none
              "
            >
              <%= group.name %>
              <%= render PuidComponent.new(puid: group.puid, show_clipboard: false) %>
            </span>
            <span class="text-slate-600 dark:text-white block pointer-events-none">
              <%= group.full_path %>
            </span>
          <% end %>
        <% end %>
        <%= select.with_empty_state do %>
          <%= t(:"projects.group_links.new.empty_state") %>
        <% end %>
      <% end %>
      <% if invalid_group_id %>
        <%= render "shared/form/field_errors",
        id: form.field_id(:group_id, "error"),
        errors: new_group_link.errors[:group_id] %>
      <% end %>
      <p id="<%= form.field_id(:group_id, "hint") %>" class="field-hint">
        <%= t("projects.group_links.new.group_hint") %>
      </p>
    </div>
    <% invalid_group_access_level = new_group_link.errors.include?(:group_access_level) %>
    <div class="form-field <%= 'invalid' if invalid_group_access_level %>">
      <%= form.label :group_access_level,
                 I18n.t("projects.group_links.new.label.group_access_level"),
                 data: {
                   required: true,
                 } %>
      <%= form.select :group_access_level,
                  options_for_select(
                    @access_levels,
                    new_group_link.group_access_level,
                  ),
                  {},
                  {
                    required: true,
                    aria: {
                      describedby: [
                        (
                          if invalid_group_access_level
                            form.field_id(:group_access_level, "error")
                          else
                            nil
                          end
                        ),
                        form.field_id(:group_access_level, "hint"),
                      ].join(" "),
                      invalid: invalid_group_access_level,
                      required: true,
                    },
                    autofocus: invalid_group_access_level,
                    value: new_group_link.group_access_level,
                  } %>
      <% if invalid_group_access_level %>
        <%= render "shared/form/field_errors",
        id: form.field_id(:group_access_level, "error"),
        errors: new_group_link.errors.full_messages_for(:group_access_level) %>
      <% end %>
      <p id="<%= form.field_id(:group_access_level, "hint") %>" class="field-hint">
        <%= t("projects.group_links.new.access_level_hint") %>
      </p>
    </div>
    <div class="form-field">
      <%= pathogen_datepicker(
        id: "namespace_group_link_expires_at",
        input_name: "namespace_group_link[expires_at]",
        label: t("projects.group_links.new.label.access_expiration"),
      ) %>
    </div>
    <div class="my-4">
      <%= form.submit I18n.t("projects.group_links.new.button.submit"),
                  class: "button button-primary",
                  disabled: true,
                  data: {
                    "viral--select2-target": "submitButton",
                  } %>
      <button
        type="button"
        class="button button-default"
        data-action="click->viral--dialog#close"
      >
        <%= I18n.t("common.actions.cancel") %>
      </button>
    </div>
  </div>
<% end %>
