<%= viral_dialog(id: 'new-group-link-dialog', open: open) do |dialog| %>
  <% dialog.with_header(title: I18n.t("projects.group_links.new.title")) %>
  <% dialog.with_trigger do %>
    <button class="button button-default w-full" data-action="viral--dialog#open">
      <%= I18n.t("projects.members.index.invite_group") %>
    </button>
  <% end %>
  <% if defined?(new_group_link) && new_group_link&.invalid? %>
    <%= render partial: "form", locals: { new_group_link: new_group_link } %>
  <% else %>
    <%= turbo_frame_tag "new_group_link_dialog_content", src:  new_namespace_project_group_link_path(@namespace.parent, @namespace.project, tab: tab), loading: :lazy do %>
      <%= render partial: "shared/loading/form" %>
    <% end %>
  <% end %>
<% end %>
