<%= turbo_frame_tag "access-token-section" do %>
  <div
    data-turbo-temporary
    class="
      p-4 bg-white border rounded-lg shadow-sm border-slate-200 2xl:col-span-2
      dark:border-slate-700 sm:p-6 dark:bg-slate-800
    "
  >
    <%= pathogen_heading(level: 2) do %>
      <%= t(".label") %>
    <% end %>
    <%= render TokenComponent.new(
      value: token,
      aria_label: t(".aria_label"),
      classes: "my-2",
    ) %>
    <p class="text-slate-500 dark:text-slate-400"><%= t(".description") %></p>
  </div>
<% end %>
