<%= turbo_frame_tag "personal_access_token_form" do %>
  <%= form_with(model: personal_access_token, url: profile_personal_access_tokens_path) do |f| %>
    <div class="grid gap-4">
      <% invalid = personal_access_token.errors.include?(:name) %>
      <div class="form-field <%= 'invalid' if invalid %>">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, autofocus: true %>
        <%= render "shared/form/field_errors",
        errors: personal_access_token.errors.full_messages_for(:name) %>
      </div>
      <% invalid = personal_access_token.errors.include?(:expires_at) %>
      <div
        class="form-field datepicker <%= 'invalid' if invalid %>"
        data-controller="datepicker"
      >
        <%= f.label :expires_at %>
        <div class="relative max-w-sm">
          <div
            class="
              absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
            "
          >
            <%= render Viral::IconComponent.new(
              name: "calendar_days",
              classes: "w-5 h-5 text-slate-500 dark:text-slate-400",
            ) %>
          </div>
          <%= f.text_field :expires_at,
                       placeholder: I18n.t("date.formats.iso"),
                       autocomplete: "off",
                       "data-datepicker-target": "datePicker" %>
        </div>
        <%= render "shared/form/field_errors",
        errors: personal_access_token.errors.full_messages_for(:expires_at) %>
      </div>

      <% invalid = personal_access_token.errors.include?(:scopes) %>
      <div class="form-field <%= 'invalid' if invalid %>">
        <%= f.label :scopes, t("auth.scopes.label") %>
        <% Irida::Auth.all_available_scopes.each do |scope| %>
          <div class="flex">
            <div class="flex items-center h-5">
              <%= check_box_tag "personal_access_token[scopes][]",
              scope,
              personal_access_token.scopes.include?(scope),
              id: "personal_access_token_scopes_#{scope}" %>
            </div>
            <div class="ml-2 text-sm">
              <%= label_tag "personal_access_token_scopes_#{scope}",
              scope,
              class: "font-medium text-slate-900 dark:text-slate-300" %>
              <p
                id="<%= "personal_access_token_scopes_#{scope}_help-text" %>"
                class="text-xs font-normal text-slate-500 dark:text-slate-300"
              ><%= t("auth.scopes.#{scope}") %></p>
            </div>
          </div>
        <% end %>
        <%= render "shared/form/field_errors",
        errors: personal_access_token.errors.full_messages_for(:scopes) %>
      </div>
      <div class="my-2">
        <%= f.submit t("profiles.personal_access_tokens.create.submit"),
                 class: "button button--state-primary button--size-default" %>
      </div>
    </div>
  <% end %>
<% end %>
