<%= render Viral::PageHeaderComponent.new(title: t("profiles.personal_access_tokens.index.title"), subtitle: t("profiles.personal_access_tokens.index.subtitle")) do |component| %>
  <%= component.with_icon(name: "ticket", classes: "h-14 w-14 text-primary-700") %>
<% end %>

<div class="grid gap-4 grid-cols-1">
  <%= turbo_frame_tag "access-token-section" %>

  <%= viral_card(title: t(:"profiles.personal_access_tokens.create.title"), subtitle: t(:"profiles.personal_access_tokens.create.subtitle")) do %>
    <%= render partial: "form",
    locals: {
      personal_access_token: @personal_access_token
    } %>
  <% end %>

  <%= viral_card(title: t(
    :"profiles.personal_access_tokens.index.active_personal_access_tokens",
    count: @active_access_tokens.count
  ), title_id: "personal-access-tokens-header") do %>
    <%= turbo_frame_tag("personal-access-token-revoke-errors") %>

    <%= viral_data_table(@active_access_tokens) do |table| %>
        <% table.with_column(t("activerecord.attributes.personal_access_token.name")) do |row| %>
          <%= row[:name] %>
      <% end %>
      <% table.with_column(t("activerecord.attributes.personal_access_token.scopes")) do |row| %>
          <%= row[:scopes] %>
      <% end %>
      <% table.with_column(t("activerecord.attributes.personal_access_token.created_at")) do |row| %>
        <%= local_time(row[:created_at]) %>
      <% end %>
      <% table.with_column(t("activerecord.attributes.personal_access_token.last_used_at")) do |row| %>
        <% if row[:last_used_at].present? %>
          <%= local_time(row[:last_used_at]) %>
          <% end %>
        <% end %>
      <% table.with_column(t(".expires_at")) do |row| %>
        <% if row[:expires_at].present? %>
          <%= local_time_ago(row[:expires_at]) %>
        <% end %>
      <% end %>
      <% table.with_column(t(".action")) do |row| %>
        <%= row[:action] %>
      <% end %>
    <% end %>
  <% end %>
</div>
