<%= render Viral::PageHeaderComponent.new(title: t("profiles.personal_access_tokens.index.title"), subtitle: t("profiles.personal_access_tokens.index.subtitle")) do |component| %>
  <%= component.with_icon(name: "ticket", classes: "h-14 w-14 text-primary-700") %>
<% end %>

<div class="grid gap-4 grid-cols-1">
  <%= turbo_frame_tag "access-token-section" %>

  <%= viral_card(title: t(:"profiles.personal_access_tokens.create.title"), subtitle: t(:"profiles.personal_access_tokens.create.subtitle")) do %>
    <%= render partial: "form",
    locals: {
      personal_access_token: @personal_access_token
    } %>
  <% end %>

  <%= viral_card(title: t(
    :"profiles.personal_access_tokens.index.active_personal_access_tokens",
    count: @active_access_tokens.count
  ), title_id: "personal-access-tokens-header") do %>
    <%= turbo_frame_tag("personal-access-token-revoke-errors") %>

    <%= turbo_frame_tag("personal-access-tokens") do %>
      <div class="relative overflow-x-auto">
        <table
          class="
            w-full
            text-sm
            text-left
            rtl:text-right
            text-slate-500
            dark:text-slate-400
            dark:divide-slate-600
            whitespace-nowrap
          "
        >
          <thead
            class="
              text-xs
              text-slate-700
              uppercase
              bg-slate-50
              dark:bg-slate-700
              dark:text-slate-400
            "
          >
            <tr>
              <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.name") %></th>
              <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.scopes") %></th>
              <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.created_at") %></th>
              <th scope="col" class="px-6 py-3"><%= t("activerecord.attributes.personal_access_token.last_used_at") %></th>
              <th scope="col" class="px-6 py-3"><%= t(".expires_at") %></th>
              <th scope="col" class="px-6 py-3">Action</th>
            </tr>
          </thead>
          <tbody id="access-tokens-table-body">
            <%= render partial: "personal_access_token", collection: @active_access_tokens %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
