<%= viral_card do |card| %>
  <% card.with_header(title: t(:"projects.edit.advanced.path.title")) %>
  <% card.with_section do %>
    <%= form_with(model: @project, url: namespace_project_path, method: :patch, html: {novalidate: true}) do |form| %>
      <%= form.fields_for :namespace, include_id: false do |builder| %>
        <div class="grid gap-4">
          <p class="text-slate-600 dark:text-slate-400">
            <%= t(:"projects.edit.advanced.path.description") %>
          </p>
          <%= render partial: "shared/form/required_field_legend" %>

          <% invalid_path = @project.namespace.errors.include?(:path) %>

          <div class="form-field <%= 'invalid' if invalid_path %>">
            <div class="@container">
              <%= builder.label :path, data: { required: true } %>
              <div class="flex flex-row @max-md:flex-col">
                <div
                  class="
                    text-ellipsis overflow-hidden px-4 py-2 text-sm font-medium text-slate-700
                    bg-slate-100 border @md:border-r-0 border-slate-300 rounded-l-lg rounded-r-lg
                    @md:!rounded-r-none dark:bg-slate-700 dark:text-slate-300 dark:border-slate-600
                  "
                ><%= root_url %>
                  <% if @project.parent %>

                    <strong>
                      <%= @project.parent.full_path + "/" %>
                    </strong>

                  <% end %>
                </div>
                <div class="flex-grow-1">

                  <%= builder.text_field :path,
                                     pattern: Irida::PathRegex::PATH_REGEX_STR,
                                     required: true,
                                     title: t(:"projects.edit.advanced.path.help"),
                                     class:
                                       "text-ellipsis overflow-hidden border-slate-300 text-slate-800 sm:text-sm rounded-r-lg @md:!rounded-l-none",
                                     aria: {
                                       describedby:
                                         invalid_path ? form.field_id(:path, "error") : nil,
                                       invalid: invalid_path,
                                       required: true,
                                     },
                                     autofocus: invalid_path %>

                  <% if invalid_path %>
                    <%= render "shared/form/field_errors",
                    id: builder.field_id(:path, "error"),
                    errors: @project.namespace.errors.full_messages_for(:path) %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div>
            <%= form.submit t(:"projects.edit.advanced.path.submit"),
                        data: {
                          turbo_frame: "_top",
                        },
                        class: "button button-destructive inline-block" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
