<%= viral_card do |card| %>
  <% card.with_header(title: t(:"projects.edit.advanced.destroy.title")) %>
  <% card.with_section do %>
    <div class="hidden confirm-destroy">
      <div
        class="
          flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-slate-800
          dark:text-red-400
        "
      >
        <%= viral_icon(name: "exclamation_circle", classes: "h-6 w-6 flex-none") %>
        <div class="flex-1 ml-4">
          <%= t(
            :"projects.edit.advanced.destroy.confirm.warning.pre_points_html",
            project_name: @project.human_name,
          ) %>
          <ul class="py-2 ml-4 max-w-md space-y-1 list-disc list-inside">
            <li><%= t(
                :"projects.edit.advanced.destroy.confirm.warning.points_html",
                samples_count: project.samples.size,
              ) %></li>
          </ul>
          <%= t(:"projects.edit.advanced.destroy.confirm.warning.post_points_html") %>
        </div>
      </div>
      <div class="mb-4">
        <% t(:"projects.edit.advanced.destroy.confirm.points_html", project: @project.name).each do |item| %>
          <p class="mb-2 text-base text-slate-900 dark:text-white"><%= item %></p>
        <% end %>
      </div>
    </div>

    <p class="text-slate-600 dark:text-slate-400">
      <%= t(:"projects.edit.advanced.destroy.description") %>
    </p>

    <div class="mt-4">
      <%= button_to t(:"projects.edit.advanced.destroy.submit"),
      @project,
      method: :delete,
      data: {
        turbo_confirm: "",
        turbo_content: ".confirm-destroy",
        confirm_value: @project.name,
      },
      class: "button button--state-destructive button--size-default" %>
    </div>
  <% end %>
<% end %>
