<% t("projects.edit.advanced.transfer.descriptions").each do |description| %>
  <p class="mb-2 text-base text-gray-900 dark:text-white"><%= description %></p>
<% end %>
<ul
  class="mb-4 ml-4 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
>

  <% t("projects.edit.advanced.transfer.points").each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>
<%= form_with(url: namespace_project_transfer_path, method: :post, class: "grid gap-4") do |form| %>
  <div class="form-field">
    <%= form.label :new_namespace_id, t(:'projects.edit.advanced.transfer.new_namespace_id') %>

    <%= form.collection_select(
          :new_namespace_id,
          @authorized_namespaces,
          :id,
          :full_name,
          { selected: params[:group_id] || @project.namespace.parent.id },
        ) %>
  </div>

  <div>
    <%= form.submit t("projects.edit.advanced.transfer.submit"),
                    class: "btn btn-default" %>
  </div>
<% end %>
