<%= form_with(model: project, url: namespace_project_path, method: :patch, class: "grid gap-4") do |form| %>
  <%= form.fields_for :namespace, include_id: false do |builder| %>
    <% invalid_name = project.namespace.errors.include?(:name) %>
    <div class="form-field <%= 'invalid' if invalid_name %>">
      <%= builder.label :name %>
      <%= builder.text_field :name,
                         required: true,
                         autofocus: true,
                         placeholder: t(:"projects.new.placeholder") %>
      <%= render "shared/form/field_errors",
      errors: project.namespace.errors.full_messages_for(:name) %>
    </div>
    <% invalid_description = project.namespace.errors.include?(:description) %>
    <div class="form-field <%= 'invalid' if invalid_description %>">
      <%= builder.label :description %>
      <%= builder.text_area :description,
                        {
                          :class => "form-control",
                          "aria-label" => t(:"projects.new.description"),
                        } %>
      <%= render "shared/form/field_errors",
      errors: project.namespace.errors.full_messages_for(:description) %>
    </div>
    <div>
      <%= form.submit t("projects.edit.general.submit"),
                  class: "button button--state-default button--size-default" %>
    </div>
  <% end %>
<% end %>
