<aside id="sidebar" class="sidebar" aria-label="Sidebar">
  <div
    style="grid-area: navigation; display: flex; flex-direction: column;"
    class="bg-white dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="pt-2 pb-4 overflow-y-auto">
      <div
        class="
          flex-1
          px-3
          space-y-1
          bg-white
          divide-y
          divide-gray-200
          dark:bg-gray-800
          dark:divide-gray-700
        "
      >
        <a
          href="<%= project_path(@project) %>"
          title="<%= @project.name %>"
          class="
            flex
            items-center
            p-1
            text-base
            font-normal
            text-gray-900
            rounded-lg
            dark:text-white
            hover:bg-gray-100
            dark:hover:bg-gray-700
          "
        >
          <div class="flex justify-center" style="width: 27px;"><%= render "icons/clipboard_document", class_names: "w-6 h-6" %></div>
          <h2
            data-layout-target="link"
            class="ml-2 font-semibold text-gray-900 dark:text-white"
            style="white-space: nowrap; width: 190px; text-overflow: ellipsis; overflow: hidden"
          ><%= @project.name %></h2>
        </a>
        <ul class="pt-1 space-y-1">
          <%= render partial: "shared/sidebar_item",
          locals: {
            link: project_path(@project),
            icon: "icons/clipboard_document",
            text: t(:"projects.sidebar.details")
          } %>
          <%= render partial: "shared/sidebar_item",
          locals: {
            link: project_edit_path(@project),
            icon: "icons/cog_6_tooth",
            text: t(:"projects.sidebar.settings")
          } %>
        </ul>
      </div>
    </div>
  </div>
  <div style="grid-area: collapse">
    <button
      data-action="click->layout#toggle"
      class="
        flex
        items-center
        justify-center
        w-full
        h-10
        text-sm
        font-medium
        text-gray-500
        transition-colors
        duration-150
        border-t
        border-gray-200
        rounded-none
        hover:text-gray-700
        dark:hover:text-gray-200
        dark:border-gray-700
        dark:text-gray-400
        dark:hover:bg-gray-700
        focus:ring-0
      "
    >
      <span data-layout-target="iconCollapse" class="flex items-center">
        <%= render "icons/chevron_double_left", class_names: "w-5 h-5" %>
        <%= t(:"general.collapse_sidebar") %>
      </span>

      <span data-layout-target="iconExpand" class="flex items-center">
        <%= render "icons/chevron_double_right", class_names: "w-5 h-5" %>
        <span class="sr-only"><%= t(:"general.expand_sidebar") %></span>
      </span>
    </button>
  </div>
</aside>
