<div class="p-4 md:container md:mx-auto">
  <div class="grid gap-4">

    <%= viral_card do |card| %>
      <% card.header(title: t(".general.title")) %>
      <% card.section do %>
        <%= form_with(model: @project, url: namespace_project_path, method: :patch, class: "grid gap-4") do |form| %>
          <%= form.fields_for :namespace, include_id: false do |builder| %>
            <div class="form-field">
              <%= builder.label :name %>
              <%= builder.text_field :name,
                                 required: true,
                                 autofocus: true,
                                 placeholder: t(:"projects.new.placeholder") %>
            </div>
            <div class="form-field">
              <%= builder.label :description %>
              <%= builder.text_area :description,
                                {
                                  :class => "form-control",
                                  "aria-label" => "Project description, not required"
                                } %>
            </div>
            <div>
              <%= form.submit t("projects.edit.general.submit"), class: "btn btn-default" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= viral_card do |card| %>
      <% card.header(title: t(".advanced.title")) %>
      <% card.section(title: t(".advanced.path.title"), border_bottom: true) do %>
        <%= render "edit_advanced_path" %>
      <% end %>
      <% card.section(title: t(".advanced.transfer.title")) do %>
        <%= render "edit_advanced_transfer" %>
      <% end %>
      <% card.section(title: t(".advanced.delete.title"), classes: "bg-red-100 dark:bg-red-900 border-l-red-600 pb-6") do %>
        <%= render "edit_advanced_delete", project: @project %>
      <% end %>
    <% end %>
  </div>
</div>
