<div class="md:mx-auto">
  <div class="grid gap-4">

    <h2 class="text-2xl font-medium leading-tight text-slate-900 dark:text-white">
      <%= t(".general.title") %>
    </h2>
    <%= viral_card do |card| %>
      <% card.header(title: t(".general.heading")) %>
      <% card.section do %>
        <%= form_with(model: @project, url: namespace_project_path, method: :patch, class: "grid gap-4") do |form| %>
          <%= form.fields_for :namespace, include_id: false do |builder| %>

            <div class="form-field">
              <%= builder.label :name %>
              <%= builder.text_field :name,
                                 required: true,
                                 autofocus: true,
                                 placeholder: t(:"projects.new.placeholder") %>
            </div>
            <div class="form-field">
              <%= builder.label :description %>
              <%= builder.text_area :description,
                                {
                                  :class => "form-control",
                                  "aria-label" => t(:"projects.new.description")
                                } %>
            </div>
            <div>
              <%= form.submit t("projects.edit.general.submit"),
                              class: "button button--state-default button--size-default" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if allowed_to?(:transfer?, @project) or allowed_to?(:destroy?, @project) %>
      <h2 class="text-2xl font-medium leading-tight text-slate-900 dark:text-white"><%= t(".advanced.title") %></h2>
    <% end %>

    <% if allowed_to?(:transfer?, @project) %>
      <%= render "transfer", project: @project %>
    <% end %>

    <% if allowed_to?(:destroy?, @project) %>
      <%= render "destroy", project: @project %>
    <% end %>
  </div>
</div>
