<div class="md:mx-auto">
  <div class="grid gap-4">
    <h2 class="text-2xl font-medium leading-tight text-slate-900 dark:text-white">
      <%= t(".general.title") %>
    </h2>

    <%= viral_card do |card| %>
      <% card.with_header(title: t(".general.heading")) %>
      <% card.with_section do %>
        <%= turbo_frame_tag("project_name_and_description_form") do %>
          <%= render partial: "edit_name_and_description_form", locals: { project: @project } %>
        <% end %>
      <% end %>
    <% end %>

    <h2 class="text-2xl font-extrabold dark:text-white"><%= t(".advanced.title") %></h2>

    <%= turbo_frame_tag("project_path_form") do %>
      <%= render "change_path", project: @project %>
    <% end %>

    <% if @allowed_to[:transfer] %>
      <%= render "transfer", project: @project %>
    <% end %>

    <% if @allowed_to[:destroy] %>
      <%= render "destroy", project: @project %>
    <% end %>
  </div>
</div>
