<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <!--Edit general details form -->
    <div
      class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm  2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
      data-controller="slugify"
    >
      <h2
        class="text-xl font-semibold leading-tight text-gray-900  dark:text-gray-100"
      >
        <%= t(:".general.title") %>
      </h2>
      <%= form_with(model: @project, url: namespace_project_path, method: :patch) do |form| %>
        <div class="grid gap-4">
          <%= form.fields_for :namespace, include_id: false do |builder| %>
            <%= render partial: "projects/project_namespace_fields",
            locals: {
              builder: builder
            } %>
          <% end %>
          <div>
            <%= form.submit t("projects.edit.general.submit"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
