<%= viral_dialog(open: false, classes: ["overflow-visible"]) do |dialog| %>
  <% created_version = @project_with_log_data[0] %>
  <%= dialog.with_header(
    title: t(".version_number", version_number: created_version[:version])
  ) %>
  <%= dialog.with_section do %>
    <div class="grid gap-4">
      <div>
        <div class="mb-6 text-lg font-normal text-gray-500 dark:text-gray-400">
          <% if created_version[:version] == 1 %>
            <p class="dark:text-gray-400"><%= t(".project_created") %></p>
          <% else %>
            <p class="dark:text-gray-400"><%= t(".project_modified") %></p>
          <% end %>
        </div>

        <% created_version.each do |key, value| %>
          <% if value.is_a?(Hash) %>
            <% value.each do |k, v| %>
              <p><%= "#{k.to_s}: #{v}" %></p>
            <% end %>
          <% else %>
            <p><%= "#{key.to_s}: #{value}" %></p>
          <% end %>
        <% end %>
      </div>
      <div class="my-4">
        <button
          type="button"
          class="button button--size-default button--state-default"
          data-action="click->viral--dialog#close"
        >
          <%= t(".close") %>
        </button>
      </div>
    </div>
  <% end %>
<% end %>

<%= render Viral::PageHeaderComponent.new(title: t(:".title"), subtitle: t(:".subtitle")) do |component| %>
  <%= component.with_icon(name: "list_bullet", classes: "h-14 w-14 text-primary-700") %>
<% end %>

<div class="history-table-container">
  <table class="w-full text-sm text-left text-slate-500 dark:text-slate-400 mb-4">
    <thead class="text-slate-700 bg-slate-50 dark:bg-slate-900 dark:text-slate-400">
      <tr>
        <th scope="col" class="px-6 py-3"><%= t(".version") %></th>
        <th scope="col" class="px-6 py-3"><%= t(".type") %></th>
        <th scope="col" class="px-6 py-3"><%= t(".user") %></th>
        <th scope="col" class="px-6 py-3"><%= t(".date_time") %></th>
      </tr>
    </thead>
    <tbody id="history-table-body">
      <% @project_with_log_data.each_with_index do |changes, index| %>
        <tr class="text-sm font-normal text-slate-500 dark:text-slate-400">
          <td class="px-6 py-4">
            <div
              class="text-sm font-normal text-gray-500 dark:text-gray-400"
              data-controller="viral--dialog"
            >
              <button
                type="link"
                data-open-value="true"
                data-viral--dialog-target="atl"
                data-index="<%= index %>"
                data-action="click->viral--dialog#open"
              >
                <%= changes[:version] %>
              </button>
            </div>
          </td>
          <td class="px-6 py-4">
            <span
              class="
                bg-green-200
                text-green-800
                text-xs
                font-medium
                ml-2
                px-2.5
                py-0.5
                rounded-full
                dark:bg-green-900
                dark:text-green-300
              "
            >
              <% if changes[:version] == 1 %>
                <%= t(".created") %>
              <% else %>
                <%= t(".updated") %>
              <% end %>
            </span>
          </td>
          <td class="px-6 py-4"><%= changes[:user] %></td>
          <td class="px-6 py-4"><%= changes[:changes_from_prev_version]["updated_at"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
