<%= render Viral::PageHeaderComponent.new(title: t("projects.index.title"), subtitle: t("projects.index.subtitle")) do |component| %>
  <%= component.with_icon(
        name: "rectangle_stack",
        classes: "h-14 w-14 text-primary-700"
      ) %>
  <%= component.with_buttons do %>
    <%= link_to t(:"projects.index.create_project_button"),
                new_project_path,
                class: "btn btn-primary" %>
  <% end %>
<% end %>

<div class="bg-white dark:bg-gray-800">
  <div class="flex flex-col">
    <%= turbo_frame_tag "projects_list", src: projects_url(format: :turbo_stream, page: params[:page]), loading: :lazy do %>
      <table id="projects_list" class="min-w-full table-fixed dark:divide-gray-600">
        <tbody
          class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
        >
        <% 20.times do %>
          <tr>
            <td class="animate-pulse p-4">
              <div class="flex-1 space-y-6 py-1">
                <div class="space-y-3">
                  <div class="h-2 bg-slate-200 rounded w-48"></div>
                  <div class="h-2 bg-slate-200 rounded w-32"></div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <%= turbo_frame_tag "projects_pagination", data: { controller: "turbo-frame-history" } %>
  </div>
</div>
</div>
