<%= content_for :buttons do %>
  <%= link_to t(:'projects.index.create_project_button'), new_project_path, class: "btn btn-primary" %>
<% end %>
<%= render layout: 'shared/page_header', locals: {
  icon: "rectangle_stack",
  title: t("projects.index.title"),
  subtitle: t("projects.index.subtitle"),
} do %>
  <div class="bg-white dark:bg-gray-800">
    <div class="flex flex-col">
      <div class="overflow-x-auto">
        <table class="min-w-full table-fixed dark:divide-gray-600">
          <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
          <% @projects.each do |project| %>
            <tr class="hover:bg-green-100 dark:hover:bg-gray-700 text-sm font-normal text-gray-500 dark:text-gray-400">
              <td class="p-4 whitespace-nowrap">
                <%= link_to project.human_name, project_path(project), class: "text-grey-900 dark:text-grey-100 font-semibold hover:underline" %>
                <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= project.description %></div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>