<%= render Viral::PageHeaderComponent.new(
  title: t(:".title"),
  subtitle: t(:".subtitle"),
) %>

<div class="mb-4 card" data-controller="slugify">
  <%= form_with(model: @project, url: projects_path(namespace_id: params[:group_id]), method: :post,
  data: { controller: "viral--select2" }) do |form| %>
    <%= turbo_frame_tag "project_form" do %>
      <div class="grid gap-4">
        <%= form.fields_for :namespace do |builder| %>
          <%= render partial: "projects/project_namespace_fields",
          locals: {
            builder: builder,
            authorized_namespaces: @authorized_namespaces,
          } %>

        <% end %>
        <div>
          <%= form.submit t("projects.new.submit"),
                      class: "button button--state-primary button--size-default" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
