<%= render layout: 'shared/page_header', locals: {
  title: t(:"projects.create.title"),
  subtitle: t(:"projects.create.subtitle"),
  icon: "rectangle_stack"
} do %>
  <div class="p-4">
    <div class="card mb-4" data-controller="groups-new">
      <%= form_with(model: @new_project, url: projects_path(namespace_id: params[:group_id]), method: :post) do |form| %>
        <div class="grid gap-4">
          <%= turbo_frame_tag "project_form" do %>
            <%= form.fields_for :namespace do |builder| %>
              <div class="form-field">
                <%= label_tag :name, t(:"projects.create.name") %>
                <%= builder.text_field :name, data: { "groups-new-target": "name", action: "input->groups-new#nameChanged" }, :required => true, :autofocus => true %>
              </div>

              <div class="flex flex-row">
                <div class="form-field">
                  <%= builder.label :parent_id %>
                  <div class="flex">
                    <div class="inline-flex items-center px-3 text-sm text-gray-600 bg-gray-200 border border-r-0 border-gray-300 rounded-l-lg dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                      <%= root_url %>
                    </div>
                    <%= builder.collection_select :parent_id, Namespace.where(type: [Group.sti_name, Namespaces::UserNamespace.sti_name], owner: current_user), :id, :full_path, {}, { class: "w-64 rounded-none bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500 border-r-0" } %>
                  </div>
                </div>

                <div class="form-field">
                  <%= builder.label :path, class: "pl-8" %>
                  <div class="flex">
                    <div class="inline-flex items-center px-3 text-sm text-gray-600 bg-gray-200 border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                      /
                    </div>
                    <%= builder.text_field :path, data: { "groups-new-target": "path" }, style: "border-top-left-radius: 0; border-bottom-left-radius: 0", pattern: Irida::PathRegex::PATH_REGEX_STR, required: true %>
                  </div>
                  <p class="field-hint pl-10">
                    <%= t(:'groups.create.path_help') %>
                  </p>
                </div>
              </div>


              <div class="form-field">
                <%= label_tag :description, t(:"projects.create.description") %>
                <%= builder.text_area :description, { class: "form-control" } %>
              </div>

            <% end %>
          <% end %>
          <%= form.submit "Create Project", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
