<%= render layout: 'shared/page_header', locals: {
  title: t(:".title"),
  subtitle: t(:".subtitle"),
  icon: "rectangle_stack"
} do %>
  <div class="p-4">
    <div class="card mb-4" data-controller="groups-new">
      <%= form_with(model: @new_project, url: projects_path(namespace_id: params[:group_id]), method: :post) do |form| %>
        <%= turbo_frame_tag "project_form" do %>
          <div class="grid gap-4">
            <%= form.fields_for :namespace do |builder| %>
              <div class="form-field">
                <%= label_tag :name, t(:".name") %>
                <%= builder.text_field :name, data: { "groups-new-target": "name", action: "input->groups-new#nameChanged" }, :required => true, :autofocus => true %>
              </div>

              <div class="grid grid-cols-2 gap-4">
                <div class="form-field">
                  <%= builder.label :parent_id, "Project URL" %>
                  <div class="flex whitespace-nowrap items-center">
                    <div class="inline-flex items-center px-3 py-2.5 text-sm text-gray-600 bg-gray-200 border border-r-0 border-gray-300 rounded-l-lg dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                      <%= root_url %>
                    </div>
                    <%= builder.collection_select(
                          :parent_id,
                          Namespace.where(type: [Group.sti_name, Namespaces::UserNamespace.sti_name], owner: current_user),
                          :id,
                          :full_path, {},
                          { :class => "prefixed" }
                        ) %>
                    <div class="ml-4">/</div>
                  </div>
                </div>
                <div class="form-field">
                  <%= builder.label :path, "Project Slug" %>
                  <%= builder.text_field :path, data: { "groups-new-target": "path" }, pattern: Irida::PathRegex::PATH_REGEX_STR, required: true %>
                </div>
              </div>
              <div class="form-field">
                <%= label_tag :description, t(:".description") %>
                <%= builder.text_area :description, { class: "form-control" } %>
              </div>
            <% end %>
        <% end %>
        <div>
          <%= form.submit "Create Project", class: "btn btn-primary" %>
        </div>
        </div>
        </div>
      <% end %>
      </div>
<% end %>
