<div
  id="limit-component"
  class="
    @max-md:flex @max-md:flex-col text-slate-500 dark:text-slate-400 w-full
  "
>
  <form
    id="limit-component-form"
    method="get"
    action="<%= current_url_without_limit %>"
    class="@max-md:space-y-4"
    data-turbo-action="replace"
  >
    <label for="pagy-limit-select" class="text-sm font-medium">
      <%= t("components.viral.pagy.limit_component.items", items: @item) %>
    </label>

    <div class="relative">
      <select
        id="pagy-limit-select"
        name="limit"
        aria-label="<%= t('components.viral.pagy.limit_component.select_items_action') %>"
        aria-describedby="pagy-limit-description"
        autocomplete="off"
        class="
          bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg block
          w-full p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400
          dark:text-white appearance-none bg-no-repeat bg-right pr-8
          [&::-ms-expand]:hidden
        "
        style="-webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: none !important;"
        onchange="this.form.requestSubmit()"
      >
        <% Pagy::DEFAULT[:limits].each do |limit| %>
          <option
            value="<%= limit %>"
            <%= 'selected' if limit == @pagy.limit %>
            aria-label="<%= t('components.viral.pagy.limit_component.item_aria_label', items: limit) %>"
          >
            <%= limit %>
          </option>
        <% end %>
      </select>
        <%= pathogen_icon(ICON::CARET_DOWN, size: :sm, color: :subdued) %>
      </div>
      <div id="pagy-limit-description" class="sr-only">
        <%= t("components.viral.pagy.limit_component.select_items_action") %>
      </div>
  </form>
  <span><%== t(
      "components.viral.pagy.limit_component.summary",
      to: @pagy.to,
      from: @pagy.from,
      count: @pagy.count,
    ) %></span>
</div>
