<div id="limit-component" class="w-full text-slate-500 @max-md:flex @max-md:flex-col dark:text-slate-400">
  <form
    id="limit-component-form"
    method="get"
    action="<%= current_url_without_params %>"
    class="@max-md:space-y-4"
  >
    <% current_url_query_params_without_limit.each do |param| %>
      <input type="hidden" name="<%= param[0] %>" value="<%= param[1] %>">
    <% end %>

    <div
      class="
        @max-md:flex @max-md:flex-col @max-md:space-y-4 @md:@max-xl:space-y-2 @2xl:flex @2xl:items-center
        @2xl:space-x-2
      "
    >
      <div class="@md:@max-xl:flex @md:@max-xl:items-center @md:@max-xl:space-x-2 @2xl:flex @2xl:items-center @2xl:space-x-2">
        <label for="pagy-limit-select" class="flex-shrink-0 text-sm font-medium">
          <%= t("components.viral.pagy.limit_component.items", items: @item) %>
        </label>

        <select
          id="pagy-limit-select"
          name="limit"
          aria-label="<%= t('components.viral.pagy.limit_component.select_items_action') %>"
          aria-describedby="pagy-limit-description"
          autocomplete="off"
          class="
            block rounded-lg border border-slate-300 bg-slate-50 p-2.5 pr-8 text-sm text-slate-900 @max-md:w-full
            @md:w-20 dark:border-slate-600 dark:bg-slate-700 dark:text-white dark:placeholder-slate-400
          "
          onchange="this.form.requestSubmit()"
        >
          <% Pagy::DEFAULT[:limits].each do |limit| %>
            <%= tag.option limit,
                       value: limit,
                       selected: limit == @pagy.limit,
                       aria: {
                         label:
                           t(
                             "components.viral.pagy.limit_component.item_aria_label",
                             items: limit,
                           ),
                       } %>
          <% end %>
        </select>
      </div>

      <span class="text-sm @2xl:flex-1">
        <%== t(
          "components.viral.pagy.limit_component.summary",
          to: @pagy.to,
          from: @pagy.from,
          count: @pagy.count,
        ) %>
      </span>
    </div>

    <div id="pagy-limit-description" class="sr-only">
      <%= t("components.viral.pagy.limit_component.select_items_action") %>
    </div>
  </form>
</div>
