<% a = helpers.pagy_anchor(@pagy, anchor_string: @data_string) %>
<nav class="pagy nav" aria-label="<%= t(".aria-label")%>">
  <ul class="inline-flex h-10 -space-x-px text-base">
    <%# Previous page link %>
    <li>
      <% if @pagy.prev %>
        <%== a.(
          @pagy.prev,
          t(".previous"),
          aria_label: t(".previous"),
          classes: "#{active_link_classes} border-e-0 rounded-s-lg",
        ) %>
      <% else %>
        <%= button_to t(".previous"),
        nil,
        disabled: true,
        class: "#{disabled_link_classes} border-e-0 rounded-s-lg",
        data: {
          "aria-disabled": true,
        } %>
      <% end %>
    </li>
    <%# Page links (series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36]) %>
    <% @pagy.series.each do |item| %>
      <li>
        <% if item.is_a?(Integer) %>
          <%== a.(item, classes: class_names(active_link_classes, invisible_link_classes)) %>
        <% elsif item.is_a?(String) %>
          <%= button_to item,
          nil,
          disabled: true,
          class: current_link_classes,
          data: {
            "aria-disabled": true,
          } %>

        <% elsif item == :gap %>
          <%= button_to "...",
          nil,
          disabled: true,
          class: class_names(disabled_link_classes, invisible_link_classes),
          data: {
            "aria-disabled": true,
          } %>
        <% end %>
      </li>
    <% end %>
    <%# Next page link %>
    <li>
      <% if @pagy.next %>
        <%== a.(@pagy.next, t(".next"), classes: "#{active_link_classes} rounded-e-lg") %>
      <% else %>
        <%= button_to t(".next"),
        nil,
        disabled: true,
        class: "#{disabled_link_classes} rounded-e-lg cursor-default",
        data: {
          "aria-disabled": true,
        } %>
      <% end %>
    </li>
  </ul>
</nav>
