<%# filepath: /home/josh/Development/irida-next/app/components/viral/pagy/pagination_component.html.erb %>
<% a = helpers.pagy_anchor(@pagy, anchor_string: @data_string) %>
<nav class="pagy nav" aria-label="<%= t(".aria_label") %>">
  <ul class="inline-flex h-11 -space-x-px text-base">
    <%# Previous page link %>
    <li>
      <% if @pagy.prev %>
        <%== a.(
          @pagy.prev,
          t(".previous"),
          classes:
            "border-l border-slate-300 bg-slate-50 text-slate-900 hover:bg-slate-100 hover:text-slate-950 dark:border-slate-700 dark:bg-slate-900 dark:text-slate-50 dark:hover:bg-slate-800 dark:hover:text-white inline-flex items-center justify-center border sm:w-auto min-h-11 min-w-11 px-5 py-2.5 rounded-l-lg font-semibold text-sm cursor-pointer",
          aria_label: t(".previous_aria_label"),
        ) %>
      <% else %>
        <span
          class="
            inline-flex items-center justify-center border sm:w-auto min-h-11 min-w-11 px-5
            py-2.5 rounded-l-lg font-semibold bg-slate-100 text-slate-600 border-slate-200
            dark:bg-slate-800 dark:text-slate-300 dark:border-slate-700 cursor-not-allowed
            text-sm
          "
        ><%= t(".previous") %></span>
      <% end %>
    </li>
    <%# Page links (series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36]) %>
    <% @pagy.series.each do |item| %>
      <li>
        <% if item.is_a?(Integer) %>
          <%== a.(
            item,
            classes:
              "inline-flex items-center justify-center border sm:w-auto min-h-11 min-w-11 px-5 py-2.5 font-semibold cursor-pointer border border-slate-300 bg-slate-50 text-sm text-slate-900 hover:bg-slate-100 hover:text-slate-950 dark:border-slate-700 dark:bg-slate-900 dark:text-slate-50 dark:hover:bg-slate-800 dark:hover:text-white",
            aria_label: t(".item_aria_label", number: item),
          ) %>
        <% elsif item.is_a?(String) %>
          <a
            href="javascript:void(0);"
            aria-current="page"
            class="
              inline-flex items-center justify-center border sm:w-auto min-h-11 min-w-11 px-5
              py-2.5 font-semibold cursor-pointer border-slate-500 bg-slate-500 text-sm
              text-white dark:border-slate-500 dark:bg-slate-500 dark:text-white
            "
          ><%= item %></a>
        <% elsif item == :gap %>
          <span
            class="
              inline-flex items-center justify-center border sm:w-auto min-h-11 min-w-11 px-4
              py-2.5 font-semibold bg-slate-100 text-slate-600 border-slate-300
              dark:bg-slate-800 dark:text-slate-300 dark:border-slate-700 cursor-not-allowed
              text-sm
            "
          >...</span>
        <% end %>
      </li>
    <% end %>
    <%# Next page link %>
    <li>
      <% if @pagy.next %>
        <%== a.(
          @pagy.next,
          t(".next"),
          classes:
            "border-l border-slate-300 bg-slate-50 text-slate-900 hover:bg-slate-100 text-sm hover:text-slate-950 dark:border-slate-700 dark:bg-slate-900 dark:text-slate-50 dark:hover:bg-slate-800 dark:hover:text-white inline-flex items-center justify-center border sm:w-auto min-h-11 min-w-11 px-5 py-2.5 rounded-e-lg font-semibold cursor-pointer",
          aria_label: t(".next_aria_label"),
        ) %>
      <% else %>
        <span
          class="
            inline-flex items-center justify-center border sm:w-auto min-h-11 min-w-11 px-5
            py-2.5 text-sm font-semibold bg-slate-100 text-slate-600 border-slate-200
            dark:bg-slate-800 dark:text-slate-300 dark:border-slate-700 cursor-not-allowed
            rounded-e-lg
          "
        ><%= t(".next") %></span>
      <% end %>
    </li>
  </ul>
</nav>
