<% a = helpers.pagy_anchor(@pagy, anchor_string: @data_string) %>
<nav class="pagy nav" aria-label="<%= t(".aria_label") %>">
  <ul class="inline-flex h-10 -space-x-px text-base">
    <%# Previous page link %>
    <li>
      <% if @pagy.prev %>
        <%== a.(
          @pagy.prev,
          t(".previous"),
          "aria-label": t(".previous_aria_label"),
          classes:
            "flex items-center justify-center text-slate-700 bg-slate-200 border border-slate-300 font-medium text-sm px-4 h-10 hover:bg-slate-300 hover:text-slate-900 dark:bg-slate-700 dark:text-slate-200 dark:border-slate-600 dark:hover:bg-slate-600 dark:hover:text-white border-e-0 rounded-s-md",
        ) %>
      <% else %>
        <span
          class="
            flex items-center justify-center px-4 h-10 ms-0 leading-tight border
            border-slate-300 dark:border-slate-600 text-slate-600 bg-slate-300
            dark:bg-slate-800 cursor-not-allowed rounded-s-lg
          "
        ><%= t(".previous") %></span>
      <% end %>
    </li>
    <%# Page links (series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36]) %>
    <% @pagy.series.each do |item| %>
      <li>
        <% if item.is_a?(Integer) %>
          <%== a.(
            item,
            classes:
              "flex items-center justify-center text-slate-700 bg-slate-200 border border-slate-300 font-medium text-sm px-4 h-10 hover:bg-slate-300 hover:text-slate-900 dark:bg-slate-700 dark:text-slate-200 dark:border-slate-600 dark:hover:bg-slate-600 dark:hover:text-white",
            "aria-label": t(".item_aria_label", number: item),
          ) %>
        <% elsif item.is_a?(String) %>
          <a
            href="javascript:void(0);"
            aria-current="page"
            class="
              flex items-center justify-center px-4 h-10 ms-0 leading-tight border
              border-slate-300 dark:border-slate-600 text-slate-600 bg-slate-300
              dark:bg-slate-800 cursor-not-allowed
            "
          ><%= item %></a>
        <% elsif item == :gap %>
          <span
            class="
              flex items-center justify-center px-4 h-10 ms-0 leading-tight border
              border-slate-300 dark:border-slate-600 text-slate-600 bg-slate-300
              dark:bg-slate-800 cursor-not-allowed
            "
          >...</span>
        <% end %>
      </li>
    <% end %>
    <%# Next page link %>
    <li>
      <% if @pagy.next %>
        <%== a.(
          @pagy.next,
          t(".next"),
          classes: "#{active_link_classes} rounded-e-md",
          "aria-label": t(".next_aria_label"),
        ) %>
      <% else %>
        <span
          class="
            flex items-center justify-center px-4 h-10 ms-0 leading-tight border
            border-slate-300 dark:border-slate-600 text-slate-600 bg-slate-300
            dark:bg-slate-800 cursor-not-allowed rounded-e-md
          "
        ><%= t(".next") %></span>
      <% end %>
    </li>
  </ul>
</nav>
