<% a = helpers.pagy_anchor(@pagy, anchor_string: @data_string) %>
<nav class="pagy nav" aria-label="<%= t(".aria-label") %>">
  <ul class="inline-flex h-10 -space-x-px text-base">
    <%# Previous page link %>
    <li>
      <% if @pagy.prev %>
        <%== a.(
          @pagy.prev,
          t(".previous"),
          aria_label: t(".previous"),
          classes: "#{active_link_classes} border-e-0 rounded-s-lg",
        ) %>
      <% else %>
        <span
          class="
            flex items-center justify-center px-4 h-10 ms-0 leading-tight border
            border-slate-300 dark:border-slate-600 text-slate-400 bg-slate-100
            dark:bg-slate-800 cursor-not-allowed rounded-s-lg
          "
        ><%= t(".previous") %></span>
      <% end %>
    </li>
    <%# Page links (series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36]) %>
    <% @pagy.series.each do |item| %>
      <li>
        <% if item.is_a?(Integer) %>
          <%== a.(item, classes: class_names(active_link_classes, invisible_link_classes)) %>
        <% elsif item.is_a?(String) %>
          <%= content_tag(:a, item, class: current_link_classes, aria: { disabled: true }) %>
        <% elsif item == :gap %>
          <span
            class="
              flex items-center justify-center px-4 h-10 ms-0 leading-tight border
              border-slate-300 dark:border-slate-600 text-slate-400 bg-slate-100
              dark:bg-slate-800 cursor-not-allowed
            "
          >...</span>
        <% end %>
      </li>
    <% end %>
    <%# Next page link %>
    <li>
      <% if @pagy.next %>
        <%== a.(@pagy.next, t(".next"), classes: "#{active_link_classes} rounded-e-lg") %>
      <% else %>
        <span
          class="
            flex items-center justify-center px-4 h-10 ms-0 leading-tight border
            border-slate-300 dark:border-slate-600 text-slate-400 bg-slate-100
            dark:bg-slate-800 cursor-not-allowed rounded-e-lg
          "
        ><%= t(".next") %></span>
      <% end %>
    </li>
  </ul>
</nav>
