<%= render Viral::PageHeaderComponent.new(title: t("groups.show.title"), subtitle: t("groups.show.subtitle")) do |component| %>
  <%= component.with_icon do %>
    <%= viral_icon(name: "squares_2x2", classes: "h-14 w-14 text-primary-700") %>
  <% end %>
  <%= component.with_buttons do %>
    <%= link_to t(:"groups.index.create_group_button"),
    new_group_path,
    class:
      "inline-flex items-center justify-center button button--state-primary button--size-default" %>
  <% end %>
<% end %>
<div class="bg-white dark:bg-gray-800">
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="shadow">
        <div class="min-w-full">
          <% @groups.each do |group| %>
            <%= render group, depth: 0, collapse: false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
