<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= link_to t(:".create_group_button"),
    new_group_path,
    class: "inline-flex items-center justify-center button button-primary" %>
  <% end %>
<% end %>

<div class="flex flex-col">
  <%= render Pathogen::Tabs.new(
    id: "dashboard-groups-tabs",
    label: t(".tabs_label"),
    default_index: 0,
    sync_url: true
  ) do |tabs| %>
    <% tabs.with_tab(
      id: "private-tab",
      label: t(".private"),
      selected: @tab == "private"
    ) %>

    <% tabs.with_tab(
      id: "public-tab",
      label: t(".public"),
      selected: @tab == "public"
    ) %>

    <% tabs.with_lazy_panel(
      id: "private-panel",
      tab_id: "private-tab",
      frame_id: "private-groups-content",
      src_path: dashboard_groups_url,
      selected: @tab == "private"
    ) do %>
      <%= render "groups_list" %>
    <% end %>

    <% tabs.with_lazy_panel(
      id: "public-panel",
      tab_id: "public-tab",
      frame_id: "public-groups-content",
      src_path: dashboard_groups_url(public: "true"),
      selected: @tab == "public"
    ) do %>
      <%= render "groups_list", empty_title: t("dashboard.groups.index.no_public_groups_title"), empty_description: t("dashboard.groups.index.no_public_groups_description") %>
    <% end %>
  <% end %>
</div>
