<%= render Viral::PageHeaderComponent.new(title: t(".title")) do |component| %>
  <%= component.with_buttons do %>
    <%= link_to t(:".create_group_button"),
    new_group_path,
    class:
      "inline-flex items-center justify-center button button--state-primary button--size-default" %>
  <% end %>
<% end %>
<div class="bg-white dark:bg-slate-800">
  <div
    class="
      flex text-sm font-medium text-center border-b text-slate-500 border-slate-200
      dark:text-slate-400 dark:border-slate-700
    "
  >
    <div class="flex flex-row items-center ml-auto space-x-2 font-normal py-1.5">
      <%= turbo_frame_tag "groups_sort_dropdown" %>
    </div>
  </div>
  <div class="flex flex-col" data-turbo-temporary>
    <%= turbo_frame_tag "groups_tree",
    src: dashboard_groups_url(format: :turbo_stream, **request.query_parameters) do %>
      <%= render partial: "shared/loading/table" %>
    <% end %>
    <%= turbo_frame_tag "groups_pagination" %>
  </div>
</div>
