<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "attachment_modal" %>

<div class="fixed-table-component">
  <%= render Viral::PageHeaderComponent.new(
    title: t(".title"),
    subtitle: t(".subtitle", project_name: @project.name),
  ) do |component| %>
    <%= component.with_buttons do %>
    <% if allowed_to?(:create_attachment?, @project) %>
      <%= link_to t(".upload_files"),
          new_namespace_project_attachment_path(id: @project.id),
          data: {
            turbo_frame: "attachment_modal",
            turbo_stream: true,
          },
          class: "
            inline-flex
            items-center
            justify-center
            w-1/2
            text-sm
            border
            rounded-md
            cursor-pointer
            sm:w-auto
            focus:z-10
            px-5
            py-2.5
            bg-white
            text-slate-900
            border-slate-200
            focus:outline-none
            hover:bg-slate-100
            hover:text-slate-950
            focus:ring-slate-200
            dark:focus:ring-slate-700
            dark:bg-slate-800
            dark:text-slate-400
            dark:border-slate-600
            dark:hover:text-white
            dark:hover:bg-slate-700
          " %>
      <% end %>
    <% end %>
  <% end %>

  <div class="flow-root">
    <div class="flex flex-row-reverse items-center mb-4 space-x-2">
      <%= search_form_for @q, url: namespace_project_attachments_path(@project.parent, @project), html: { "data-controller": "filters" } do |f| %>
        <%= hidden_field_tag :limit, @pagy.limit %>
        <%= f.hidden_field :s, value: "#{@q.sorts[0].name} #{@q.sorts[0].dir}" %>
        <%= f.hidden_field :format, value: "turbo_stream" %>

        <%= f.label :puid_or_file_blob_filename_cont, "SEARCH", class: "sr-only" %>
        <div class="relative lg:w-72">
          <div
            class="
              absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
            "
          >
            <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
          </div>
          <%= f.search_field :puid_or_file_blob_filename_cont,
                         "data-action": "filters#submit",
                         class:
                           "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                         placeholder: t(:".search.placeholder") %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render partial: "table",
  locals: {
    attachments: @attachments,
    pagy: @pagy,
    q: @q,
    namespace: @project.namespace
  } %>
</div>
