<%= viral_dialog(open: open, size: :large, closable: closable) do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>
  <%= turbo_stream_from @broadcast_target %>
  <%= turbo_frame_tag "import_spreadsheet_dialog_content" do %>

    <%= turbo_frame_tag "import_spreadsheet_dialog_alert" %>

    <div
      data-controller="spreadsheet-import viral--sortable-lists--two-lists-selection"
      data-viral--sortable-lists--two-lists-selection-selected-list-value="<%= t(".selected") %>"
      data-viral--sortable-lists--two-lists-selection-available-list-value="<%= t(".available") %>"
      data-viral--sortable-lists--two-lists-selection-field-name-value="spreadsheet_import[metadata_fields][]"
      data-spreadsheet-import-select-sample-value='<%= t(".select_sample_name_column") %>'
      data-spreadsheet-import-select-description-value='<%= t(".select_sample_description_column") %>'
      data-spreadsheet-import-select-project-value='<%= t(".select_project_puid_column") %>'
      data-action="
        spreadsheet-import:sendMetadata->viral--sortable-lists--two-lists-selection#updateMetadataListing
      "
    >

      <%= form_for(:spreadsheet_import, url: url, method: :post) do |form| %>
        <input type="hidden" name="broadcast_target" value="<%= @broadcast_target %>"/>
        <div class="grid gap-4">
          <p class="text-base leading-relaxed text-slate-500 dark:text-slate-300">
            <%= t(".description") %>
          </p>
          <p class="text-base leading-relaxed text-slate-500 dark:text-slate-300">
            <% if @namespace.group_namespace? %>
              <%= t(".namespace.group.description_html") %>
            <% else %>
              <%= t(".namespace.project.description_html") %>
            <% end %>
          </p>
          <div class="form-field">
            <%= form.label :file,
                       t(".file"),
                       class:
                         "block mb-2 text-sm font-medium text-slate-900 dark:text-white" %>
            <%= form.file_field :file,
                            required: true,
                            accept:
                              # https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
                              "text/csv,.tsv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                            data: {
                              action: "change->spreadsheet-import#readFile",
                            },
                            class:
                              "block w-full text-sm text-slate-900 border border-slate-300 rounded-lg cursor-pointer bg-slate-50 dark:text-slate-300 dark:bg-slate-900 dark:border-slate-600 dark:placeholder-slate-400" %>
            <p class="mt-1 text-sm text-slate-500 dark:text-slate-300"><%= t(".file_help") %></p>
          </div>
          <div class="form-field">
            <%= form.label :sample_name_column,
                       t(".sample_name_column"),
                       class:
                         "block mb-2 text-sm font-medium text-slate-900 dark:text-white" %>
            <%= form.select :sample_name_column,
                        {},
                        { prompt: t(".select_sample_name_column") },
                        required: true,
                        data: {
                          "spreadsheet-import-target": "sampleNameColumn",
                          action: "change->spreadsheet-import#changeInputValue",
                        },
                        disabled: true,
                        class:
                          "disabled:bg-slate-50 disabled:border disabled:border-slate-300 disabled:rounded-lg disabled:w-full disabled:p-2.5 disabled:dark:bg-slate-700 disabled:dark:border-slate-600 disabled:dark:placeholder-slate-400" %>
          </div>
          <div class="form-field">
            <%= form.label :sample_description_column,
                       t(".sample_description_column"),
                       class:
                         "block mb-2 text-sm font-medium text-slate-900 dark:text-white" %>
            <%= form.select :sample_description_column,
                        {},
                        { prompt: t(".select_sample_description_column") },
                        required: false,
                        data: {
                          "spreadsheet-import-target": "sampleDescriptionColumn",
                          action: "change->spreadsheet-import#changeInputValue",
                        },
                        disabled: true,
                        class:
                          "disabled:bg-slate-50 disabled:border disabled:border-slate-300 disabled:rounded-lg disabled:w-full disabled:p-2.5 disabled:dark:bg-slate-700 disabled:dark:border-slate-600 disabled:dark:placeholder-slate-400" %>
          </div>
          <% if @namespace.group_namespace? %>
            <div class="form-field">
              <div class="mb-2">
                <p class="font-sm font-medium text-slate-900 dark:text-white"><%= t(".project_selection") %></p>
                <p class="text-xs leading-relaxed text-slate-500 dark:text-slate-300 "><%= t(".project_selection_description") %></p>
              </div>
              <%= form.label :project_puid_column,
                         t(".project_puid_column"),
                         class:
                           "block mb-2 text-sm font-medium text-slate-900 dark:text-white" %>
              <p class="text-xs leading-relaxed text-slate-500 dark:text-slate-300 "><%= t(".project_puid_column_description") %></p>
              <%= form.select :project_puid_column,
                          {},
                          { prompt: t(".select_project_puid_column") },
                          required: false,
                          data: {
                            "spreadsheet-import-target": "projectPUIDColumn",
                            action: "change->spreadsheet-import#changeInputValue",
                          },
                          disabled: true,
                          class:
                            "mb-2 disabled:bg-slate-50 disabled:border disabled:border-slate-300 disabled:rounded-lg disabled:w-full disabled:p-2.5 disabled:dark:bg-slate-700 disabled:dark:border-slate-600 disabled:dark:placeholder-slate-400" %>
              <%= form.label :static_project_id,
                         t(".static_project"),
                         class:
                           "block mb-2 text-sm font-medium text-slate-900 dark:text-white" %>
              <p class="text-xs leading-relaxed text-slate-500 dark:text-slate-300"><%= t(".static_project_description") %></p>
              <%= form.select :static_project_id,
                          @group_projects_for_static_selection,
                          { prompt: t(".select_static_project") },
                          required: false,
                          data: {
                            "spreadsheet-import-target": "staticProject",
                            action:
                              "change->spreadsheet-import#checkFormInputsReadyForSubmit",
                          },
                          disabled: true,
                          class:
                            "disabled:bg-slate-50 disabled:border disabled:border-slate-300 disabled:rounded-lg disabled:w-full disabled:p-2.5 disabled:dark:bg-slate-700 disabled:dark:border-slate-600 disabled:dark:placeholder-slate-400" %>
            </div>
          <% end %>
          <template
            id="sortable-list-item-template"
            data-viral--sortable-lists--two-lists-selection-target="itemTemplate"
          >
            <%= render Viral::SortableList::ListItemComponent.new(list_item: "NAME_HERE") %>
          </template>
          <div class="grid gap-4 hidden" data-spreadsheet-import-target="metadata">
            <%= viral_sortable_lists(
            title: t(".metadata"),
            ) do |sortable_lists| %>
              <%= sortable_lists.with_list(
                id: t(".available"),
                title: t(".available"),
                group: "metadata_selection",
                container_classes: "block mb-1 pr-2 text-sm font-medium",
                list_classes: "overflow-y-auto max-w-[356px] min-w-[356px] w-full",
              ) %>
              <%= sortable_lists.with_list(
                id: t(".selected"),
                title: t(".selected"),
                group: "metadata_selection",
                container_classes: "block mb-1 text-sm font-medium",
                list_classes: "overflow-y-auto max-w-[356px] min-w-[356px] w-full",
              ) %>
            <% end %>
          </div>
          <div
            class="hidden"
            data-viral--sortable-lists--two-lists-selection-target="field"
          ></div>
          <div>
            <%= form.submit t(".submit_button"),
                        class: "button button--size-default button--state-primary",
                        data: {
                          turbo_frame: "_top",
                          action:
                            "click->viral--sortable-lists--two-lists-selection#constructParams",
                          "viral--sortable-lists--two-lists-selection-target": "submitBtn",
                          "spreadsheet-import-target": "submitButton",
                        },
                        disabled: true %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
