<%= viral_dialog(open: true) do |dialog| %>
  <%= dialog.with_header(
    title: t(:"workflow_executions.submissions.pipeline_selection.title")
  ) %>
  <%= dialog.with_section do %>
    <ul class="divide-y divide-slate-200 dark:divide-slate-700">
      <% workflows.each do |key, workflow| %>
        <li>
          <%= form_with url: workflow_executions_submissions_path, data: { turbo_stream: true } do |form| %>
            <%= form.hidden_field :workflow_name, value: workflow.name %>
            <%= form.hidden_field :workflow_version, value: workflow.version %>
            <%= form.hidden_field :project_id, value: @project_id %>
            <div
              data-controller="sessionstorage-amend-form"
              data-sessionstorage-amend-form-target="field"
              data-sessionstorage-amend-form-field-name-value="sample_ids[]"
            />
            <button
              class="
                w-full
                border-none
                group
                hover:bg-primary-600
                dark:hover:bg-primary-800
              "
            >
              <span class="flex items-center p-4 space-x-4">
                <span class="flex-shrink-0">
                  <%= viral_icon(
                    name: :rocket_launch,
                    classes:
                      "dark:text-slate-500 group-hover:text-slate-100 group-hover:-rotate-45 transition-rotate-45 group-hover:duration-500 group-hover:ease-in-out"
                  ) %>
                </span>
                <span class="flex-1 min-w-0 text-left group-hover:stroke-slate-100">
                  <span class="flex items-center space-x-2">
                    <span
                      class="
                        font-medium
                        text-gray-900
                        truncate
                        dark:text-white
                        group-hover:text-slate-100
                      "
                    >
                      <%= workflow.name %>
                    </span>
                    <%= viral_pill(text: workflow.version, color: :primary) %>
                  </span>
                  <span
                    class="
                      text-sm
                      font-normal
                      truncate
                      text-slate-500
                      dark:text-slate-400
                      group-hover:text-slate-200
                    "
                  >
                    <%= workflow.description %>
                  </span>
                </span>
              </span>
            </button>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
