<%= viral_dialog(open: true) do |dialog| %>
  <% dialog.with_header(
    title: t(:"workflow_executions.submissions.pipeline_selection.title"),
  ) %>
  <% field_name =
    Flipper.enabled?(:deferred_samplesheet) ? "sample_count" : "sample_ids[]" %>
  <%= render Viral::BaseComponent.new(tag: 'div', data: { controller: "workflow-selection", "workflow-selection-selection-outlet": "#samples-table", "workflow-selection-field-name-value": field_name, "workflow-selection-feature-flag-value": Flipper.enabled?(:deferred_samplesheet).to_s}) do %>
    <%= form_with url: workflow_executions_submissions_path, data: { turbo_stream: true, "workflow-selection-target": "form" } do |form| %>
      <%= form.hidden_field :pipeline_id,
                        data: {
                          "workflow-selection-target": "pipelineId",
                        } %>
      <%= form.hidden_field :workflow_version,
                        data: {
                          "workflow-selection-target": "workflowVersion",
                        } %>
      <%= form.hidden_field :namespace_id, value: @namespace_id %>
      <ul class="space-y-2">
        <% workflows.each do |key, workflow| %>
          <li>
            <button
              type="button"
              class="group w-full button button-default"
              data-workflow-selection-target="workflow"
              data-workflow-selection-pipelineId-param="<%= workflow.pipeline_id %>"
              data-workflow-selection-workflowName-param="<%= workflow.name %>"
              data-workflow-selection-workflowVersion-param="<%= workflow.version %>"
              data-workflow-selection-namespaceId-param="<%= @namespace_id %>"
              data-action="click->workflow-selection#selectWorkflow"
            >
              <span class="shrink-0 mr-2">
                <%= pathogen_icon(
                  :rocket_launch,
                  color: :nil,
                  class:
                    "dark:text-slate-500 group-hover:-rotate-45 transition-rotate-45 delay-150 duration-300 ease-in-out",
                ) %>
              </span>
              <span class="flex-1 min-w-0 text-left group-hover:stroke-slate-100">
                <span class="flex items-center space-x-2">
                  <span class=" font-medium text-slate-900 truncate dark:text-white ">
                    <%= workflow.name %>
                  </span>
                  <%= viral_pill(text: workflow.version, color: :primary) %>
                </span>
                <span
                  class="
                    text-sm font-normal text-slate-500 dark:text-slate-400 text-wrap
                  "
                >
                  <%= workflow.description %>
                </span>
              </span>
            </button>
          </li>
        <% end %>
      </ul>
      <div
        data-workflow-selection-target="spinner"
        class="hidden flex items-center p-4 space-x-4"
        role="status"
        aria-live="polite"
      >
        <div class="grid place-items-start">
          <div
            class="
              flex flex-col w-full max-w-md p-4 space-y-2 text-gray-500 bg-white rounded-lg
              shadow-sm dark:text-gray-400 dark:bg-gray-800
            "
          >
            <div class="flex items-center space-x-2">
              <%= pathogen_icon :faded_spinner, library: "animated", color: :primary %>
              <span class="flex items-center space-x-2">
                <span
                  data-workflow-selection-target="spinnerWorkflowName"
                  class="font-medium truncate text-slate-900 dark:text-white"
                ></span>
                <span
                  data-workflow-selection-target="spinnerWorkflowVersion"
                  class="
                    bg-primary-100 text-primary-800 dark:bg-primary-800 dark:text-primary-400
                    text-xs font-medium px-2.5 py-0.5 rounded-full
                  "
                ></span>
              </span>
            </div>
            <p class="text-sm font-normal">
              <%= t(
                "workflow_executions.submissions.pipeline_selection.loading_message_html",
                count_placeholder:
                  content_tag(
                    :span,
                    "",
                    "data-workflow-selection-target": "spinnerCount",
                    class: "font-semibold",
                  ),
              ) %>
            </p>
          </div>
        </div>
      </div>
      <%= render LiveRegionComponent.new(
        controller: "workflow-selection",
        target: "statusAnnouncement",
        atomic: true,
      ) %>
    <% end %>
  <% end %>
<% end %>
