<% operator_exists =
  @condition.operator.blank? ||
    %w[exists not_exists].include?(@condition.operator) %>

<% if @condition.operator.blank? || !@condition.operator.to_s.include?("between") %>
  <% invalid_value = @condition.errors.include?(:value) %>
  <div
    class="
      value form-field w-full <%= 'invalid' if invalid_value %>
      <%= 'invisible @max-xl:hidden' if operator_exists %>
    "
  >
    <%= @conditions_form.label :value, data: { required: true } %>

    <% if %w[in not_in].include?(@condition.operator) %>
      <% if @options.nil? %>
        <div
          data-controller="list-input"
          data-list-input-filters-value="<%= ERB::Util.json_escape(@condition.value.present? ? @condition.value.to_json : '[]') %>"
          class="list-input"
        >
          <%= render ListInputComponent.new(
          list_input_form_name: @conditions_form.field_name(:value, multiple: true),
          id: @conditions_form.field_id(:value),
          show_description: false,
          "aria-invalid": invalid_value,
          "aria-describedby": @conditions_form.field_id(:value, "error"),
        ) %>
        </div>
      <% else %>
        <%= @conditions_form.select :value,
                                 options_for_select(@options, selected_values),
                                 { include_hidden: false },
                                 {
                                   multiple: true,
                                   "aria-label": value_label,
                                   "aria-invalid": invalid_value,
                                   "aria-describedby": @conditions_form.field_id(:value, "error")
                                 } %>
      <% end %>
    <% elsif @options.nil? %>
      <%= @conditions_form.text_field :value,
                                "aria-label": value_label,
                                "aria-invalid": invalid_value,
                                "aria-describedby":
                                  @conditions_form.field_id(:value, "error") %>
    <% else %>
      <%= @conditions_form.select :value,
                               options_for_select(@options, selected_values.first),
                               { include_blank: true },
                               {
                                 "aria-label": value_label,
                                 "aria-invalid": invalid_value,
                                 "aria-describedby": @conditions_form.field_id(:value, "error")
                               } %>
    <% end %>

    <%= render "shared/form/field_errors",
  errors: @condition.errors.full_messages_for(:value),
  id: @conditions_form.field_id(:value, "error") %>
  </div>
<% else %>
  <% invalid_starting_value = @condition.errors.include?(:"value[0]") %>
  <% invalid_ending_value = @condition.errors.include?(:"value[1]") %>
  <div
    class="
      value form-field w-full <%= 'invalid' if invalid_starting_value %>
      <%= 'invisible @max-xl:hidden' if operator_exists %>
    "
  >
    <%= @conditions_form.label :"starting_value", data: { required: true } %>

    <%= @conditions_form.text_field :value,
    id: "#{@conditions_form.field_id(:"starting_value")}",
    multiple: true,
    value:  @condition.value.blank? ? nil : @condition.value[0],
                                "aria-label":  I18n.t('components.advanced_search_component.v1.starting_value'),
                                "aria-invalid": invalid_starting_value,
                                "aria-describedby":
                                  @conditions_form.field_id(:"starting_value.", "error") %>

    <%= render "shared/form/field_errors",
  errors: @condition.errors.full_messages_for(:'value[0]'),
  id: @conditions_form.field_id(:starting_value, "error") %>
  </div>
  <div
    class="
      value form-field w-full <%= 'invalid' if invalid_ending_value %>
      <%= 'invisible @max-xl:hidden' if operator_exists %>
    "
  >
    <%= @conditions_form.label :"ending_value", data: { required: true } %>

    <%= @conditions_form.text_field :value,
    id: "#{@conditions_form.field_id(:"ending_value")}",
    multiple: true,
    value: @condition.value.blank? ? nil : @condition.value[1],
                                "aria-label": I18n.t('components.advanced_search_component.v1.ending_value'),
                                "aria-invalid": invalid_ending_value,
                                "aria-describedby":
                                  @conditions_form.field_id(:ending_value, "error") %>

    <%= render "shared/form/field_errors",
  errors: @condition.errors.full_messages_for(:'value[1]'),
  id: @conditions_form.field_id(:ending_value, "error") %>
  </div>
<% end %>
