<li class="mb-4 ms-4 activity">
  <div
    class="
      absolute w-3 h-3 bg-slate-200 rounded-full mt-1.5 -start-1.5 border border-white
      dark:border-slate-700 dark:bg-slate-700
    "
  ></div>
  <div
    class="
      mb-1 text-sm font-normal leading-none text-slate-500 dark:text-slate-400
    "
  ><%= helpers.local_time(activity[:created_at], :long) %></div>
  <p class="mb-4 text-base font-normal text-slate-500 dark:text-slate-400">
    <% if activity[:type] == 'Namespace' && activity[:key].include?('group') %>
      <% if metadata_template_action %>
        <%= render Activities::Groups::MetadataTemplateActivityComponent.new(
          activity: activity,
        ) %>
      <% elsif transfer_in_action %>
        <%= render Activities::Groups::TransferInActivityComponent.new(activity: activity) %>
      <% elsif transfer_out_action %>
        <%= render Activities::Groups::TransferOutActivityComponent.new(activity: activity) %>
      <% elsif subgroup_action %>
        <%= render Activities::Groups::SubgroupActivityComponent.new(activity: activity) %>
      <% elsif member_action %>
        <%= render Activities::MemberActivityComponent.new(activity: activity) %>
      <% elsif project_crud_action %>
        <%= render Activities::Groups::Projects::CrudActivityComponent.new(
          activity: activity,
        ) %>
      <% elsif project_transfer_action %>
        <%= render Activities::Groups::Projects::TransferActivityComponent.new(
          activity: activity,
        ) %>
      <% elsif group_link_action %>
        <%= render Activities::NamespaceGroupLinkActivityComponent.new(activity: activity) %>
      <% elsif sample_action %>
        <%= render Activities::Groups::SampleActivityComponent.new(activity: activity) %>
      <% else %>
        <%= render Activities::GroupActivityComponent.new(activity: activity) %>
      <% end %>
    <% elsif activity[:type] == 'Namespace' && activity[:key].include?('project_namespace') %>
      <% if group_link_action %>
        <%= render Activities::NamespaceGroupLinkActivityComponent.new(activity: activity) %>
      <% elsif metadata_template_action %>
        <%= render Activities::Projects::MetadataTemplateActivityComponent.new(
          activity: activity,
        ) %>
      <% elsif sample_action %>
        <%= render Activities::Projects::SampleActivityComponent.new(activity: activity) %>
      <% elsif sample_transfer_action %>
        <%= render Activities::Projects::SampleTransferActivityComponent.new(
          activity: activity,
        ) %>
      <% elsif sample_clone_action %>
        <%= render Activities::Projects::SampleCloneActivityComponent.new(
          activity: activity,
        ) %>
      <% elsif member_action %>
        <%= render Activities::MemberActivityComponent.new(activity: activity) %>
      <% elsif project_namespace_transfer_action %>
        <%= render Activities::Projects::TransferActivityComponent.new(activity: activity) %>
      <% else %>
        <%= render Activities::Projects::BaseActivityComponent.new(activity: activity) %>
      <% end %>
    <% elsif activity[:type] == 'WorkflowExecution' %>
      <%= render Activities::WorkflowExecutionActivityComponent.new(activity: activity) %>
    <% end %>
  </p>
</li>
