<%# locals: (sample:, abilities:) -%>
<tr
  id="<%= sample.id %>"
  class="bg-white border-b dark:bg-slate-800 dark:border-slate-700"
>
  <td class="px-6 py-3 left-0 sticky bg-slate-50 dark:bg-slate-800">
    <% if abilities[:select_sample] %>
      <%= check_box_tag "sample_ids[]",
      sample.id,
      nil,
      id: dom_id(sample),
      "aria-label": sample.name,
      data: {
        action: "input->selection#toggle",
        selection_target: "rowSelection",
      },
      class:
        "w-4 h-4 mr-2.5 text-primary-600 bg-slate-100 border-slate-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600" %>
    <% end %>
    <%= link_to namespace_project_sample_path(
                        id: sample.id,
                        namespace_id: sample.project.namespace.parent.full_path,
                        project_id: sample.project.path
                      ),
                      data: {
                        turbo: false
                      },
                      class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" do %>
      <span class="font-semibold">
        <%= highlight(
          sample.puid,
          defined?(params[:q][:name_or_puid_cont]) && params[:q][:name_or_puid_cont],
          highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
        ) %>
      </span>
    <% end %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= link_to namespace_project_sample_path(
                        id: sample.id,
                        namespace_id: sample.project.namespace.parent.full_path,
                        project_id: sample.project.path
                      ),
                      data: {
                        turbo: false
                      },
                      class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" do %>
      <span class="font-semibold">
        <%= highlight(
          sample.name,
          defined?(params[:q][:name_or_puid_cont]) && params[:q][:name_or_puid_cont],
          highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
        ) %>
      </span>
    <% end %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= viral_tooltip(title: project_path(sample.project)) do %>
      <%= link_to sample.project.abbreviated_path,
      project_path(sample.project),
      data: {
        turbo: false,
      },
      class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" %>
    <% end %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= l(sample.created_at.localtime, format: :full_date) %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <%= viral_time_ago(original_time: sample.updated_at) %>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <% if sample.attachments_updated_at.present? %>
      <%= viral_time_ago(original_time: sample.attachments_updated_at) %>
    <% end %>
  </td>
  <% @fields.each do |column| %>
    <td class="px-6 py-3 whitespace-nowrap">
      <%= sample.metadata[column] %>
    </td>
  <% end %>
</tr>
