<%= form_with model: @query, scope: :q, url: search_group_samples_url, method: :post, data: { controller: "filters selection metadata-toggle", "metadata-toggle-page-value": @pagy&.page, "filters-selection-outlet": "#samples-table" }, class: "filters flex items-center space-x-2" do |f| %>
  <%= f.label :name_or_puid_cont, t(".search.placeholder"), class: "sr-only" %>
  <div class="relative">
    <%= f.search_field :name_or_puid_cont,
                   **{ value: @search_params[:name_or_puid_cont] }.compact,
                   "data-action": "selection#clear",
                   class:
                     "t-search-component block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                   placeholder: t(".search.placeholder") %>
    <div
      class="
        absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
      "
    >
      <%= viral_icon(
        name: "magnifying_glass",
        classes: "w-4 h-4 text-slate-500 dark:text-slate-400",
      ) %>
    </div>
  </div>
  <input type="hidden" name="format" value="turbo_stream"/>
  <input type="hidden" name="limit" value="<%=@pagy&.limit%>"/>
  <%= render AdvancedSearchComponent.new(
    form: f,
    search: @query,
    fields: @advanced_search_fields,
    operations: %w[= != <= >= contains exists not_exists in not_in],
    open: @query.errors.any?,
    status: @query.advanced_query?,
  ) %>
  <%= render MetadataTemplatesDropdownComponent.new(
    metadata_templates: @metadata_templates,
    form: f,
    selected: @search_params[:metadata_template],
  ) %>
  <%= f.submit hidden: true %>
<% end %>
<%= form_with url: list_group_metadata_templates_url(@group), data: { turbo_frame: "metadata_templates", turbo_stream: true }, method: :get do |f| %>
  <%= f.submit "BUTTON" %>
<% end %>
