<div role="status" class="sr-only"><%= @results_message %></div>

<%= form_with model: @query, scope: :q, url: search_group_samples_url, method: :post, data: {
  turbo_action: 'replace',
  controller: "filters selection metadata-toggle",
  "metadata-toggle-page-value": @pagy&.page,
  "filters-selection-outlet": "#samples-table",
}, class: "filters flex items-end space-x-2" do |f| %>
  <%= render SearchFieldComponent.new(
    label: t(".search.label"),
    placeholder: t(".search.placeholder"),
    form: f,
    field_name: :name_or_puid_cont,
    value: @search_params[:name_or_puid_cont],
  ) %>
  <input type="hidden" name="format" value="turbo_stream"/>
  <input type="hidden" name="limit" value="<%=@pagy&.limit%>"/>
  <%= render AdvancedSearchComponent.new(
    form: f,
    search: @query,
    sample_fields: @sample_fields,
    metadata_fields: @metadata_fields,
    open: @query.errors.any?,
    status: @query.advanced_query?,
  ) %>
  <%= f.submit hidden: true %>
<% end %>
