<div role="status" class="sr-only"><%= @results_message %></div>

<%= form_with model: @query, html: { role: "search" }, scope: :q, url: search_group_samples_url, method: :post, data: {
  turbo_action: 'replace',
  controller: "form--json-submission filters metadata-toggle",
  "metadata-toggle-page-value": @pagy&.page,
  "filters-selection-outlet": "#samples-table",
  "form--json-submission-target": "form",
}, class: "filters contents" do |f| %>
  <div class="max-sm:grow">
    <%= render SearchFieldComponent.new(
      label: t("common.controls.search"),
      placeholder: t(".search.placeholder"),
      form: f,
      field_name: :name_or_puid_cont,
      value: @search_params[:name_or_puid_cont],
      data: {
        "search-field-selection-outlet": "#samples-table",
      },
    ) %>
    <input type="hidden" name="format" value="turbo_stream"/>
    <input type="hidden" name="limit" value="<%=@pagy&.limit%>"/>
  </div>
  <div class="max-sm:grow">
    <%= render AdvancedSearchComponent.new(
      form: f,
      search: @query,
      sample_fields: @sample_fields,
      metadata_fields: @metadata_fields,
      open: @query.errors.any?,
      status: @query.advanced_query?,
    ) %>
    <%= f.submit hidden: true %>
  </div>
<% end %>
