<div class="relative overflow-x-auto" data-turbo-temporary>
  <table
    class="
      w-full
      text-sm
      text-left
      rtl:text-right
      text-slate-500
      dark:text-slate-400
    "
  >
    <thead
      class="
        text-xs
        text-slate-700
        uppercase
        bg-slate-50
        dark:bg-slate-700
        dark:text-slate-400
      "
    >
    <tr>
      <th
        scope="col"
        class="
            px-6
            py-3
            whitespace-nowrap
            text-left
            bg-slate-50
            dark:bg-slate-700
            sticky
            left-0
            z-10
          "
      >
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(".sample"),
          url: sorting_url(@q, :name),
          field: :name
        ) %>
      </th>
      <th
        scope="col"
        class="px-6 py-3 whitespace-nowrap text-left cursor-not-allowed"
      >
        <%= t(".project") %>
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-left">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(".created_at"),
          url: sorting_url(@q, :created_at),
          field: :created_at
        ) %>
      </th>
      <th scope="col" class="px-6 py-3 whitespace-nowrap text-left">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(".updated_at"),
          url: sorting_url(@q, :updated_at),
          field: :updated_at
        ) %>
      </th>
      <% @fields.each do |column| %>
        <th
          scope="col"
          class="px-6 py-3 text-left whitespace-nowrap cursor-not-allowed"
        ><%= column %></th>
      <% end %>
    </tr>
    </thead>
    <tbody
      id="group-samples-table-body"
      class="
        bg-white
        divide-y
        divide-slate-200
        dark:bg-slate-800
        dark:divide-slate-700
      "
    >
    <% samples.each do |sample| %>
      <tr
        id="<%= dom_id(sample) %>"
        class="bg-white border-b dark:bg-slate-800 dark:border-slate-700"
      >
        <td class="px-6 py-3 whitespace-nowrap left-0 sticky bg-white dark:bg-slate-800">
          <%= link_to sample.name,
                      namespace_project_sample_path(
                        id: sample.id,
                        namespace_id: sample.project.namespace.parent.full_path,
                        project_id: sample.project.path
                      ),
                      data: {
                        turbo: false
                      },
                      class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" %>
        </td>
        <td class="px-6 py-3 whitespace-nowrap">
          <%= viral_tooltip(title: project_path(sample.project)) do %>
            <%= link_to sample.project.abbreviated_path,
                        project_path(sample.project),
                        data: {
                          turbo: false
                        },
                        class: "text-slate-900 dark:text-slate-100 font-semibold hover:underline" %>
          <% end %>
        </td>
        <td class="px-6 py-3 whitespace-nowrap">
          <%= l(sample.created_at.localtime, format: :full_date) %>
        </td>
        <td class="px-6 py-3 whitespace-nowrap">
          <%= viral_time_ago(original_time: sample.updated_at) %>
        </td>
        <% @fields.each do |column| %>
          <td class="px-6 py-3 whitespace-nowrap">
            <%= sample.metadata[column] %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
