<table class="min-w-full table-fixed dark:divide-slate-600">
  <thead class="text-slate-700 bg-slate-50 dark:bg-slate-700 dark:text-slate-400">
    <tr>
      <th scope="col" class="px-4 py-3 text-left">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(".sample"),
          url: sorting_url(@q, :name),
          field: :name
        ) %>
      </th>
      <th scope="col" class="px-4 py-3 text-left cursor-not-allowed">
        <%= t(".project") %>
      </th>
      <th scope="col" class="px-4 py-3 text-left">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(".created_at"),
          url: sorting_url(@q, :created_at),
          field: :created_at
        ) %>
      </th>
      <th scope="col" class="px-4 py-3 text-left">
        <%= render Ransack::SortComponent.new(
          ransack_obj: @q,
          label: t(".updated_at"),
          url: sorting_url(@q, :updated_at),
          field: :updated_at
        ) %>
      </th>
    </tr>
  </thead>
  <tbody
    id="group-samples-table-body"
    class="
      bg-white
      divide-y
      divide-slate-200
      dark:bg-slate-800
      dark:divide-slate-700
    "
  >
    <% samples.each do |sample| %>
      <tr
        id="<%= dom_id(sample) %>"
        class="text-sm font-normal text-slate-500 dark:text-slate-400"
      >
        <td class="px-4 py-3 whitespace-nowrap"><%= link_to sample.name,
          namespace_project_sample_path(
            id: sample.id,
            namespace_id: sample.project.namespace.parent.full_path,
            project_id: sample.project.path
          ),
          data: {
            turbo: false
          },
          class: "text-grey-900 dark:text-grey-100 font-semibold hover:underline" %>
        </td>
        <td class="px-4 py-3 whitespace-nowrap">
          <%= viral_tooltip(title: project_path(sample.project)) do %>
            <%= link_to sample.project.abbreviated_path,
            project_path(sample.project),
            data: {
              turbo: false
            },
            class: "text-grey-900 dark:text-grey-100 font-semibold hover:underline" %>
          <% end %>
        </td>
        <td class="px-4 py-3 whitespace-nowrap">
          <%= l(sample.created_at.localtime, format: :full_date) %>
        </td>
        <td class="px-4 py-3 whitespace-nowrap">
          <%= viral_time_ago(original_time: sample.updated_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
