<%= turbo_frame_tag "samples_dialog" %>
<%= turbo_frame_tag "samples_alert" %>
<%= turbo_frame_tag "selected" %>

<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @group.class.model_name.human, namespace_name: @group.name)) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex items-center space-x-2">
      <% if allowed_to?(:submit_workflow?, @group) && @pipelines_enabled %>
        <%= link_to pipeline_selection_workflow_executions_submissions_path(namespace_id: @group.id), data: { turbo_stream: true, controller: "action-link", action_link_required_value: 1 },
                  class: "button button--size-default button--state-default action-link" do %>
          <%= viral_icon(name: :rocket_launch, classes: "w-5 h-5 inline-block") %>
          <span class="sr-only"><%= t(".workflows.button_sr") %></span>
        <% end %>
      <% end %>
      <% if allowed_to?(:export_sample_data?, @group) %>
        <%= link_to t(".create_export_button"),
        new_data_export_path(export_type: "sample"),
        data: {
          turbo_stream: true,
          controller: "action-link",
          action_link_required_value: 1,
        },
        class: "button button--size-default button--state-default action-link" %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @has_samples %>
  <%= search_form_for @q, url: group_samples_url(**request.query_parameters), html: { "data-controller": "filters","data-filters-selection-outlet": "#samples-table", class: "mb-2" } do |f| %>
    <%= turbo_frame_tag "group_samples_hidden_values" %>
    <div class="flex flex-row-reverse items-center mb-4 space-x-2">
      <input type="hidden" name="format" value="turbo_stream"/>

      <%= render partial: "projects/samples/shared/metadata_toggle", locals: { form: f } %>
      <%= render ListFilterComponent.new(form: f) %>
      <%= f.label :name_or_puid_cont,
              placeholder: t(".search.placeholder"),
              class: "sr-only" %>
      <div class="relative lg:w-72">
        <div
          class="
            absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
          "
        >
          <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
        </div>
        <%= f.search_field :name_or_puid_cont,
                       "data-action": "filters#submit",
                       class:
                         "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                       placeholder: t(".search.placeholder") %>
      </div>
    </div>

    <%= turbo_frame_tag "group_samples_table" do %>
      <%= render partial: "table",
      locals: {
        samples: @samples,
        group: @group,
        pagy: @pagy,
      } %>
    <% end %>
  <% end %>
<% end %>
