<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "samples_dialog" %>
<%= turbo_frame_tag "samples_alert" %>
<%= turbo_frame_tag "selected" %>

<%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @group.class.model_name.human, namespace_name: @group.name)) do |component| %>
  <%= component.with_icon(name: "beaker", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <div class="flex items-center space-x-2">
      <% if allowed_to?(:submit_workflow?, @group) && @pipelines_enabled %>
        <%= link_to pipeline_selection_workflow_executions_submissions_path(namespace_id: @group.id),
        data: { turbo_stream: true, controller: "action-link", action_link_required_value: 1, action: "turbo:morph-element->action-link#idempotentConnect", },
                  class: "button button--size-default button--state-default action-link" do %>
          <%= viral_icon(name: :rocket_launch, classes: "w-5 h-5 inline-block") %>
          <span class="sr-only"><%= t(".workflows.button_sr") %></span>
        <% end %>
      <% end %>
      <% if allowed_to?(:export_sample_data?, @group) %>
        <%= viral_dropdown(label: t(".create_export_button.label"), aria: { label: t('.create_export_button.label') }, caret: true, action_link: true, action_link_value: 1, classes: "font-normal button button--size-default button--state-default action-link") do |dropdown| %>
          <% if @group.metadata_fields.empty? %>
            <% dropdown.with_item(
              label: t(".create_export_button.linelist_export"),
              url: new_data_export_path(export_type: "linelist", namespace_id: @group.id),
              data: {
                turbo_stream: true
                },
              class: "flex items-center px-4 py-2 bg-slate-100 text-slate-600 dark:bg-slate-600 dark:text-slate-300
                border-slate-100 dark:border-slate-600 pointer-events-none cursor-not-allowed") %>
          <% else %>
            <% dropdown.with_item(
              label: t(".create_export_button.linelist_export"),
              url: new_data_export_path(export_type: "linelist", namespace_id: @group.id),
              data: {
                turbo_stream: true
                }
              ) %>
          <% end %>
          <% dropdown.with_item(label: t(".create_export_button.sample_export"), url: new_data_export_path(export_type: "sample", namespace_id: @group.id), data: { turbo_stream: true }) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @has_samples %>
  <div class="flow-root">
    <div class="float-left inline-flex space-x-2">
      <% if allowed_to?(:submit_workflow?, @group) || allowed_to?(:export_sample_data?, @group) %>
        <%= search_form_for(
                  @q,
                  url: select_group_samples_url(**request.query_parameters),
                  html: { "data-controller": "filters", id: "select-all-form" },
                  class: "filters align-middle"
                ) do |f| %>
          <input type="hidden" name="format" value="turbo_stream"/>
          <input type="hidden" name="select" value="on"/>
          <%= f.submit "Select All",
                   class: "button button--state-default button--size-default",
                   "data-selection-target": "selectAll" %>
        <% end %>

        <%= search_form_for(
                  @q,
                  url: select_group_samples_url(**request.query_parameters),
                  html: { "data-controller": "filters", id: "select-all-form" },
                  class: "filters align-middle"
                ) do |f| %>
          <input type="hidden" name="format" value="turbo_stream"/>
          <%= f.submit "Deselect All",
                   class: "button button--state-default button--size-default",
                   "data-selection-target": "selectAll" %>
        <% end %>
      <% end %>
    </div>
    <div class="float-right">
      <%= search_form_for @q, url: search_group_samples_url(**request.query_parameters), html: { method: :post, "data-controller": "filters", "data-turbo-action": "replace", "data-filters-selection-outlet": "#samples-table", class: "mb-2" } do |f| %>
        <%= turbo_frame_tag "group_samples_hidden_values" %>
        <div class="flex flex-row-reverse items-center mb-4 space-x-2">
          <input type="hidden" name="format" value="turbo_stream"/>

          <%= render partial: "projects/samples/shared/metadata_toggle", locals: { form: f } %>
          <%= render ListFilterComponent.new(
            form: f,
            filters: @search_params[:name_or_puid_in],
          ) %>
          <%= f.label :name_or_puid_cont,
                  placeholder: t(".search.placeholder"),
                  class: "sr-only" %>
          <div class="relative lg:w-72">
            <div
              class="
                absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
              "
            >
              <%= viral_icon(name: "magnifying_glass", classes: "h-5 w-5") %>
            </div>
            <%= f.search_field :name_or_puid_cont,
                           "data-action": "filters#submit",
                           class:
                             "block w-full p-2.5 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                           placeholder: t(".search.placeholder") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "group_samples_table" do %>
    <%= render partial: "table",
    locals: {
      samples: @samples,
      group: @group,
      pagy: @pagy,
    } %>
  <% end %>
<% end %>
