<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "samples_dialog" %>
<%= turbo_frame_tag "samples_alert" %>
<%= turbo_frame_tag "selected" %>
<%= turbo_frame_tag "file_selector_dialog" %>

<div class="fixed-table-component">
  <%= render Viral::PageHeaderComponent.new(title: t(:'.title'), subtitle: t(:'.subtitle', namespace_type: @group.class.model_name.human, namespace_name: @group.name)) do |component| %>
    <% component.with_buttons do %>
      <div class="flex items-center space-x-2">
        <% if allowed_to?(:submit_workflow?, @group) && @pipelines_enabled %>
          <%= link_to pipeline_selection_workflow_executions_submissions_path(namespace_id: @group.id),
        data: { turbo_stream: true, controller: "action-link", action_link_required_value: 1, action: "turbo:morph-element->action-link#idempotentConnect", },
                  class: "button button--size-default button--state-default action-link" do %>
            <%= viral_icon(name: :rocket_launch, classes: "w-5 h-5 inline-block") %>
            <span class="sr-only"><%= t(".workflows.button_sr") %></span>
          <% end %>
        <% end %>
        <% if allowed_to?(:export_data?, @group) %>
          <%= viral_dropdown(label: t(".create_export_button.label"), aria: { label: t('.create_export_button.label') }, caret: true, action_link: true, action_link_value: 1, classes: "font-normal button button--size-default button--state-default action-link") do |dropdown| %>
            <% if @group.metadata_fields.empty? %>
              <% dropdown.with_item(
                label: t(".create_export_button.linelist_export"),
                url: new_data_export_path(export_type: "linelist", namespace_id: @group.id),
                data: {
                  turbo_stream: true,
                },
                class:
                  "flex items-center px-4 py-2 bg-slate-100 text-slate-600 dark:bg-slate-600 dark:text-slate-300
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              border-slate-100 dark:border-slate-600 pointer-events-none cursor-not-allowed",
              ) %>
            <% else %>
              <% dropdown.with_item(
                label: t(".create_export_button.linelist_export"),
                url: new_data_export_path(export_type: "linelist", namespace_id: @group.id),
                data: {
                  turbo_stream: true,
                },
              ) %>
            <% end %>
            <% dropdown.with_item(
              label: t(".create_export_button.sample_export"),
              url: new_data_export_path(export_type: "sample", namespace_id: @group.id),
              data: {
                turbo_stream: true,
              },
            ) %>
          <% end %>
          <% if allowed_to?(:update_sample_metadata?, @group) && @has_samples %>
            <%= link_to t("groups.samples.index.import_metadata_button"),
            new_group_samples_file_import_path,
            data: {
              turbo_stream: true,
            },
            class: "button button--size-default button--state-default" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @has_samples %>
    <div class="flex @max-2xl:flex-col @max-2xl:space-y-2 mb-2">
      <div class="inline-flex grow space-x-2">
        <% if allowed_to?(:submit_workflow?, @group) || allowed_to?(:export_data?, @group) %>
          <%= form_with(
                  url: select_group_samples_url,
                  method: :get,
                  id: "select-all-form",
                  class: "filters align-middle"
                ) do |f| %>
            <input type="hidden" name="format" value="turbo_stream"/>
            <input type="hidden" name="select" value="on"/>
            <%= render "shared/samples/timestamp_input" %>
            <%= f.submit t(".select_all_button"),
                     class: "button button--state-default button--size-default" %>
          <% end %>
          <%= form_with(
                  url: select_group_samples_url,
                  method: :get,
                  id: "deselect-all-form",
                  class: "filters align-middle"
                ) do |f| %>
            <input type="hidden" name="format" value="turbo_stream"/>
            <%= f.submit t(".deselect_all_button"),
                     class: "button button--state-default button--size-default" %>
          <% end %>
        <% end %>
      </div>
      <div id="table-filter" class="flex grow-0">
        <%= render partial: "table_filter", locals: { query: @query } %>
      </div>

      <%= render partial: "shared/samples/metadata_template_dropdown",
      locals: {
        url: list_group_metadata_templates_url(@group),
        metadata_template: @metadata_template,
        pagy: @pagy,
      } %>
    </div>

    <%= render partial: "table",
    locals: {
      samples: @samples,
      group: @group,
      pagy: @pagy,
    } %>
  <% end %>
</div>
