<%= viral_dialog(open: open) do |dialog| %>
  <% dialog.with_header(
    title:
      t(
        "groups.workflow_executions.edit_dialog.title",
        workflow_execution_id: @workflow_execution.id,
      ),
  ) %>

  <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
    <p class="dark:text-slate-400">
      <%= t(
        "groups.workflow_executions.edit_dialog.description",
        workflow_execution_id: @workflow_execution.id,
      ) %>
    </p>
  </div>

  <%= form_with(model: workflow_execution, url: group_workflow_execution_path, method: :patch, class: "grid gap-4") do |form| %>
    <%= render partial: "shared/form/required_field_legend" %>

    <%= form_error_summary(form) %>

    <% invalid_name = @workflow_execution.errors.include?(:name) %>

    <div class="form-field <%= 'invalid' if invalid_name %>">
      <%= form.label :name, data: { required: true } %>

      <%= form.text_field :name,
                      autofocus: true,
                      value: @workflow_execution.name,
                      placeholder:
                        t("groups.workflow_executions.edit_dialog.name_placeholder") %>

      <%= render "shared/form/field_errors",
              id: form.field_id(:name, "error"),
              errors: @workflow_execution.errors.full_messages_for(:name) %>
    </div>

    <div class="mt-4">
      <%= form.submit t("groups.workflow_executions.edit_dialog.submit_button"),
                  class:
                    "text-sm text-white bg-primary-700 hover:bg-primary-800 rounded-lg p-2 dark:text-white dark:bg-primary-600 dark:hover:bg-primary-700 cursor-pointer" %>

      <button
        type="button"
        class="
          rounded-lg border border-slate-200 bg-white p-2 text-sm text-slate-900 hover:bg-slate-100
          hover:text-slate-950 dark:bg-slate-600 dark:text-white dark:hover:bg-slate-700
        "
        data-action="click->viral--dialog#close"
      >
        <%= t('common.actions.cancel') %>
      </button>
    </div>
  <% end %>
<% end %>
