<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= turbo_frame_tag "export_dialog" %>
<%= turbo_frame_tag "selected" %>

<%= render Viral::PageHeaderComponent.new(
  title: t("shared.workflow_executions.index.title"),
  subtitle: t(".subtitle"),
) do |component| %>
  <%= component.with_buttons do %>
    <% if @allowed_to[:export_data] && @has_workflow_executions %>
      <%= button_to t("groups.workflow_executions.index.create_export_button"),
      new_data_export_path,
      params: {
        export_type: "analysis",
        analysis_type: "group",
        namespace_id: @namespace.id,
      },
      method: :get,
      data: {
        turbo_stream: true,
        controller: "action-button",
        action_button_required_value: 1,
      },
      class: "button button-default action-button w-full" %>
    <% end %>
  <% end %>
<% end %>

<% if @has_workflow_executions %>
  <div class="flex flex-wrap gap-2 mb-4">
    <%= form_with(
                  url: select_group_workflow_executions_url,
                  method: :get,
                  id: "select-all-form",
                  class: "max-sm:grow",
                ) do |f| %>
      <input type="hidden" name="format" value="turbo_stream">
      <input type="hidden" name="select" value="on">

      <%= f.submit t("common.controls.select_all"), class: "button button-default w-full" %>
    <% end %>

    <%= form_with(
                  url: select_group_workflow_executions_url,
                  method: :get,
                  id: "deselect-all-form",
                  class: "max-sm:grow",
                ) do |f| %>
      <input type="hidden" name="format" value="turbo_stream">

      <%= f.submit t("common.controls.deselect_all"),
               class: "button button-default w-full" %>
    <% end %>

    <div class="sm:grow max-sm:hidden" role="presentation"></div>

    <%= render SearchComponent.new(
      query: @q,
      url: group_workflow_executions_path(**request.query_parameters),
      search_attribute: :name_or_id_cont,
      label: t("common.controls.search"),
      placeholder: t("shared.workflow_executions.index.search.placeholder"),
      total_count: @pagy.count,
      class: "max-sm:grow",
      value: @q.name_or_id_cont,
      data: {
        "search-field-selection-outlet": "#workflow-executions-table",
      },
    ) %>
    <%= form_with model: @query, html: { role: "search" }, scope: :q, url: group_workflow_executions_path(**request.query_parameters), method: :get, class: "max-sm:grow" do |f| %>
      <%= render AdvancedSearchComponent.new(
        form: f,
        search: @query,
        entity_fields: ['id', 'name', 'state', 'run_id', 'created_at', 'updated_at'],
        jsonb_fields: ['workflow_name', 'workflow_version'],
        field_label_namespace: 'workflow_executions.table_component',
        open: @query.errors.any?,
        status: @query.advanced_query?,
      ) %>
      <%= f.submit hidden: true %>
    <% end %>

  </div>
<% end %>

<%= render partial: "workflow_executions/table",
locals: {
  workflow_executions: @workflow_executions,
  pagy: @pagy,
  q: @q,
  has_workflow_executions: @has_workflow_executions,
  namespace: @namespace,
  empty_title: t(:"groups.workflow_executions.table.empty.title"),
  empty_description: t(:"groups.workflow_executions.table.empty.description"),
} %>
