<div class="sample-sheet">
  <div class="hidden" data-nextflow--samplesheet-target="workflowAttributes">
    <%= samples_workflow_executions_attributes %>
  </div>
  <div class="hidden" data-nextflow--samplesheet-target="samplesheetProperties">
    <%= @properties.to_json %>
  </div>
  <label class="block mb-2 text-sm font-medium text-slate-900 dark:text-white"><%= t(".label") %></label>
  <div
    role="alert"
    class="
      hidden flex items-center p-4 border-l-4 text-red-800 border-red-300 bg-red-50
      dark:text-red-400 dark:bg-slate-800 dark:border-red-800 mb-2
    "
    data-nextflow--samplesheet-target="error"
  >
    <span class="flex-shrink-0 inline">
      <%= viral_icon(name: "exclamation_circle", classes: "w-5 h-5 mr-3 stroke-2") %>
    </span>
    <div>
      <div class="font-medium" data-nextflow--samplesheet-target="errorMessage"></div>
    </div>
  </div>
  <div
    data-nextflow--samplesheet-target="table"
    class="
      samplesheet-table flex border dark:border-slate-600 border-slate-100 max-h-72
      overflow-y-auto relative mb-1
    "
  >
    <% properties.each do |header, property| %>
      <%= render Nextflow::Samplesheet::ColumnComponent.new(
        namespace_id:,
        header:,
        property:,
        samples: @samples,
        metadata_fields:,
        required_properties:,
        workflow_params:,
      ) %>
    <% end %>
    <template data-nextflow--samplesheet-target="processing">
      <div
        role="status"
        class="
          absolute h-full w-full text-black dark:text-white backdrop-blur-sm flex
          items-center justify-center z-20
        "
      >
        <span class="flex items-center p-4 space-x-4">
          <span class="flex-shrink-0">
            <%= viral_icon(name: :loading, classes: "animate-spin text-primary-500 h-5 w-5") %>
          </span>
          <span class="font-bold"><%= t(".processing_request") %></span>
        </span>
      </div>
    </template>
  </div>
  <div class="flex items-center justify-end">
    <nav aria-label="Pagination">
      <ul class="inline-flex h-10 text-base">
        <li><button
            type="button"
            class="
              flex items-center justify-center px-4 h-10 ms-0 leading-tight border
              border-slate-300 dark:border-slate-700 cursor-default text-slate-600 bg-slate-50
              dark:bg-slate-700 dark:text-slate-400 border-e-0 rounded-s-lg
            "
            data-action="click->nextflow--samplesheet#previousPage"
            data-nextflow--samplesheet-target="previousBtn"
          >Previous</button>
        </li>
        <li><select
            class="
              flex items-center justify-center px-4 h-10 ms-0 leading-tight border
              border-slate-300 dark:border-slate-700 text-slate-500 bg-white
              hover:bg-slate-100 hover:text-slate-700 dark:bg-slate-800 dark:text-slate-400
              dark:hover:bg-slate-700 dark:hover:text-white cursor-pointer
            "
            data-nextflow--samplesheet-target="pageNum"
            data-action="change->nextflow--samplesheet#pageSelected"
          ></select>
        </li>
        <li><button
            class="
              flex items-center justify-center px-4 h-10 ms-0 leading-tight border
              border-slate-300 dark:border-slate-700 text-slate-500 bg-white
              hover:bg-slate-100 hover:text-slate-700 dark:bg-slate-800 dark:text-slate-400
              dark:hover:bg-slate-700 dark:hover:text-white rounded-e-lg
            "
            type="button"
            data-nextflow--samplesheet-target="nextBtn"
            data-action="click->nextflow--samplesheet#nextPage"
          >Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<template data-nextflow--samplesheet-target="cellContainer">
  <div
    style="content-visibility: auto;"
    class="border table-td dark:border-slate-600 border-slate-100"
  >
  </div>
</template>

<template data-nextflow--samplesheet-target="sampleIdentifierCell">
  <div class="p-2.5 sticky left-0">
    CELL_PLACEHOLDER
  </div>
</template>

<template data-nextflow--samplesheet-target="dropdownCell">
  <select
    aria-label="COLUMN_NAME_PLACEHOLDER"
    class="
      w-full focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-slate-700
      bg-slate-50 border-none dark:border-none dark:placeholder-slate-400 text-inherit
      text-sm dark:focus:ring-primary-500 dark:focus:border-primary-500 cursor-pointer
    "
    data-action="change->nextflow--samplesheet#updateEditableSamplesheetData"
    name="workflow_execution[samples_workflow_executions_attributes][INDEX_PLACEHOLDER][samplesheet_params][COLUMN_NAME_PLACEHOLDER]"
    id="workflow_execution_samples_workflow_executions_attributes_INDEX_PLACEHOLDER_samplesheet_params_COLUMN_NAME_PLACEHOLDER"
  >
    <option value="" label=" "></option>
  </select>
</template>

<template data-nextflow--samplesheet-target="fileCell">
  <div>
    <%= link_to new_workflow_executions_file_selector_path(
  "file_selector[attachable_id]": "ATTACHABLE_ID_PLACEHOLDER",
  "file_selector[attachable_type]": "ATTACHABLE_TYPE_PLACEHOLDER",
  "file_selector[index]": "INDEX_PLACEHOLDER",
  "file_selector[selected_id]": "SELECTED_ID_PLACEHOLDER",
  "file_selector[property]": "PROPERTY_PLACEHOLDER",
  "file_selector[required_properties]": @required_properties,
  "file_selector[file_type]": "FILE_TYPE_PLACEHOLDER",
  "file_selector[file_selector_arguments]": {workflow_params:, patterns:}
),
data: {
  turbo_stream: "true",
} do %>
      <div
        id="<%="ATTACHABLE_ID_PLACEHOLDER_PROPERTY_PLACEHOLDER" %>"
        class="
          w-full focus:ring-primary-500 focus:border-primary-500 p-2 dark:bg-inherit
          bg-inherit dark:placeholder-slate-400 text-inherit text-sm
          dark:focus:ring-primary-500 dark:focus:border-primary-500 cursor-pointer
          hover:border-slate-300 border-transparent border-2
        "
        <% if @required_properties.present? && @required_properties.include?(@property) %>
        data-file-missing="<%= @selected.empty? ? "true" : "false" %>"
        <% end %>
      >
        <%# <%= @selected.empty? ? t(".no_selected_file") : @selected[:filename] %>
        CELL_VALUE_PLACEHOLDER
      </div>
    <% end %>
  </div>
</template>

<template data-nextflow--samplesheet-target="metadataCell">
  <div class="p-2.5 text-nowrap">
    <span class="h-3.5 inline-block">METADATA_VALUE_PLACEHOLDER</span>
  </div>
</template>

<template data-nextflow--samplesheet-target="textCell">
  <input
    class="
      bg-slate-50 border-0 text-slate-900 text-sm focus:ring-primary-500 block w-full
      p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400
      dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500
    "
    data-action="change->nextflow--samplesheet#updateEditableSamplesheetData"
    type="text"
    name="NAME_PLACEHOLDER"
    id="ID_PLACEHOLDER"
  >
</template>
