<div class="sample-sheet">
  <div class="hidden" data-nextflow--samplesheet-target="workflowAttributes">
    <%= samples_workflow_executions_attributes.to_json %>
  </div>
  <div class="hidden" data-nextflow--samplesheet-target="samplesheetProperties">
    <%= @properties.to_json %>
  </div>
  <div class="flex justify-between mb-2">
    <label class="mt-auto text-sm font-medium text-slate-900 dark:text-white"><%= t(".label") %></label>
    <div class="relative">
      <label class="sr-only" for="samplesheet-filter"><%= t(".filter_placeholder") %></label>
      <input
        id="samplesheet-filter"
        data-nextflow--samplesheet-target="filter"
        data-action="search->nextflow--samplesheet#filter"
        class="
          t-search-component block w-full p-2.5 pl-10 text-sm text-slate-900 border
          border-slate-300 rounded-lg bg-slate-50 focus:ring-primary-500
          focus:border-primary-500 dark:bg-slate-700 dark:border-slate-600
          dark:placeholder-slate-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500
        "
        placeholder="<%= t('.filter_placeholder')%>"
        type="search"
      />
      <div
        class="
          absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none
        "
      >
        <%= viral_icon(
          name: "magnifying_glass",
          classes: "w-4 h-4 text-slate-500 dark:text-slate-400",
        ) %>
      </div>
    </div>
  </div>
  <div
    role="alert"
    class="
      flex items-center hidden p-4 mb-2 text-red-800 border-l-4 border-red-300
      bg-red-50 dark:text-red-400 dark:bg-slate-800 dark:border-red-800
    "
    data-nextflow--samplesheet-target="error"
  >
    <span class="inline shrink-0">
      <%= viral_icon(name: "exclamation_circle", classes: "w-5 h-5 mr-3 stroke-2") %>
    </span>
    <div>
      <div
        class="font-medium whitespace-break-spaces"
        data-nextflow--samplesheet-target="errorMessage"
      ></div>
    </div>
  </div>
  <div
    data-nextflow--samplesheet-target="table"
    class="
      relative flex mb-1 overflow-y-auto border samplesheet-table
      dark:border-slate-600 border-slate-100 max-h-72
    "
  >
    <% properties.each do |header, property| %>
      <%= render Nextflow::Samplesheet::HeaderComponent.new(
        namespace_id:,
        header:,
        property:,
        samples: @samples,
        metadata_fields:,
        required_properties:,
        workflow_params:,
      ) %>
    <% end %>
  </div>
  <div
    data-nextflow--samplesheet-target="emptyState"
    class="flex justify-center hidden"
  >
    <%= render Viral::EmptyStateComponent.new(
      icon_name: :magnifying_glass,
      title: t("components.viral.pagy.empty_state.title"),
      description: t("components.viral.pagy.empty_state.description"),
    ) %>
  </div>
  <div
    data-nextflow--samplesheet-target="paginationContainer"
    class="flex items-center justify-end"
  >
  </div>
</div>

<template data-nextflow--samplesheet-target="cellContainer">
  <div
    style="content-visibility: auto;"
    class="border table-td dark:border-slate-600 border-slate-100"
  >
  </div>
</template>

<template data-nextflow--samplesheet-target="sampleIdentifierCell">
  <div class="p-2.5 sticky left-0">
    SAMPLE_IDENTIFIER
  </div>
</template>

<template data-nextflow--samplesheet-target="dropdownCell">
  <select
    aria-label="COLUMN_NAME_PLACEHOLDER"
    class="
      w-full focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-slate-700
      bg-slate-50 border-none dark:border-none dark:placeholder-slate-400 text-inherit
      text-sm dark:focus:ring-primary-500 dark:focus:border-primary-500 cursor-pointer
    "
    data-action="change->nextflow--samplesheet#updateEditableSamplesheetData"
    name="workflow_execution[samples_workflow_executions_attributes][INDEX_PLACEHOLDER][samplesheet_params][COLUMN_NAME_PLACEHOLDER]"
    id="workflow_execution_samples_workflow_executions_attributes_INDEX_PLACEHOLDER_samplesheet_params_COLUMN_NAME_PLACEHOLDER"
  >
    <option value="" label=" "></option>
  </select>
</template>

<template data-nextflow--samplesheet-target="fileCell">
  <%= link_to "FILENAME_PLACEHOLDER",
  new_workflow_executions_file_selector_path(
    "file_selector[attachable_id]": "ATTACHABLE_ID_PLACEHOLDER",
    "file_selector[attachable_type]": "ATTACHABLE_TYPE_PLACEHOLDER",
    "file_selector[index]": "INDEX_PLACEHOLDER",
    "file_selector[selected_id]": "SELECTED_ID_PLACEHOLDER",
    "file_selector[property]": "PROPERTY_PLACEHOLDER",
    "file_selector[pattern]": "PATTERN_PLACEHOLDER",
    "file_selector[required_properties]": @required_properties,
  ),
  data: {
    turbo_stream: "true",
  },
  id: "ATTACHABLE_ID_PLACEHOLDER_PROPERTY_PLACEHOLDER",
  class:
    "block p-2 text-sm border-2 border-transparent focus:ring-primary-500 focus:border-primary-500 cursor-pointer bg-inherit text-inherit dark:focus:border-primary-500 hover:border-slate-300" %>
</template>

<template data-nextflow--samplesheet-target="metadataCell">
  <div class="p-2.5 text-nowrap">
    <span class="h-3.5 inline-block">METADATA_PLACEHOLDER</span>
  </div>
</template>

<template data-nextflow--samplesheet-target="textCell">
  <label for="ID_PLACEHOLDER" class="sr-only">NAME_PLACEHOLDER</label>
  <input
    class="
      bg-slate-50 border-0 text-slate-900 text-sm focus:ring-primary-500 block w-full
      p-2.5 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400
      dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500
    "
    data-action="change->nextflow--samplesheet#updateEditableSamplesheetData"
    type="text"
    name="NAME_PLACEHOLDER"
    id="ID_PLACEHOLDER"
  />
</template>

<template data-nextflow--samplesheet-target="pagination">
  <nav aria-label="<%= t("viral.pagy.pagination_component.aria-label") %>">
    <ul class="inline-flex h-10 text-base">
      <li><button
          type="button"
          class="
            flex items-center justify-center h-10 px-4 leading-tight border cursor-default
            ms-0 border-slate-300 dark:border-slate-700 text-slate-600 bg-slate-50
            dark:bg-slate-700 dark:text-slate-400 border-e-0 rounded-s-lg
          "
          data-action="click->nextflow--samplesheet#previousPage"
          data-nextflow--samplesheet-target="previousBtn"
          disabled="disabled"
        ><%= t(".previous") %></button>
      </li>
      <li>
        <label class="sr-only" for="pagination-page-selector"><%= t(".page_selection.aria_label") %></label>
        <select
          style="width: 80px;"
          class="
            flex items-center justify-center h-10 px-4 leading-tight bg-white border
            cursor-pointer ms-0 border-slate-300 dark:border-slate-700 text-slate-500
            hover:bg-slate-100 hover:text-slate-700 dark:bg-slate-800 dark:text-slate-400
            dark:hover:bg-slate-700 dark:hover:text-white focus:ring-0
            focus:border-primary-500 dark:focus:border-primary-500
          "
          data-nextflow--samplesheet-target="pageNum"
          data-action="change->nextflow--samplesheet#pageSelected"
          id="pagination-page-selector"
        ><option value="1" selected="selected">1</option></select>
      </li>
      <li><button
          class="
            flex items-center justify-center h-10 px-4 leading-tight bg-white border
            border-l-0 ms-0 border-slate-300 dark:border-slate-700 text-slate-500
            hover:bg-slate-100 hover:text-slate-700 dark:bg-slate-800 dark:text-slate-400
            dark:hover:bg-slate-700 dark:hover:text-white rounded-e-lg
          "
          type="button"
          data-nextflow--samplesheet-target="nextBtn"
          data-action="click->nextflow--samplesheet#nextPage"
        ><%= t(".next") %></button>
      </li>
    </ul>
  </nav>
</template>

<template data-nextflow--samplesheet-target="metadataHeaderForm">
  <%= form_with url: fields_workflow_executions_metadata_path do |f| %>
    <%= f.hidden_field :format,
                   value: "turbo_stream",
                   id: "field_HEADER_PLACEHOLDER_turbo" %>
    <%= f.hidden_field :namespace_id,
                   value: namespace_id,
                   id: "namespace_HEADER_PLACEHOLDER" %>
    <%= f.hidden_field :header,
                   value: "HEADER_PLACEHOLDER",
                   id: "header_HEADER_PLACEHOLDER" %>
    <%= f.hidden_field :name_format,
                   value:
                     "workflow_execution[samples_workflow_executions_attributes][INDEX][samplesheet_params]",
                   id: "format_HEADER_PLACEHOLDER" %>
    <% @samples.each do |sample| %>
      <%= f.hidden_field :sample_ids,
                     value: sample.id,
                     id: "sample-#{sample.id}-HEADER_PLACEHOLDER",
                     multiple: true %>
    <% end %>
    <%= f.hidden_field :field, value: "FIELD_PLACEHOLDER" %>
  <% end %>
</template>
