<%= viral_dialog(open: open, classes: ["overflow-visible"]) do |dialog| %>
  <%= dialog.with_header(title: t(".select_file")) %>
  <%= dialog.with_section do %>
    <%= form_with url: file_selector_index_path(file_selector: file_selector_params), method: :post do |form| %>
      <input type="hidden" name="format" value="turbo_stream"/>
      <% if @listing_attachments.empty? %>
        <div class="empty_state_message mb-2">
          <%= viral_empty(
            title: t(".empty.title"),
            description: t(".empty.description"),
            icon_name: :document_text,
          ) %>
        </div>
        <%= form.hidden_field "attachment_id", value: "no_attachment" %>
      <% else %>
        <table
          class='
            w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
            whitespace-nowrap mb-2
          '
        >
          <thead
            class='
              sticky top-0 z-10 text-xs uppercase text-slate-700 bg-slate-50 dark:bg-slate-700
              dark:text-slate-300
            '
          >
            <tr>
              <th
                class="
                  px-3 py-3 sticky left-56 z-10 bg-slate-50 dark:bg-slate-700
                "
                aria-hidden="true"
              >
              </th>
              <th class="px-3 py-3 sticky left-56 z-10 bg-slate-50 dark:bg-slate-700">
                <%= t(".headers.filename") %>
              </th>
              <th class="px-3 py-3 sticky left-56 z-10 bg-slate-50 dark:bg-slate-700">
                <%= t(".headers.size") %>
              </th>
              <th class="px-3 py-3 sticky left-56 z-10 bg-slate-50 dark:bg-slate-700">
                <%= t(".headers.created_at") %>
              </th>
            </tr>
          </thead>

          <tbody
            class='
              overflow-y-auto bg-white divide-y divide-slate-200 dark:bg-slate-800
              dark:divide-slate-700
            '
          >
            <% @listing_attachments.each do |attachment| %>
              <tr class=" bg-white border-b dark:bg-slate-800 dark:border-slate-700 ">
                <td>
                  <%= form.radio_button "attachment_id",
                                    attachment[:id],
                                    checked:
                                      file_selector_params["selected_id"] &&
                                        file_selector_params["selected_id"] == attachment[:id],
                                    class:
                                      "w-4 h-4 text-primary-600 bg-slate-100 border-slate-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-400" %>

                </td>
                <th class="px-3 py-3">
                  <%= attachment[:filename] %>
                </th>
                <td class="px-3 py-3">
                  <%= number_to_human_size(attachment[:byte_size]) %>
                </td>
                <td class="px-3 py-3">
                  <%= local_time_ago(attachment[:created_at]) %>
                </td>
              </tr>
            <% end %>
            <% unless file_selector_params["required_properties"].include?(file_selector_params["property"]) %>
              <tr>
                <td>
                  <%= form.radio_button "attachment_id",
                                    "no_attachment",
                                    checked: file_selector_params["selected_id"].nil?,
                                    class:
                                      "w-4 h-4 text-primary-600 bg-slate-100 border-slate-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-400" %>

                </td>
                <th class="px-3 py-3">
                  <%= t(".no_file") %>
                </th>
              </tr>
            <% end %>

          </tbody>

        </table>

      <% end %>
      <%= form.submit t(".submit_button"),
                  class:
                    "inline-flex items-center justify-center text-sm border rounded-md cursor-pointer sm:w-auto focus:z-10 focus:outline-none text-white bg-primary-700 hover:bg-primary-800 focus:ring-0 rounded-md px-5 py-3 dark:text-white dark:bg-primary-600 dark:hover:bg-primary-700 dark:border-primary-900 dark:hover:bg-primary-700" %>
    <% end %>

  <% end %>
<% end %>
