<tr id="<%= dom_id(attachment) %>" class="bg-white border-b dark:bg-slate-800 dark:border-slate-700">
  <% if attachment.associated_attachment && attachment.metadata['direction'] == 'forward' %>
  <td class="px-6 py-4">
    <div>
      <div class="flex mb-4 items-center">
        <%= viral_icon(name: :arrow_right, color: :subdued, classes: "h-6 w-6 ml-0 mr-2") %>
        <span>
          <%= link_to attachment.file.filename,
          download_namespace_project_sample_attachment_path(
            sample_id: @sample.id,
            id: attachment.id
          ),
          data: {
            turbo: false
          } %>
        </span>
      </div>
      <div class="flex items-center">
      <%= viral_icon(name: :arrow_left, color: :subdued, classes: "h-6 w-6 ml-0 mr-2") %>
      <span>
        <%= link_to attachment.associated_attachment_filename,
        download_namespace_project_sample_attachment_path(
          sample_id: @sample.id,
          id: attachment.metadata['associated_attachment_id']
        ),
        data: {
          turbo: false
        } %>
      </span>
      </div>
    </div>
  </td>
  <% else %>
  <td scope="row" class="px-6 py-4"><%= link_to attachment.file.filename,
    download_namespace_project_sample_attachment_path(
      sample_id: @sample.id,
      id: attachment.id
    ),
    data: {
      turbo: false
    } %>
  </td>
  <% end %>

  <% if attachment.metadata['format'] == 'fasta' %>
    <% format_color = 'blue' %>
  <% elsif attachment.metadata['format'] == 'fastq' %>
    <% format_color = 'green' %>
  <% elsif attachment.metadata['format'] == 'unknown' %>
    <% format_color = 'gray' %>
  <% end %>
  <td class="px-6 py-4"><%= viral_pill(text: attachment.metadata['format'], color: format_color )%></td>

  <% if attachment.metadata['type'] == 'assembly' %>
    <% type_color = 'pink' %>
  <% elsif attachment.metadata['type'] == 'illumina_pe' %>
    <% type_color = 'purple' %>
  <% end %>
  <td class="px-6 py-4"><%= viral_pill(text: attachment.metadata['type'], color: type_color) %></td>

  <% if attachment.associated_attachment %>
  <td class="px-6 py-4">
    <div class="mb-4">
      <%= number_to_human_size(attachment.file.blob.byte_size) %>
    </div>
    <div>
      <%= number_to_human_size(attachment.associated_attachment.file.blob.byte_size) %>
    </div>
  </td>
  <% else %>
  <td class="px-6 py-4"><%= number_to_human_size(attachment.file.blob.byte_size) %></td>
  <% end %>

  <td class="px-6 py-4">
    <%= viral_time_ago(original_time: attachment.created_at) %>
  </td>

  <td class="px-6 py-4">
    <% if allowed_to?(:update_sample?, @project) %>
      <%= button_to(
        t(".delete"),
        namespace_project_sample_attachment_path(
          sample_id: @sample.id,
          id: attachment.id
        ),
        method: "delete",
        form: {
          data: {
            "turbo-frame": "attachments",
            "turbo-confirm": t(".delete_confirm")
          }
        },
        class: "button button--state-destructive button--size-default"
      ) %>
    <% end %>
  </td>
</tr>
