<%= viral_dialog(open: open, size: :large) do |dialog| %>
  <%= dialog.with_header(title: t(".title")) %>
  <%= dialog.with_section do %>

    <%= turbo_frame_tag("deletion-alert") %>

    <div
      data-controller="selection"
      data-selection-delete-id-param="<%= @attachment.id %>"
      data-selection-storage-key-value='<%="files-#{@sample.id}" %>'
      class="mb-4 font-normal text-slate-500 dark:text-slate-400 overflow-x-visible">
      <p class="mb-4">
        <%= t(".description") %>
      </p>
      <%= form_for(:deletion, url: namespace_project_sample_attachment_path(id: @attachment.id), method: :delete) do |form| %>
        <%= form.submit t(".submit_button"),
                    class: "
                      button
                      text-sm
                      px-5
                      py-2.5
                      text-white
                      bg-red-700
                      border-red-800
                      focus:outline-none
                      hover:bg-red-800
                      focus:ring-red-300
                      dark:focus:ring-red-700
                      dark:bg-red-600
                      dark:text-white
                      dark:border-red-600
                      dark:hover:bg-red-700",
                    data: {
                      turbo_frame: "_top",
                      action: "click->selection#remove",
                      "selection-id-param": @attachment.id
                    } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
