<%= form_with(model: attachment, url: namespace_project_sample_attachments_path(sample_id: @sample.id)) do |form| %>
  <%= form.hidden_field :attachable_id %>
  <%= form.hidden_field :attachable_type %>

  <div
    class="grid gap-4"
    data-controller="attachment-upload"
    data-attachment-upload-button-text-value='<%=t("projects.samples.show.uploading") %>'
  >

    <div class="form-field">
      <%= form.label :files,
                 t("projects.samples.show.files"),
                 class:
                   "block mb-2 text-sm font-medium text-slate-900 dark:text-white" %>
      <%= form.file_field :files,
                      multiple: true,
                      direct_upload: true,
                      required: true,
                      data: {
                        "attachment-upload-target": "attachmentsInput",
                        "file-upload-ignore-value":
                          '[".fasta", ".fna", ".fa", ".fastq", ".fq"]',
                        controller: "file-upload",
                      },
                      class:
                        "block w-full mb-5 text-xs text-slate-900 border border-slate-300 rounded-lg cursor-pointer bg-slate-50 dark:text-slate-400 focus:outline-none dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400" %>
    </div>

    <div>
      <%= form.submit t("projects.samples.show.upload"),
                  class: "button button--state-primary button--size-default",
                  data: {
                    "attachment-upload-target": "submitButton",
                  } %>
    </div>
  </div>
<% end %>
