<%= form_with(model: attachment, url: namespace_project_sample_attachments_path(sample_id: @sample.id)) do |form| %>
  <div class="grid gap-4">

    <div class="form-field">
      <%= form.label :file,
                 class:
                   "block mb-2 text-sm font-medium text-slate-900 dark:text-white" %>
      <%= form.file_field :file,
                      class:
                        "block w-full mb-5 text-xs text-slate-900 border border-slate-300 rounded-lg cursor-pointer bg-slate-50 dark:text-slate-400 focus:outline-none dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400" %>
      <%= render "shared/form/field_errors",
      errors: attachment.errors.full_messages_for(:file) %>
    </div>

    <div>
      <%= form.submit t("projects.samples.show.upload_file"),
                  class: "button button--state-primary button--size-default" %>
    </div>
  </div>
<% end %>
