<div class="relative overflow-x-auto table-container" data-turbo-temporary>
  <table
    class="
      w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
      whitespace-nowrap
    "
    data-controller="selection"
    data-selection-action-link-outlet=".action-link"
    data-selection-storage-key-value="files-<%=@sample.id%>"
  >
    <thead
      class="
        text-xs uppercase border-b text-slate-700 bg-slate-100 dark:bg-slate-900
        dark:text-slate-400 border-slate-200 dark:border-slate-700
      "
    >
      <tr>
        <% if @allowed_to[:update_sample] %>
          <th aria-hidden="true" class="px-6 py-3"></th>
        <% end %>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.puid") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.filename") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.format") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.type") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.size") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.created_at") %></th>
        <th scope="col" class="px-6 py-3"><%= t("projects.samples.show.table_header.action") %></th>
      </tr>
    </thead>
    <tbody id="attachments-table-body" class="bg-white dark:bg-slate-800">
      <% attachments.each do |attachment| %>
        <% unless attachment.associated_attachment && attachment.metadata['direction'] == 'reverse' %>
          <%= render partial: "projects/samples/attachments/attachment",
          locals: {
            attachment: attachment,
          } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="empty_state_message">
    <%= viral_empty(
      title: t(:"projects.samples.show.no_files"),
      description: t(:"projects.samples.show.no_associated_files"),
      icon_name: :document_text,
    ) %>
  </div>
</div>
