<div>
  <% if @min_date %>
    <div class="text-sm text-center text-slate-900 dark:text-white">
      <%= t("pathogen.datepicker.errors.min_date_error", min_date: @min_date) %>
    </div>
  <% end %>
  <div class="flex space-x-2 rtl:space-x-reverse mt-2">
    <button
      type="button"
      class="button button-primary w-1/2"
      data-action="click->pathogen--datepicker--calendar#showToday"
      aria-label="<%= t('pathogen.datepicker.aria_label.show_today') %>"
    >
      <%= t("pathogen.datepicker.show_today") %>
    </button>
    <button
      type="button"
      class="button button-default w-1/2"
      data-action="click->pathogen--datepicker--calendar#clearSelection"
      data-pathogen--datepicker--calendar-target="clearButton"
      aria-label="<%= t('pathogen.datepicker.aria_label.clear_selection') %>"
    >
      <%= t("pathogen.datepicker.clear_selection") %>
    </button>
  </div>
</div>
