<%= turbo_frame_tag "metadata_template_modal" %>

<%= render Viral::PageHeaderComponent.new(title: t(:".title"), subtitle: t(:".subtitle")) do |component| %>
  <%= component.with_icon(name: "list_bullet", classes: "h-14 w-14 text-primary-700") %>
  <%= component.with_buttons do %>
    <% if allowed_to?(:create_metadata_templates?, @namespace) %>
      <%= link_to I18n.t("groups.metadata_templates.index.new_button"),
      new_group_metadata_template_path(@namespace, tab: @tab),
      data: {
        "turbo-frame" => "metadata_template_modal",
        :turbo_stream => true,
      },
      class: "button button--state-primary button--size-default" %>
    <% end %>
  <% end %>
<% end %>

<div class="flex flex-col">
  <%= turbo_frame_tag "metadata_templates", "data-turbo-temporary": true,
                            src:
                            (
                                  group_metadata_templates_path(
                                    format: :turbo_stream
                                  )
                              ) do %>
    <%= render partial: "shared/loading/table" %>
  <% end %>
  <%= turbo_frame_tag "metadata_templates_pagination", "data-turbo-temporary": true %>
</div>
