<%# ðŸŽ¯ Tab wrapper with presentation role %>
<%= render Pathogen::BaseComponent.new(**@wrapper_arguments) do %>
  <%# ðŸŽ¨ Tab button with proper ARIA attributes %>
  <%= render Pathogen::BaseComponent.new(**@system_arguments) do %>
    <%# ðŸŽ¨ Icon if present %>
    <% if icon %>
      <span class="mr-2" aria-hidden="true">
        <%= icon %>
      </span>
    <% end %>

    <%# ðŸ“ Tab text %>
    <span>
      <%= @text %>
    </span>

    <%# ðŸŽ¯ Count badge if present %>
    <% if count %>
      <span aria-hidden="true">
        <%= count %>
      </span>
    <% end %>
  <% end %>
<% end %>
