<p><%= t(".greeting", email: @resource.email) %></p>

<p><%= t(".instructions") %></p>

<p><%= link_to t(".reset_button"),
  edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".disclaimer_info") %></p>

<p><%= t(".link_info") %></p>
