<%= viral_dialog(open: true, size: :extra_large) do |dialog| %>
  <% dialog.with_header(title: @title) %>

  <div
    data-controller="activities--extended-details"
    data-activities--extended-details-activity-type-value="<%= activity_type %>"
    data-activities--extended-details-num-cols-value="<%= @column_headers.length %>"
  >
    <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
      <%= viral_pill(text: helpers.local_time(activity[:created_at]), color: :green) %>

      <p class="mt-2 dark:text-slate-400">
        <%= @description %>
      </p>
    </div>

    <div
      class="
        block max-h-[300px] w-full overflow-y-auto rounded-lg border border-slate-300 p-2.5 dark:border-slate-600
        dark:bg-slate-800
      "
    >
      <div class="hidden" data-activities--extended-details-target="extendedDetailsData">
        <%= @data %>
      </div>

      <table class="w-full text-left text-sm whitespace-nowrap text-slate-500 rtl:text-right dark:text-slate-400">
        <thead class="bg-slate-50 text-xs text-slate-700 uppercase dark:bg-slate-700 dark:text-slate-300">
          <tr>
            <% @column_headers.each do |column_header| %>
              <th class="px-3 py-3"><%= column_header %></th>
            <% end %>
          </tr>
        </thead>

        <tbody
          data-activities--extended-details-target="tbody"
          class="divide-y divide-slate-200 overflow-y-auto bg-white dark:divide-slate-700 dark:bg-slate-800"
        ></tbody>
      </table>
    </div>

    <div data-activities--extended-details-target="paginationContainer" class="mt-4 flex items-center justify-end"></div>

    <% if @deletion_reason.present? %>
      <div class="text-lg font-normal text-slate-500 dark:text-slate-400">
        <p class="dark:text-slate-400">
          <%= t('components.activity.dialog.sample_destroy.reason', reason: @deletion_reason) %>
        </p>
      </div>
    <% end %>

    <div class="mt-4">
      <button
        type="button"
        class="
          inline-flex w-1/2 cursor-pointer items-center justify-center rounded-lg border border-slate-200 bg-white
          px-5 py-2.5 text-sm text-slate-900 hover:bg-slate-100 hover:text-slate-950 sm:w-auto dark:border-slate-600
          dark:bg-slate-800 dark:text-slate-400 dark:hover:bg-slate-700 dark:hover:text-white
        "
        data-action="click->viral--dialog#close"
      >
        <%= t('common.controls.close') %>
      </button>
    </div>

    <template id="sampleCloneTableRow" data-activities--extended-details-target="sampleCloneTableRow">
      <tr>
        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="sampleName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>

        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="sampleName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>
      </tr>
    </template>

    <template id="workflowTableRow" data-activities--extended-details-target="workflowTableRow">
      <tr>
        <td class="px-3 py-3"><span class="mr-2" data-activities--extended-details-target="workflowName"></span></td>
        <td class="px-3 py-3"><span class="mr-2" data-activities--extended-details-target="workflowId"></span></td>
      </tr>
    </template>

    <template id="importSampleTableRow" data-activities--extended-details-target="importSampleTableRow">
      <tr>
        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="sampleName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>

        <td class="px-3 py-3"><span class="mr-2" data-activities--extended-details-target="projectId"></span></td>
      </tr>
    </template>

    <template id="groupSampleTransferTableRow" data-activities--extended-details-target="groupSampleTransferTableRow">
      <tr>
        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="sampleName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>

        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="transferredFrom"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>

        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="transferredTo"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>
      </tr>
    </template>

    <template id="destroySampleTableRow" data-activities--extended-details-target="destroySampleTableRow">
      <tr>
        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="sampleName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>

        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="projectName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>
      </tr>
    </template>

    <template id="groupSampleCloneTableRow" data-activities--extended-details-target="groupSampleCloneTableRow">
      <tr>
        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="projectId"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>

        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="sampleName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>

        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="projectId"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>

        <td class="px-3 py-3">
          <span class="mr-2" data-activities--extended-details-target="sampleName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </td>
      </tr>
    </template>

    <template data-activities--extended-details-target="pagination">
      <nav aria-label="<%= t("components.activity.dialog.pagination.aria_label") %>" aria-live="polite">
        <div class="hidden" data-activities--extended-details-target="ariaLabels">
          <%= @aria_labels %>
        </div>

        <ul class="inline-flex h-10 text-base">
          <li>
            <button
              type="button"
              class="
                cursor ms-0 flex h-10 cursor-pointer items-center justify-center rounded-s-lg border border-e-0
                border-slate-300 px-4 leading-tight text-slate-500 hover:bg-slate-100 disabled:pointer-events-none
                disabled:cursor-default disabled:bg-slate-50 disabled:text-slate-600 dark:border-slate-700
                dark:text-slate-400 dark:hover:bg-slate-700 dark:hover:text-white disabled:dark:bg-slate-700
                disabled:dark:text-slate-400
              "
              data-action="click->activities--extended-details#previousPage"
              data-activities--extended-details-target="previousBtn"
              disabled
              aria-label="<%= t("components.activity.dialog.pagination.at_first_aria_label") %>"
            >
              <%= I18n.t(:"components.activity.dialog.pagination.previous") %>
            </button>
          </li>

          <li>
            <button
              class="
                cursor flex h-10 cursor-pointer items-center justify-center rounded-e-lg border border-slate-300
                bg-white px-4 leading-tight text-slate-500 hover:bg-slate-100 hover:text-slate-700
                disabled:pointer-events-none disabled:cursor-default disabled:bg-slate-50 disabled:text-slate-600
                dark:border-slate-700 dark:bg-slate-800 dark:text-slate-400 dark:hover:bg-slate-700
                dark:hover:text-white disabled:dark:bg-slate-700 disabled:dark:text-slate-400
              "
              type="button"
              data-activities--extended-details-target="nextBtn"
              data-action="click->activities--extended-details#nextPage"
              aria-label="<%= t("components.activity.dialog.pagination.at_last_aria_label") %>"
            >
              <%= I18n.t(:"components.activity.dialog.pagination.next") %>
            </button>
          </li>
        </ul>
      </nav>
    </template>
  </div>
<% end %>
