<%= viral_dialog(open: true, size: :large, classes: ["overflow-visible"]) do |dialog| %>
  <% dialog.with_header(title: @title) %>
  <div
    data-controller="activities--extended_details"
    data-activities--extended_details-activity-type-value="<%= activity_type %>"
  >
    <div class="mb-6 text-lg font-normal text-slate-500 dark:text-slate-400">
      <%= viral_pill(
        text: helpers.local_time(activity[:created_at], :long),
        color: :green,
      ) %>

      <p class="dark:text-slate-400 mt-2">
        <%= @description %>
      </p>
    </div>

    <div
      class="
        overflow-y-auto max-h-[300px] border border-slate-300 rounded-lg block w-full
        p-2.5 dark:bg-slate-800 dark:border-slate-600
      "
    >
      <div
        class="hidden"
        data-activities--extended_details-target="extendedDetailsData"
      >
        <%= @data %>
      </div>

      <ul
        class="divide-y divide-slate-200 dark:divide-slate-700"
        data-activities--extended_details-target="listContainer"
      >
      </ul>
    </div>

    <div
      data-activities--extended_details-target="paginationContainer"
      class="flex items-center justify-end mt-4"
    >
    </div>

    <template id="listRow" data-activities--extended_details-target="listRow">
      <li class="py-3 sm:pb-4 sm:pt-4">
        <p class="inline-flex text-sm text-slate-500 truncate dark:text-slate-400">
          <span class="mr-2" data-activities--extended_details-target="itemName"></span>
          <%= render PuidComponent.new(puid: "", show_clipboard: false) %>
        </p>
      </li>
    </template>

    <div class="mt-4">
      <%= render Pathogen::Button.new(
        scheme: :default,
        data: { action: 'click->viral--dialog#close' }
      ) do %>
        <%= t(:'components.activity.dialog.close') %>
      <% end %>
    </div>
    <template data-activities--extended_details-target="pagination">
      <nav
        aria-label="<%= t("components.activity.dialog.pagination.aria_label") %>"
        aria-live="polite"
      >
        <div class="hidden" data-activities--extended_details-target="ariaLabels">
          <%= @aria_labels %>
        </div>
        <div class="inline-flex items-center gap-2 text-base">
          <%= render Pathogen::Button.new(
            type: :button,
            data: { action: 'click->activities--extended_details#previousPage' },
            "data-activities--extended_details-target": :previousBtn,
            disabled: true,
            aria: {
              disabled: true,
              label: t('components.activity.dialog.pagination.at_first_aria_label')
            }
          ) do %>
            <%= t(:'components.activity.dialog.pagination.previous') %>
          <% end %>

          <%= render Pathogen::Button.new(
            type: :button,
            data: { action: 'click->activities--extended_details#nextPage' },
            "data-activities--extended_details-target": :nextBtn
          ) do %>
            <%= I18n.t(:'components.activity.dialog.pagination.next') %>
          <% end %>
        </div>
      </nav>
    </template>
  </div>
<% end %>
