<%= render Viral::BaseComponent.new(tag: 'div', **system_arguments) do %>
  <% if title_only? %>
    <%= render Viral::BaseComponent.new(tag: 'h2', id: title_id, classes: 'text-lg font-semibold text-slate-800 dark:text-white') do %>
      <%= title %>
    <% end %>
    <% if subtitle.present? %>
      <p class="text-slate-500 dark:text-slate-400">
        <%= subtitle %>
      </p>
    <% end %>
  <% else %>
    <% if actions.present? %>
      <div class="flex">
        <h2
          id="<%= title_id %>"
          class="flex-1 text-lg font-semibold text-slate-800 dark:text-white"
        >
          <%= title %>
          <p class="text-slate-500 dark:text-slate-400">
            <%= subtitle %>
          </p>
        </h2>
        <div class="flex flex-row">
          <% actions.each do |action| %>
            <span class="ml-1"><%= action %></span>
          <% end %>
        </div>
      </div>
    <% else %>
      <h2
        id="<%= title_id %>"
        class="flex-1 text-lg font-semibold text-slate-800 dark:text-white"
      >
        <%= title %>
      </h2>
      <p class="text-slate-500 dark:text-slate-400">
        <%= subtitle %>
      </p>
    <% end %>
  <% end %>
<% end %>
