<div
  data-advanced-search-target="conditionsContainer"
  class="flex space-x-2 p-4"
>
  <%= @groups_form.fields_for :conditions, @condition do |conditions_form| %>
    <%= conditions_form.select :field,
                           @fields,
                           { include_blank: t("advanced_search_component.field") },
                           {
                             "aria-label": t("advanced_search_component.field"),
                             class:
                               "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                           } %>
    <%= conditions_form.select :operator,
                           @operations,
                           {
                             include_blank: t("advanced_search_component.operator"),
                           },
                           {
                             "aria-label": t("advanced_search_component.operator"),
                             class:
                               "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                           } %>
    <%= conditions_form.text_field(
      :value,
      placeholder: t("advanced_search_component.value"),
      "aria-label": t("advanced_search_component.value"),
      class:
        "keyInput block py-2.5 px-0 w-full text-sm text-slate-900 bg-transparent border-0 border-b-2 border-slate-300 appearance-none dark:text-white dark:border-slate-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500 peer",
    ) %>
  <% end %>
  <button
    type="button"
    class="
      ml-auto bg-slate-100 text-slate-400 hover:text-slate-900 rounded-lg focus:ring-2
      focus:ring-slate-300 p-1.5 inline-flex items-center justify-center h-8 w-8
      dark:text-slate-500 dark:hover:text-white dark:bg-slate-800
      dark:hover:bg-slate-700
    "
    aria-label="<%=t("advanced_search_component.remove_condition_aria_label")%>"
    data-action="advanced-search#removeCondition"
  >
    <%= viral_icon(name: "x_mark", classes: "h-5 w-5") %>
  </button>
</div>
