<fieldset
  data-advanced-search-target="conditionsContainer"
  class="
    flex @max-xl:flex-col @max-xl:space-y-2 space-x-2 p-4 items-start rounded-lg
    border border-slate-300 dark:border-slate-600 text-sm text-slate-500
    dark:text-slate-400
  "
>
  <legend><%= t("components.advanced_search_component.condition", index: @condition_number) %></legend>
  <%= @groups_form.fields_for :conditions, @condition, child_index: @condition_index do |conditions_form| %>
    <% invalid_field = @condition.errors.include?(:field) %>
    <div
      class="
        form-field w-1/3 @max-xl:w-full <%= 'invalid' if invalid_field %>
      "
    >
      <%= conditions_form.label :field, data: { required: true } %>
      <%= conditions_form.select :field,
                             options_for_select(
                               @sample_fields,
                               selected_key = @condition.field,
                             ).concat(
                               grouped_options_for_select(
                                 @metadata_fields,
                                 selected_key = @condition.field,
                               ),
                             ),
                             { include_blank: true },
                             {
                               "aria-label":
                                 t(
                                   "activemodel.attributes.sample/search_condition.field",
                                 ),
                               "aria-invalid": invalid_field,
                               "aria-describedby":
                                 conditions_form.field_id(:field, "error"),
                               autofocus: invalid_field,
                             } %>
      <%= render "shared/form/field_errors",
      errors: @condition.errors.full_messages_for(:field),
      id: conditions_form.field_id(:field, "error") %>
    </div>
    <% invalid_operator = @condition.errors.include?(:operator) %>
    <div
      class="
        form-field w-1/4 @max-xl:w-full <%= 'invalid' if invalid_operator %>
      "
    >
      <%= conditions_form.label :operator, data: { required: true } %>
      <%= conditions_form.select :operator,
                             options_for_select(
                               @operations,
                               selected = @condition.operator,
                             ),
                             { include_blank: true },
                             {
                               "data-action": "advanced-search#handleOperatorChange",
                               "aria-label":
                                 t(
                                   "activemodel.attributes.sample/search_condition.operator",
                                 ),
                               "aria-invalid": invalid_operator,
                               "aria-describedby":
                                 conditions_form.field_id(:operator, "error"),
                               autofocus: invalid_operator,
                             } %>
      <%= render "shared/form/field_errors",
      errors: @condition.errors.full_messages_for(:operator),
      id: conditions_form.field_id(:operator, "error") %>
    </div>
    <%= render AdvancedSearch::Value.new(
      conditions_form: conditions_form,
      group_index: @group_index,
      condition: @condition,
      condition_index: @condition_index,
    ) %>
  <% end %>
  <button
    type="button"
    class="
      mt-auto ml-auto text-slate-400 rounded-lg p-1.5 hover:bg-slate-100 inline-flex
      items-center justify-center h-8 w-8 dark:text-slate-500 dark:hover:text-white
      dark:bg-slate-800 dark:hover:bg-slate-700 cursor-pointer
    "
    title="<%=t("components.advanced_search_component.remove_condition_aria_label")%>"
    data-action="advanced-search#removeCondition"
  >
    <%= pathogen_icon(ICON::X, size: :sm) %>
  </button>
</fieldset>
