<div
  data-advanced-search-target="conditionsContainer"
  class="flex space-x-2 p-4"
>
  <%= @groups_form.fields_for :conditions, @condition do |conditions_form| %>
    <div class="form-field">
      <%= conditions_form.select :field,
                             @fields,
                             { include_blank: t("advanced_search_component.field") },
                             { "aria-label": t("advanced_search_component.field") } %>
    </div>
    <div class="form-field">
      <%= conditions_form.select :operator,
                             @operations,
                             {
                               include_blank: t("advanced_search_component.operator"),
                             },
                             {
                               "aria-label": t("advanced_search_component.operator"),
                               "data-action": "advanced-search#handleOperatorChange",
                             } %>
    </div>
    <%= render AdvancedSearch::Value.new(
      conditions_form: conditions_form,
      group_index: @group_index,
      condition: @condition,
      condition_index: @condition_index,
    ) %>
  <% end %>
  <button
    type="button"
    class="text-slate-400 hover:text-slate-900 dark:hover:text-white"
    aria-label="<%=t("advanced_search_component.remove_condition_aria_label")%>"
    data-action="advanced-search#removeCondition"
  >
    <%= viral_icon(name: "x_mark", classes: "h-5 w-5") %>
  </button>
</div>
