<div id="group-error-messages-<%= @group_index %>"></div>
<div
  data-advanced-search-target="groupsContainer"
  class="bg-slate-100 border border-gray-300 rounded-lg"
>
  <%= @form.fields_for :groups, @group do |groups_form| %>
    <% @group.conditions.each do |condition| %>
      <%= render AdvancedSearch::Condition.new(
        groups_form: groups_form,
        condition: condition,
        fields: @fields,
        operations: @operations,
      ) %>
    <% end %>
  <% end %>
  <div class="flex justify-end space-x-2 p-4">
    <%= viral_button(data: { action: "advanced-search#addCondition" }) do %>
      Add Condition
    <% end %>
    <%= viral_button(data: { action: "advanced-search#removeGroup" }) do %>
      Remove Group
    <% end %>
  </div>
</div>
