<fieldset
  data-advanced-search-target="groupsContainer"
  class="
    p-4 rounded-lg border border-slate-300 dark:border-slate-600 text-sm
    text-slate-500 dark:text-slate-400
  "
>
  <legend><%= t("advanced_search_component.group", index: @group_index + 1) %></legend>
  <%= @form.fields_for :groups, @group do |groups_form| %>
    <% @group.conditions.each_with_index do |condition, condition_index| %>
      <%= render AdvancedSearch::Condition.new(
        groups_form: groups_form,
        group_index: @group_index,
        condition: condition,
        condition_index: condition_index,
        sample_fields: @sample_fields,
        metadata_fields: @metadata_fields,
        operations: @operations,
      ) %>
    <% end %>
  <% end %>
  <div class="flex justify-end">
    <%= viral_button(data: { action: "advanced-search#addCondition" }) do %>
      <%= t("advanced_search_component.add_condition_button") %>
    <% end %>
    <%= viral_button(classes: class_names("ml-2", hidden: !@show_remove_group_button), data: { action: "advanced-search#removeGroup" }) do %>
      <%= t("advanced_search_component.remove_group_button") %>
    <% end %>
  </div>
</fieldset>
