<% invalid_value = @condition.errors.include?(:value) %>

<% operator_exists =
  @condition.operator.blank? ||
    %w[exists not_exists].include?(@condition.operator) %>

<div
  class="
    value form-field w-5/12 @max-xl:w-full <%= 'invalid' if invalid_value %>
    <%= 'invisible @max-xl:hidden' if operator_exists %>
  "
>
  <%= @conditions_form.label :value, data: { required: true } %>

  <% if %w[in not_in].include?(@condition.operator) %>
    <% if enum_field? %>
      <%= @conditions_form.select :value,
                                 options_for_select(enum_field_options, selected_enum_values),
                                 { include_hidden: false },
                                 {
                                   multiple: true,
                                   "aria-label": value_label,
                                   "aria-invalid": invalid_value,
                                   "aria-describedby": @conditions_form.field_id(:value, "error"),
                                   autofocus: invalid_value
                                 } %>
    <% else %>
      <div
        data-controller="list-filter"
        data-list-filter-filters-value="<%= ERB::Util.json_escape(@condition.value.present? ? @condition.value.to_json : '[]') %>"
        class="list-filter"
      >
        <%= render ListInputComponent.new(
          list_input_form_name: @conditions_form.field_name(:value, multiple: true),
          show_description: false,
          "aria-invalid": invalid_value,
          "aria-describedby": @conditions_form.field_id(:value, "error"),
        ) %>
      </div>
    <% end %>
  <% elsif enum_field? %>
    <%= @conditions_form.select :value,
                               options_for_select(enum_field_options,
                                                 selected_enum_values.first),
                               { include_blank: true },
                               {
                                 "aria-label": value_label,
                                 "aria-invalid": invalid_value,
                                 "aria-describedby": @conditions_form.field_id(:value, "error"),
                                 autofocus: invalid_value
                               } %>
  <% else %>
    <%= @conditions_form.text_field :value,
                                "aria-label": value_label,
                                "aria-invalid": invalid_value,
                                "aria-describedby":
                                  @conditions_form.field_id(:value, "error"),
                                autofocus: invalid_value %>
  <% end %>

  <%= render "shared/form/field_errors",
  errors: @condition.errors.full_messages_for(:value),
  id: @conditions_form.field_id(:value, "error") %>
</div>
