<%= viral_dialog(open: open, id: "file_selector_form_dialog", size: :extra_large) do |dialog| %>
  <% dialog.with_header(title: t(".select_file")) %>
  <% if @listing_attachments.empty? %>
    <div class="mb-2 empty_state_message">
      <%= viral_empty(
        title: t(".empty.title"),
        description: t(".empty.description"),
        icon_name: :document_text,
      ) %>
    </div>
  <% else %>
    <%= form_with id: 'file_selector_form', url: workflow_executions_file_selector_index_path(file_selector: file_selector_params), method: :post do |form| %>
      <input type="hidden" name="format" value="turbo_stream"/>
      <div class="flex flex-col min-h-0 mb-2 table-container shrink">
        <div class="overflow-auto scrollbar">
          <table
            class='
              w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
              whitespace-nowrap
            '
          >
            <thead
              class='
                sticky top-0 z-10 text-xs uppercase border text-slate-700 bg-slate-50
                dark:bg-slate-700 dark:text-slate-300 border-slate-200 dark:border-slate-700
              '
            >
              <tr>
                <th
                  class="sticky left-0 px-3 py-3 bg-slate-50 dark:bg-slate-700"
                  aria-hidden="true"
                >
                </th>
                <th class="px-3 py-3">
                  <%= t(".headers.filename") %>
                </th>
                <th class="px-3 py-3">
                  <%= t(".headers.format") %>
                </th>
                <th class="px-3 py-3">
                  <%= t(".headers.type") %>
                </th>
                <th class="px-3 py-3">
                  <%= t(".headers.size") %>
                </th>
                <th class="px-3 py-3">
                  <%= t(".headers.created_at") %>
                </th>
              </tr>
            </thead>

            <tbody
              class='
                overflow-y-auto bg-white border dark:bg-slate-800 border-slate-200
                dark:border-slate-700
              '
            >
              <% @listing_attachments.each do |attachment| %>
                <tr
                  class="
                    bg-white border-b border-slate-200 dark:bg-slate-800 dark:border-slate-700
                  "
                >
                  <td class="sticky left-0 px-3 py-3 bg-white dark:bg-slate-800">
                    <%= form.radio_button "attachment_id",
                                      attachment[:id],
                                      checked:
                                        file_selector_params["selected_id"] &&
                                          file_selector_params["selected_id"] == attachment[:id] %>

                  </td>
                  <td class="px-3 py-3">
                    <label
                      class="hover:underline hover:cursor-pointer"
                      for="attachment_id_<%= attachment[:id] %>"
                    ><%= attachment[:filename] %></label>
                  </td>
                  <td class="px-3 py-3"><%= viral_pill(
                      text: attachment[:metadata]["format"],
                      color: find_pill_color_for_attachment(attachment, "format"),
                    ) %></td>
                  <td class="px-3 py-3"><%= viral_pill(
                      text: attachment[:metadata]["type"],
                      color: find_pill_color_for_attachment(attachment, "type"),
                    ) %></td>
                  <td class="px-3 py-3">
                    <%= number_to_human_size(attachment[:byte_size]) %>
                  </td>
                  <td class="px-3 py-3">
                    <%= local_time_ago(attachment[:created_at]) %>
                  </td>
                </tr>
              <% end %>
              <% unless file_selector_params["required_properties"].present? && file_selector_params["required_properties"].include?(file_selector_params["property"]) %>
                <tr class="bg-white border-b dark:bg-slate-800 dark:border-slate-700">
                  <td class="sticky left-0 px-3 py-3 bg-white dark:bg-slate-800">
                    <%= form.radio_button "attachment_id",
                                      "no_attachment",
                                      checked: file_selector_params["selected_id"].empty? %>

                  </td>
                  <td class="px-3 py-3">
                    <label
                      class="hover:underline hover:cursor-pointer"
                      for="attachment_id_no_attachment"
                    >
                      <%= t(".no_file") %>
                    </label>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% unless @listing_attachments.empty? %>
        <%= form.submit t(".submit_button"),
                    class:
                      "inline-flex items-center justify-center text-sm border rounded-md cursor-pointer sm:w-auto focus:z-10 text-white bg-primary-700 hover:bg-primary-800 rounded-md px-5 py-3 dark:text-white dark:bg-primary-600 dark:hover:bg-primary-700 dark:border-primary-900 dark:hover:bg-primary-700 focus:ring-primary-300 dark:focus:ring-primary-700" %>

      <% end %>
    <% end %>
  <% end %>
<% end %>
