<%= viral_dialog(open: open, id: "file_selector_form_dialog", size: :extra_large) do |dialog| %>
  <%= dialog.with_header(title: t(".select_file")) %>
  <%= dialog.with_section do %>
    <% if @listing_attachments.empty? %>
      <div class="empty_state_message mb-2">
        <%= viral_empty(
          title: t(".empty.title"),
          description: t(".empty.description"),
          icon_name: :document_text,
        ) %>
      </div>
    <% else %>
      <%= form_with id: 'file_selector_form', url: workflow_executions_file_selector_index_path(file_selector: file_selector_params), method: :post, data: {"viral--dialog-target": 'dialogForm'} do |form| %>
        <input type="hidden" name="format" value="turbo_stream"/>
        <div class="table-container flex flex-col shrink min-h-0">
          <div class="overflow-auto scrollbar">
            <table
              class='
                w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
                whitespace-nowrap
              '
            >
              <thead
                class='
                  sticky top-0 z-10 text-xs uppercase text-slate-700 bg-slate-50 dark:bg-slate-700
                  dark:text-slate-300
                '
              >
                <tr>
                  <th
                    class="
                      sticky left-0 bg-slate-50 dark:bg-slate-700 px-3 py-3
                    "
                    aria-hidden="true"
                  >
                  </th>
                  <th class="px-3 py-3">
                    <%= t(".headers.filename") %>
                  </th>
                  <th class="px-3 py-3">
                    <%= t(".headers.format") %>
                  </th>
                  <th class="px-3 py-3">
                    <%= t(".headers.type") %>
                  </th>
                  <th class="px-3 py-3">
                    <%= t(".headers.size") %>
                  </th>
                  <th class="px-3 py-3">
                    <%= t(".headers.created_at") %>
                  </th>
                </tr>
              </thead>

              <tbody
                class='
                  overflow-y-auto bg-white divide-y divide-slate-200 dark:bg-slate-800
                  dark:divide-slate-700
                '
              >
                <% @listing_attachments.each do |attachment| %>
                  <tr class="bg-white border-b dark:bg-slate-800 dark:border-slate-700">
                    <td class="px-3 py-3 sticky left-0 bg-white dark:bg-slate-800">
                      <%= form.radio_button "attachment_id",
                                        attachment[:id],
                                        checked:
                                          file_selector_params["selected_id"] &&
                                            file_selector_params["selected_id"] == attachment[:id],
                                        class:
                                          "w-4 h-4 text-primary-600 bg-slate-100 border-slate-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-400" %>

                    </td>
                    <td class="px-3 py-3">
                      <%= attachment[:filename] %>
                    </td>
                    <td class="px-3 py-3"><%= viral_pill(
                        text: attachment[:metadata]["format"],
                        color: find_pill_color_for_attachment(attachment, "format"),
                      ) %></td>
                    <td class="px-3 py-3"><%= viral_pill(
                        text: attachment[:metadata]["type"],
                        color: find_pill_color_for_attachment(attachment, "type"),
                      ) %></td>
                    <td class="px-3 py-3">
                      <%= number_to_human_size(attachment[:byte_size]) %>
                    </td>
                    <td class="px-3 py-3">
                      <%= local_time_ago(attachment[:created_at]) %>
                    </td>
                  </tr>
                <% end %>
                <% unless file_selector_params["required_properties"].present? && file_selector_params["required_properties"].include?(file_selector_params["property"]) %>
                  <tr class="bg-white border-b dark:bg-slate-800 dark:border-slate-700">
                    <td class="px-3 py-3 sticky left-0 bg-white dark:bg-slate-800">
                      <%= form.radio_button "attachment_id",
                                        "no_attachment",
                                        checked: file_selector_params["selected_id"].nil?,
                                        class:
                                          "w-4 h-4 text-primary-600 bg-slate-100 border-slate-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-400" %>

                    </td>
                    <td class="px-3 py-3">
                      <%= t(".no_file") %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% unless @listing_attachments.empty? %>
    <%= dialog.with_primary_action("data-action": "click->viral--dialog#submit") do
      t(".submit_button")
    end %>
  <% end %>
<% end %>
