<%= turbo_frame_tag "empty_content" do %>
  <div class="text-gray-500 dark:text-gray-400 text-center">
    <%= viral_icon(name: btn_icon, classes: 'h-20 w-20 mb-3') %>
  </div>
  <p class="font-medium text-gray-900 dark:text-white text-center">
    <%= text_title %>
  </p>
  <p class="text-gray-500 dark:text-gray-400 text-center">
    <%= text_note %>
  </p>
  <% if btn_action_permission %>
    <div class="flex items-center justify-center mt-2">
      <%= render partial: btn_action_partial,
        locals: {
          open: false,
          attachment: @attachment
        } %>
    </div>
  <% end %>
<% end %>
