<head>
  <title>
    <%= if @title.present?
      "#{@title} · #{t(:"layouts.application.site_title")}"
    else
      t(:"layouts.application.site_title")
    end %>
  </title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta
    name="description"
    content="<%= t('layouts.application.meta_description') %>"
  >

  <meta name="color-scheme" content="light dark">

  <meta
    name="theme-color"
    content="#ffffff"
    media="(prefers-color-scheme: light)"
  >

  <meta
    name="theme-color"
    content="#0f172a"
    media="(prefers-color-scheme: dark)"
  >

  <meta
    name="local-time-i18n"
    content="<%= local_time_i18n_config %>"
    data-locale="<%= I18n.locale %>"
  >

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>

  <%= render "shared/dark_mode_check" %>

  <%= yield :head %>
</head>
