<head>
  <title>
    <%= if @title.present?
      "#{@title} · #{t(:"layouts.application.site_title")}"
    else
      t(:"layouts.application.site_title")
    end %>
  </title>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link
    href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.default.css"
    rel="stylesheet"
  >
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>

  <%= render "shared/dark_mode_check" %>
  <%= render "shared/local_time" %>
  <%= yield :head %>
</head>
