<head>
  <title>
    <%= if @title.present?
      "#{@title} · #{t(:"layouts.application.site_title")}"
    else
      t(:"layouts.application.site_title")
    end %>
  </title>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>

  <%= render "shared/dark_mode_check" %>
  <%= render "shared/local_time" %>
  <%= yield :head %>
</head>
