<%= turbo_stream.append "samplesheet-payload-container" do %>
  <% if Flipper.enabled?(:deferred_samplesheet) %>
    <div
      hidden
      data-metadata="<%= @metadata %>"
      data-headers="<%= @headers %>"
      data-nextflow--v2--samplesheet-target="dataPayload"
      data-payload-type="metadata"
    ></div>
  <% else %>
    <div
      hidden
      data-controller="nextflow--v1--metadata"
      data-nextflow--v1--metadata-metadata-value="<%= @metadata %>"
      data-nextflow--v1--metadata-property-value="<%= @header %>"
      data-nextflow--v1--samplesheet-target="dataPayload"
    ></div>
  <% end %>
<% end %>
