<% if @has_attachments %>
  <%= render Viral::BaseComponent.new(**wrapper_arguments) do %>
    <%= render Viral::BaseComponent.new(**system_arguments) do %>
      <table
        class='
          w-full text-sm text-left rtl:text-right text-slate-500 dark:text-slate-400
          whitespace-nowrap
        '
        style="--puid-width: <%= helpers.puid_width(object_class: Attachment, has_checkbox: @abilities[:select_attachments]) %>;"
        data-controller="table"
        data-action="focusin->table#handleCellFocus"
      >
        <thead class='sticky top-0 z-10 uppercase'>
          <tr
            class="
              border-b dark:border-slate-900 border-slate-200 dark:text-slate-400
              text-slate-900 bg-slate-100 dark:bg-slate-900
            "
          >
            <% @columns.each_with_index do |column, index| %>
              <%= render_cell(
                tag: 'th',
                **helpers.aria_sort(sort_column_name(column), @q.sorts[0].name, @q.sorts[0].dir),
                scope: 'col',
                classes: class_names('px-3 py-3 bg-slate-100 dark:bg-slate-900', '@2xl:sticky left-0 w-(--puid-width) z-10 font-mono': index.zero?, '@2xl:sticky left-(--puid-width) z-10 font-mono': index == 1)
              ) do %>
                <div
                  class="<%= class_names('flex items-center gap-3', 'font-sans': index.zero? || index == 1) %>"
                >
                  <% if index.zero? and @abilities[:select_attachments] %>
                    <%= check_box_tag "select-page",
                    "1",
                    false,
                    {
                      id: "select-page",
                      table: true,
                      aria: {
                        label: t("components.attachments.table_component.select_page"),
                      },
                      data: {
                        action: "input->selection#togglePage",
                        controller: "filters",
                        selection_target: "selectPage",
                      },
                    } %>
                  <% end %>
                  <% if column == :id %>
                    <%= render Ransack::SortComponent.new(
                      ransack_obj: @q,
                      label: t("components.attachments.table_component.#{column}"),
                      url: helpers.sorting_url(@q, "puid"),
                      field: "puid",
                      **(
                        if @attachable.instance_of?(Sample)
                          {}
                        else
                          { data: { turbo_action: "replace" } }
                        end
                      ),
                    ) %>
                  <% elsif column == :byte_size || column == :filename %>
                    <%= render Ransack::SortComponent.new(
                      ransack_obj: @q,
                      label: t("components.attachments.table_component.#{column}"),
                      url: helpers.sorting_url(@q, "file_blob_#{column}"),
                      field: "file_blob_#{column}",
                      **(
                        if @attachable.instance_of?(Sample)
                          {}
                        else
                          { data: { turbo_action: "replace" } }
                        end
                      ),
                    ) %>
                  <% elsif column == :format || column == :type %>
                    <%= render Ransack::SortComponent.new(
                      ransack_obj: @q,
                      label: t("components.attachments.table_component.#{column}"),
                      url:
                        helpers.sorting_url(
                          @q,
                          URI.encode_www_form_component("metadata_#{column}"),
                        ),
                      field: "metadata_#{column}",
                      **(
                        if @attachable.instance_of?(Sample)
                          {}
                        else
                          { data: { turbo_action: "replace" } }
                        end
                      ),
                    ) %>
                  <% else %>
                    <%= render Ransack::SortComponent.new(
                      ransack_obj: @q,
                      label: t("components.attachments.table_component.#{column}"),
                      url: helpers.sorting_url(@q, column),
                      field: column,
                      **(
                        if @attachable.instance_of?(Sample)
                          {}
                        else
                          { data: { turbo_action: "replace" } }
                        end
                      ),
                    ) %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <% if @renders_row_actions %>
              <%= render_cell(
                tag: 'th',
                scope: 'col',
                classes: class_names('px-3 py-3')
              ) do %>
                <%= t('common.labels.actions') %>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody
          id="attachments-table-body"
          class='
            overflow-y-auto bg-white divide-y divide-slate-200 dark:bg-slate-800
            dark:divide-slate-700
          '
        >
          <% @attachments.each do |attachment| %>
            <%= render Viral::BaseComponent.new(**row_arguments(attachment)) do %>
              <% @columns.each_with_index do |column, index| %>
                <%= render_cell(
                  tag: index.zero? ? 'th' :'td',
                  scope: index.zero? ? 'row' : nil,
                  classes: class_names('px-3 py-3', '@2xl:sticky left-0 w-(--puid-width) bg-slate-50 dark:bg-slate-900 font-mono': index.zero?, '@2xl:sticky left-(--puid-width) bg-slate-50 dark:bg-slate-900 truncate font-mono': index == 1)
                ) do %>
                  <div class="flex items-center gap-3">
                    <% if index.zero? && @abilities[:select_attachments] %>
                      <%= check_box_tag "attachment_ids[]",
                      (
                        if attachment.associated_attachment
                          [attachment.id, attachment.associated_attachment.id].to_s
                        else
                          attachment.id
                        end
                      ),
                      false,
                      {
                        id: dom_id(attachment, "checkbox"),
                        table: true,
                        aria: {
                          label: attachment.file.filename.to_s,
                        },
                        data: {
                          action: "input->selection#toggle",
                          selection_target: "rowSelection",
                        },
                      } %>
                    <% end %>
                    <% if column == :id %>
                      <span class="font-mono font-semibold">
                        <%= highlight(
                          attachment.puid,
                          defined?(params[:q][:puid_or_file_blob_filename_cont]) &&
                            params[:q][:puid_or_file_blob_filename_cont],
                          highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
                        ) %>
                      </span>
                    <% elsif column == :filename %>
                      <div class="flex items-centers font-sans">
                        <% if @render_individual_attachments %>
                          <% if attachment.associated_attachment && attachment.metadata['direction'] == 'forward' %>
                            <%= pathogen_icon(:arrow_right, size: :sm, class: "ml-0 mr-2") %>
                          <% elsif attachment.associated_attachment %>
                            <%= pathogen_icon(:arrow_left, size: :sm, class: "ml-0 mr-2") %>
                          <% else %>
                            <%= pathogen_icon(Attachment.icon, size: :sm, class: "ml-0 mr-2") %>
                          <% end %>
                          <span>
                            <%= link_to rails_blob_path(attachment.file),
                            data: {
                              turbo: false,
                            },
                            class: "text-slate-900 dark:text-slate-100 font-semibold underline hover:decoration-2" do %>
                              <%= highlight(
                                attachment.file.filename.to_s,
                                defined?(params[:q][:puid_or_file_blob_filename_cont]) &&
                                  params[:q][:puid_or_file_blob_filename_cont],
                                highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
                              ) %>
                            <% end %>
                          </span>
                        <% else %>
                          <% if attachment.associated_attachment %>
                            <div>
                              <div class="flex items-center mb-4">
                                <%= pathogen_icon(:arrow_right, size: :sm, class: "ml-0 mr-2") %>
                                <span>
                                  <%= link_to rails_blob_path(attachment.file),
                              data: {
                                turbo: false,
                              },
                              class: "text-slate-900 dark:text-slate-100 font-semibold underline hover:decoration-2" do %>
                                    <%= highlight(
                                      attachment.file.filename.to_s,
                                      defined?(params[:q][:puid_or_file_blob_filename_cont]) &&
                                        params[:q][:puid_or_file_blob_filename_cont],
                                      highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
                                    ) %>
                                  <% end %>
                                </span>
                              </div>
                              <div class="flex items-center">
                                <%= pathogen_icon(:arrow_left, size: :sm, class: "ml-0 mr-2") %>
                                <span>
                                  <%= link_to rails_blob_path(attachment.associated_attachment.file),
                              data: {
                                turbo: false,
                              },
                              class: "text-slate-900 dark:text-slate-100 font-semibold underline hover:decoration-2" do %>
                                    <%= highlight(
                                      attachment.associated_attachment.file.filename.to_s,
                                      defined?(params[:q][:puid_or_file_blob_filename_cont]) &&
                                        params[:q][:puid_or_file_blob_filename_cont],
                                      highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
                                    ) %>
                                  <% end %>
                                </span>
                              </div>
                            </div>
                          <% else %>
                            <div>
                              <div class="flex items-center">
                                <%= pathogen_icon(Attachment.icon, size: :sm, class: "ml-0 mr-2") %>
                                <span>
                                  <%= link_to rails_blob_path(attachment.file),
                              data: {
                                turbo: false,
                              },
                              class: "text-slate-900 dark:text-slate-100 font-semibold underline hover:decoration-2" do %>
                                    <%= highlight(
                                      attachment.file.filename.to_s,
                                      defined?(params[:q][:puid_or_file_blob_filename_cont]) &&
                                        params[:q][:puid_or_file_blob_filename_cont],
                                      highlighter: '<mark class="bg-primary-300 dark:bg-primary-600">\1</mark>',
                                    ) %>
                                  <% end %>
                                </span>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% elsif column == :format || column == :type %>
                      <%= viral_pill(
                        text: attachment.metadata[column.to_s],
                        color: helpers.find_pill_color_for_attachment(attachment, column.to_s),
                      ) %>
                    <% elsif column == :byte_size %>
                      <%= number_to_human_size(attachment.file.blob.byte_size) %>
                    <% elsif column == :created_at %>
                      <%= helpers.local_time_ago(attachment.created_at) %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <% if @renders_row_actions %>
                <%= render_cell(
                  tag: 'td',
                  classes: class_names('px-3 py-3 space-x-2')
                ) do %>
                  <% if @row_actions[:preview] && attachment.previewable? %>
                    <%= link_to(
                      t("components.attachments.table_component.preview"),
                      attachment_path(attachment),
                      aria: {
                        label:
                          t(
                            "components.attachments.table_component.preview_aria_label",
                            name: attachment.file.filename.to_s,
                          ),
                      },
                      data: {
                        turbo_stream: true,
                      },
                      class:
                        "font-medium text-blue-600 underline dark:text-blue-400 hover:decoration-2 cursor-pointer",
                    ) %>
                  <% end %>
                  <% if @row_actions[:destroy] %>
                    <%= button_to(
                      t('common.actions.delete'),
                      destroy_path(attachment.id),
                      aria: {
                        label:
                          t(
                            "components.attachments.table_component.delete_aria_label",
                            count: attachment.associated_attachment ? 2 : 1,
                            name:
                              (
                                if attachment.associated_attachment
                                  [
                                    attachment.file.filename.to_s,
                                    attachment.associated_attachment.file.filename.to_s,
                                  ].to_sentence
                                else
                                  attachment.file.filename.to_s
                                end
                              ),
                          ),
                      },
                      data: {
                        turbo_stream: true,
                      },
                      method: :get,
                      class:
                        "font-medium text-blue-600 underline dark:text-blue-400 hover:decoration-2 cursor-pointer",
                    ) %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <% if @abilities[:select_attachments] && !@attachments.empty? %>
          <tfoot class="sticky bottom-0 z-10">
            <tr
              class="
                border-t dark:border-slate-700 border-slate-200 text-slate-800
                dark:text-slate-300
              "
            >
              <td
                class="
                  sticky left-0 z-10 px-6 py-3 bg-slate-50 dark:bg-slate-900
                "
                colspan="3"
              >
                <span>
                  <%= t("components.attachments.table_component.counts.attachments") %>:
                  <strong><%= @pagy.count %></strong>
                </span>
                <span>
                  <%= t("components.attachments.table_component.counts.selected") %>:
                  <strong data-selection-target="selected">0</strong>
                </span>
              </td>
              <td
                colspan="<%= @columns.count - 3 + (@renders_row_actions ? 1 : 0) %>"
                class="p-3 bg-slate-50 dark:bg-slate-900"
              ></td>
            </tr>
          </tfoot>
        <% end %>
      </table>
    <% end %>
    <%= render Viral::Pagy::FullComponent.new(
      @pagy,
      item: t("components.attachments.table_component.limit.item"),
    ) %>

  <% end %>
<% else %>
  <div class="empty_state_message">
    <%= viral_empty(**@empty) %>
  </div>
<% end %>
