<div
  role="article"
  aria-roledescription="email"
  aria-label="Confirm your email address"
  lang="en"
>
  <div
    style="background-color: #f8fafc; font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif"
  >
    <table align="center" cellpadding="0" cellspacing="0" role="none">
      <tr>
        <td class="w-full" style="width: 552px;">
          <div class="text-center my-12">
            <a
              href="<%= root_url %>"
              class="whitespace-nowrap"
              style="text-decoration: none;"
            >
              <span class="font-semibold text-black text-5xl">
                <%= t(:"general.name") %>
              </span>
            </a>
          </div>
          <table class="w-full" cellpadding="0" cellspacing="0" role="none">
            <tr>
              <td
                class="py-12 px-6 rounded bg-white"
                style="font-size: 16px; color: #334155; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)"
              >
                <h1 class="mt-0 mx-0 mb-6 font-semibold text-black" style="font-size: 24px;">
                  <%= t(:".greeting", name: @workflow_execution.submitter.first_name) %>
                </h1>
                <p class="m-0" style="line-height: 24px">
                  <%= t(:".error_message.start") %>
                  <strong><%= @workflow_execution.id %></strong>
                  <%= t(:".error_message.end") %>
                  <br>
                  <br>
                  <%= t(:".view_details") %>
                </p>
                <div role="separator" style="line-height: 24px">&zwj;</div>
                <div>
                  <a
                    href="<%= workflow_execution_url(@workflow_execution) %>"
                    class="
                      inline-block
                      rounded
                      py-4
                      px-6
                      font-semibold
                      leading-none
                    "
                    style="background-color: #15803d; font-size: 16px; color: #f8fafc; text-decoration: none"
                  >
                    <span style="mso-text-raise: 16px">
                      <%= t(:"general.name") %>
                      &rarr;
                    </span>
                  </a>
                  <div role="separator" style="line-height: 24px">&zwj;</div>
                  <p class="m-0" style="line-height: 24px">
                    <%= t(:".copy_paste") %>
                    <a href="<%= workflow_execution_url(@workflow_execution) %>">
                      <%= workflow_execution_url(@workflow_execution) %>
                    </a>
                  </p>
                </div>
                <div
                  role="separator"
                  style="background-color: #e2e8f0; height: 1px; line-height: 1px; margin: 28px 0"
                >&zwj;</div>
                <p class="m-0">
                  <%= t(:".thanks") %>
                  <br><%= t(:"general.name") %>
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td style="line-height: 48px">&zwj;</td>
            </tr>
            <tr>
              <td class="px-6 mb-5 text-center" style="font-size: 12px; color: #475569">
                <p class="m-0 italic">
                  <%= t(:".automated_message") %>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
