<% if section_header %>
  <li
    role="presentation"
    class="
      w-full px-3 py-2 text-xs font-bold tracking-wider uppercase bg-slate-200
      dark:bg-slate-500 text-slate-700 dark:text-slate-200
    "
  >
    <% if prefix.present? %>
      <span class="sr-only"><%= prefix %>&nbsp;</span>
    <% end %>
    <%= label %>
  </li>
<% elsif disableable %>
  <li role="menuitem">
    <%= button_to url, method: :get, params: params, class: "flex w-full items-center px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white", **system_arguments do %>
      <% if icon.present? %>
        <span class="grow-0 mr-2">
          <% unless icon == "blank" %>
            <%= pathogen_icon(icon, size: :sm, color: :subdued) %>
          <% end %>
        </span>
      <% end %>
      <% if prefix.present? %>
        <span class="sr-only"><%= prefix %>&nbsp;</span>
      <% end %>
      <%= label %>
    <% end %>
  </li>
<% else %>
  <li role="menuitem">
    <%= link_to url, class: "flex w-full relative focus-visible:z-10 items-center px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white cursor-pointer", **system_arguments do %>
      <% if icon.present? %>
        <span class="grow-0 mr-2 size-4">
          <% unless icon == "blank" %>
            <%= pathogen_icon(icon, size: :sm, color: :subdued) %>
          <% end %>
        </span>
      <% end %>
      <% if prefix.present? %>
        <span class="sr-only"><%= prefix %>&nbsp;</span>
      <% end %>
      <%= label %>
    <% end %>
  </li>
<% end %>
