<div data-controller="metadata-template-dd">
  <%= form_with url: url, data: { turbo_frame: "metadata_templates_dropdown", turbo_stream: true, "metadata-template-dd-target": "form" }, method: :get do |f| %>
    <input type="hidden" name="format" value="turbo_stream"/>
    <input type="hidden" name="limit" value="<%= pagy&.limit %>"/>
    <input type="hidden" name="page" value="<%= pagy&.page %>"/>
    <%= f.hidden_field :metadata_template, value: metadata_template[:id] %>
  <% end %>
  <button
    data-metadata-template-dd-target="trigger"
    title="<%= t("shared.samples.metadata_templates.tooltip") %>"
    id="metadata-template-dd-trigger"
    class="
      text-slate-900 bg-white border border-slate-300 hover:bg-slate-100 rounded-lg
      text-sm px-5 py-2.5 dark:bg-slate-800 dark:text-white dark:border-slate-600
      dark:hover:bg-slate-700 dark:hover:border-slate-600 cursor-pointer inline-flex
      items-center justify-center
    "
    type="button"
    aria-haspopup="listbox"
    aria-expanded="false"
    aria-controls="metadata-template-dd-menu"
  >
    <span class="text-sm" id="metadata-template-dd-label">
      <%= t("shared.samples.metadata_templates.label") %>
    </span>
    <%= viral_icon(name: "adjustment_horizontal", classes: "w-4 h-4 ml-2 flex-none") %>
  </button>
  <!-- Dropdown menu -->
  <div
    data-metadata-template-dd-target="menu"
    id="metadata-template-dd-menu"
    class="
      hidden w-48 bg-white divide-y divide-slate-100 rounded-lg shadow-sm
      dark:bg-slate-700 dark:divide-slate-600 z-30
    "
    aria-labelledby="metadata-template-dd-trigger"
    tabindex="-1"
  >
    <ul id="metadata_templates_dropdown" role="listbox">
      <li role="option">
        <%= render SpinnerComponent.new(
          message: t("shared.samples.metadata_templates.loading"),
        ) %>
      </li>
    </ul>
  </div>
</div>
