<div data-controller="metadata-template-dd">
  <%= form_with url: url, data: { turbo_frame: "metadata_templates_dropdown", turbo_stream: true, "metadata-template-dd-target": "form" }, method: :get do |f| %>
    <input type="hidden" name="format" value="turbo_stream"/>
    <input type="hidden" name="limit" value="<%= pagy&.limit %>"/>
    <input type="hidden" name="page" value="<%= pagy&.page %>"/>
    <%= f.hidden_field :metadata_template, value: metadata_template[:id] %>
  <% end %>
  <%= render Pathogen::Button.new(
    id: "metadata-template-dd-trigger",
    title: t("shared.samples.metadata_templates.tooltip"),
    data: { action: "click->metadata-template-dd#toggle", 'metadata-template-dd-target': 'trigger' },
    aria: {
      haspopup: "listbox",
      expanded: "false",
      controls: "metadata-template-dd-menu"
    },
  ) do |c| %>
    <% c.with_leading_visual_icon(icon: "sliders-horizontal") %>
    <span id="metadata-template-dd-label">
      <%= t("shared.samples.metadata_templates.label") %>
    </span>
  <% end %>
  <!-- Dropdown menu -->
  <div
    data-metadata-template-dd-target="menu"
    id="metadata-template-dd-menu"
    class="
      hidden w-48 bg-white divide-y divide-slate-100 rounded-lg shadow-sm
      dark:bg-slate-700 dark:divide-slate-600 z-30
    "
    aria-labelledby="metadata-template-dd-trigger"
    tabindex="-1"
  >
    <ul id="metadata_templates_dropdown" role="listbox">
      <li role="option">
        <%= render SpinnerComponent.new(
          message: t("shared.samples.metadata_templates.loading"),
        ) %>
      </li>
    </ul>
  </div>
</div>
