<div data-controller="metadata-template-dd" class="max-sm:grow">
  <%= form_with url: url, data: { turbo_frame: "metadata_templates_dropdown", turbo_stream: true, "metadata-template-dd-target": "form" }, method: :get do |f| %>
    <input type="hidden" name="format" value="turbo_stream"/>
    <input type="hidden" name="limit" value="<%= pagy&.limit %>"/>
    <input type="hidden" name="page" value="<%= pagy&.page %>"/>
    <input type="hidden" name="focusedMenuItemIndex" value="0"/>
    <%= f.hidden_field :metadata_template, value: metadata_template[:id] %>
  <% end %>
  <button
    data-metadata-template-dd-target="trigger"
    title="<%= t("shared.samples.metadata_templates.tooltip") %>"
    id="metadata-template-dd-trigger"
    class="button button-default w-full"
    type="button"
    aria-haspopup="listbox"
    aria-expanded="false"
    aria-controls="metadata-template-dd-menu"
  >
    <span id="metadata-template-dd-label">
      <%= t("shared.samples.metadata_templates.label") %>
    </span>
    <%= pathogen_icon(:sliders_horizontal, size: :sm, class: "ml-2 flex-none") %>
  </button>
  <!-- Dropdown menu -->
  <div
    data-metadata-template-dd-target="menu"
    id="metadata-template-dd-menu"
    class="
      hidden w-48 bg-white divide-y divide-slate-100 rounded-lg shadow-sm
      dark:bg-slate-700 dark:divide-slate-600 z-30
    "
  >
    <ul
      id="metadata_templates_dropdown"
      aria-labelledby="metadata-template-dd-trigger"
      tabindex="-1"
    >
      <li>
        <%= render SpinnerComponent.new(
          message: t("shared.samples.metadata_templates.loading"),
        ) %>
      </li>
    </ul>
  </div>
</div>
