<%= form_with url: @url, method: :post,
data: {
  turbo_stream: true,
} do |f| %>
  <input type="hidden" name="format" value="turbo_stream"/>
  <input type="hidden" name="limit" value="<%= @limit %>"/>
  <input type="hidden" name="page" value="<%= @page %>"/>
  <ul
    id="metadata_templates"
    class="py-2 text-sm text-slate-700 dark:text-slate-200"
    aria-labelledby="metadata-template-dd-trigger"
  >
    <li
      class="
        w-full px-3 py-2 text-xs font-bold tracking-wider uppercase bg-slate-200
        dark:bg-slate-700 text-slate-700 dark:text-slate-200
      "
    >
      <%= t("shared.samples.metadata_templates.fields.label") %>
    </li>
    <%= render partial: "shared/samples/metadata_template_item",
    locals: {
      selected: @current_metadata_template_id == "all",
      label: t("shared.samples.metadata_templates.fields.all"),
      value: "all",
    } %>
    <%= render partial: "shared/samples/metadata_template_item",
    locals: {
      selected: @current_metadata_template_id == "none",
      label: t("shared.samples.metadata_templates.fields.none"),
      value: "none",
    } %>
    <%- if @metadata_templates.any? %>
      <li
        class="
          w-full px-3 py-2 text-xs font-bold tracking-wider uppercase bg-slate-200
          dark:bg-slate-700 text-slate-700 dark:text-slate-200
        "
      >
        <%= t("shared.samples.metadata_templates.templates.label") %>
      </li>
      <% @metadata_templates.each do |metadata_template| %>
        <%= render partial: "shared/samples/metadata_template_item",
        locals: {
          selected: @current_metadata_template_id == metadata_template.id,
          label: metadata_template.name,
          value: metadata_template.id,
        } %>

      <% end %>
    <% end %>
  </ul>
  <%= f.submit class: "hidden" %>
<% end %>
