<div class="<%= @system_arguments[:container_classes] %>">
  <%= title %>
  <ul
    id="<%= id %>"
    data-controller="viral--sortable-lists--list"
    data-viral--sortable-lists--list-group-name-value="<%= group %>"
    class="<%= @system_arguments[:list_classes] %>"
    tabindex="0"
    >
    <% list_items.each do |list_item| %>
      <li
      id="<%= list_item %>"
      class="
      block
      w-full
      px-4
      py-2
      border-b
      border-slate-200
      cursor-move
      dark:border-slate-600"><%= list_item %></li>
    <% end %>
  </ul>
</div>
