<div class="<%= @system_arguments[:container_classes] %>">
  <p id="<%= id %>-list-label"><%= title %>
    <% if required %>
      <span class="text-sm text-slate-500 dark:text-slate-300">
        <span class="text-red-500 dark:text-red-500 mr-1" aria-hidden="true">
          *</span>
      </span>
    <% end %>
  </p>
  <ul
    id="<%= id %>"
    data-controller="viral--sortable-lists--list"
    data-viral--sortable-lists--list-group-name-value="<%= group %>"
    class="<%= @system_arguments[:list_classes] %>"
    tabindex="0"
    aria-label="<%= title %>"
    role="listbox"
    aria-labelledby="<%= id %>-list-label"
    aria-roledescription="<%= t('.aria_role_description', list: title)%>"
    aria-required="<%= required %>"
  >
    <%= render Viral::SortableList::ListItemComponent.with_collection(list_items) %>
  </ul>
  <% if id == "Available" || id == "Selected" %>
    <div class="mt-1">
      <% if id == "Available" %>
        <button
          class="
            mr-2 text-sm underline enabled:hover:no-underline enabled:cursor-pointer
            disabled:pointer-events-none disabled:cursor-not-allowed disabled:text-slate-500
            disabled:dark:text-slate-400
          "
          data-action="
            click->viral--sortable-lists--two-lists-selection#addAll
          "
          data-viral--sortable-lists--two-lists-selection-target="addAll"
        >
          <%= t(".add_all") %>
        </button>
      <% end %>
      <% if id == "Selected" %>
        <button
          class="
            ml-2 text-sm underline enabled:hover:no-underline enabled:cursor-pointer
            disabled:pointer-events-none disabled:cursor-not-allowed disabled:text-slate-500
            disabled:dark:text-slate-400
          "
          data-action="
            click->viral--sortable-lists--two-lists-selection#removeAll
          "
          data-viral--sortable-lists--two-lists-selection-target="removeAll"
        >
          <%= t(".remove_all") %>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
