<div class="<%= @system_arguments[:container_classes] %>">
  <p id="<%= id %>-list-label"><%= title %>
    <% if required %>
      <span class="text-sm text-slate-500 dark:text-slate-300">
        <span class="text-red-500 dark:text-red-500 mr-1" aria-hidden="true">
          *</span>
      </span>
    <% end %>
  </p>
  <ul
    id="<%= id %>"
    data-controller="viral--sortable-lists--list"
    data-viral--sortable-lists--list-group-name-value="<%= group %>"
    class="<%= @system_arguments[:list_classes] %>"
    tabindex="0"
    aria-label="<%= title %>"
    role="listbox"
    aria-labelledby="<%= id %>-list-label"
    aria-roledescription="<%= t('.aria_role_description', list: title)%>"
    aria-required="<%= required %>"
    aria-activedescendant=""
    aria-multiselectable="true"
  >
    <%= render Viral::SortableList::ListItemComponent.with_collection(list_items) %>
  </ul>
  <% if id == "Available" || id == "Selected" %>
    <div class="mt-1" aria-label="<%= t(".actions")%>">
      <% if id == "Available" %>
        <button
          type="button"
          class="button button-default"
          data-action="
            click->viral--sortable-lists--two-lists-selection#addSelection
          "
          data-viral--sortable-lists--two-lists-selection-target="addButton"
          aria-keyshortcuts="<%= t(".keyboard_shortcuts.add")%>"
        >
          <%= t(".add") %>
        </button>
      <% end %>
      <% if id == "Selected" %>
        <button
          type="button"
          class="button button-default"
          data-action="
            click->viral--sortable-lists--two-lists-selection#removeSelection
          "
          data-viral--sortable-lists--two-lists-selection-target="removeButton"
          aria-keyshortcuts="<%= t(".keyboard_shortcuts.remove")%>"
        >
          <%= t(".remove") %>
        </button>

        <button
          type="button"
          class="button button-default"
          data-action="
            click->viral--sortable-lists--two-lists-selection#moveSelection
          "
          data-viral--sortable-lists--two-lists-selection-target="upButton"
          aria-keyshortcuts="<%= t(".keyboard_shortcuts.up")%>"
        >
          <%= t(".up") %>
        </button>

        <button
          type="button"
          class="button button-default"
          data-action="
            click->viral--sortable-lists--two-lists-selection#moveSelection
          "
          data-viral--sortable-lists--two-lists-selection-target="downButton"
          aria-keyshortcuts="<%= t(".keyboard_shortcuts.down")%>"
        >
          <%= t(".down") %>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
