<div class="<%= @system_arguments[:container_classes] %>">
  <%= title %>
  <ul
    id="<%= id %>"
    data-controller="sortable-list"
    data-sortable-list-group-name-value="<%= group %>"
    class="<%= @system_arguments[:list_classes] %>"
    >
    <% unless list_items.empty? %>
      <% list_items.each do |list_item| %>
        <li
        id="<%= list_item %>"
        class="
        block
        w-full
        px-4
        py-2
        border-b
        border-slate-200
        cursor-move
        hover:bg-slate-100
        hover:text-primary-600
        dark:border-slate-600
        dark:hover:bg-slate-600
        dark:hover:text-white"><%= list_item %></li>
      <% end %>
    <% end %>
  </ul>
</div>
