<div class="<%= @system_arguments[:container_classes] %>">
  <p id="<%= id %>-list-label"><%= title %></p>
  <ul
    id="<%= id %>"
    data-controller="viral--sortable-lists--list"
    data-viral--sortable-lists--list-group-name-value="<%= group %>"
    class="<%= @system_arguments[:list_classes] %>"
    tabindex="0"
    aria-label="<%= title %>"
    role="listbox"
    aria-labelledby="<%= id %>-list-label"
    aria-roledescription="<%= t('.aria_role_description', list: title)%>"
  >
    <%= render Viral::SortableList::ListItemComponent.with_collection(list_items) %>
  </ul>
  <% if id == "Available" || id == "Selected" %>
    <div class="mt-1">
      <% if id == "Available" %>
        <button
          class="button button-default"
          data-action="
            click->viral--sortable-lists--two-lists-selection#addSelection
          "
          data-viral--sortable-lists--two-lists-selection-target="addButton"
        >
          <%= t(".add") %>
        </button>
      <% end %>
      <% if id == "Selected" %>
        <button
          class="button button-default"
          data-action="
            click->viral--sortable-lists--two-lists-selection#removeSelection
          "
          data-viral--sortable-lists--two-lists-selection-target="removeButton"
        >
          <%= t(".remove") %>
        </button>

        <button
          class="button button-default"
          data-action="
            click->viral--sortable-lists--two-lists-selection#moveSelection
          "
          data-viral--sortable-lists--two-lists-selection-target="upButton"
        >
          <%= t(".up") %>
        </button>

        <button
          class="button button-default"
          data-action="
            click->viral--sortable-lists--two-lists-selection#moveSelection
          "
          data-viral--sortable-lists--two-lists-selection-target="downButton"
        >
          <%= t(".down") %>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
