<div class="<%= @system_arguments[:container_classes] %>">
  <p id="<%= id %>-list-label"><%= title %>
    <% if required %>
      <span class="text-sm text-slate-500 dark:text-slate-300">
        <span class="text-red-500 dark:text-red-500 mr-1" aria-hidden="true">
          *</span>
      </span>
    <% end %>
  </p>
  <ul
    id="<%= id %>"
    data-controller="viral--sortable-lists--list"
    data-viral--sortable-lists--list-group-name-value="<%= group %>"
    class="<%= @system_arguments[:list_classes] %>"
    tabindex="0"
    role="listbox"
    aria-labelledby="<%= id %>-list-label"
    aria-roledescription="<%= t('components.viral.sortable_list.list_component.aria_role_description', list: title)%>"
    aria-required="<%= required %>"
    aria-multiselectable="true"
  >
    <%= render Viral::SortableList::ListItemComponent.with_collection(list_items) %>
  </ul>
  <div
    class="mt-1"
    aria-label="<%= t("components.viral.sortable_list.list_component.actions")%>"
  >
    <% if available_list %>
      <button
        type="button"
        class="button button-default"
        data-action="
          click->viral--sortable-lists--two-lists-selection#addSelectionByAddButton
        "
        data-viral--sortable-lists--two-lists-selection-target="addButton"
        aria-keyshortcuts="<%= t("components.viral.sortable_list.list_component.keyboard_shortcuts.add")%>"
      >
        <%= t("components.viral.sortable_list.list_component.add") %>
      </button>
    <% end %>
    <% if selected_list %>
      <button
        type="button"
        class="button button-default"
        data-action="
          click->viral--sortable-lists--two-lists-selection#removeSelectionByRemoveButton
        "
        data-viral--sortable-lists--two-lists-selection-target="removeButton"
        aria-keyshortcuts="<%= t("components.viral.sortable_list.list_component.keyboard_shortcuts.remove")%>"
      >
        <%= t("components.viral.sortable_list.list_component.remove") %>
      </button>

      <button
        type="button"
        class="button button-default"
        data-action="
          click->viral--sortable-lists--two-lists-selection#moveSelection
        "
        data-viral--sortable-lists--two-lists-selection-target="upButton"
        aria-keyshortcuts="<%= t("components.viral.sortable_list.list_component.keyboard_shortcuts.up")%>"
      >
        <%= t("components.viral.sortable_list.list_component.up") %>
      </button>

      <button
        type="button"
        class="button button-default"
        data-action="
          click->viral--sortable-lists--two-lists-selection#moveSelection
        "
        data-viral--sortable-lists--two-lists-selection-target="downButton"
        aria-keyshortcuts="<%= t("components.viral.sortable_list.list_component.keyboard_shortcuts.down")%>"
      >
        <%= t("components.viral.sortable_list.list_component.down") %>
      </button>
    <% end %>
  </div>
</div>
