<div class="<%= @system_arguments[:container_classes] %>">
  <%= title %>
  <ul
    id="<%= title %>"
    data-controller="sortable-list"
    data-sortable-list-group-name-value="<%= group %>"
    class="<%= @system_arguments[:list_classes] %>"
    >
    <% unless list_items.empty? %>
      <% list_items.each do |list_item| %>
        <li id="<%= list_item %>"class="cursor-move"><%= list_item %></li>
      <% end %>
    <% end %>
  </ul>
</div>
