<!DOCTYPE html>
<html>
  <head>
    <title>Irida</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body style="height: 100vh;" class="bg-white/30 dark:bg-gray-900">
    <% if user_signed_in? %>
      <nav class="bg-white px-2 sm:px-4 py-2.5  dark:bg-gray-900 border-b-2 border-slate-200">
        <div class="flex flex-wrap items-center justify-between mx-auto">
          <div class="flex">
            <a href="/" class="flex items-center mr-4">
              <%= render "icons/beaker", class_names: "w-6 h-6 mr-1 rotate-12 text-green-500" %>
              <span class="text-lg font-semibold">IRIDA Next</span>
            </a>
            <form>
              <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                  </svg>
                </div>
                <input type="search" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search IRIDA">
              </div>
            </form>
          </div>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button" class="inline-flex items-center ">
                  <%= render 'icons/user_circle', class_names: "w-6 h-6" %>
                  <%= render 'icons/chevron_down', class_names: "w-4 h-4 ml-1" %>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                  <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                    <div>Fred Penner</div>
                    <div class="font-medium text-slate-400 truncate"><%= current_user.email %></div>
                  </div>
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                      <%= link_to 'Edit profile', edit_user_registration_path, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
                    </li>
                    <li>
                      <%= link_to 'Sign Out', destroy_user_session_path, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white', data: { turbo_method: :delete } %>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
