<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
  <head>
    <title><%= t(:"layouts.application.site_title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "shared/dark_mode_check" %>
  </head>
  <body class="bg-white dark:bg-gray-900" data-controller="dark-mode">
    <div class="body-wrapper">
      <%= render "shared/navbar" %>
      <div class="body" data-controller="layout" data-layout-target="layoutContainer">

        <%= render Navigation::NavigationComponent.new do |navigation| %>
          <%= navigation.section do |section| %>
            <%= render Navigation::ItemComponent.new(
              icon: "rectangle_stack",
              label: t(:"general.default_sidebar.projects"),
              url: projects_path
            ) %>
            <%= render Navigation::ItemComponent.new(
              icon: "squares2x2",
              label: t(:"general.default_sidebar.groups"),
              url: groups_path
            ) %>
          <% end %>
        <% end %>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "shared/flash" %>
  </body>
</html>
