<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
  <%= render "layouts/partials/head" %>
  <body class="bg-white dark:bg-slate-900">
    <%= render LayoutComponent.new(user: current_user, fixed: false) do |layout| %>
    <% layout.with_sidebar(pipelines_enabled: @pipelines_enabled) do |navigation| %>
        <%= navigation.with_header(label: t(:"general.default_sidebar.title")) %>
        <%= navigation.with_section do |section| %>
          <%= render section.with_item(
            icon: "rectangle_stack",
            label: t(:"general.default_sidebar.projects"),
            url: dashboard_projects_path,
            selected: @current_page == t(:"general.default_sidebar.projects"),
          ) %>
          <%= render section.with_item(
            icon: "squares_2x2",
            label: t(:"general.default_sidebar.groups"),
            url: dashboard_groups_path,
            selected: @current_page == t(:"general.default_sidebar.groups"),
          ) %>
        <% if @pipelines_enabled %>
          <%= render section.with_item(
            icon: "command_line",
            label: t(:"general.default_sidebar.workflows"),
            url: workflow_executions_path,
            selected: @current_page == t(:"general.default_sidebar.workflows"),
          ) %>
        <% end %>
          <%= render section.with_item(
            icon: "arrow_up_on_square_stack",
            label: t(:"general.default_sidebar.data_exports"),
            url: data_exports_path,
            selected:
              @current_page == t(:"general.default_sidebar.data_exports"),
          ) %>
        <% end %>
        <% layout.with_breadcrumb(context_crumbs: @context_crumbs || []) %>
        <% layout.with_body do %>
          <%= yield %>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
