<!DOCTYPE html>
<html class="light">
  <head>
    <title>Irida</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white dark:bg-gray-900">
    <%= render 'components/navbar'%>
    <div class="flex overflow-hidden bg-gray-50 dark:bg-gray-900">
      <%= render 'components/sidebar'%>
      <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
        <main><%= yield %></main>
      </div>
    </div>
  </body>
</html>
