<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
  <%= render "layouts/partials/head" %>
  <body class="bg-white dark:bg-slate-900">
    <%= render LayoutComponent.new(user: current_user, fixed: false) do |layout| %>
      <% layout.with_sidebar(pipelines_enabled: @pipelines_enabled) do |navigation| %>
        <%= navigation.with_header(label: t(:"general.default_sidebar.title")) %>
        <%= navigation.with_section do |section| %>
          <%= render section.with_item(
            icon: ICONS[:projects],
            label: t(:"general.default_sidebar.projects"),
            url: dashboard_projects_path,
            selected: @current_page == t(:"general.default_sidebar.projects"),
          ) %>
          <%= render section.with_item(
            icon: ICONS[:groups],
            label: t(:"general.default_sidebar.groups"),
            url: dashboard_groups_path,
            selected: @current_page == t(:"general.default_sidebar.groups"),
          ) %>
          <% if @pipelines_enabled %>
            <%= render section.with_item(
              icon: ICONS[:workflows],
              label: t(:"general.default_sidebar.workflows"),
              url: workflow_executions_path,
              selected: @current_page == t(:"general.default_sidebar.workflows"),
            ) %>
          <% end %>
          <%= render section.with_item(
            icon: ICONS[:data_exports],
            label: t(:"general.default_sidebar.data_exports"),
            url: data_exports_path,
            selected: @current_page == t(:"general.default_sidebar.data_exports"),
          ) %>
        <% end %>
        <% layout.with_breadcrumb(links: @context_crumbs || []) %>
        <% layout.with_language_selection %>
        <% layout.with_body do %>
          <%= yield %>
        <% end %>
      <% end %>
    <% end %>

    <% if Rails.env.development? and Rails.configuration.enable_web_console == true %>
      <%= console %>
    <% end %>
  </body>
</html>
