<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
<head>
  <title>Irida</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="h-screen bg-white dark:bg-gray-900">
<%= render 'shared/navbar' %>
<div class="h-full pt-16 overflow-hidden bg-white dark:bg-gray-900">
  <%= content_for?(:sidebar) ? yield(:sidebar) : "" %>
  <div id="main-content" class="relative w-full h-full overflow-y-auto bg-white <%= class_names('lg:ml-64': content_for?(:sidebar)) %> dark:bg-gray-900">
    <%= yield %>
  </div>
</div>
</body>
</html>
