<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
<head>
  <title>Irida</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-white dark:bg-gray-900">
<div data-controller="layout" data-layout-target="layoutContainer" class="body-wrapper">
  <%= render 'shared/navbar' %>
  <%= render 'groups/sidebar' %>
  <div style="grid-area: content">
    <%= yield %>
  </div>
</div>
</body>
</html>
