<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
  <%= render "layouts/partials/head" %>
  <body class="bg-white dark:bg-slate-900">
    <%= render LayoutComponent.new(user: current_user, fixed: @fixed) do |layout| %>
      <% layout.with_sidebar(pipelines_enabled: @pipelines_enabled) do |navigation| %>
        <%= navigation.with_header(label: t("groups.sidebar.label"), item: @group) %>
        <%= navigation.with_section do |section| %>
          <%= render section.with_item(
            url: group_path(@group),
            icon: "squares_2x2",
            label: t("groups.sidebar.details"),
            selected: @current_page == t(:"groups.sidebar.details"),
          ) %>
          <%= render section.with_item(
            url: group_samples_path(@group),
            icon: "beaker",
            label: t(:"groups.sidebar.samples"),
            selected: @current_page == t(:"groups.sidebar.samples"),
          ) %>
          <% if allowed_to?(:view_attachments?, @group) %>
            <%= render section.with_item(
              url: group_attachments_path(@group),
              icon: "document_text",
              label: t(:"groups.sidebar.files"),
              selected: @current_page == t(:"groups.sidebar.files"),
            ) %>
          <% end %>
          <%= render section.with_item(
            url: group_members_path(@group),
            icon: "users",
            label: t(:"groups.sidebar.members"),
            selected: @current_page == t(:"groups.sidebar.members"),
          ) %>
          <%= render section.with_item(
            url: group_activity_path(@group),
            icon: "list_bullet",
            label: t(:"groups.sidebar.activity"),
            selected: @current_page == t(:"groups.sidebar.activity"),
          ) %>
          <% if allowed_to?(:view_workflow_executions?, @group) && @pipelines_enabled %>
            <%= render section.with_item(
              url: group_workflow_executions_path(@group),
              icon: "command_line",
              label: t(:"groups.sidebar.workflow_executions"),
              selected: @current_page == t(:"groups.sidebar.workflow_executions"),
            ) %>
          <% end %>
          <% if allowed_to?(:update?, @group) %>
            <%= render section.with_multi_level_menu(
              title: t(:"groups.sidebar.settings"),
              icon: "cog_6_tooth",
              selectable_pages: [
                t(:"groups.sidebar.general"),
                t(:"groups.sidebar.bot_accounts"),
                t(:"groups.sidebar.history"),
                t(:"groups.sidebar.metadata_templates")
              ],
              current_page: @current_page
              ) do |multi_level_menu| %>
              <% multi_level_menu.with_menu_item(
                url: edit_group_path(@group),
                label: t(:"groups.sidebar.general"),
                selected: @current_page == t(:"groups.sidebar.general"),
              ) %>
              <% multi_level_menu.with_menu_item(
                url: group_bots_path(@group),
                label: t(:"groups.sidebar.bot_accounts"),
                selected: @current_page == t(:"groups.sidebar.bot_accounts"),
              ) %>
              <% multi_level_menu.with_menu_item(
                url: group_history_path(@group),
                label: t(:"groups.sidebar.history"),
                selected: @current_page == t(:"groups.sidebar.history"),
              ) %>
              <% multi_level_menu.with_menu_item(
                url: group_metadata_templates_path(@group),
                label: t(:"groups.sidebar.metadata_templates"),
                selected: @current_page == t(:"groups.sidebar.metadata_templates"),
              ) %>
            <% end %>
          <% end %>
        <% end %>
        <%= layout.with_breadcrumb(context_crumbs: @context_crumbs) %>
        <% layout.with_body do %>
          <%= yield %>
        <% end %>
      <% end %>
    <% end %>

    <% if Rails.env.development? and Rails.configuration.enable_web_console == true %>
      <%= console %>
    <% end %>
  </body>
</html>
