<!DOCTYPE html>
<html
  class="<%= params.has_key?(:lookbook) ? params[:lookbook][:display][:theme] : 'light' %>"
  lang="<%= params.has_key?(:lookbook) ? params[:lookbook][:display][:lang] : 'en' %>"
>
  <head>
    <title>Lookbook Preview</title>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white dark:bg-slate-900">
    <main
      class="p-6 max-w-7xl max-auto Viral-Preview"
      style="height: 100%; overflow-y: scroll"
    >
      <%= yield %>
    </main>
  </body>
</html>
