<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
<head>
  <title>Irida</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="h-screen bg-white dark:bg-gray-900">
<%= render 'shared/navbar' %>
<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
  <%= render 'profiles/sidebar' %>
  <div class="sm:w-4/5 p-4 dark:bg-gray-800 dark:border-gray-700">
    <%= yield %>
  </div>
</div>
</body>
</html>
