<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
  <head>
    <%= render "layouts/partials/head" %>
  </head>
  <body class="bg-white dark:bg-gray-900" data-controller="layout--dark-mode">
    <%= render Layout::LayoutComponent.new(user: current_user) do |layout| %>
      <% layout.sidebar do |navigation| %>
        <% navigation.with_header(
          label: t(:"profiles.sidebar.header"),
          url: profile_path,
          icon: "user_circle"
        ) %>
        <%= navigation.with_section do |section| %>
          <%= render section.with_item(
            url: profile_path,
            icon: "user",
            label: t(:"profiles.sidebar.profile")
          ) %>
          <%= render section.with_item(
            url: edit_profile_password_path,
            icon: "lock_closed",
            label: t(:"profiles.sidebar.password")
          ) %>
          <%= render section.with_item(
            url: profile_account_path,
            icon: "building_library",
            label: t(:"profiles.sidebar.account")
          ) %>
        <% end %>
        <% layout.body do %>
          <%= yield %>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
