<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
  <%= render "layouts/partials/head" %>
  <body class="bg-white dark:bg-slate-900" data-controller="dark-mode">
  <%= render LayoutComponent.new(user: current_user, fixed: true) do |layout| %>
    <% layout.with_sidebar(label: t(:'profiles.sidebar.header'), icon_name: "user_circle") do |navigation| %>
        <%= navigation.with_section do |section| %>
          <%= render section.with_item(
            url: profile_path,
            icon: "user",
            label: t(:"profiles.sidebar.profile")
          ) %>
          <%= render section.with_item(
            url: edit_profile_password_path,
            icon: "lock_closed",
            label: t(:"profiles.sidebar.password")
          ) %>
          <%= render section.with_item(
            url: profile_account_path,
            icon: "building_library",
            label: t(:"profiles.sidebar.account")
          ) %>
          <%= render section.with_item(
            url: profile_personal_access_tokens_path,
            icon: "ticket",
            label: t(:"profiles.sidebar.access_tokens")
          ) %>
        <% end %>
      <% layout.with_body do %>
          <%= yield %>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
