<!DOCTYPE html>
<html class="light">
  <head>
    <title>Irida</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-screen bg-white dark:bg-gray-900">
    <%= render 'shared/navbar'%>
    <div class="h-full pt-16 overflow-hidden bg-white dark:bg-gray-900">
      <%= render 'profiles/sidebar' %>
      <div id="main-content" class="relative w-full h-full overflow-y-auto bg-white lg:ml-64 dark:bg-gray-900">
        <div class="max-w-2xl px-4 py-4">
          <%= turbo_frame_tag dom_id(@user) do %>
            <%= yield %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
