<!DOCTYPE html>
<html class="light" lang="<%= locale %>">
  <%= render "layouts/partials/head" %>
  <body class="bg-white dark:bg-slate-900">
    <%= render LayoutComponent.new(user: current_user) do |layout| %>
    <% layout.with_sidebar(label: turbo_frame_tag("sidebar_project_name") { @project.name }, icon_name: "rectangle_stack", pipelines_enabled: @pipelines_enabled) do |navigation| %>
        <%= navigation.with_section do |section| %>
          <%= render section.with_item(
            url: project_path(@project),
            icon: "clipboard_document",
            label: t(:"projects.sidebar.details"),
            selected: @current_page == t(:"projects.sidebar.details").downcase,
          ) %>
          <%= render section.with_item(
            url: namespace_project_members_path,
            icon: "users",
            label: t(:"projects.sidebar.members"),
            selected: @current_page == t(:"projects.sidebar.members").downcase,
          ) %>
          <%= render section.with_item(
            url: project_samples_path(@project),
            icon: "beaker",
            label: t(:"projects.sidebar.samples"),
            selected: @current_page == t(:"projects.sidebar.samples").downcase,
          ) %>
          <% if allowed_to?(:view_history?, @project) %>
            <%= render section.with_item(
              url: project_history_path(@project),
              icon: "list_bullet",
              label: t(:"projects.sidebar.history"),
              selected: @current_page == t(:"projects.sidebar.history").downcase,
            ) %>
          <% end %>
        <% if allowed_to?(:view_workflow_executions?, @project.namespace) && @pipelines_enabled %>
            <%= render section.with_item(
              url: project_workflow_executions_path(@project),
              icon: "command_line",
              label: t(:"projects.sidebar.workflow_executions"),
              selected: @current_page == t(:"projects.sidebar.workflow_executions").downcase,
            ) %>
          <% end %>
          <% if allowed_to?(:update?, @project) %>
            <%= render section.with_multi_level_menu(
              title: t(:"projects.sidebar.settings"),
              icon: "cog_6_tooth",
              selectable_pages: [
                t(:"projects.sidebar.general").downcase,
                t(:"projects.sidebar.bot_accounts").downcase,
                t(:"projects.sidebar.automated_workflow_executions").downcase
              ],
              current_page: @current_page
            ) do |multi_level_menu| %>
              <% multi_level_menu.with_menu_item(
                url: project_edit_path(@project),
                label: t(:"projects.sidebar.general"),
                selected: @current_page == t(:"projects.sidebar.general").downcase,
              ) %>
              <% multi_level_menu.with_menu_item(
                url: project_bots_path(@project),
                label: t(:"projects.sidebar.bot_accounts"),
                selected: @current_page == t(:"projects.sidebar.bot_accounts").downcase,
              ) %>
            <% if @pipelines_enabled %>
              <% multi_level_menu.with_menu_item(
                url: project_automated_workflow_executions_path(@project),
                label: t(:"projects.sidebar.automated_workflow_executions"),
                selected: @current_page == t(:"projects.sidebar.automated_workflow_executions").downcase,
              ) %>
            <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% layout.with_breadcrumb(context_crumbs: @context_crumbs) %>
        <% layout.with_body do %>
          <%= turbo_frame_tag("errors") %>
          <%= yield %>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
