<div>Add New <%= @namespace_type %> Member</div>

<% if flash.key? :error %>
  <p><%= flash[:error] %></p>
<% end %>

<div class="p-4">
  <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div data-controller="groups-new" class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <%= form_with(model: @new_member, url: members_path, method: :post) do |form| %>
        <div class="form-field">
        <%= form.label :user_id %>
        <%= form.select :user_id, User.all.collect { |u| [ u.email, u.id ] }, include_blank: true %>
      </div>

      
      <div class="form-field">
        <%= form.label :role %>
        <%= form.select :role, [ 'Owner','User' ], :prompt => 'Select One' %>
      </div>

      <%= form.hidden_field :user_id, :value => 3 %>
      <%= form.hidden_field :namespace_id, :value => 3 %>

        <div class="my-2">
          <%= form.submit "Add member to group", class: "btn btn-primary mr-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
