<p class="py-2 dark:text-gray-300">
  <% if @project.description && !@project.description.blank? %>
    <%= @project.description %>
  <% else %>
    <%= t(:"components.project_dashboard.information.no_description") %>
  <% end %>
</p>

<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-600"/>

<span class="flex items-center dark:text-gray-300">
  <%= viral_tooltip(title: t(:"components.project_dashboard.information.number_of_samples")) do %>
    <span class="flex items-center">
      <%= viral_icon(name: :beaker, color: :subdued, classes: "h-5 w-5 m-0 mr-2") %>
      <%= @project.samples.count %>
    </span>
  <% end %>
</span>

<span class="flex items-center dark:text-gray-300">
  <%= viral_tooltip(title: t(:"components.project_dashboard.information.number_of_automated_workflow_executions")) do %>
    <span class="flex items-center">
      <%= viral_icon(name: :command_line, color: :subdued, classes: "h-5 w-5 m-0 mr-2") %>
      <%= @project.namespace.automated_workflow_executions.count %>
    </span>
  <% end %>
</span>

<span class="flex items-center dark:text-gray-300">
  <%= viral_tooltip(title: t(:"components.project_dashboard.information.number_of_members")) do %>
    <span class="flex items-center">
      <%= viral_icon(name: :users, color: :subdued, classes: "h-5 w-5 m-0 mr-2") %>
      <%= @project.namespace.project_members.count %>
    </span>
  <% end %>
</span>

<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-600"/>

<span class="py-2 dark:text-gray-300">
  <p class="font-semibold"><%= t(:"components.project_dashboard.information.created_on") %></p>
  <p><%= helpers.local_time(@project.created_at, :full_date) %></p>
</span>
